Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-02, with the labels that each got.

#83 Revert add Echo HTTP Middleware
  pkg/component/grpc.go
  pkg/web/web.go
Labels: c/shared

#89 Update and tidy the dependencies
  go.mod
  go.sum
  pkg/identityserver/picture/picture_test.go
Labels: c/shared

#93 Add Echo HTTP Middleware
  pkg/component/grpc.go
  pkg/web/web.go
Labels: api

#96 Remove duplicate api entries
  pkg/webui/api/index.js
  pkg/webui/logic/init.js
Labels: c/console

#115 Fix testing, coveralls and badges
  README.md
  pkg/component/component_test.go
Labels: doc

#116 Make linking test more deterministic
  pkg/applicationserver/linking_test.go
Labels: c/application server

#119 Return duration when downlink transmission takes place
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/networkserver/downlink_internal_test.go
  pkg/ttnpb/gatewayserver.pb.fm.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.validator.pb.go
Labels: api, c/gateway server, s/blocking

#128 Add OAuth flow with Authorization Code copy-paste for CLI
  .make/dev.make
  README.md
  cmd/ttn-lw-cli/commands/login.go
  doc/gettingstarted.md
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/app/index.js
  pkg/webui/oauth/views/code/index.js
Labels: c/cli, c/identity server, ux

#140 Add missing package manager support to goreleaser
  .goreleaser.yml
Labels: bug, prio/high

#125 Identity Server notification and registration emails
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/email/email.go
  pkg/email/registry.go
  pkg/email/sendgrid/sendgrid.go
  pkg/email/sendgrid/sendgrid_test.go
  pkg/i18n/i18n.go
  pkg/identityserver/application_access.go
  pkg/identityserver/client_access.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/email.go
  pkg/identityserver/emails/api_key_changed.go
  pkg/identityserver/emails/api_key_created.go
  pkg/identityserver/emails/collaborator_changed.go
  pkg/identityserver/emails/emails.go
  pkg/identityserver/emails/password_changed.go
  pkg/identityserver/emails/temporary_password.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/rights.go
Labels: c/identity server

#134 Add pkg/pfconfig to generate packet forwarder config
  pkg/errors/definitions.go
  pkg/pfconfig/conversion.go
  pkg/pfconfig/conversion_test.go
  pkg/pfconfig/pfconfig.go
Labels: c/gateway server, c/identity server

#151 Fix error equals/not-equals in CLI
  cmd/ttn-lw-cli/commands/login.go
Labels: bug, c/cli, prio/high

#153 is: Delete API key instance instead of blank
  pkg/identityserver/store/api_key_store.go
Labels: bug, c/identity server

#155 Improve formatting of byte arrays
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ux

#118 Linking events and statistics
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/gatewayserver.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_as.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/observability.go
  pkg/ttnpb/applicationserver.pb.fm.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver.validator.pb.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/gatewayserver.validator.pb.go
Labels: c/application server, c/gateway server, compat/api

#133 Update dependencies, fix gometalinter
  go.mod
  go.sum
Labels: bug

#161 util: Add logger to HTTP contexts
  pkg/web/middleware/log.go
Labels: c/shared

#158 Fix javascript build
  .mage/js.go
  .make/js/build.make
  .make/js/main.make
  Makefile
Labels: bug, prio/high

#123 Enforce provisioner unique identifiers
  config/messages.json
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/provisioning/microchip.go
  pkg/joinserver/provisioning/microchip_test.go
  pkg/joinserver/provisioning/provisioning.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry_test.go
  pkg/joinserver/util_test.go
  pkg/networkserver/redis/registry.go
Labels: c/join server

#164 all: Remove repository dirs from Docker image
  Dockerfile
  docker-compose.yml
Labels: bug, c/shared

#139 Add toast notification
  config/webpack.config.js
  package.json
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
  pkg/webui/components/notification/story.js
  pkg/webui/components/toast/index.js
  pkg/webui/components/toast/story.js
  pkg/webui/components/toast/toast.js
  pkg/webui/components/toast/toast.styl
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/landing/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/variables.styl
  yarn.lock
Labels: c/console

#169 Fix duplicate Sentry logs and incorrect web error logging
  cmd/internal/shared/sentry.go
  cmd/ttn-lw-stack/commands/root.go
  pkg/errors/codes.go
  pkg/errors/http.go
  pkg/errors/web/middleware.go
  pkg/rpcmiddleware/sentry/sentry.go
  pkg/web/error_handler.go
  pkg/web/middleware/log.go
Labels: c/shared

#174 Insert namespace for EUIs in Redis device registry
  pkg/joinserver/redis/registry.go
Labels: c/join server, prio/high

#101 Overriding desired MAC parameters and defaults
  .make/protos/main.make
  .travis.yml
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  cmd/internal/shared/networkserver/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/internal/util/flags.go
  config/messages.json
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/hooks.go
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_reset.go
  pkg/networkserver/mac_reset_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.fm.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.validator.pb.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
Labels: c/cli, c/network server, compat/api, compat/db, prio/high

#170 Make device naming in protos consistent
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/end_device.proto
  api/joinserver.proto
  api/networkserver.proto
  cmd/ttn-lw-cli/commands/end_devices_split.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/end_device.pb.fm.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.validator.pb.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/shared, compat/api

#168 Component health checks support
  Dockerfile
  cmd/internal/shared/config.go
  go.mod
  go.sum
  pkg/component/component.go
  pkg/component/web.go
  pkg/component/web_test.go
  pkg/config/shared.go
Labels: c/shared

#186 Finish forgot password feature
  cmd/ttn-lw-cli/commands/users.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/user_registry.go
Labels: c/cli, c/identity server

#179 Getting started improvements
  doc/gettingstarted.md
  docker-compose.yml
Labels: doc

#188 cli: Use enum Stringer if implemented
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: c/cli

#191 Improve error handling
  config/messages.json
  pkg/component/component.go
  pkg/rpcclient/rpcclient.go
  pkg/rpcserver/rpcserver.go
  pkg/version/version.go
  pkg/web/middleware/recover.go
  pkg/web/web.go
Labels: c/shared

#199 Fix make INIT_RULES add order
  .make/general.make
  .make/git.make
Labels: doc

#201 Minor getting started typo fixes and clarifications
  doc/gettingstarted.md
Labels: doc

#203 doc: Add multicast instructions to the getting started
  doc/gettingstarted.md
Labels: doc

#200 Publish downlink forward event unencrypted
  pkg/applicationserver/applicationserver.go
Labels: c/application server

#208 Drop DeviceTimeReq if time is unknown
  pkg/networkserver/mac_device_time.go
Labels: bug, c/network server

#193 CLI API-Key and collaborator deletion
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
  config/messages.json
Labels: c/cli

#213 Fix CLI OAuth and make OAuth server better handle clients without secret
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/users.go
  config/messages.json
  go.mod
  go.sum
  pkg/oauth/oauth.go
  pkg/oauth/server.go
  pkg/oauth/storage.go
  pkg/oauth/token_generators.go
Labels: bug, c/cli, c/identity server

#167 Define allowed field mask paths for all RPCs
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  config/messages.json
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
  pkg/rpcserver/rpcserver.go
  pkg/ttnpb/end_device.pb.fm.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/field_mask_validation.go
Labels: compat/api, prio/high

#211 Fix error codes for failed auth
  config/messages.json
  pkg/identityserver/entity_access.go
  pkg/identityserver/user_registry_test.go
Labels: bug, c/identity server

#184 doc: Generate MD and Man docs for ttn-lw-stack and ttn-lw-cli
  Makefile
  cmd/internal/commands/doc.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  doc/.gitignore
  go.mod
  go.sum
Labels: doc
