Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-03, with the labels that each got.

#207 ID uniqueness, harmonization and namespacing in Redis registries
  config/messages.json
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/redis/registry.go
  pkg/redis/redis.go
Labels: c/application server, c/join server, c/network server, compat/db

#216 console: Fix toast prop-types
  pkg/webui/components/toast/index.js
Labels: c/console

#220 make: Fix sdk dependencies
  .make/sdk/main.make
  Makefile
Labels: bug, prio/high

#221 Fix `make deps` ordering
  Makefile
Labels: bug, prio/high

#183 Do not use t.Fatal in goroutines
  pkg/joinserver/grpc_deviceregistry_test.go
Labels: c/join server, c/network server

#231 Update Javascript SDK API definitions
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/sdk/js

#229 Avoid pushing pre-release builds to Docker hub
  .goreleaser.yml
  go.mod
  go.sum
Labels: prio/high

#244 cli: Avoid closing the listener on error
  cmd/ttn-lw-cli/commands/login.go
Labels: c/cli

#239 Feature/238 webui date time
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/lib/components/date-time/index.js
  pkg/webui/lib/components/date-time/relative.js
Labels: c/console

#234 doc: Add separate release details
  doc/gettingstarted.md
Labels: doc, prio/high

#248 Add Application Link method to js sdk
  sdk/js/src/service/applications.js
  sdk/js/src/service/link.js
  sdk/js/src/util/marshaler.js
Labels: c/sdk/js

#254 Fix global form errors
  pkg/webui/components/form/index.js
Labels: bug, c/console

#246 Validate addresses and report link errors
  api/api.md
  api/applicationserver.proto
  api/end_device.proto
  api/gateway.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_as.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/util_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.validator.pb.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.validator.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.validator.pb.go
Labels: c/application server, compat/api

#266 Basicstation Common functions
  pkg/basicstation/eui.go
  pkg/basicstation/eui_test.go
Labels: c/gateway server, c/identity server

#249 Use implicit field mask paths in IS
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/utils.go
  pkg/ttnpb/public.go
Labels: c/cli, c/identity server, s/blocking/release

#261 Rename Access to API Keys
  pkg/webui/components/icon/index.js
  pkg/webui/components/navigation/side/story.js
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/views/application-api-key-add/application-api-key-add.styl
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.styl
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#275 Fix error attribute when scheduled payload is too long
  config/messages.json
  pkg/fetch/http_test.go
  pkg/gatewayserver/io/io.go
Labels: c/gateway server

#279 Add CORS headers to expose necessary custom headers
  pkg/rpcserver/rpcserver.go
Labels: c/shared, compat/api

#276 util: Make pfconfig generic
  go.mod
  go.sum
  pkg/pfconfig/conversion.go
  pkg/pfconfig/semtechudp/semtechudp.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Labels: s/blocking/issue

#247 Use delay returned from GS for class C downlink scheduling
  pkg/networkserver/downlink.go
Labels: c/network server

#282 Fix GatewayServer MQTTv2 support
  pkg/gatewayserver/io/mqtt/format.go
  pkg/gatewayserver/io/mqtt/format_protobuf.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
Labels: c/gateway server

#287 Migrate to revive
  .make/go/main.make
  .make/go/quality.make
  .revive.toml
  .travis.yml
  go.mod
  go.sum
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/networkserver/config.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_tx_param_setup.go
  tools.go
Labels: c/network server

#285 Lower severity of non-critical logging statements
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

#297 Add validation to GS messages
  api/gatewayserver.proto
  pkg/ttnpb/gatewayserver.pb.go
Labels: compat/api

#295 Select and merge allowed bottom level fields from devices
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  config/messages.json
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
Labels: c/cli, c/shared, s/blocking/release

#293 Add notes for the release process
  DEVELOPMENT.md
Labels: doc

#286 Notify the Application Server when queued payload is too long
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/errors.go
  pkg/ttnpb/errors.go
Labels: c/application server, c/network server

#299 Ensure all RPCs are validated
  config/messages.json
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
Labels: compat/api, security

#302 Use sub-band EIRP for transmission
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/band_test.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/frequencyplans/frequencyplans.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan_populate.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server, c/shared, compat/api, s/blocking/release

#312 Get allowed fields, merge bottom level fields
  cmd/ttn-lw-cli/commands/end_devices_split.go
Labels: c/cli, s/blocking/release

#324 Fix invalid CFListType in bands
  pkg/band/as_923.go
  pkg/band/au_915_928.go
Labels: bug, c/shared

#310 util: Remove pfconfig descriptions
  pkg/pfconfig/semtechudp/semtechudp_test.go
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Labels: c/shared

#309 doc: Clarify EUI naming
  CONTRIBUTING.md
Labels: doc

#345 Task deduplication startegy
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/tasks.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
Labels: c/network server

#355 Ensure at least 1 channel is populated
  pkg/ttnpb/end_device_populate.go
Labels: bug

#340 Fix rights filters for organizations and users
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
Labels: bug, c/cli, s/blocking/release

#348 Check if entity exists before handing out rights to admins
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/rights.go
  pkg/identityserver/user_access_test.go
Labels: bug, c/identity server

#283 Remove `this` bindings from SDK service classes
  pkg/webui/console/api/index.js
  sdk/js/src/service/api-keys.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/link.js
Labels: c/sdk/js

#352 Add dropdown select component
  package.json
  pkg/webui/components/field/field.styl
  pkg/webui/components/field/index.js
  pkg/webui/components/field/story.js
  pkg/webui/components/select/index.js
  pkg/webui/components/select/select.styl
  yarn.lock
Labels: c/console

#341 Identity Server (and some other) field validations
  api/application.proto
  api/applicationserver_web.proto
  api/client.proto
  api/end_device.proto
  api/gateway.proto
  api/joinserver.proto
  api/keys.proto
  api/messages.proto
  api/oauth.proto
  api/organization.proto
  api/rights.proto
  api/search_services.proto
  api/user.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/keys.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/oauth.pb.validate.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights.pb.validate.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
Labels: compat/api, s/blocking/release, security

#349 Don't close test stream in rpctest, but let the context cancelation do its job
  pkg/util/rpctest/server_test.go
Labels: bug

#350 Restore gzip Middleware
  go.mod
  go.sum
  pkg/applicationserver/io/web/webhooks.go
  pkg/component/component_test.go
  pkg/component/grpc.go
  pkg/component/web.go
  pkg/console/callback.go
  pkg/console/console.go
  pkg/console/cookie_auth.go
  pkg/console/cookie_state.go
  pkg/console/login.go
  pkg/console/logout.go
  pkg/console/refresh.go
  pkg/console/token.go
  pkg/errors/web/middleware.go
  pkg/errors/web/middleware_test.go
  pkg/oauth/middleware.go
  pkg/oauth/oauth.go
  pkg/oauth/server.go
  pkg/oauth/user.go
  pkg/rpcserver/rpcserver.go
  pkg/web/cookie/cookie.go
  pkg/web/cookie/cookie_test.go
  pkg/web/error_handler.go
  pkg/web/error_handler_test.go
  pkg/web/middleware/id.go
  pkg/web/middleware/id_test.go
  pkg/web/middleware/immutable.go
  pkg/web/middleware/immutable_test.go
  pkg/web/middleware/log.go
  pkg/web/middleware/log_test.go
  pkg/web/middleware/noop.go
  pkg/web/middleware/normalize.go
  pkg/web/middleware/normalize_test.go
  pkg/web/middleware/recover.go
  pkg/web/redirect.go
  pkg/web/web.go
  pkg/web/web_test.go
  pkg/webui/template.go
Labels: c/shared

#339 Compute EndDevice created_at and updated_at
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
Labels: c/cli

#322 Update Issue and PR templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: discussion

#360 console,oauth: Optimize PNG files
  pkg/webui/assets/img/layout/bg/ttn-console-bg.png
  pkg/webui/assets/static/console-og-image.png
  pkg/webui/assets/static/console-touch-icon.png
  pkg/webui/assets/static/oauth-og-image.png
  pkg/webui/assets/static/oauth-touch-icon.png
Labels: c/console, performance

#375 Grant all rights to entity creator
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
Labels: bug, c/identity server

#177 Harmonize device registry tests
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/util_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/util_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: c/application server, c/join server, c/network server

#370 Fix console redirect URI
  .make/dev.make
  README.md
Labels: c/console, doc

#384 Fix/simplify events api
  api/api.md
  api/api.swagger.json
  api/events.proto
  cmd/ttn-lw-cli/commands/events.go
  pkg/events/events.go
  pkg/events/grpc/grpc.go
  pkg/events/identifiers.go
  pkg/events/redis/redis_test.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/ttnpb/identifiers.go
Labels: compat/api

#382 Pass stackConfig to device service
  sdk/js/src/service/applications.js
Labels: c/sdk/js

#366 BasicStation CUPS support
  .make/git.make
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/messages_test.go
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: c/cli, c/cups

#387 Return error when caller has universal rights
  pkg/identityserver/rights.go
Labels: c/identity server

#379 Fix GS scheduling
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/emission.go
  pkg/gatewayserver/scheduling/emission_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server, prio/high, s/blocking/release

#400 Switch from pending session on upstream confirmation
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server
