Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-09, with the labels that each got.

#1270 Add organization service to js sdk
  pkg/webui/console/api/index.js
  sdk/js/src/index.js
  sdk/js/src/service/organizations.js
Labels: c/sdk/js, s/blocking/issue

#1279 Respect nil topic values in PubSub
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
Labels: c/application server, prio/high, quickfix

#1280 Add organization create page
  pkg/webui/console/api/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/organizations.js
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-add/organization-add.styl
  pkg/webui/console/views/organizations/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/organizations.js
Labels: c/console, c/sdk/js, ui/web

#1214 Remove optional automatic setting of local values in JS SDK
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/lib/random-bytes.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/yup-extensions.js
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, ui/web

#1251 Check if peers are available before using them
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
  pkg/applicationserver/io/mqtt/mqtt_util_test.go
  pkg/applicationserver/io/pubsub/util_test.go
  pkg/applicationserver/io/web/util_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/util_test.go
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/update_info.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/cluster/peer.go
  pkg/cluster/peer_internal_test.go
  pkg/component/cluster.go
  pkg/component/cluster_test.go
  pkg/component/rights.go
  pkg/devicetemplateconverter/util_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_util_test.go
  pkg/gatewayserver/io/grpc/grpc_util_test.go
  pkg/gatewayserver/io/mqtt/mqtt_util_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/thethingsgateway/cups/handlers.go
  pkg/thethingsgateway/cups/server.go
  pkg/util/test/cluster.go
  pkg/web/oauthclient/logout.go
Labels: c/cups, c/gateway server, c/shared, prio/high, technical debt

#1285 Decouple provider connection from ApplicationPubSub
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
Labels: c/application server, prio/high, quickfix

#1289 Account for the race condition in NS flow test
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#1288 Run goreleaser in parallel
  .travis.yml
  go.mod
  go.sum
Labels: quickfix

#1292 Fetch repo before checking out gh-pages
  .travis.yml
Labels: bug, quickfix, tooling

#1259 Remove leading space from safe inspector copy value
  pkg/webui/components/safe-inspector/index.js
Labels: bug, c/console, ui/web

#1298 Update AWS dependency
  go.mod
  go.sum
Labels: quickfix

#1299 Add HTTP to HTTPS redirects
  pkg/component/web.go
  pkg/config/shared.go
  pkg/web/middleware/redirect.go
  pkg/web/middleware/redirect_test.go
  pkg/web/web.go
Labels: c/shared

#1283 Add option to disable HMR via environment variable
  config/webpack.config.babel.js
Labels: quickfix

#1305 Fix resets_join_nonces/resets_f_cnt handling in device form
  pkg/webui/console/components/device-data-form/validation-schema.js
Labels: bug, c/console, prio/high, s/blocking/release, ui/web

#1308 Make is-db commands upsert admin users and OAuth clients
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
Labels: c/identity server

#1307 Fix relative OAuth authorization and callbacks
  cmd/ttn-lw-stack/commands/start.go
  pkg/oauth/server.go
  pkg/web/oauthclient/oauthclient.go
Labels: c/console, c/identity server, prio/high, quickfix, s/blocking/release

#1309 Add organization general settings page
  pkg/webui/console/api/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/organizations.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/console/views/organization-general-settings/index.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/organizations.js
Labels: c/console, c/sdk/js, ui/web

#1311 Add option to redirect all HTTP requests to a single host
  pkg/component/web.go
  pkg/config/shared.go
  pkg/web/middleware/redirect.go
  pkg/web/middleware/redirect_test.go
  pkg/web/web.go
Labels: c/shared

#1314 Use test context for unique ID derivation
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: c/application server, c/join server, c/network server, quickfix

#1317 Fix callback regression from #1307
  pkg/oauth/server.go
Labels: c/identity server, quickfix

#1318 Adjust device form settings layout
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, prio/high

#1316 Add option to automatically link apps on creation
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, prio/medium, ui/web

#1287 Schedule MAC answers in Class A
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server

#1312 Update to Go 1.13
  .mage/dev.go
  .mage/go.go
  .travis.yml
  DEVELOPMENT.md
  doc/content/reference/email-templates/overriding.md
  go.mod
  go.sum
  lorawan-stack.go
  sdk/js/src/service/devices/split.js
Labels: dependencies

#1322 gs: Add timeout to wait for gateway disconnection in tests
  pkg/gatewayserver/gatewayserver_test.go
Labels: bug, c/gateway server, quickfix

#1321 Fix LinkADR event payloads
  config/messages.json
  pkg/networkserver/mac_link_adr.go
Labels: c/network server, quickfix

#1323 Remove hardcoded config data from webui
  pkg/webui/console/views/login/index.js
  pkg/webui/console/views/login/login.styl
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/login/index.js
Labels: c/console, c/identity server, prio/medium, ui/web

#1324 Fix broken goreleaser dependencies
  go.mod
  go.sum
Labels: dependencies, quickfix

#1296 Change location propType
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/update-password/index.js
Labels: c/identity server, quickfix, ui/web

#1335 Fix naming of metrics in AS
  pkg/applicationserver/observability.go
Labels: c/application server, quickfix

#1339 Update Alpine image used
  Dockerfile
Labels: dependencies, quickfix

#1338 Application general settings modal and PropType fix
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/lib/prop-types.js
Labels: c/console

#1331 Application Server PubSub events
  config/messages.json
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/observability.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/observability.go
  pkg/util/test/events.go
  pkg/util/test/events_test.go
Labels: c/application server, compat/api, prio/high

#1347 Fix go.mod replace syntax, update dependencies
  go.mod
  go.sum
Labels: quickfix

#1354 Use test.Delay instead of millisecond in events test
  pkg/events/handler_test.go
Labels: quickfix

#1355 Give GCS a ClusterRole
  api/api.md
  api/enums.proto
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/enums.pb.go
  sdk/js/generated/api.json
Labels: compat/api

#1356 Fix missing CLI in NFPM and Snapcraft
  .goreleaser.yml
Labels: bug

#1357 Clean up Identity Server test code
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/email_test.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/invitation_registry_test.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/picture/picture_test.go
  pkg/identityserver/registry_search_test.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/end_device_store_test.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/invitation_store_test.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/populate_test.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_access_test.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, quickfix

#1330 Streamline grid column setups and related styling fixes
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
  pkg/webui/components/input/toggled.js
  pkg/webui/components/input/toggled.styl
  pkg/webui/components/key-value-map/index.js
  pkg/webui/components/key-value-map/key-value-map.styl
  pkg/webui/components/select/select.styl
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integration-add/index.js
  pkg/webui/console/views/application-integration-edit/index.js
  pkg/webui/console/views/application-integrations-list/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-add/device-add.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-add/gateway-add.styl
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-add/organization-add.styl
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/console/views/organizations-list/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/oauth/views/code/index.js
  pkg/webui/styles/variables/generic.styl
Labels: c/console, c/identity server, ui/web

#1129 Add leaflet map to device and gateway overview
  package.json
  pkg/webui/assets/auxiliary-icons/location_pin.svg
  pkg/webui/assets/img/layout/bg/ttn-console-map.png
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/map/widget/widget.styl
  pkg/webui/console/components/device-map/index.js
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console, ui/web

#1352 Fix Basic Station CUPS Update-Info Request
  cmd/internal/shared/config.go
  cmd/internal/shared/gatewayconfigurationserver/config.go
  config/messages.json
  docker-compose.yml
  go.mod
  go.sum
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/config/tls.go
Labels: bug, c/gateway conf server

#1345 Fix rights modification of collaborators with more rights than…
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/client_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/organization_services.pb.go
  sdk/js/generated/api.json
Labels: c/identity server

#1367 Fix rights modification of api keys
  api/api.md
  api/application_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  api/user_services.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/user_access.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/user_services.pb.go
  sdk/js/generated/api.json
Labels: c/identity server

#1346 Fix PubSub events identifiers
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
Labels: c/application server, quickfix

#1341 Support absolute paths in fetch package
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/web/templates.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/fetch/basepath.go
  pkg/fetch/basepath_test.go
  pkg/fetch/bucket.go
  pkg/fetch/bucket_test.go
  pkg/fetch/errors.go
  pkg/fetch/fetch.go
  pkg/fetch/fetch_test.go
  pkg/fetch/fs.go
  pkg/fetch/http.go
  pkg/fetch/http_test.go
  pkg/fetch/mem.go
  pkg/frequencyplans/frequencyplans_test.go
  pkg/identityserver/email.go
  pkg/identityserver/email_test.go
  pkg/interop/client.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
Labels: bug, c/shared, prio/medium

#1366 Support unmarshaling of SX1301 Conf Messages
  config/messages.json
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/pfconfig/shared/shared.go
  pkg/pfconfig/shared/shared_test.go
Labels: c/gateway conf server, c/shared

#1301 Add issue template for questions and doc requests
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: doc

#1358 Allow application frontends to send upstream traffic
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/linking.go
Labels: c/application server

#1360 Fix downlink length computation in Network Server
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#1198 Support GS Upstream Interface
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/upstream/mock/network_server.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/ns/ns_util_test.go
  pkg/gatewayserver/upstream/upstream.go
Labels: c/gateway server, c/packet broker, s/blocking/issue

#1377 Protoc image update
  .mage/proto.go
  go.mod
  go.sum
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
Labels: bug, compat/api, dependencies

#1368 Add The Things Gateway connection guide
  doc/content/guides/connecting-gateways/_index.md
  doc/content/guides/connecting-gateways/thethingskickstartergateway/_index.md
  doc/content/guides/connecting-gateways/thethingskickstartergateway/ttkg-config-window.png
  doc/content/guides/getting-started/console/_index.md
  doc/content/guides/getting-started/console/gateway-api-key-created.png
  doc/content/guides/getting-started/console/gateway-api-key-creation.png
Labels: doc

#1379 Fix console app title
  pkg/webui/console/views/app/index.js
Labels: bug, c/console, quickfix, ui/web

#1361 Refactor data fetching selectors
  pkg/webui/components/form/field/index.js
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/containers/webhook-formats-select/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#1376 Add file input component
  pkg/webui/components/file-input/file-input.styl
  pkg/webui/components/file-input/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/story.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/mixins.styl
Labels: c/console, ui/web

#1373 Network Server testing
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/util/test/events.go
Labels: c/network server

#1372 Expose MQTT public address and username
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/gatewayserver.proto
  api/mqtt.proto
  cmd/internal/shared/applicationserver/config.go
  cmd/internal/shared/gatewayserver/config.go
  config/messages.json
  docker-compose.yml
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/component/grpc_test.go
  pkg/config/shared.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/mqtt.pb.go
  pkg/ttnpb/mqtt.pb.paths.fm.go
  pkg/ttnpb/mqtt.pb.setters.fm.go
  pkg/ttnpb/mqtt.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api

#1374 Extend device form to manage devices without js keys
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, prio/medium, ui/web

#1329 Various MAC-related fixes and improvements
  .mage/scripts/fix-grpc-gateway-names.sh
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/band/as_923.go
  pkg/band/band.go
  pkg/band/band_internal_test.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/default.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bug, c/network server, compat/api, compat/db

#1334 Improve gateway connection status handling in console
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/containers/gateway-connection/gateway-connection-reactor.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.styl
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-connection/tests/__snapshots__/gateway-connection-reactor_test.js.snap
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_driver.js
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_test.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateway-status.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/tests/gateway-status_test.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateway-status.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/event.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1381 Add pubsub service to JS SDK
  pkg/webui/console/api/index.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/pubsubs.js
  sdk/js/src/util/marshaler.js
Labels: c/console, c/sdk/js, ui/web

#1384 Add enforced validation to fields after change
  pkg/webui/components/file-input/index.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/key-value-map/index.js
Labels: c/console, quickfix, ui/web

#1393 Shorten generated linking API key name
  pkg/webui/console/views/application-add/index.js
Labels: quickfix, ui/web

#1391 Only publish MAC downlink events on success
  pkg/networkserver/downlink.go
  pkg/networkserver/mac.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_force_rejoin.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#1387 Improve js address handling in device edit form
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/lib/prop-types.js
Labels: c/console, quickfix, ui/web

#1385 Add PubSub integrations to the console
  pkg/webui/components/file-input/index.js
  pkg/webui/components/table/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/pubsub-form/qos-options.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/pubsub-formats-select/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/actions/pubsub-formats.js
  pkg/webui/console/store/actions/pubsub.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/pubsub-formats.js
  pkg/webui/console/store/reducers/pubsub.js
  pkg/webui/console/store/reducers/pubsubs.js
  pkg/webui/console/store/selectors/pubsub-formats.js
  pkg/webui/console/store/selectors/pubsub.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/index.js
  pkg/webui/console/views/application-integrations-pubsubs-list/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhook-add/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/console/views/application-integrations-webhooks-list/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1395 Forward status messages to upstream host
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/observability.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/upstream.go
Labels: c/gateway server
