Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-05, with the labels that each got.

#593 Add list gateways in JS SDK
  package.json
  pkg/webui/console/api/index.js
  pkg/webui/console/api/stubs/fake-data.js
  pkg/webui/console/api/stubs/index.js
  sdk/js/src/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/marshaler.js
  yarn.lock
Labels: c/console, c/sdk/js

#561 Pending MAC state
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_rekey.go
  pkg/networkserver/mac_rekey_test.go
  pkg/networkserver/mac_reset.go
  pkg/networkserver/mac_reset_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/util/test/logger.go
  sdk/js/generated/api.json
Labels: c/network server

#589 Absolute time scheduling with round-trip times
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/grpc_gs.go
  pkg/gatewayserver/io/downlink_token.go
  pkg/gatewayserver/io/downlink_token_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/rtts.go
  pkg/gatewayserver/io/rtts_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/clock_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api

#610 GS UDP late scheduling and encoding fixes
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/ttnpb/udp/packet_data.go
Labels: c/gateway server, s/blocking/release

#612 Use production mode by default in frontend builds
  config/webpack.config.babel.js
Labels: c/console

#607 Fix delete requests in js sdk
  sdk/js/src/api/http.js
Labels: bug, c/sdk/js

#614 Remove unnecessary frontend lib files
  pkg/webui/lib/action.js
  pkg/webui/lib/action_test.js
  pkg/webui/lib/check-types.js
  pkg/webui/lib/check-types_test.js
Labels: c/console

#618 Fix assigning GS frequency plans
  pkg/webui/console/store/reducers/configuration.js
Labels: bug, c/console

#616 Fix MQTT gateway connections
  api/api.md
  api/api.swagger.json
  api/rights.proto
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/topics/layout.go
  pkg/gatewayserver/io/mqtt/topics/pb.go
  pkg/gatewayserver/io/mqtt/topics/pbv2.go
  pkg/ttnpb/rights.go
  pkg/ttnpb/rights.pb.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, s/blocking/release

#622 Simplify rendering of program name
  cmd/internal/commands/doc.go
  cmd/internal/shared/version/version.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
Labels: goldplating

#600 Add initial frontend development documentation
  DEVELOPMENT.md
Labels: c/console, doc

#626 Fix preserving priority and class B/C settings in application downlink
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
Labels: c/application server, s/blocking/release

#620 Add basic gateways CRUD operations to js sdk
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/gateways.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/marshaler.js
Labels: c/console, c/sdk/js

#628 Add Gateway Page
  package.json
  pkg/webui/components/field/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/store/middleware/configuration.js
  pkg/webui/console/store/selectors/configuration.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/console/views/gateway-add/gateway-add.styl
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console

#636 Fix status component props
  pkg/webui/components/status/index.js
Labels: c/console

#635 Subtract time on air from absolute time
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
Labels: c/gateway server

#624 General Settings view for Devices
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/components/checkbox/index.js
  pkg/webui/components/field/field.styl
  pkg/webui/components/field/group/group.styl
  pkg/webui/components/field/group/index.js
  pkg/webui/components/field/story.js
  pkg/webui/components/radio-button/index.js
  pkg/webui/components/radio-button/radio-button.styl
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/components/tabs/index.js
  pkg/webui/components/tabs/tab/index.js
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/console/api/index.js
  pkg/webui/console/containers/device-data-form/index.js
  pkg/webui/console/containers/device-data-form/messages.js
  pkg/webui/console/containers/device-data-form/validation-schema.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/store/middleware/device.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/device-entity-map.json
Labels: c/console

#630 Fix GS absolute downlink timing in UDP
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/clock_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/ttnpb/udp/translation.go
Labels: c/gateway server, s/blocking/release

#642 Retrieve missing device id info on Join Server requests in JS SDK
  sdk/js/src/service/devices/index.js
Labels: c/sdk/js

#645 Add device list view to applications
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/devices/index.js
Labels: c/console

#633 Register AppAs in gRPC gateway and harmonize naming
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
Labels: c/application server, compat/api

#647 Fix import path of xerrors package
  .mage/git.go
  .mage/proto.go
  go.mod
  go.sum
Labels: technical debt

#640 Fix/63 spinner issue
  pkg/webui/components/input/input.styl
  pkg/webui/components/input/story.js
Labels: bug, c/console

#652 [Quickfix] Various NS improvements
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Labels: c/network server

#650 [Quickfix] Fix crypto package variable names
  pkg/crypto/data_messages.go
Labels: bug, c/shared

#655 Set ADR bit on downlink
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/utils.go
Labels: c/network server

#651 [Quickfix] Fix nonce type comments
  pkg/types/dev_nonce.go
  pkg/types/join_nonce.go
Labels: c/shared

#660 Gateway API Keys List page
  pkg/webui/console/api/index.js
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/middleware/gateway.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/gateway.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway/index.js
  sdk/js/src/service/gateways.js
Labels: c/console

#639 Add gs server address to Add Gateway form
  package.json
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console

#657 Fix header issue in storybook
  pkg/webui/components/header/index.js
  pkg/webui/components/header/story.js
  pkg/webui/components/profile-dropdown/index.js
Labels: bug, c/console

#665 Extend IS API to fetch single api-key
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/application_services.proto
  api/gateway.proto
  api/gateway_services.proto
  api/organization.proto
  api/organization_services.proto
  api/user.proto
  api/user_services.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api

#653 Support uplink retransmissions
  pkg/networkserver/adr.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/ttnpb/lorawan.go
Labels: c/network server

#565 Add Let's Encrypt support
  cmd/internal/shared/config.go
  config/messages.json
  doc/gettingstarted.md
  docker-compose.yml
  pkg/basicstation/cups/server.go
  pkg/component/acme.go
  pkg/component/component.go
  pkg/component/listeners.go
  pkg/config/tls.go
Labels: c/shared, doc, s/blocking/release

#670 Generalize Add/Edit API Key forms
  pkg/webui/components/api-key-form/api-key-form.styl
  pkg/webui/components/api-key-form/create.js
  pkg/webui/components/api-key-form/edit.js
  pkg/webui/components/api-key-form/form.js
  pkg/webui/components/api-key-form/index.js
  pkg/webui/components/api-key-form/validation-schema.js
  pkg/webui/components/api-key-modal/api-key-modal.styl
  pkg/webui/components/api-key-modal/index.js
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/rights.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#678 Remove secrets from allowed get field paths
  pkg/identityserver/user_registry_test.go
  pkg/ttnpb/field_mask_validation.go
Labels: c/identity server, security

#676 doc: Fix double slash in markdown docs
  api/api.md
  api/api.md.tmpl
Labels: doc

#680 Fix x-total-count header for API Keys and Collaborators
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/membership_store.go
Labels: bug, c/identity server

#677 all: Make Application/Device separator a dot
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/web/util_test.go
  pkg/basicstation/cups/server_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/ttnpb/identifiers.go
  pkg/unique/unique.go
Labels: c/shared

#681 Gateway API Keys management
  pkg/webui/console/api/index.js
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/gateway.js
  pkg/webui/console/store/middleware/gateways.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/gateway.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway/index.js
  sdk/js/src/service/gateways.js
Labels: c/console, c/sdk/js

#684 dev: Use environment and tags in all Mage->Go calls
  .mage/go.go
Labels: technical debt

#658 Initial Network Server flow test
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/util/test/application_services.go
  pkg/util/test/application_services_test.go
  pkg/util/test/cluster.go
Labels: c/network server

#688 Fix validation feedback of add gateway form
  pkg/webui/console/views/gateway-add/index.js
Labels: bug, c/console

#685 Redefine ttnpb.Identifiers
  pkg/auth/rights/hook.go
  pkg/events/default.go
  pkg/events/definitions.go
  pkg/events/events.go
  pkg/events/identifiers.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_cache.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/rights.go
  pkg/identityserver/store/account.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/entity_search.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/invitation_store.go
  pkg/identityserver/store/membership.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers_combined.go
  pkg/ttnpb/identifiers_polymorphism.go
  pkg/ttnpb/identifiers_polymorphism_test.go
  pkg/ttnpb/identifiers_test.go
  pkg/unique/unique.go
  pkg/unique/unique_test.go
Labels: c/shared, technical debt

#693 Make application-layer f_port check stricter
  api/api.md
  api/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_populate.go
  sdk/js/generated/api.json
Labels: compat/api

#694 Change column handling in IS stores
  pkg/identityserver/store/application.go
  pkg/identityserver/store/client.go
  pkg/identityserver/store/end_device.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/invitation_store.go
  pkg/identityserver/store/organization.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/user.go
  pkg/identityserver/store/user_session.go
  pkg/identityserver/store/user_session_store.go
Labels: c/identity server, technical debt

#699 Use IP for UDP firewall instead of address
  pkg/gatewayserver/io/udp/firewall.go
  pkg/gatewayserver/io/udp/firewall_test.go
Labels: c/gateway server

#701 Fix downlink data rate calculations in band
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band_test.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
Labels: bug

#703 Refactor component listeners and support TLS config options
  pkg/applicationserver/applicationserver.go
  pkg/component/acme.go
  pkg/component/component.go
  pkg/component/grpc.go
  pkg/component/listeners.go
  pkg/component/tls.go
  pkg/component/web.go
  pkg/gatewayserver/gatewayserver.go
  pkg/util/test/assertions/echo.go
  pkg/util/test/assertions/should/should.go
  pkg/web/logger.go
  pkg/web/should_test.go
  pkg/web/web_test.go
Labels: c/shared, s/blocking/issue

#704 Groundwork for Backend Interfaces
  cmd/internal/shared/config.go
  config/messages.json
  doc/networking.md
  pkg/component/component.go
  pkg/component/interop.go
  pkg/config/shared.go
  pkg/interop/errors.go
  pkg/interop/interop.go
  pkg/interop/interop_test.go
  pkg/interop/messages.go
  pkg/interop/messages_test.go
  pkg/interop/types.go
  pkg/interop/types_test.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/joinserver.go
Labels: c/join server, c/shared

#707 Field mask handling fixes
  sdk/js/generated/device-entity-map.json
  sdk/js/generated/device-field-masks.json
  sdk/js/src/index.test.js
  sdk/js/src/service/devices/index.js
  sdk/js/util/device-field-mask-mapper.js
Labels: c/sdk/js

#712 TLS client authentication and verification for interop
  pkg/component/component_test.go
  pkg/component/interop.go
  pkg/component/interop_test.go
  pkg/component/listeners.go
  pkg/component/testdata/clientca.pem
  pkg/component/testdata/clientcert.pem
  pkg/component/testdata/clientkey.pem
  pkg/component/testdata/serverca.pem
  pkg/component/testdata/servercert.pem
  pkg/component/testdata/serverkey.pem
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tls.go
  pkg/interop/interop.go
  pkg/interop/interop_test.go
  pkg/interop/messages.go
  pkg/interop/messages_test.go
  pkg/interop/testdata/clientca.pem
  pkg/interop/testdata/clientcert.pem
  pkg/interop/testdata/clientkey.pem
Labels: c/shared

#715 [Quickfix] Enable webpack source maps in dev mode
  config/webpack.config.babel.js
Labels: c/console

#697 CLI gateway server address default and mismatch check
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  config/messages.json
Labels: c/cli

#705 NS testing, utilities and minor fixes
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
  pkg/gatewayserver/io/grpc/grpc_util_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/log/noop.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_asns_util_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/observability_util_test.go
  pkg/util/test/application_services.go
  pkg/util/test/cluster.go
  pkg/util/test/rpctest.go
  pkg/util/test/util.go
Labels: bug, c/network server, c/shared, s/blocking/issue

#734 [Quickfix] Fix device settings submit button message
  pkg/webui/console/containers/device-data-form/index.js
Labels: c/console

#720 Fix DB index names in IS
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/invitation.go
  pkg/identityserver/store/oauth.go
  pkg/identityserver/store/oauth_store.go
Labels: c/identity server, compat/db

#737 Adjust section titles in device overview
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#708 End Device location settings view (without maps)
  pkg/webui/components/button/button.styl
  pkg/webui/components/input/index.js
  pkg/webui/components/location-form/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/actions/device.js
  pkg/webui/console/store/reducers/device.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#716 Gateway antenna location settings (without maps)
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/reducers/gateway.js
  pkg/webui/console/views/gateway-location/gateway-location.styl
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/util/marshaler.js
Labels: c/console, c/sdk/js

#732 Account for CID when calculating payload length
  pkg/networkserver/mac.go
Labels: bug, c/network server, s/blocking/issue

#744 Require incrementing DevNonces from L2 1.0.3
  pkg/joinserver/grpc_nsjs.go
Labels: c/join server

#739 Secure in-process loopback gRPC connection (#711)
  pkg/networkserver/networkserver_flow_test.go
  pkg/rpcserver/loopback.go
Labels: c/shared, security

#714 Fix API keys handling
  pkg/webui/components/api-key-form/edit.js
  pkg/webui/console/api/index.js
  pkg/webui/console/store/actions/api-key.js
  pkg/webui/console/store/actions/api-keys.js
  pkg/webui/console/store/actions/application.js
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/middleware/application.js
  pkg/webui/console/store/middleware/applications.js
  pkg/webui/console/store/middleware/gateway.js
  pkg/webui/console/store/middleware/gateways.js
  pkg/webui/console/store/reducers/api-key.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/api-key.js
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/gateway.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  sdk/js/src/service/api-keys.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/gateways.js
Labels: c/console

#751 [Quickfix] Fix component name of Device Data view
  pkg/webui/console/views/device-data/index.js
Labels: c/console

#747 console: Fix app data breadcrumb link
  pkg/webui/console/views/application-data/index.js
Labels: bug, c/console

#748 Add Gateway Data Page
  pkg/webui/console/views/gateway-data/gateway-data.styl
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#754 Change app/network key types in Device Overview
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#674 Schedule downlink with absolute time late
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server

#755 Use loopback connection in cluster package (#711)
  pkg/cluster/auth_test.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/component/cluster.go
  pkg/component/component.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/networkserver_flow_test.go
Labels: c/shared

#719 Ensure TxParamSetupReq is scheduled when necessary
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/band/au_915_928.go
  pkg/band/downgrades.go
  pkg/encoding/lorawan/mac.go
  pkg/networkserver/downlink.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api

#764 Fix console page scrolling in safari
  pkg/webui/console/views/app/app.styl
Labels: bug, c/console

#760 Harmonize HTTP methods for webhook registry
  api/api.md
  api/api.swagger.json
  api/applicationserver_web.proto
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/application server, compat/api

#733 Implement NS-JS and AS-JS Backend Interfaces 1.0 and 1.1 draft 3
  README.md
  api/api.md
  api/api.swagger.json
  api/identifiers.proto
  api/joinserver.proto
  config/messages.json
  pkg/auth/pkix.go
  pkg/component/interop_test.go
  pkg/interop/interop.go
  pkg/interop/interop_test.go
  pkg/interop/messages.go
  pkg/interop/messages_test.go
  pkg/interop/types.go
  pkg/joinserver/errors.go
  pkg/joinserver/grpc_asjs.go
  pkg/joinserver/grpc_asjs_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_nsjs.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/http_interop_internal_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/joinserver/joinserver_test.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.paths.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.validate.go
  sdk/js/generated/api.json
Labels: bump/minor, c/join server, compat/api

#673 Application Server PubSub frontend
  api/api.md
  api/messages.proto
  go.mod
  go.sum
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/formatters/formatter.go
  pkg/applicationserver/io/formatters/json.go
  pkg/applicationserver/io/formatters/protobuf.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: c/application server

#763 Gateway General Settings Page
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#765 [Quickfix] Add prerequisites with version info to frontend documentation
  DEVELOPMENT.md
Labels: c/console, doc

#756 Various downlink processing fixes and improvements
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#758 Network Server GetDevAddrAssignment RPC
  api/api.md
  api/api.swagger.json
  api/networkserver.proto
  pkg/networkserver/grpc_ns.go
  pkg/networkserver/grpc_ns_test.go
  pkg/networkserver/networkserver.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.paths.fm.go
  pkg/ttnpb/networkserver.pb.setters.fm.go
  pkg/ttnpb/networkserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, compat/api

#768 [Quickfix] Fix device payload formatters title
  pkg/webui/console/views/device/index.js
Labels: bug, c/console

#773 [Quickfix] Fixup #758
  pkg/networkserver/grpc_ns_test.go
Labels: c/network server

#769 [Quickfix] Adjust the Application General Settings form
  pkg/webui/console/views/application-general-settings/index.js
Labels: c/console
