Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-10, with the labels that each got.

#1390 Release only on tagged releases
  .travis.yml
Labels: tooling

#1403 Support empty root keys from Crypto Server
  api/api.md
  api/joinserver.proto
  pkg/crypto/cryptoservices/cryptoservices.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoservices/mem.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/ttnpb/joinserver.pb.go
  sdk/js/generated/api.json
Labels: c/join server, compat/api

#1402 Add support button to console
  pkg/console/console.go
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/lib/env.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, prio/medium, ui/web

#1400 Support ATECC608A-TNGLORA
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Labels: c/device converter

#1409 Fix stack config issue in console
  cmd/internal/shared/console/config.go
  cmd/internal/shared/identityserver/config.go
  pkg/console/console.go
  pkg/oauth/server.go
  pkg/webui/console/api/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/env.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth/api/index.js
Labels: c/console, quickfix, ui/web

#1408 Fix reading config from files in order
  pkg/config/path.go
  pkg/config/path_test.go
Labels: c/shared, quickfix, ui/cli

#1412 Use config from request context in oauthclient
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/oauthclient.go
Labels: c/console, quickfix

#1397 Add axios interceptor for catching errors outside SDK
  pkg/webui/console/api/index.js
Labels: c/console, quickfix

#1411 Add file extensions to device template formats
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/devicetemplates/microchip.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Labels: c/device converter, compat/api, quickfix

#1414 Fix list of supported versions in SECURITY.md
  DEVELOPMENT.md
  SECURITY.md
Labels: quickfix

#1417 Improve test coverage in pkg/email
  go.mod
  go.sum
  pkg/email/email_test.go
  pkg/email/funcs.go
  pkg/email/registry.go
  pkg/email/smtp/smtp_test.go
  pkg/email/testdata/footer.html
  pkg/email/testdata/footer.txt
  pkg/email/testdata/header.html
  pkg/email/testdata/header.txt
Labels: c/shared

#1418 Improve test coverage of pkg/log
  pkg/log/context_test.go
  pkg/log/log_test.go
  pkg/log/middleware/filter/builder.go
  pkg/log/middleware/filter/builder_test.go
  pkg/log/middleware/filter/filter.go
  pkg/log/middleware/filter/filter_test.go
  pkg/log/must.go
Labels: c/shared, technical debt

#1420 Fix "Add Collaborator" button in console
  pkg/webui/console/containers/collaborators-table/index.js
Labels: c/console, quickfix, ui/web

#1421 Enable GS MQTT V2 listener by default and assign port
  cmd/internal/shared/gatewayconfigurationserver/config.go
  cmd/internal/shared/gatewayserver/config.go
  doc/networking.md
Labels: c/gateway server, doc, quickfix

#1419 Test coverage improvements
  pkg/crypto/data_messages_test.go
  pkg/crypto/join_messages_test.go
  pkg/crypto/key_derivation_internal_test.go
  pkg/crypto/key_derivation_test.go
  pkg/crypto/keywrap.go
  pkg/crypto/keywrap_test.go
  pkg/encoding/lorawan/lorawan_test.go
Labels: quickfix

#1392 Device claiming client
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  api/end_device.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  config/messages.json
  go.mod
  go.sum
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/lora_alliance_tr005_test.go
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_internal_test.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, prio/medium, ui/cli

#1413 QR Code Generator service
  .mage/git.go
  api/api.md
  api/api.swagger.json
  api/enums.proto
  api/picture.proto
  api/qrcodegenerator.proto
  api/user.proto
  cmd/internal/shared/errors.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/io/io.go
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/qrcode/lora_alliance_tr005.go
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
  pkg/qrcodegenerator/grpc.go
  pkg/qrcodegenerator/grpc_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/qrcodegenerator/qrcodegenerator_test.go
  pkg/qrcodegenerator/util_test.go
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/enums.pb.go
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/picture.pb.paths.fm.go
  pkg/ttnpb/picture.pb.setters.fm.go
  pkg/ttnpb/picture.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api, ui/cli

#1431 TLS configuration sources and key vault support
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/basicstation/cups/server.go
  pkg/component/cluster.go
  pkg/component/component.go
  pkg/component/grpc.go
  pkg/component/interop.go
  pkg/component/listeners.go
  pkg/component/tls.go
  pkg/component/web.go
  pkg/config/tls.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
  pkg/gatewayserver/gatewayserver.go
  pkg/networkserver/networkserver.go
Labels: prio/high, quickfix

#1434 Make key vault and dependencies context aware
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/payload.go
  pkg/component/component.go
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
Labels: c/shared, quickfix

#1433 Add fallback https redirection port
  pkg/component/web.go
Labels: c/shared, quickfix

#1427 Add progress bar component
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/progress-bar/progress-bar.styl
  pkg/webui/components/progress-bar/story.js
Labels: c/console, ui/web

#1435 Assume max data rate index is 5 for predefined channels
  pkg/networkserver/utils.go
Labels: c/network server

#1429 Support fetching configuration from blobs
  cmd/internal/shared/config.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/blob/bucket.go
  pkg/blob/bucket_test.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/fetch/bucket.go
  pkg/fetch/bucket_test.go
  pkg/identityserver/picture/picture_test.go
  pkg/identityserver/profile_picture.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/networkserver/networkserver.go
Labels: c/shared, prio/high

#1440 Explicit TLS for external NS link in AS
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/applicationserver/linking.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, quickfix, s/blocking/release

#1442 Add dial option discovery and helper
  pkg/rpcmiddleware/discover/discover.go
Labels: c/shared

#1443 KEK labeler escaping
  config/messages.json
  pkg/config/shared.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/kek_labelers_test.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
Labels: c/shared, quickfix

#1415 Add restart button on event stream error
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/events-subscription/events-subscription.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1437 Handle non-existing routes in console
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/lib/components/not-found-route.js
Labels: c/console

#1449 Clarify get and export cert key vault operations
  pkg/component/tls.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyvault.go
Labels: quickfix

#1451 Use explicit config sources and providers with fallback
  cmd/internal/shared/config.go
  config/messages.json
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tls.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: c/shared, prio/high, s/blocking/release

#1444 Add changelog
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
Labels: doc, tooling

#1452 console: Restart organization event stream
  pkg/webui/console/containers/organization-events/organization-events.js
Labels: c/console, quickfix

#1447 Treat unapproved users as unauthenticated
  config/messages.json
  pkg/identityserver/entity_access.go
Labels: c/identity server, security

#1457 Device Bulk Creation fixes
  pkg/webui/console/components/device-bulk-create-form/index.js
  pkg/webui/console/containers/device-bulk-creator/index.js
  pkg/webui/console/containers/device-template-format-select/index.js
  pkg/webui/console/views/device-add-bulk/device-add-bulk.styl
  pkg/webui/console/views/device-add-bulk/index.js
  pkg/webui/console/views/device-add-single/device-add-single.styl
  pkg/webui/console/views/device-add-single/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#1454 Move ttnpb/udp/datarate functions to pkg/util
  config/messages.json
  pkg/gatewayserver/io/basicstationlns/messages/util.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  pkg/util/datarate/data_rate.go
  pkg/util/datarate/data_rate_test.go
Labels: c/shared

#1456 Fix release documentation
  DEVELOPMENT.md
Labels: doc

#1462 Support padding in Microchip device certificate data
  pkg/devicetemplates/microchip.go
Labels: c/shared, quickfix

#1463 Fix ACME config
  CHANGELOG.md
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
  pkg/component/tls.go
  pkg/config/tls.go
Labels: prio/high

#1461 Update and tidy Go modules
  cmd/internal/shared/config.go
  go.mod
  go.sum
  tools.go
Labels: dependencies, prio/high

#1399 Application packages support
  api/api.md
  api/api.swagger.json
  api/applicationserver_packages.proto
  api/rights.proto
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/grpc.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/packages/registration.go
  pkg/applicationserver/io/packages/registry.go
  pkg/applicationserver/io/packages/util_test.go
  pkg/redis/pagination.go
  pkg/redis/pagination_test.go
  pkg/redis/redis.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/applicationserver_packages.pb.go
  pkg/ttnpb/applicationserver_packages.pb.gw.go
  pkg/ttnpb/applicationserver_packages.pb.paths.fm.go
  pkg/ttnpb/applicationserver_packages.pb.setters.fm.go
  pkg/ttnpb/applicationserver_packages.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/i18n.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/user.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/application server, compat/api, ui/cli

#1465 Regenerate API
  pkg/ttnpb/applicationserver_packages.pb.gw.go
Labels: quickfix

#1118 Hugo API Reference
  doc/content/reference/api/application.md
  doc/content/reference/api/application_pub_sub.md
  doc/content/reference/api/application_server.md
  doc/content/reference/api/application_webhooks.md
  doc/content/reference/api/authentication.md
  doc/content/reference/api/end_device.md
  doc/content/reference/api/gateway_server.md
  doc/content/reference/api/gateways.md
  doc/data/api/ttn.lorawan.v3/enums.yml
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  doc/themes/the-things-stack/layouts/partials/proto/field-type.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/enum.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/message.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
Labels: doc

#1467 Publish builds to S3
  .goreleaser.yml
Labels: tooling

#1469 Rename goreleaser s3 config to blob
  .goreleaser.yml
Labels: quickfix, tooling

#1468 Remove sidebar from download page
  doc/themes/the-things-stack/layouts/_default/baseof.html
Labels: doc, quickfix

#1470 Fix ACME initialization in absence of tls.acme.enable
  pkg/component/acme.go
Labels: bug, c/shared

#1474 Fix getting config from context in console and oauth middleware
  pkg/console/console.go
  pkg/oauth/server.go
Labels: c/console, c/identity server, quickfix

#1472 util: Add supports_join to converted template
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
Labels: c/device converter, quickfix

#1475 Fix device overview with no root keys
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1477 User Invitation Emails and basic CLI and Console support
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/users.go
  doc/content/reference/email-templates/available.md
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/invitation_registry.go
  pkg/webui/oauth/views/create-account/index.js
Labels: c/identity server, ui/cli, ui/web

#1478 Send entity state change emails
  CHANGELOG.md
  doc/content/reference/email-templates/available.md
  pkg/identityserver/client_registry.go
  pkg/identityserver/emails/entity_state_changed.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

#1483 Documentation Consistency and Guidelinelines proposal
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/config.md
  doc/content/components/gateway-server.md
  doc/content/concepts/email-templates.md
  doc/content/guides/events/_index.md
  doc/content/guides/getting-started/cli/_index.md
  doc/content/guides/getting-started/configuration.md
  doc/content/guides/getting-started/mqtt/_index.md
  doc/content/guides/getting-started/running-the-stack.md
  doc/content/reference/api/application.md
  doc/content/reference/api/application_pub_sub.md
  doc/content/reference/api/application_server.md
  doc/content/reference/api/application_webhooks.md
  doc/content/reference/api/authentication.md
  doc/content/reference/api/end_device.md
  doc/content/reference/api/gateway_server.md
  doc/content/reference/api/gateways.md
  doc/content/reference/email-templates/overriding.md
  doc/content/reference/end-device-templates/mapping.md
  doc/themes/the-things-stack/layouts/shortcodes/proto/enum.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/message.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
  sdk/js/README.md
Labels: discussion, doc

#1481 Configuration Reference starting point
  doc/config.md
  doc/content/reference/configuration/_index.md
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/console.md
  doc/content/reference/configuration/gateway-configuration-server.md
  doc/content/reference/configuration/gateway-server.md
  doc/content/reference/configuration/identity-server.md
  doc/content/reference/configuration/join-server.md
  doc/content/reference/configuration/network-server.md
  doc/content/reference/configuration/the-things-stack.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/end-device-templates/_index.md
Labels: doc

#1485 Add code block highlighting for documentation
  doc/config.toml
  doc/config.toml.tmpl
  doc/themes/the-things-stack/assets/css/highlight.scss
  doc/themes/the-things-stack/assets/css/theme.scss
Labels: doc

#1487 Add Identity Server configuration reference
  doc/content/reference/configuration/identity-server.md
  doc/content/reference/email-templates/overriding.md
Labels: doc

#1466 Add support for organization api keys in console
  CHANGELOG.md
  pkg/webui/console/api/index.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/views/organization-api-key-add/connect.js
  pkg/webui/console/views/organization-api-key-add/index.js
  pkg/webui/console/views/organization-api-key-add/organization-api-key-add.js
  pkg/webui/console/views/organization-api-key-edit/connect.js
  pkg/webui/console/views/organization-api-key-edit/index.js
  pkg/webui/console/views/organization-api-key-edit/organization-api-key-edit.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/lib/prop-types.js
  sdk/js/src/service/organizations.js
Labels: c/console, c/sdk/js, ui/web

#1486 Add cache config to service base
  cmd/ttn-lw-stack/commands/start.go
  pkg/config/shared.go
Labels: c/shared, compat/api

#1488 Enhance console component documentation
  doc/content/components/_index.md
  doc/content/components/console.md
  doc/content/components/console_overview.png
Labels: doc

#1484 Add support for organization collaborators in console
  CHANGELOG.md
  pkg/webui/console/api/index.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/views/organization-collaborator-add/connect.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-collaborator-add/organization-collaborator-add.js
  pkg/webui/console/views/organization-collaborator-edit/connect.js
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/console/views/organization-collaborators-list/connect.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/organization-collaborators-list/organization-collaborators-list.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization/organization.js
  sdk/js/src/service/organizations.js
Labels: c/console, c/sdk/js, ui/web

#1491 Fix prop type issues
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/lib/prop-types.js
Labels: c/console, quickfix, ui/web

#1479 Add Network Server to H1 title
  doc/content/_index.html
  doc/content/download.html
Labels: doc

#1492 Basic Station Updates
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Labels: c/gateway server

#1482 Optimize downlink task timing and conditions
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_beacon_freq_test.go
  pkg/networkserver/mac_beacon_timing.go
  pkg/networkserver/mac_beacon_timing_test.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_dev_status_test.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_duty_cycle_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_ping_slot_channel_test.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rejoin_param_setup_test.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_param_setup_test.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_rx_timing_setup_test.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
Labels: c/network server, performance

#1502 Allow read-only fields in update mask if they don't change
  config/messages.json
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/redis/registry.go
Labels: c/application server, c/join server, c/network server, prio/medium

#1505 Fix device general settings form
  sdk/js/src/service/devices/index.js
Labels: bug, c/console, c/sdk/js, prio/high, quickfix, ui/web

#1266 Add Semtech Join Server interoperability guide
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/network-server.md
  doc/content/reference/interop-repository/_index.md
  docker-compose.yml
  pkg/interop/client.go
  pkg/interop/client_test.go
Labels: c/join server, doc

#1511 Support disabling channels in Network Server
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
Labels: c/network server

#1495 Fix API keys table loading indicator
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
Labels: c/console, quickfix, ui/web

#1490 Add MQTT section to console integrations
  CHANGELOG.md
  pkg/webui/console/api/index.js
  pkg/webui/console/views/application-integrations-mqtt/application-integrations-mqtt.styl
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/applications.js
Labels: c/console, c/sdk/js, ui/web

#1497 Fix collaborators table loading indicator
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/collaborators.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/organization-collaborators-list/connect.js
  pkg/webui/console/views/organization-collaborators-list/organization-collaborators-list.js
Labels: c/console, quickfix, ui/web

#1510 Add onKeyDown listener for table rows
  pkg/webui/components/table/row/index.js
Labels: c/console, ui/web

#1522 Support LoRa Alliance TR005 draft 3 QR code format
  CHANGELOG.md
  pkg/qrcode/lora_alliance_tr005d2.go
  pkg/qrcode/lora_alliance_tr005d2_test.go
  pkg/qrcode/lora_alliance_tr005d3.go
  pkg/qrcode/lora_alliance_tr005d3_test.go
  pkg/qrcode/qrcode.go
  pkg/qrcode/qrcode_test.go
Labels: c/shared

#1518 Extend webui stack config with EDTC (Console / JS SDK)
  cmd/internal/shared/console/config.go
  pkg/console/console.go
  pkg/webui/console/api/index.js
  sdk/js/src/util/constants.js
Labels: c/console, c/sdk/js

#1516 Fix saving device settings via upsert
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-add/index.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
Labels: bug, c/console, c/sdk/js, prio/medium, ui/web

#1515 Display backend error details in console
  pkg/webui/components/error-notification/index.js
  pkg/webui/components/error-notification/story.js
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/form/index.js
  pkg/webui/components/location-form/index.js
  pkg/webui/components/notification/details/details.styl
  pkg/webui/components/notification/details/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
  pkg/webui/components/notification/story.js
  pkg/webui/components/toast/toast.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/lib/components/error-message/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, s/in progress, ui/web

#1528 Restructure CONTRIBUTING and DEVELOPMENT
  CONTRIBUTING.md
  DEVELOPMENT.md
Labels: doc

#1520 Add Pull Request Checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, tooling

#1527 Add TLS enable/disable flag in AS link
  CHANGELOG.md
  pkg/webui/console/views/application-link/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web
