Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-04, with the labels that each got.

#371 Change how the CLI handles the ns/as/js address config and EndDevice fields
  cmd/ttn-lw-cli/commands/access.go
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_subscribe.go
  cmd/ttn-lw-cli/commands/applications_webhook.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/commands/events.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  config/messages.json
Labels: c/cli, s/blocking/release

#363 Add additional fields to TxSettings for BasicStation
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  api/messages.proto
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_populate.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_populate.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server, compat/api, s/blocking/issue

#417 Translate select options
  pkg/webui/components/select/index.js
Labels: c/console

#413 Check availability of Rx windows in class C downlink
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, s/blocking/release

#405 Restore downlink queue on join-accept
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/payload.go
Labels: c/application server, s/blocking/release

#409 Only send queue invalidation to AS when downlink gets scheduled
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/linking.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_new_channel.go
Labels: c/network server, s/blocking/release

#424 Check expiration of Rx windows in class A downlink
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server, s/blocking/release

#411 Set device class to B/C on session confirmation
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
Labels: c/network server, s/blocking/release

#428 Send MAC commands confirmed in class C
  config/messages.json
  pkg/encoding/lorawan/mac.go
  pkg/networkserver/downlink.go
Labels: c/network server, s/blocking/release

#429 Check availability of Rx windows in class C downlink
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, s/blocking/release

#421 Refactor handling of admins and their rights
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  pkg/identityserver/client_registry.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  pkg/ttnpb/rights.go
Labels: c/identity server, compat/api

#425 Cluster Configuration API
  api/api.md
  api/api.swagger.json
  api/configuration_services.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-stack/commands/start.go
  pkg/component/configuration_grpc.go
  pkg/console/console.go
  pkg/frequencyplans/frequencyplans.go
  pkg/frequencyplans/rpc.go
  pkg/frequencyplans/rpc_test.go
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.paths.fm.go
  pkg/ttnpb/configuration_services.pb.setters.fm.go
  pkg/ttnpb/configuration_services.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/cli, c/console, c/gateway server, c/network server, c/shared, compat/api

#431 Add script to regenerate SDK API definitions
  sdk/js/generated/api.json
  sdk/js/package.json
Labels: c/sdk/js

#296 Console login/logout fixes
  pkg/console/callback.go
  pkg/console/console.go
  pkg/console/cookie_auth.go
  pkg/console/cookie_state.go
  pkg/console/login.go
  pkg/console/logout.go
  pkg/console/refresh.go
  pkg/console/token.go
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/button/story.js
  pkg/webui/console/api/index.js
  pkg/webui/console/lib/access-token.js
  pkg/webui/console/views/login/index.js
  pkg/webui/lib/components/with-auth.js
Labels: c/console

#433 Refactor CLI OAuth again
  .make/dev.make
  README.md
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/root.go
  doc/gettingstarted.md
  go.mod
  go.sum
  pkg/oauth/callback.go
  pkg/oauth/server.go
Labels: c/cli, c/identity server

#427 Add Application Collaborators Support to javascript SDK
  sdk/js/src/service/applications.js
  sdk/js/src/service/collaborators.js
Labels: c/sdk/js

#423 Fix API Keys pagination
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/containers/fetch-table/index.js
Labels: bug, c/console

#420 Extend IS blacklist
  pkg/identityserver/blacklist/builtin.go
  pkg/webui/components/field/index.js
  pkg/webui/components/form/index.js
  pkg/webui/console/views/application-add/index.js
Labels: c/console, c/identity server, s/blocking/release

#442 Add trace regions
  go.sum
  pkg/applicationserver/redis/registry.go
  pkg/auth/rights/hook.go
  pkg/events/pubsub.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/profile_picture.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/attribute_store.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/end_device_location_store.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/entity_search.go
  pkg/identityserver/store/gateway_antenna_store.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/invitation_store.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/redis/registry.go
  pkg/messageprocessors/cayennelpp/cayennelpp.go
  pkg/messageprocessors/javascript/javascript.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
  pkg/networkserver/registry_test.go
  pkg/oauth/user.go
  pkg/rpcclient/rpcclient.go
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcserver/rpcserver.go
  pkg/scripting/javascript/javascript.go
Labels: c/shared

#437 Fix client pagination for table
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/fetch-table/index.js
Labels: bug, c/console

#446 Fix Button HTML props propagation
  pkg/webui/components/button/index.js
Labels: bug, c/console

#440 Invalidate and validate application downlink queue
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
Labels: c/application server, c/network server, s/blocking/release

#434 Add legacy EndDevice flags as deprecated flags
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: c/cli

#447 Support absolute time scheduling
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server, s/blocking/release

#451 Publish downlink queued and failed events
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server, s/blocking/release

#450 Use application downlink's priority and configured limits
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server, s/blocking/release

#344 Implicit Redis registry fieldmasks
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/applicationserver/util_test.go
  pkg/joinserver/grpc_nsjs_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry_test.go
Labels: c/application server, c/join server, c/network server

#394 Improve form/field value handling
  pkg/webui/components/field/group/index.js
  pkg/webui/components/field/index.js
  pkg/webui/components/form/index.js
Labels: c/console

#456 Preserve correlation IDs in downlink message
  pkg/applicationserver/applicationserver.go
Labels: c/application server, s/blocking/release

#461 Harmonize webhook downlink paths
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: c/application server, compat/api, s/blocking/release

#463 Use concurrency for upstream handling per connection
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_internal_test.go
Labels: c/gateway server, s/blocking/release

#438 util: Limit the CFList to 5 frequencies
  pkg/frequencyplans/cflist.go
  pkg/frequencyplans/cflist_test.go
  pkg/networkserver/utils.go
Labels: c/network server, s/blocking/release

#470 Fix setting deprecated flag value
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: c/cli, s/blocking/release

#458 Minor fixes for correlation IDs
  api/events.proto
  api/join.proto
  api/messages.proto
  pkg/applicationserver/linking.go
  pkg/applicationserver/registry_test.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.validate.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/join.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
Labels: c/application server, compat/api, s/blocking/release

#472 Store EUIs in device registry
  pkg/networkserver/redis/registry.go
Labels: c/network server, s/blocking/release

#465 Documentation review roundup
  README.md
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  config/messages.json
  doc/gettingstarted.md
  docker-compose.yml
Labels: doc, s/blocking/release

#475 Support MAC 1.0.3 and PHY 1.0.3 Rev A
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/downgrades.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/us_902_928.go
  pkg/joinserver/grpc_nsjs.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_link_adr.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
Labels: c/join server, c/network server, compat/api, prio/high, s/blocking/release

#477 Quickfix for release build failing on snap login file
  .gitignore
Labels: bug, s/blocking/release

#476 Quickfix for duplicate rpcmetadata
  pkg/rpcmetadata/metadata.go
  pkg/rpcmetadata/request.go
Labels: bug, c/shared

#478 Fix and add Snappy deploy and instructions
  .goreleaser.yml
  .travis.yml
  doc/gettingstarted.md
  snap.login.enc
  snapcraft.login.enc
Labels: doc, s/blocking/release

#480 Make frequency multiplier band-configurable
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
  pkg/frequencyplans/cflist.go
  pkg/frequencyplans/cflist_test.go
  pkg/networkserver/adr.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/utils.go
Labels: c/network server, c/shared

#481 Take LoRa coding rate from PHY and relax DR format
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/gatewayserver/io/io.go
  pkg/ttnpb/udp/data_rate.go
  pkg/ttnpb/udp/data_rate_test.go
Labels: c/gateway server, c/shared

#482 Fix toa validation and add flexibility
  config/messages.json
  pkg/toa/toa.go
  pkg/toa/toa_test.go
  pkg/validate/lorawan.go
Labels: c/shared

#487 Document CLI's config.yml
  cmd/internal/commands/config.go
  doc/gettingstarted.md
Labels: c/cli, doc

#486 Improve getting started with TLS
  doc/gettingstarted.md
Labels: doc

#485 Add DevAddrPrefix to DevAddr generation function
  pkg/networkserver/config.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/networkserver.go
Labels: c/network server

#492 Fix reading DevAddrPrefix from config
  .travis.yml
  pkg/types/devaddr.go
Labels: bug, prio/high

#497 Remove device identifiers from downlink message
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: c/network server

#498 Publish gateway status and message uplink/downlink event payload
  pkg/gatewayserver/observability.go
Labels: c/gateway server

#500 OAuth Authorization and Access Token management
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  config/messages.json
  pkg/identityserver/identityserver.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/store_interfaces.go
Labels: c/cli, c/identity server, s/blocking/issue, security

#506 Fix errors in events
  pkg/events/events.go
  pkg/ttnpb/errors.go
Labels: bug, c/shared

#508 Publish messages as event payload
  pkg/applicationserver/linking.go
  pkg/applicationserver/observability.go
Labels: c/application server

#509 Get and set dev_addr from device registry
  pkg/networkserver/redis/registry.go
Labels: c/network server

#514 Add received_at to ApplicationUp
  api/api.md
  api/api.swagger.json
  api/messages.proto
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
Labels: c/application server, c/network server, compat/api

#518 Set device's dev_addr from NS
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/redis/registry.go
Labels: c/cli

#519 Make KeyEnvelope.key a AES128Key type and add encrypted_key field
  api/api.md
  api/api.swagger.json
  api/keys.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  doc/gettingstarted.md
  pkg/applicationserver/applicationserver_test.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/joinserver/grpc_asjs_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_nsjs.go
  pkg/joinserver/grpc_nsjs_test.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/join.pb.paths.fm.go
  pkg/ttnpb/joinserver.pb.paths.fm.go
  pkg/ttnpb/keys.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/keys.pb.paths.fm.go
  pkg/ttnpb/keys.pb.setters.fm.go
  pkg/ttnpb/keys.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/shared, compat/api

#525 Temporarily replace echo dependency with fork
  go.mod
  go.sum
Labels: technical debt

#521 Upgrade to Go 1.12
  .travis.yml
  DEVELOPMENT.md
  pkg/util/test/logger.go
Labels: c/shared

#529 Use modulo for downlink channels
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/util/test/frequencyplans.go
Labels: bug, c/network server, prio/high, s/blocking/release

#531 Add filesystem and network plugs to our snap
  .goreleaser.yml
Labels: s/blocking/release

#501 SubmitBar Component
  pkg/webui/components/submit-bar/index.js
  pkg/webui/components/submit-bar/story.js
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/console/views/application-add/application-add.styl
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.styl
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
Labels: c/console

#538 Observability Improvements (pprof, prometheus)
  pkg/applicationserver/observability.go
  pkg/component/grpc.go
  pkg/component/web.go
  pkg/events/definitions.go
  pkg/events/observability.go
  pkg/gatewayserver/observability.go
  pkg/joinserver/observability.go
  pkg/metrics/grpc.go
  pkg/networkserver/observability.go
Labels: c/shared, performance

#537 Simulation of Joins and Uplinks
  cmd/ttn-lw-cli/commands/simulate.go
Labels: c/cli

#496 Improve Application API Keys pages
  pkg/webui/console/store/actions/application.js
  pkg/webui/console/store/middleware/application.js
  pkg/webui/console/store/middleware/applications.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#449 Application Collaborators Management
  pkg/webui/components/icon/index.js
  pkg/webui/components/select/index.js
  pkg/webui/console/api/index.js
  pkg/webui/console/containers/collaborators-table/collaborators-table.styl
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/store/actions/application.js
  pkg/webui/console/store/actions/collaborators.js
  pkg/webui/console/store/middleware/application.js
  pkg/webui/console/store/middleware/applications.js
  pkg/webui/console/store/reducers/collaborators.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/views/application-collaborator-add/application-collaborator-add.styl
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/application-collaborator-edit.styl
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#524 Replace htdvisser/protocontainer with updated thethingsindustries/protoc
  .make/protos/main.make
  .travis.yml
  Makefile
  api/api.md
  api/api.md.tmpl
  pkg/ttnpb/application.go
  sdk/js/generated/api.json
  sdk/js/package.json
Labels: c/sdk/js, doc

#542 Don't consider organization ID for organization collaborator in CLI
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
Labels: bug, c/cli

#543 Refuse to delete applications that still have devices
  config/messages.json
  pkg/identityserver/application_registry.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/end_device_store_test.go
  pkg/identityserver/store/store_interfaces.go
Labels: c/identity server

#539 CLI credentials management
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/utils.go
  cmd/ttn-lw-cli/internal/util/cache.go
  config/messages.json
Labels: c/cli

#533 Fix LinkADR handling for 1.1+ devices
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_link_adr.go
Labels: bug, c/network server

#535 Fix toast queue
  pkg/webui/components/toast/toast.js
Labels: bug, c/console

#541 Add Link Component
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/link/story.js
Labels: c/console

#552 Account for NbTrans in ADR loss rate calculation
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
Labels: c/network server

#559 Fix double-Update and add debugging of CLI's EndDevice RPCs
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
Labels: c/cli

#555 Gather common IS store logic together
  pkg/identityserver/store/account.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/attribute_store.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/end_device_location_store.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/entity_search_test.go
  pkg/identityserver/store/gateway_antenna_store.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/invitation_store.go
  pkg/identityserver/store/membership.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store.go
Labels: c/identity server, technical debt

#557 Events Widget Component
  pkg/webui/components/event/event.styl
  pkg/webui/components/event/index.js
  pkg/webui/components/event/types/crud/crud.styl
  pkg/webui/components/event/types/crud/index.js
  pkg/webui/components/event/types/default/index.js
  pkg/webui/components/event/types/index.js
  pkg/webui/components/event/types/message/index.js
  pkg/webui/components/event/types/message/message.styl
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/events/widget/story.js
  pkg/webui/components/events/widget/widget.styl
  pkg/webui/components/icon/index.js
  pkg/webui/components/list/index.js
  pkg/webui/components/list/item/index.js
  pkg/webui/components/list/list.styl
  pkg/webui/components/list/story.js
  pkg/webui/components/status/index.js
  pkg/webui/components/status/status.styl
  pkg/webui/components/status/story.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#569 Various Device creation fixes in JS SDK
  sdk/js/src/service/devices/index.js
Labels: bug, c/sdk/js

#572 Fix root keys retrieval in device overview
  pkg/webui/console/views/device/index.js
Labels: bug, c/console

#575 Generate release notes
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  go.mod
  go.sum
  tools.go
Labels: doc

#581 Component logging namespaces
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/component/tasks.go
  pkg/component/tasks_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/identityserver/identityserver.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/networkserver.go
  pkg/rpcmiddleware/rpclog/namespaces.go
Labels: c/shared

#563 Validate LoRaWAN MAC/PHY versions
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
  pkg/networkserver/grpc_deviceregistry.go
  pkg/ttnpb/lorawan.go
Labels: bug, c/cli

#435 Gateway Configuration Server configuration endpoint
  cmd/internal/shared/errors.go
  cmd/internal/shared/gatewayconfigurationserver/config.go
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayconfigurationserver/middleware.go
  pkg/gatewayconfigurationserver/store_util_test.go
  pkg/thethingsgateway/cups/handlers.go
  pkg/thethingsgateway/cups/handlers_test.go
  pkg/thethingsgateway/cups/middleware.go
  pkg/thethingsgateway/cups/server.go
  pkg/thethingsgateway/cups/server_test.go
Labels: c/gateway conf server

#587 Update event descriptions
  config/messages.json
  pkg/applicationserver/observability.go
  pkg/events/events_test.go
  pkg/events/grpc/grpc.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/oauth/observability.go
Labels: c/shared

#596 Clean up pkg/types
  pkg/types/aeskey.go
  pkg/types/dev_nonce.go
  pkg/types/devaddr.go
  pkg/types/devaddr_test.go
  pkg/types/eui.go
  pkg/types/join_nonce.go
  pkg/types/netid.go
  pkg/types/types.go
  pkg/types/types_test.go
Labels: c/shared, technical debt

#595 Use goroutine pool for handling upstream traffic
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_internal_test.go
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server

#590 Add configuration service to JS SDK
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/index.js
  sdk/js/src/service/configuration.js
  sdk/js/src/util/constants.js
Labels: c/sdk/js

#597 Fix ChannelMask in LinkADRReq mismatch with the frequency_plan
  pkg/networkserver/mac_link_adr.go
Labels: c/network server
