Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-06, with the labels that each got.

#780 console: Fix modal position
  pkg/webui/components/modal/modal.styl
Labels: bug, c/console

#779 Uplink retransmission handling improvements
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
Labels: c/network server

#776 Consistent fieldmask handling
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/web/grpc_webhooks.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry_test.go
  pkg/ttnpb/field_mask_validation.go
Labels: c/shared

#787 console: Remove tabIndex from tabs
  pkg/webui/components/tabs/index.js
Labels: c/console

#785 Add default values to gateway message count
  pkg/webui/console/containers/gateway-statistics/index.js
Labels: bug, c/console

#788 Merge correlation IDs from event context and event data
  pkg/events/correlation_context.go
  pkg/events/events.go
  pkg/events/events_test.go
Labels: bug, c/shared

#791 Update console deps
  package.json
  yarn.lock
Labels: c/console

#775 [Quickfix] Remove help text in add application view
  pkg/webui/console/views/application-add/application-add.styl
  pkg/webui/console/views/application-add/index.js
Labels: c/console

#793 Fix node package vulnerabilities / update packages
  .mage/js.go
  .travis.yml
  config/storybook/.babelrc
  config/storybook/webpack.config.js
  config/webpack.config.babel.js
  package.json
  yarn.lock
Labels: c/console, security

#797 [Quickfix] Use correct node version in release builds
  .travis.yml
Labels: bug, prio/medium

#784 IS maximum password length restriction
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server

#806 Fix documentation for frontend environment variables
  DEVELOPMENT.md
Labels: c/console

#807 Application Server Subscription Uplink Context
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking.go
Labels: c/application server, compat/api

#798 Make last breadcrumb unclickable
  pkg/webui/components/breadcrumbs/breadcrumb/breadcrumb.styl
  pkg/webui/components/breadcrumbs/breadcrumb/index.js
  pkg/webui/components/breadcrumbs/breadcrumbs.js
  pkg/webui/components/breadcrumbs/story.js
Labels: c/console

#803 js: Add GetJoinEuiPrefixes gRPC and tests
  api/api.md
  api/api.swagger.json
  api/joinserver.proto
  pkg/applicationserver/grpc.go
  pkg/gatewayserver/grpc.go
  pkg/joinserver/grpc.go
  pkg/joinserver/grpc_test.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_test.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.paths.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/join server, compat/api

#810 cli: Check length of key-value pair for attributes
  cmd/ttn-lw-cli/commands/flags.go
Labels: c/cli

#809 Fix Basic Station Issues
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/downstream.go
  pkg/gatewayserver/io/basicstationlns/messages/downstream_test.go
  pkg/gatewayserver/io/basicstationlns/messages/messages.go
  pkg/gatewayserver/io/basicstationlns/messages/messages_test.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream_test.go
Labels: c/gateway server

#815 Fix error handling in oauth app
  pkg/webui/oauth/views/app/index.js
Labels: bug, c/console

#813 Fix LNS credentials blob
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/messages_test.go
Labels: bug, c/cups

#792 Support multicast
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  config/messages.json
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/redis/registry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api.json
Labels: bug, c/network server

#819 [Quickfix] Fix Application Collaborators breadcrumb id
  pkg/webui/console/views/application-collaborators/index.js
Labels: bug, c/console

#821 [Quickfix] Fix api keys table pagination
  pkg/webui/console/containers/api-keys-table/index.js
Labels: bug, c/console

#817 Improve api-key/collaborator rights handling
  pkg/webui/components/api-key-form/create.js
  pkg/webui/components/api-key-form/edit.js
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/components/checkbox/story.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/rights-group/rights-group.styl
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/gateway.js
  pkg/webui/console/store/selectors/rights.js
  pkg/webui/console/views/application-api-key-add/application-api-key-add.styl
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/application-api-key-edit.styl
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/application-collaborator-add.styl
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#811 Add consistent page titles
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/app/index.js
  pkg/webui/template.go
Labels: c/console

#828 Test 'resets_join_nonces' behavior in JS
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
Labels: c/join server

#829 [Quickfix] Add error to device data form
  pkg/webui/console/views/device-add/index.js
Labels: bug, c/console

#824 Add global disabled prop to Form
  pkg/webui/components/form/index.js
  pkg/webui/components/form/submit/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
Labels: c/console

#841 Fix formatting of interop MAC version
  config/messages.json
  pkg/interop/types.go
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver.go
Labels: c/join server, c/shared

#832 Display empty root keys
  pkg/webui/console/views/device-overview/index.js
Labels: bug, c/console

#838 Init cluster before starting services
  pkg/component/component.go
Labels: c/shared

#836 Cleanup store selectors
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/gateway-statistics/index.js
  pkg/webui/console/containers/webhook-formats-select/index.js
  pkg/webui/console/store/middleware/logics/configuration.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/gateway.js
  pkg/webui/console/store/selectors/api-key.js
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/configuration.js
  pkg/webui/console/store/selectors/device.js
  pkg/webui/console/store/selectors/error.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateway.js
  pkg/webui/console/store/selectors/rights.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/store/selectors/webhook-formats.js
  pkg/webui/console/store/selectors/webhook.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-integration-edit/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/gateway/index.js
Labels: c/console, technical debt

#826 Normalize applications store
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/applications.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/pagination.js
  pkg/webui/console/store/reducers/tests/pagination_test.js
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/pagination.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integration-add/index.js
  pkg/webui/console/views/application-integration-edit/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
Labels: c/console

#851 Structure redux primitives for applications
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/store/actions/application.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/middleware/logics/application.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/applications.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/application.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
Labels: c/console

#848 [Quickfix] Adjust events middleware
  pkg/webui/console/containers/events-subscription/index.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/device.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/gateway.js
  pkg/webui/console/store/selectors/events.js
Labels: c/console

#854 Fix panic when getting session keys of empty session
  pkg/applicationserver/grpc_deviceregistry.go
Labels: c/application server, prio/high

#844 Make JS/GS/NS/AS optional
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/commands/events.go
  config/messages.json
  pkg/networkserver/networkserver_flow_test.go
Labels: c/cli, s/blocking/release

#855 [Quickfix] Fix gateway/device location submits
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/middleware/logics/device.js
  pkg/webui/console/store/middleware/logics/gateway.js
  pkg/webui/console/store/reducers/gateway.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
Labels: bug, c/console

#867 Refresh user token in console
  pkg/console/token.go
Labels: bug, c/console

#856 Introduce update action for applications
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/applications.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/pagination.js
  pkg/webui/console/store/reducers/tests/applications_test.js
  pkg/webui/console/store/reducers/tests/pagination_test.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application/index.js
Labels: bug, c/console

#862 [Quickfix] Various fixes and improvements
  pkg/ttnpb/lorawan.go
  pkg/types/netid.go
Labels: c/shared, s/blocking/issue

#880 Use Crypto Server only when provisioner ID is set
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
Labels: c/join server
