Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-07, with the labels that each got.

#886 Getting Started improvements
  doc/gettingstarted.md
Labels: doc

#884 Stop doing shallow git clones in Travis
  .travis.yml
Labels: bug

#897 Correct README typos
  README.md
Labels: doc, quickfix

#898 Application Server RPC tests harmonization
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/mqtt/mqtt_util_test.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/util_test.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: c/application server

#882 Avoid retrying non-retryable downlink errors
  pkg/networkserver/downlink.go
Labels: c/network server, s/blocking/release

#885 Fix GS address comparison in console
  pkg/webui/console/store/middleware/logics/gateway.js
Labels: c/console

#879 Fix address validation regexp in console
  pkg/webui/console/lib/regexp.js
Labels: bug, c/console

#888 Change device table title
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix

#892 Fetch missing fields for applications list view
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/middleware/logics/applications.js
  sdk/js/src/service/applications.js
Labels: bug, c/console, c/sdk/js

#894 Fetch missing fields for devices list view
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/middleware/logics/devices.js
Labels: bug, c/console

#895 Move API key name to first column
  pkg/webui/console/containers/api-keys-table/api-keys-table.styl
  pkg/webui/console/containers/api-keys-table/index.js
Labels: c/console, quickfix

#901 Restructure gateways redux store
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/gateway-statistics/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/actions/gateway.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateway.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/gateway.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/gateway/index.js
Labels: c/console

#902 Add missing AS Webhooks context filler
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/redis/registry.go
Labels: c/application server, quickfix

#913 Account for empty root keys
  pkg/joinserver/grpc_deviceregistry.go
Labels: c/join server, quickfix

#916 Use -failfast in go test commands by default
  .mage/go.go
Labels: quickfix

#917 Update protoc and grpc-gateway
  .mage/proto.go
  go.mod
  go.sum
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/contact_info.pb.gw.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/events.pb.gw.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/identityserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/oauth_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/user_services.pb.gw.go
Labels: quickfix

#914 Add default date to gateway statistics
  pkg/webui/console/containers/gateway-statistics/index.js
Labels: bug, c/console, quickfix

#910 Use Backend Interfaces Result objects
  pkg/component/interop_test.go
  pkg/interop/errors.go
  pkg/interop/errors_test.go
  pkg/interop/interop_test.go
  pkg/interop/messages.go
  pkg/interop/messages_test.go
  pkg/interop/types.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/http_interop_internal_test.go
Labels: c/join server, c/shared, quickfix, s/blocking/release

#900 Use configured component addresses as default on device update
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: c/cli, quickfix

#915 Add Crypto Server as cluster peer
  pkg/cluster/cluster.go
  pkg/config/shared.go
Labels: c/shared, quickfix

#923 General webui styling polish and fixes
  pkg/webui/components/breadcrumbs/breadcrumb/breadcrumb.styl
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/button/button.styl
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/header/header.styl
  pkg/webui/components/icon/index.js
  pkg/webui/components/input/input.styl
  pkg/webui/components/navigation/bar/bar.styl
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/navigation/side/side.styl
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
  pkg/webui/components/radio-button/group/group.styl
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/device-overview/device-overview.styl
  pkg/webui/console/views/device/device.styl
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/landing/landing.styl
  pkg/webui/lib/components/init.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/mixins.styl
  pkg/webui/styles/variables.styl
Labels: c/console

#925 GS context filling and registry options
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, prio/high, quickfix

#906 Adjust byte inputs in device form
  pkg/webui/components/input/byte.js
  pkg/webui/console/containers/device-data-form/index.js
  pkg/webui/console/containers/device-data-form/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#929 Remove Organization view stub and header entry
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/console/views/landing/index.js
  pkg/webui/console/views/organizations/index.js
Labels: c/console

#937 Fix issues with passing errors to device data form
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
Labels: c/console, quickfix

#934 Fix error reducer
  pkg/webui/console/store/reducers/tests/error_test.js
  pkg/webui/console/store/reducers/ui/error.js
Labels: bug, c/console, quickfix

#943 Fix dev_addr handling in device update/create
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
Labels: bug, c/console, quickfix

#920 Maximize Class A payload size
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
Labels: c/network server

#946 Initial Security policy
  SECURITY.md
Labels: doc

#948 Device Overview style improvements and fixes
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
  pkg/webui/console/views/device-overview/device-overview.styl
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix

#947 Prefer channel RSSI over signal as RSSI and support channel index
  api/api.md
  api/api.swagger.json
  api/messages.proto
  api/metadata.proto
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_populate.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.paths.fm.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  pkg/ttnpb/metadata_populate.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  sdk/js/generated/api.json
Labels: bump/minor, c/gateway server, c/shared, compat/api, prio/high, s/blocking/release

#956 Get console config from context when possible
  pkg/console/callback.go
  pkg/console/console.go
  pkg/console/login.go
  pkg/console/token.go
Labels: c/console, quickfix

#957 Update jest to fix vulnerabilities
  package.json
  sdk/js/package.json
  sdk/js/yarn.lock
  yarn.lock
Labels: c/console, c/sdk/js, quickfix, security

#958 Update node packages to fix vulnerabilities (cont'd)
  package.json
  sdk/js/package.json
  sdk/js/yarn.lock
  yarn.lock
Labels: c/console, c/sdk/js, quickfix, security

#959 Do not use unique.ID in linking test
  pkg/networkserver/networkserver_util_test.go
Labels: c/network server, quickfix

#955 Fix Network Server flow test
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#964 Update grpc-gateway dependency
  go.mod
  go.sum
Labels: quickfix

#965 as: Use unique ID in topic name
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server

#963 Write newline between template-formatted output of CLI
  cmd/ttn-lw-cli/internal/io/io.go
Labels: c/cli, quickfix

#962 Fix metrics prefix and gRPC labels
  pkg/metrics/grpc.go
  pkg/metrics/metrics.go
Labels: c/shared, discussion, quickfix

#961 Return ErrNotFound on deleting not found membership
  config/messages.json
  pkg/identityserver/store/membership_store.go
Labels: bug, c/identity server

#968 Fix goreleaser config
  .goreleaser.yml
Labels: s/blocking/release

#972 Check if device exists on join in set after get
  pkg/networkserver/grpc_gsns.go
Labels: c/join server, quickfix

#969 Fix flaky NS flow test
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#973 Document context filling and clarify use
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/component/component.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/grpc/grpc_util_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/mqtt/mqtt_util_test.go
  pkg/gatewayserver/io/udp/udp_test.go
Labels: c/application server, c/gateway server, c/shared

#981 Use Mage command for testing binaries
  .mage/go.go
  .travis.yml
Labels: quickfix

#980 ns: Fix metadata used in assertion
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server, quickfix

#984 Update yarn.lock to include latest patches
  yarn.lock
Labels: quickfix, security

#985 dev: Downgrade Echo to v4.1.2
  go.mod
  go.sum
  pkg/web/web_test.go
Labels: c/shared, s/blocking/release

#987 Make web initialization consistent with gRPC
  pkg/component/component.go
  pkg/component/web.go
  pkg/web/middleware/fillcontext.go
  pkg/web/middleware/fillcontext_test.go
  pkg/web/web.go
  pkg/web/web_test.go
Labels: c/shared

#990 GS and AS base config to I/O frontends
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/mqtt.go
Labels: c/application server, c/gateway server, prio/high, quickfix

#991 Start Console by default
  cmd/ttn-lw-stack/commands/start.go
Labels: c/cli, c/console, quickfix

#992 Minor AS pub/sub polishing
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/pubsub.go
Labels: c/application server, quickfix

#988 all: Add rpcserver tests
  pkg/rpcserver/loopback_test.go
  pkg/rpcserver/rpcserver_test.go
Labels: c/shared

#994 Add proper handling of disabled components to JS SDK
  sdk/js/generated/api-definition.json
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/api/stream/stream.js
  sdk/js/src/entity/application.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
  sdk/js/src/service/gateways.js
  sdk/js/util/http-mapper.js
Labels: c/sdk/js, s/blocking/release

#1000 Delete sucessfully extracted context data from events
  pkg/events/context.go
Labels: c/shared, quickfix

#954 Delete end devices in console
  pkg/webui/console/api/index.js
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, s/blocking/release, s/in progress

#1002 Implement setting webhook headers in CLI
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/flags.go
Labels: c/cli

#976 Add error code to ErrorDetails
  api/api.md
  api/api.swagger.json
  api/error.proto
  pkg/errors/conversion.go
  pkg/ttnpb/error.pb.go
  pkg/ttnpb/error.pb.paths.fm.go
  pkg/ttnpb/error.pb.setters.fm.go
  pkg/ttnpb/error.pb.validate.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/shared, s/blocking/issue

#1003 Identity Server code cleanup
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/email.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/picture/picture.go
  pkg/identityserver/registry_search_test.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/end_device_store_test.go
  pkg/identityserver/store/model.go
  pkg/identityserver/store/model_context.go
  pkg/identityserver/store/organization.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/pagination_test.go
  pkg/identityserver/store/user.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, technical debt

#931 Scroll form errors into view
  package.json
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/index.js
  yarn.lock
Labels: c/console, discussion

#1008 Fix redirect after app creation
  pkg/webui/console/views/application/index.js
Labels: bug, c/console, quickfix

#1001 Add API for getting single collaborator and implement in IS
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/application_services.proto
  api/client.proto
  api/client_services.proto
  api/gateway.proto
  api/gateway_services.proto
  api/organization.proto
  api/organization_services.proto
  api/rights.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/store/account.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights.pb.paths.fm.go
  pkg/ttnpb/rights.pb.setters.fm.go
  pkg/ttnpb/rights.pb.validate.go
  pkg/util/test/application_services.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/identity server, compat/api

#1010 Give OrganizationOrUserIdentifiers() pointer receiver
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  pkg/ttnpb/identifiers.go
Labels: bug, c/cli, quickfix

#998 Normalize gateways store
  pkg/webui/console/containers/gateway-statistics/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateway.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/tests/gateways_test.js
  pkg/webui/console/store/reducers/ui/error.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway/index.js
Labels: c/console

#974 Fix error handling of event streams
  pkg/webui/components/events/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/console/constants/connection-status.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/events-subscription/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/lib/components/error-message/error-message.styl
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Labels: c/console, c/sdk/js, s/blocking/release

#1012 Extend js sdk to fetch single collaborator
  sdk/js/src/service/applications.js
  sdk/js/src/service/collaborators.js
Labels: c/sdk/js

#1006 Move Getting Started contents to new doc site
  doc/config.toml
  doc/config.toml.tmpl
  doc/content/gettingstarted/_index.md
  doc/content/gettingstarted/cli/_index.md
  doc/content/gettingstarted/cli/class-c.md
  doc/content/gettingstarted/cli/create-application.md
  doc/content/gettingstarted/cli/create-end-device.md
  doc/content/gettingstarted/cli/create-gateway.md
  doc/content/gettingstarted/cli/downlink-queue.md
  doc/content/gettingstarted/cli/events.md
  doc/content/gettingstarted/cli/link-application.md
  doc/content/gettingstarted/cli/login.md
  doc/content/gettingstarted/cli/webhooks.md
  doc/content/gettingstarted/configuration.md
  doc/content/gettingstarted/dependencies.md
  doc/content/gettingstarted/http/_index.md
  doc/content/gettingstarted/http/events.md
  doc/content/gettingstarted/http/webhooks.md
  doc/content/gettingstarted/mqtt/_index.md
  doc/content/gettingstarted/mqtt/schedule.md
  doc/content/gettingstarted/mqtt/subscribe.md
  doc/content/gettingstarted/running-the-stack.md
  doc/gettingstarted.md
Labels: doc

#1007 Redirect user when accessToken not found
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/lib.js
  pkg/webui/lib/errors/utils.js
Labels: bug, c/console

#1013 Allow users to configure the CLI with an API Key
  cmd/ttn-lw-cli/commands/login.go
Labels: c/cli

#1015 Refactor rights handling in Identity Server
  config/messages.json
  pkg/auth/rights/fetcher.go
  pkg/auth/rights/hook.go
  pkg/auth/rights/hook_test.go
  pkg/auth/rights/list.go
  pkg/auth/rights/require.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights.go
  pkg/auth/rights/rights_test.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_access.go
Labels: bug, c/identity server, security

#1019 Fix isUnauthenticatedError error utility
  pkg/webui/lib/errors/utils.js
Labels: bug, c/console, quickfix, ui/web

#1025 console: Fix misaligned spinner
  pkg/webui/components/spinner/index.js
  pkg/webui/components/spinner/spinner.styl
Labels: c/console, ui/web

#1028 gs: Get fallback frequency plan ID from server context
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Labels: bug, quickfix

#1022 Fix collaborators handling in console
  pkg/webui/console/api/index.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/collaborators.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/collaborator.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/collaborators.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  sdk/js/src/service/collaborators.js
  sdk/js/src/service/gateways.js
Labels: c/console, c/sdk/js, ui/web

#995 Fix error detail usage
  api/api.md
  api/api.swagger.json
  api/error.proto
  api/gatewayserver.proto
  pkg/errors/conversion.go
  pkg/errors/details.go
  pkg/errors/details_test.go
  pkg/errors/errors.go
  pkg/errors/grpc.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/ttnpb/error.pb.go
  pkg/ttnpb/error.pb.paths.fm.go
  pkg/ttnpb/error.pb.setters.fm.go
  pkg/ttnpb/error.pb.validate.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.setters.fm.go
  pkg/ttnpb/gatewayserver.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: bug, c/gateway server, compat/api, prio/high, s/blocking/issue

#1037 Console overview page
  config/webpack.config.babel.js
  package.json
  pkg/webui/assets/animations/illustrations/app.json
  pkg/webui/assets/animations/illustrations/gateway.json
  pkg/webui/assets/auxiliary-icons/server.svg
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/console/store/reducers/pagination.js
  pkg/webui/console/store/reducers/tests/pagination_test.js
  pkg/webui/console/store/selectors/pagination.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/console/views/overview/overview.styl
  pkg/webui/lib/components/animation/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/main.styl
  pkg/webui/styles/variables.styl
  yarn.lock
Labels: c/console, s/blocking/release, ui/web

#1032 Remove unnecessary props passed by breadcrumbs context
  pkg/webui/components/breadcrumbs/context.js
Labels: c/console, quickfix, ui/web

#1043 Take frequency plan's max EIRP as override when set
  pkg/gatewayserver/io/io.go
Labels: c/gateway server, compat/behavior, prio/high, s/blocking/release

#1044 dev: Add Echo upgrade warning
  go.mod
Labels: goldplating, quickfix

#1045 Do not require abp flag for multicast
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: prio/high, quickfix, s/blocking/release, ui/cli

#1041 Add option to hide one page pagination
  pkg/webui/components/pagination/__snapshots__/index_test.js.snap
  pkg/webui/components/pagination/index.js
  pkg/webui/components/pagination/index_driver.js
  pkg/webui/components/pagination/index_test.js
  pkg/webui/components/table/__snapshots__/index_test.js.snap
Labels: c/console, ui/web

#1046 End device claim authentication code
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api.json
Labels: compat/api, prio/high, s/blocking/release, ui/cli

#1038 Add Rights to Events
  api/api.md
  api/api.swagger.json
  api/events.proto
  config/messages.json
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/observability.go
  pkg/auth/rights/require.go
  pkg/events/default.go
  pkg/events/definitions.go
  pkg/events/definitions_test.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/events/grpc/grpc.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/observability.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/observability.go
  pkg/oauth/observability.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  sdk/js/generated/api.json
Labels: c/shared, compat/api

#1011 Webhooks template support and path variables
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  api/applicationserver_web.proto
  config/messages.json
  go.mod
  go.sum
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/web/grpc_webhooks.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/templates.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/behavior, prio/high, s/blocking/release

#1048 Always replace the downlink task start time
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
Labels: c/network server, quickfix

#1036 Fix HTTP Error code conversion
  config/messages.json
  pkg/console/callback.go
  pkg/console/cookie_auth.go
  pkg/console/cookie_state.go
  pkg/errors/http.go
  pkg/errors/web/middleware.go
  pkg/errors/web/middleware_test.go
  pkg/web/error_handler.go
  pkg/webui/lib/errors/utils.js
Labels: bug, c/shared

#1039 Update release-notes
  go.mod
  go.sum
Labels: prio/high, quickfix, s/blocking/release

#1053 Remove profile settings menu entry
  pkg/webui/components/header/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#1056 Remove article from TTN
  DEVELOPMENT.md
  api/_api.proto
  api/api.swagger.json
  cmd/internal/shared/console/config.go
  cmd/internal/shared/identityserver/config.go
  cmd/ttn-lw-cli/internal/io/io.go
  pkg/events/default.go
  pkg/events/events.go
  pkg/metrics/metrics.go
  pkg/rpcmetadata/metadata.go
  pkg/ttnpb/_api.pb.go
  sdk/js/src/api/index.js
Labels: quickfix

#1058 Revoke sessions and access tokens on password change
  api/api.md
  api/api.swagger.json
  api/user.proto
  cmd/ttn-lw-cli/commands/users.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, security, ui/cli

#1057 Handling of server addresses in Console
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/devices/index.js
Labels: c/console, quickfix, s/blocking/release, ui/web

#1047 console: Fix Device tab display
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/views/device/device.styl
Labels: c/console, ui/web

#1062 Fix devices subview not found error handling
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/devices/index.js
  sdk/js/src/service/devices/split.js
Labels: bug, c/console, c/sdk/js, prio/high, ui/web

#1031 Fix component throw persistent error
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-integration-edit/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/lib/components/with-request.js
Labels: c/console, ui/web

#1059 Add Console version of the Getting Started
  doc/content/guides/getting-started/console/_index.md
  doc/content/guides/getting-started/console/api-key-created.png
  doc/content/guides/getting-started/console/api-key-creation.png
  doc/content/guides/getting-started/console/application-creation.png
  doc/content/guides/getting-started/console/application-link-creation.png
  doc/content/guides/getting-started/console/application-overview.png
  doc/content/guides/getting-started/console/device-abp-created.png
  doc/content/guides/getting-started/console/device-creation-1.png
  doc/content/guides/getting-started/console/device-creation-abp.png
  doc/content/guides/getting-started/console/device-creation-otaa.png
  doc/content/guides/getting-started/console/device-otaa-created.png
  doc/content/guides/getting-started/console/front.png
  doc/content/guides/getting-started/console/gateway-creation.png
  doc/content/guides/getting-started/console/gateway-overview.png
  doc/content/guides/getting-started/console/login.png
  doc/content/guides/getting-started/console/overview.png
Labels: c/console, doc, prio/high, s/blocking/release

#1064 Reuse fetching/error display logic in console views
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway/index.js
Labels: c/console, technical debt, ui/web

#1065 Fix user id leak on login
  config/messages.json
  pkg/oauth/user.go
Labels: bug, c/identity server, security

#1066 Only log JS registry errors as ERROR
  pkg/joinserver/joinserver.go
Labels: c/join server

#952 Fail downlink based on GS errors, fix retry logic
  config/messages.json
  pkg/errors/details.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/networkserver_util_test.go
  pkg/util/test/cluster.go
Labels: c/network server

#1071 Use DefaultHost from ACME config for non-SNI fallback
  pkg/component/tls.go
  pkg/config/tls.go
Labels: c/shared

#1073 Add breadcrumb to device general settings
  pkg/webui/console/views/device-general-settings/index.js
Labels: c/console, quickfix, ui/web

#1074 Improve proptypes
  pkg/webui/components/header/index.js
  pkg/webui/components/navigation/bar/index.js
  pkg/webui/components/navigation/side/side.js
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/containers/webhook-formats-select/index.js
Labels: c/console, quickfix, ui/web
