Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2019-11, with the labels that each got.

#1525 Extend webui config with QRG (Console / SDK)
  cmd/internal/shared/console/config.go
  pkg/console/console.go
  pkg/webui/console/api/index.js
  pkg/webui/constants/components.js
  sdk/js/src/util/constants.js
Labels: c/console, c/sdk/js, quickfix

#1529 Add high level IS component documentation
  doc/content/components/identity-server.md
  doc/content/reference/api/gateway.md
Labels: doc

#1532 Fix SDK faulty deletion of existing device during rollback
  CHANGELOG.md
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
Labels: bug, c/sdk/js, prio/medium

#1513 Update protoc image
  .mage/proto.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver_packages.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/error.pb.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.validate.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/message_services.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/mqtt.pb.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/regional.pb.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/user.pb.go
Labels: dependencies, tooling

#1536 Update tag casing in config
  pkg/config/shared.go
Labels: quickfix

#1535 Document CLI component and configuration
  doc/content/components/cli.md
  doc/content/reference/configuration/cli.md
  doc/content/reference/configuration/gateway-configuration-server.md
Labels: doc

#1531 Add Network Server and Join Server option documentation
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/join-server.md
  doc/content/reference/configuration/network-server.md
  pkg/config/shared.go
Labels: c/join server, c/network server, doc

#1537 Embed documentation as static assets
  .mage/docs.go
  CHANGELOG.md
  doc/themes/the-things-stack/layouts/partials/head.html
  pkg/web/web.go
Labels: doc, prio/high

#1539 Fix unwanted overwrite of unexposed root keys in (device settings)
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, prio/medium

#1540 Provide credentials using discover package
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/linking.go
Labels: c/application server, quickfix

#1544 Fix events error selector
  pkg/webui/console/store/selectors/events.js
Labels: bug, ui/web

#1524 Queue application uplinks
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/registry_test.go
  pkg/redis/redis.go
Labels: c/network server

#1542 Allow creating entities with organization as initial owner
  CHANGELOG.md
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/owners-select/connect.js
  pkg/webui/console/containers/owners-select/index.js
  pkg/webui/console/containers/owners-select/owners-select.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/applications.js
  sdk/js/src/service/gateways.js
Labels: c/console, ui/web

#1545 Fix error message component
  pkg/webui/console/views/error/error.styl
  pkg/webui/console/views/error/index.js
  pkg/webui/lib/components/error-message/index.js
  pkg/webui/oauth/views/error/full-view.styl
  pkg/webui/oauth/views/error/index.js
Labels: bug, c/console, prio/medium, quickfix, ui/web

#1546 Fix initial value for owner_id field
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/gateway-add/index.js
Labels: c/console, quickfix, ui/web

#1547 Rename remaining universal rights to pseudo rights
  CHANGELOG.md
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
Labels: bug, c/console, prio/medium, quickfix

#1549 Remove owner field from gateway edit form
  pkg/webui/console/components/gateway-data-form/index.js
Labels: bug, c/console, ui/web

#1551 Tweak Network Server downlink-related interval durations
  pkg/networkserver/downlink.go
Labels: c/network server, quickfix

#1557 Process MAC requests in retransmissions
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Labels: bug, c/network server

#1556 Fix table component prop-types
  pkg/webui/components/table/index.js
Labels: c/console, quickfix, ui/web

#1555 Support AWS instance credentials in blob config
  pkg/config/shared.go
Labels: c/shared, quickfix

#1519 Add path based sidebar expansion
  pkg/webui/components/navigation/side/index_driver.js
  pkg/webui/components/navigation/side/side.js
Labels: bug, c/console, ui/web

#1554 Expand Join EUI prefixes to prefill in device form
  CHANGELOG.md
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix.js
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix_test.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
Labels: c/console, ui/web

#1568 Detach footer from viewport
  pkg/webui/console/views/app/app.styl
Labels: c/console, ui/web

#1570 Fix blob config sharing
  pkg/applicationserver/applicationserver.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/interop/client.go
Labels: c/shared, quickfix

#1573 Remove ttn presets from js sdk
  sdk/js/.babelrc
  sdk/js/package.json
  sdk/js/yarn.lock
Labels: c/sdk/js, dependencies, quickfix

#1576 Increase connection timeout in AS tests
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server, quickfix

#1578 Remove hardware specific fields from router config
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/messages.go
  pkg/gatewayserver/io/basicstationlns/messages/messages_test.go
  pkg/pfconfig/shared/shared.go
Labels: c/gateway server

#1579 Promote pgalic96 to webui/sdk code owner
  CODEOWNERS
Labels: quickfix

#1583 Fix multicast device MAC state construction
  CHANGELOG.md
  doc/content/guides/class-c-multicast/_index.md
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
Labels: bug, c/network server

#1569 Add status tooltip
  pkg/webui/components/status/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1533 Improve email validation flow in the console and cli
  cmd/ttn-lw-cli/commands/contact_info.go
  config/messages.json
  pkg/identityserver/emails/validate.go
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/api/index.js
  pkg/webui/oauth/views/app/index.js
  pkg/webui/oauth/views/validate/index.js
Labels: c/identity server, status/blocking/release, ui/cli, ui/web

#1508 Add steps component
  pkg/webui/components/steps/index.js
  pkg/webui/components/steps/step/index.js
  pkg/webui/components/steps/step/step.styl
  pkg/webui/components/steps/steps.js
  pkg/webui/components/steps/steps.styl
  pkg/webui/components/steps/story.js
Labels: c/console, quickfix, ui/web

#1550 Check _KEYS rights, various key-related registry fixes
  CHANGELOG.md
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/redis/registry.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/redis/registry.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
  pkg/ttnpb/identifiers_test.go
  pkg/ttnpb/lorawan_populate.go
  pkg/ttnpb/messages_populate.go
  sdk/js/generated/api-definition.json
Labels: bug, c/application server, c/join server, c/network server, security, status/blocking/issue, status/blocking/release

#1582 Avoid unwanted renders with old data in withRequest() HOC
  pkg/webui/lib/components/with-request.js
Labels: bug, c/console, ui/web

#1594 Fix infinite loop in Redis
  pkg/networkserver/redis/application_uplink_queue.go
Labels: bug, c/network server, quickfix

#1592 Update protoc image and Go dependencies
  .mage/proto.go
  api/api.swagger.json
  go.mod
  go.sum
Labels: dependencies

#1585 Release 3.2.5
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: quickfix, security

#1600 Add checkmark on copy click and hide popup option
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/safe-inspector/safe-inspector.styl
Labels: c/console, ui/web

#1588 Touch devices in JS, NS and AS on set
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
Labels: quickfix, ui/cli

#1587 Feature/offline indicator
  package.json
  pkg/webui/components/footer/index.js
  pkg/webui/console/store/index.js
  pkg/webui/containers/offline-status/index.js
  pkg/webui/containers/offline-status/offline.styl
  pkg/webui/lib/selectors/offline.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console, ui/web

#1595 Refactor views to use new page title component
  pkg/webui/components/form/form.styl
  pkg/webui/components/form/index.js
  pkg/webui/components/page-title/index.js
  pkg/webui/components/page-title/page-title.styl
  pkg/webui/components/status/status.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/entity-title-section/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integrations-mqtt/application-integrations-mqtt.styl
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/index.js
  pkg/webui/console/views/application-integrations-webhook-add/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/organization-add/organization-add.js
  pkg/webui/console/views/organization-add/organization-add.styl
  pkg/webui/console/views/organization-api-key-add/organization-api-key-add.js
  pkg/webui/console/views/organization-api-key-edit/organization-api-key-edit.js
  pkg/webui/console/views/organization-collaborator-add/organization-collaborator-add.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/styles/mixins.styl
Labels: c/console, ui/web

#1604 Optimize Redis application uplink queue
  CHANGELOG.md
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, performance, prio/high, status/blocking/release

#1606 Update release process documentation
  DEVELOPMENT.md
Labels: doc

#1612 Prefer entity names over ids in breadcrumbs
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization/organization.js
Labels: c/console, ui/web

#1609 Fix withRequest HOC bug
  pkg/webui/lib/components/with-request.js
Labels: bug, c/console, prio/medium, quickfix, ui/web

#1610 Streamline spinner messages in console
  pkg/webui/components/overlay/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/lib/components/with-locale.js
  pkg/webui/lib/components/with-request.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/update-password/index.js
  pkg/webui/oauth/views/validate/index.js
Labels: bug, ui/web

#1571 Wrap API Key id in table with SafeInspector
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/console/containers/api-keys-table/index.js
Labels: c/console, ui/web

#1591 Encrypt stored keys
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/config.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/networkserver.go
Labels: c/application server, c/join server, c/network server, security

#1613 Update forum and Slack links
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  README.md
Labels: doc

#1605 Provide received_at in appropriate uplink messages
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/messages.proto
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/formatters/json_test.go
  pkg/applicationserver/linking.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: bump/minor, c/application server, c/network server, compat/api

#1624 Fix joining profile picture bucket URL
  pkg/identityserver/user_registry.go
Labels: bug, c/identity server, quickfix

#1589 Fix gateway location settings in console
  CHANGELOG.md
  sdk/js/src/util/marshaler.js
Labels: bug, c/console, ui/web

#1628 Remove redux-offline from store
  package.json
  pkg/webui/console/store/index.js
  pkg/webui/containers/offline-status/index.js
  yarn.lock
Labels: bug, c/console

#1619 Add The Things Gateway connection guide
  doc/content/guides/connecting-gateways/_index.md
  doc/content/guides/connecting-gateways/thethingskickstartergateway/_index.md
  doc/content/guides/connecting-gateways/thethingskickstartergateway/ttkg-config-window.png
  doc/content/guides/getting-started/cli/_index.md
  doc/content/guides/getting-started/console/_index.md
  doc/content/guides/getting-started/console/gateway-api-key-created.png
  doc/content/guides/getting-started/console/gateway-api-key-creation.png
Labels: doc, status/blocking/issue

#1627 Clear timer in SafeInspector
  pkg/webui/components/safe-inspector/index.js
Labels: bug, c/console

#1621 Change rxpk.brd from uint8 to uint16
  pkg/ttnpb/udp/packet_data.go
Labels: c/gateway server, compat/api

#1620 Improve logging of errors
  CHANGELOG.md
  config/messages.json
  pkg/errors/errors.go
  pkg/gatewayserver/io/udp/firewall.go
  pkg/gatewayserver/io/udp/firewall_test.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, c/shared, quickfix

#1581 Add Device Image to Entity Registry
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  cmd/internal/shared/identityserver/config.go
  cmd/ttn-lw-cli/commands/end_devices.go
  doc/content/reference/configuration/identity-server.md
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/picture.go
  pkg/identityserver/store/end_device.go
  pkg/identityserver/store/end_device_store.go
  pkg/identityserver/store/end_device_store_test.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli

#1633 Fix add application link checkbox error (+ other minor fixes)
  pkg/webui/console.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/oauth.js
Labels: bug, c/console, ui/web

#1636 Added support for Redis Sentinel
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
  pkg/config/shared.go
  pkg/events/redis/redis.go
  pkg/redis/redis.go
Labels: c/shared

#1639 doc: Fix sentence with too many 'ands'
  CONTRIBUTING.md
Labels: doc

#1642 Fix AppKey decryption in Join Server
  CHANGELOG.md
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
Labels: bug, c/join server, security, status/blocking/release

#1643 Use a map to determine the queried stack component based on the api endpoint URI prefix
  sdk/js/src/api/http.js
  sdk/js/src/util/constants.js
Labels: c/sdk/js

#1634 Streamline entity form descriptions and placeholders
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1590 Attach root path hashes to localStorage keys
  pkg/webui/console/lib/access-token.js
  pkg/webui/console/lib/cache.js
  pkg/webui/lib/string-to-hash.js
Labels: bug, c/console, prio/high, ui/web

#1625 Add warning about id re-use
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#1647 End Device Claiming API Reference
  doc/content/reference/api/end_device_claiming.md
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
Labels: doc

#1646 Support for `class-b-c.gateways` in CLI
  CHANGELOG.md
  api/messages.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/networkserver/downlink.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
Labels: compat/api, ui/cli

#1593 Add flag for API key for gateway linking in simulation
  cmd/ttn-lw-cli/commands/simulate.go
Labels: quickfix, ui/cli

#1650 Remove v prefix from development versions
  .mage/version.go
  pkg/version/ttn.go
  pkg/version/version.go
Labels: c/shared, quickfix

#1651 Improve documentation related to config
  doc/content/guides/getting-started/cli/_index.md
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
Labels: doc, quickfix

#1657 Prepare TLS client certificate wildcards in interop
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/kek_labelers_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
Labels: c/shared

#1668 Fix race condition in NS test
  pkg/networkserver/grpc_gsns_test.go
Labels: bug, c/network server, quickfix

#1658 Fix scheme and port for The Things Kickstarter Gateway
  doc/content/guides/connecting-gateways/thethingskickstartergateway/_index.md
  pkg/thethingsgateway/cups/handlers.go
  pkg/thethingsgateway/cups/handlers_test.go
  pkg/thethingsgateway/cups/server_test.go
Labels: c/gateway conf server

#1667 Various Redis improvements
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/redis/registry.go
  pkg/redis/redis.go
Labels: c/shared, prio/high, status/blocking/issue
