Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-10, with the labels that each got.

#3300 Minor Network Server refactoring
  pkg/networkserver/networkserver.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, quickfix

#3303 Log invalid Redis arguments and validate MAC versions
  pkg/networkserver/redis/registry.go
Labels: c/network server, prio/high, quickfix

#3309 util: Remove docs tooling
  .github/workflows/go.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  tools/mage/go.go
  tools/mage/version.go
Labels: tooling

#3307 Set ChannelRSSI to RSSI in MQTT V2
  CHANGELOG.md
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
Labels: c/gateway server, documentation, quickfix

#3310 Fix panic when MAC version unknown
  config/messages.json
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/registry.go
Labels: blocking/issue, blocking/release, bug, c/network server, prio/high, quickfix

#3299 Remove `No prefix` field if nothing is to be shown
  pkg/webui/console/components/join-eui-prefixes-input/compute-prefix.js
  pkg/webui/console/components/join-eui-prefixes-input/compute-prefix_test.js
  pkg/webui/console/components/join-eui-prefixes-input/index.js
  pkg/webui/console/components/join-eui-prefixes-input/join-eui-prefixes-input.styl
  pkg/webui/console/containers/join-eui-prefixes-input/connect.js
  pkg/webui/console/containers/join-eui-prefixes-input/index.js
  pkg/webui/console/views/device-add/connect.js
  pkg/webui/console/views/device-add/device-add.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3313 Use Gateway IDs retrieved from IS for upstream
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
Labels: bug, c/gateway server, documentation

#3314 Fix regexp validation error messages
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema.js
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
Labels: c/console, quickfix, ui/web

#3302 Set frame counter width in the Console
  CHANGELOG.md
  pkg/webui/components/form/field/index.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, ui/web

#3317 Fix pending FNwkSIntKey key write condition
  pkg/networkserver/redis/registry.go
Labels: blocking/release, bug, c/network server

#3315 Adjust entity title section styles
  pkg/webui/console/components/entity-title-section/content/entity-count/entity-count.styl
  pkg/webui/console/components/entity-title-section/content/entity-count/index.js
  pkg/webui/console/containers/application-title-section/status/status.styl
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.styl
Labels: c/console, quickfix, ui/web

#3323 Fix applicaton and device title section
  pkg/webui/console/containers/application-title-section/status/index.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
Labels: c/console, ui/web

#3298 Consumed airtime metadata in uplink messages
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/join.proto
  api/messages.proto
  pkg/networkserver/grpc_gsns.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/join.pb.paths.fm.go
  pkg/ttnpb/join.pb.setters.fm.go
  pkg/ttnpb/join.pb.validate.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, documentation

#3328 Fix `Use credentials` option being always checked in Pub/Sub edit form
  CHANGELOG.md
  pkg/webui/console/components/pubsub-form/mapping.js
Labels: c/console, documentation, ui/web

#3319 Always account for LinkADR index rejections
  CHANGELOG.md
  pkg/band/band.go
  pkg/encoding/lorawan/mac.go
  pkg/networkserver/internal/test/shared/shared.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/beacon_timing_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils.go
Labels: blocking/release, c/network server, prio/high

#3306 Fix event data preview errors
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-downlink.js
  pkg/webui/console/components/events/previews/gateway-status.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, ui/web

#3336 Drop toa computation error message to debug level
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, quickfix

#3294 Set location metadata in uplink messages forwarded by the AS
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/messages.proto
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/device_fetcher.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: blocked, c/application server, c/identity server, compat/api, compat/config, documentation

#3331 Introduce CompatibilityVersion in Redis registry
  pkg/networkserver/redis/registry.go
Labels: blocking/release, bug, c/network server

#3337 Extend dial backoff configuration for application frontends in the AS
  pkg/applicationserver/io/backoff.go
Labels: c/application server

#3347 Fix Redis matching key check
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/scripts.go
Labels: blocking/release, bug, c/network server

#3344 Allow reusing DevAddr when required
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

#3349 Add JS dependencies timeout in CI
  .github/workflows/general.yml
  .github/workflows/js.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: quickfix

#3350 Fix Network Server DevAddr matching issues
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: bug, c/network server

#3348 Use correct coding rates in LoRa 2.4 GHz
  CHANGELOG.md
  pkg/band/ism_2400.go
  pkg/toa/toa.go
  pkg/toa/toa_test.go
Labels: documentation, quickfix

#3346 Fix end device import crashes in Firefox
  CHANGELOG.md
  pkg/webui/components/progress-bar/index.js
  pkg/webui/lib/components/date-time/index.js
Labels: bug, c/console, documentation, ui/web

#3352 Recognize request errors and x509 errors
  config/messages.json
  pkg/errors/conversion.go
Labels: quickfix

#3339 Open Source Storage Integration protos and CLI
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  cmd/ttn-lw-cli/commands/storage_integration.go
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  pkg/ttnpb/applicationserver_integrations_storage.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.gw.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, documentation, ui/cli

#3366 Remove mage version:files from non-release builds
  .github/workflows/general.yml
  .github/workflows/release-snapshot.yml
  api/api.md
  api/applicationserver_integrations_storage.proto
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  sdk/js/generated/api.json
Labels: quickfix

#3365 Delete extra gateway created in tests
  pkg/identityserver/gateway_registry_test.go
Labels: blocking/issue, blocking/release, c/identity server, quickfix

#3358 Handle NewChannelReq data rate and DLChannelReq frequency rejections
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/mac/beacon_freq.go
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/mac/mac.go
  pkg/networkserver/mac/new_channel.go
  pkg/networkserver/mac/new_channel_test.go
  pkg/networkserver/mac/rx_param_setup.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/util.go
  sdk/js/generated/api.json
Labels: c/network server, prio/medium

#3367 Write devStack logs to file
  .github/workflows/e2e.yml
  tools/mage/dev.go
Labels: quickfix, tooling

#3369 Refactoring of Network Server matching for consistency with TTES
  pkg/networkserver/redis/registry.go
Labels: c/network server

#3359 Add base pub/sub e2e tests
  cypress/integration/console/integrations/pub-subs/create.spec.js
  cypress/support/commands.js
  pkg/webui/components/select/index.js
Labels: c/console, tooling, ui/web

#3354 Allow admins to see all organizations in the Console
  CHANGELOG.md
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/store/middleware/logics/organizations.js
Labels: c/console, documentation, ui/web

#3368 Fix dial task backoff extension
  pkg/applicationserver/io/backoff.go
  pkg/applicationserver/io/pubsub/integrate_internal_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
Labels: c/application server, quickfix

#3343 Improve Pub/Sub MQTT driver context propagation
  CHANGELOG.md
  go.mod
  go.sum
  pkg/applicationserver/io/pubsub/provider/mqtt/driver.go
  pkg/applicationserver/io/pubsub/provider/mqtt/driver_internal_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/internal_util_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/wait.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  tools/go.sum
Labels: bug, c/application server, dependencies, documentation, prio/high

#3277 Join Server Application Activation Setting Registry
  api/api.md
  api/api.swagger.json
  api/joinserver.proto
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/payload.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/joinserver/config.go
  pkg/joinserver/errors.go
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/joinserver/joinserver_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.paths.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/util/test/util.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: blocking/release, c/join server, compat/api, prio/medium

#3375 Fix matching of 16-bit FCnt devices resetting FCnt
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: blocking/release, bug, c/network server, prio/high

#3376 Improve JS error handling
  config/messages.json
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver.go
Labels: c/join server, quickfix

#3377 Add `data-test-id` attribute to toast
  pkg/webui/components/toast/toast.js
Labels: quickfix, tooling, ui/web

#3379 Validate end device identifiers on downlink operations
  pkg/applicationserver/io/mqtt/mqtt.go
Labels: blocking/release, bug, c/application server, quickfix

#3378 Fix changelog reference in release notes
  .github/workflows/release-tag.yml
Labels: quickfix, tooling

#3380 Release Candidate 3.10.0-rc1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3382 Fix index range in Network Server
  pkg/networkserver/redis/registry.go
Labels: bug, c/network server

#3383 Fix device matching
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: bug, c/network server, quickfix

#3384 Avoid updating dowlink task on queue deletion
  pkg/networkserver/grpc_asns.go
Labels: bug, c/network server, quickfix

#3289 Add downlink count for end devices in the Console
  CHANGELOG.md
  pkg/webui/console/components/entity-title-section/content/messages-count/messages-count.styl
  pkg/webui/console/containers/device-title-section/connect.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/devices.js
Labels: c/console, documentation, ui/web

#3373 Fix end device wizard values reset
  CHANGELOG.md
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/index.js
Labels: bug, c/console, documentation, ui/web

#3387 Remove unnecessary error notifications for event streams
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-events/organization-events.js
Labels: c/console, quickfix, technical debt, ui/web

#3393 Skip token exchange when no state cookie is present
  pkg/web/oauthclient/callback.go
Labels: c/console, technical debt

#3391 Fix logout redirect loops for clients without logout redirect URIs
  CHANGELOG.md
  pkg/oauth/server_test.go
  pkg/oauth/user.go
Labels: bug, c/console, c/identity server, documentation

#3389 Prevent panic when device fails to rematch
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server

#3385 Use correct TLS server name in cluster connections
  pkg/cluster/cluster.go
Labels: c/shared, quickfix

#3390 gs: Add primary frequency plan to connection
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
Labels: c/gateway server, quickfix

#3381 as: Raise log level of MQTT dis-, re- and connects
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
Labels: c/application server, quickfix

#3399 Bump to version 3.10.0-rc2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3388 Fix pausing of event streams in Console
  CHANGELOG.md
  pkg/webui/console/components/events/index.js
  pkg/webui/console/components/events/list.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-events/organization-events.js
  pkg/webui/console/lib/events/definitions.js
  pkg/webui/console/lib/events/utils.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/actions/events.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, documentation, technical debt, ui/web

#3403 Change wording of our versioning system
  CHANGELOG.md
  README.md
Labels: documentation, quickfix

#3404 Update Configuration for GitHub Action that adds labels to Pull Requests
  .github/labeler.yml
Labels: quickfix

#3405 Update CODEOWNERS file
  CODEOWNERS
Labels: quickfix

#3326 Update gateway antenna location only when auth is available
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/identityserver/gateway_registry.go
  pkg/ttnpb/gateway.pb.go
  sdk/js/generated/api.json
Labels: bug, c/gateway server, c/identity server, compat/api, documentation, ui/web

#3407 Add This is you indicator in collaborators table
  pkg/webui/console/containers/collaborators-table/collaborators-table.styl
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3411 Add `jsconfig.json` to `webui` package
  pkg/webui/jsconfig.json
Labels: quickfix, tooling, ui/web

#3414 Change rights for managing application links
  CHANGELOG.md
  pkg/applicationserver/grpc.go
  pkg/applicationserver/linking_test.go
Labels: blocking/release, c/application server, quickfix

#3409 Fix JS AAS usage
  CHANGELOG.md
  config/messages.json
  pkg/joinserver/errors.go
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/redis/codec/main.go
Labels: blocking/release, c/join server, compat/db, prio/medium

#3419 Send downlink queue invalidated messages upstream
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  api/applicationserver_web.proto
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/topics/layout.go
  pkg/applicationserver/io/mqtt/topics/v3.go
  pkg/applicationserver/io/mqtt/topics/v3_test.go
  pkg/applicationserver/io/pubsub/provider/connection.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/templates.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: blocking/release, c/application server, compat/api, prio/medium, ui/web

#3420 Update protoc and grpc-gateway
  api/api.swagger.json
  go.mod
  go.sum
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.gw.go
  pkg/ttnpb/applicationserver_packages.pb.gw.go
  pkg/ttnpb/applicationserver_pubsub.pb.gw.go
  pkg/ttnpb/applicationserver_web.pb.gw.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/contact_info.pb.gw.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/events.pb.gw.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/identityserver.pb.gw.go
  pkg/ttnpb/joinserver.pb.gw.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/oauth_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/user_services.pb.gw.go
  tools/go.mod
  tools/go.sum
  tools/mage/proto.go
Labels: compat/api

#3412 Update `webui` dependencies
  config/jest/setup.js
  package.json
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/index_driver.js
  pkg/webui/components/navigation/side/index_test.js
  pkg/webui/components/navigation/side/item/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/item/index_driver.js
  pkg/webui/components/navigation/side/item/index_test.js
  pkg/webui/components/pagination/__snapshots__/index_test.js.snap
  pkg/webui/components/pagination/index_driver.js
  pkg/webui/components/pagination/index_test.js
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index_driver.js
  pkg/webui/components/profile-dropdown/index_test.js
  pkg/webui/components/table/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/index_driver.js
  pkg/webui/components/table/cell/index_test.js
  pkg/webui/components/table/index_driver.js
  pkg/webui/components/table/index_test.js
  pkg/webui/components/table/sort-button/__snapshots__/index_test.js.snap
  pkg/webui/components/table/sort-button/index_driver.js
  pkg/webui/components/table/sort-button/index_test.js
  pkg/webui/console/containers/gateway-connection/tests/__snapshots__/gateway-connection-reactor_test.js.snap
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_driver.js
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_test.js
  yarn.lock
Labels: c/console, dependencies, quickfix, tooling, ui/web

#3421 Optimize Network Server device storage
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/gogoproto/fields_test.go
  pkg/goproto/fields_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/network server, c/performance, compat/api, prio/medium

#3423 Block new registrations of product names
  pkg/identityserver/blacklist/builtin.go
Labels: c/identity server, quickfix
