Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-03, with the labels that each got.

#2052 Per-session application downlink queue in Network Server
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/registry.go
  pkg/networkserver/utils.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, status/blocking/issue

#2067 Fix error types in cluster package
  config/messages.json
  pkg/cluster/cluster.go
Labels: c/shared, quickfix

#2077 Contact Info and Validation Improvements
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/contact_info.go
  config/messages.json
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, ui/cli

#2072 Add device authentication code page
  CHANGELOG.md
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/host-from-url.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, ui/web

#2081 Convert Redis transaction errors
  config/messages.json
  pkg/redis/errors.go
Labels: c/shared

#2083 Skip forward entry if prefixes are empty
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, quickfix

#2087 Do not convert context errors
  pkg/identityserver/store/store.go
Labels: c/identity server, quickfix

#2084 Move config structs to appropriate packages
  cmd/internal/shared/config.go
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/web/grpc_webhooks_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking_test.go
  pkg/cluster/auth_test.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/component/cluster_test.go
  pkg/component/component.go
  pkg/component/grpc_test.go
  pkg/config/shared.go
  pkg/encoding/lorawan/lorawan_test.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/gatewayconfigurationserver/gatewayconfigurationserver_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/redis/redis.go
  pkg/ttnpb/populate_test.go
  pkg/util/test/redis.go
Labels: c/shared, quickfix

#2036 Store gateway connection stats on Redis
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  doc/content/reference/configuration/gateway-server.md
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server

#1999 Update gateway location from status messages
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  cmd/internal/shared/gatewayserver/config.go
  doc/content/reference/configuration/gateway-server.md
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/io.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/udp/translation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/gateway server, c/identity server, compat/db

#2086 Add validation to identifiers oneofs
  api/identifiers.proto
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.validate.go
Labels: c/shared, quickfix

#2085 Add generate input component
  package.json
  pkg/webui/components/button/index.js
  pkg/webui/components/input/byte.js
  pkg/webui/components/input/generate.js
  pkg/webui/components/input/index.js
  pkg/webui/components/input/story.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console, ui/web

#2088 Fix panic when unregistered Basic Station gateways connect
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Labels: bug, c/gateway server, quickfix

#1985 Add optional setting of pubsub credentials
  CHANGELOG.md
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, ui/web

#2090 is: Add default value for update_location_from_status field
  pkg/identityserver/store/gateway.go
Labels: bug, c/identity server, quickfix

#2089 Fix missing total count header when listing authorizations
  pkg/identityserver/store/oauth_store.go
Labels: bug, c/identity server, quickfix

#2096 Do not warn about EOF errors in MQTT
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt.go
Labels: c/application server, c/gateway server, quickfix

#2095 Avoid installing doc on Homebrew
  .goreleaser.yml
Labels: bug, tooling

#1793 doc: Added MultiTech Conduit AEP gateway documentation
  doc/.config.toml.swp
  doc/content/guides/connecting-gateways/multitechconduit/001_Gateway_Frequency_plan_manual_config.png
  doc/content/guides/connecting-gateways/multitechconduit/001_Multitech_Conduit_AEP.png
  doc/content/guides/connecting-gateways/multitechconduit/002_Gateway_Frequency_plan_manual_config.png
  doc/content/guides/connecting-gateways/multitechconduit/005_Gateway_Menu_LoRaWAN.png
  doc/content/guides/connecting-gateways/multitechconduit/006_Packet_Forwarder_Gateway.png
  doc/content/guides/connecting-gateways/multitechconduit/007_Channel_Plan.png
  doc/content/guides/connecting-gateways/multitechconduit/008_Server_Setup_Configuration.png
  doc/content/guides/connecting-gateways/multitechconduit/011_Gateway_Menu_Save-And-Restart.png
  doc/content/guides/connecting-gateways/multitechconduit/012_System_Confirmation_Prompt.png
  doc/content/guides/connecting-gateways/multitechconduit/016_Packet_Forwarder.png
  doc/content/guides/connecting-gateways/multitechconduit/017_001_Gateway_Menu_LoRaWAN.png
  doc/content/guides/connecting-gateways/multitechconduit/017_002_Gateway_Menu_Save-And-Restart.png
  doc/content/guides/connecting-gateways/multitechconduit/017_Firmware_Upgrade.png
  doc/content/guides/connecting-gateways/multitechconduit/018_Packet_Forwarder_Gateway.png
  doc/content/guides/connecting-gateways/multitechconduit/019_Channel_Plan.png
  doc/content/guides/connecting-gateways/multitechconduit/020_Server_Setup_Configuration.png
  doc/content/guides/connecting-gateways/multitechconduit/023_System_Confirmation_Prompt.png
  doc/content/guides/connecting-gateways/multitechconduit/024_Firmware_Upgrade.png
  doc/content/guides/connecting-gateways/multitechconduit/028_Packet_Forwarder.png
  doc/content/guides/connecting-gateways/multitechconduit/_index.md
Labels: doc

#2082 Add version to docs
  doc/themes/the-things-stack/layouts/partials/nav.html
Labels: doc

#2048 Fix device general settings for users w/o RIGHT_APPLICATION_DEVICES_{READ|WRITE}_KEYS rights
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/messages.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/console/views/device/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, ui/web

#2105 Fix form component info prop type
  pkg/webui/components/form/index.js
Labels: c/console, quickfix

#2101 Gateway Server ignores cache options
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  pkg/gatewayserver/gatewayserver.go
Labels: bug, c/gateway server, quickfix

#2080 UDP firewall flood checking
  CHANGELOG.md
  config/messages.json
  doc/content/reference/configuration/gateway-server.md
  pkg/gatewayserver/io/udp/firewall_ratelimit.go
  pkg/gatewayserver/io/udp/firewall_ratelimit_test.go
  pkg/gatewayserver/io/udp/timestamps.go
  pkg/gatewayserver/io/udp/timestamps_test.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, scalability, security

#2109 Fix f_nwk_s_int_key title display in device overview
  pkg/webui/console/views/device-overview/index.js
Labels: c/console, quickfix, ui/web

#2111 Update kerlink-wirnet-firmware version
  doc/content/guides/connecting-gateways/kerlinkwirnetistation/_index.md
  doc/content/guides/connecting-gateways/kerlinkwirnetstation/_index.md
Labels: bug, doc

#2116 Clean byte input value in onBlur handler
  pkg/webui/components/input/byte.js
Labels: c/console, quickfix, ui/web

#2114 Refactor MQTT topics
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/mqtt/format_protobuf.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/mqtt/topics/pb.go
  pkg/gatewayserver/io/mqtt/topics/pb_test.go
  pkg/gatewayserver/io/mqtt/topics/pbv2.go
  pkg/gatewayserver/io/mqtt/topics/pbv2_test.go
Labels: c/gateway server, status/blocking/issue

#2115 Fix Downlink FCnt encoding
  CHANGELOG.md
  pkg/encoding/lorawan/messages.go
  pkg/encoding/lorawan/messages_test.go
Labels: bug, c/network server

#2107 Fix external JS check for end devices in Console
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-general-settings/utils.js
Labels: c/console, ui/web

#2104 Setup Redis configuration on initialization
  cmd/internal/shared/events.go
  cmd/internal/shared/init.go
Labels: technical debt

#2127 Include pending downlink queue in invalidation
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Labels: bug, c/application server, c/network server

#2118 Fix device creation for users w/o RIGHT_APPLICATION_DEVICES_WRITE_KEYS right
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-overview/index.js
Labels: c/console, ui/web

#2124 "auto_update" Gateway field paths
  pkg/identityserver/store/gateway.go
Labels: bug, c/identity server

#2121 Move config from Dockerfile to YAML and docker-compose
  config/stack/ttn-lw-stack.yml
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
Labels: bug, tooling

#2133 Fix disabled component description in device general settings
  pkg/webui/console/views/device-general-settings/index.js
Labels: c/console, quickfix, ui/web

#2129 Fix creating 1.0.4 ABP devices in the Console
  CHANGELOG.md
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-overview/index.js
Labels: bug, c/console, ui/web

#2137 Offline status use browsers onLine status as default state
  pkg/webui/containers/offline-status/index.js
Labels: quickfix, ui/web

#2138 Return unwrapped AppSKey from device registry setter
  pkg/applicationserver/grpc_deviceregistry.go
Labels: c/application server

#2128 Extract useful event utilities
  go.mod
  go.sum
  pkg/auth/rights/fetcher_test.go
  pkg/auth/rights/mock_test.go
  pkg/auth/rights/require.go
  pkg/auth/rights/rightsutil/rightsutil.go
  pkg/events/grpc/grpc.go
Labels: quickfix

#2126 Test rate limiting firewall recovers
  pkg/gatewayserver/io/udp/firewall_ratelimit_test.go
Labels: c/gateway server

#2110 Network Server deduplication, uplink testing and fixes
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/band/band.go
  pkg/gatewayserver/io/basicstationlns/messages/util.go
  pkg/networkserver/accumulator.go
  pkg/networkserver/accumulator_test.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/uplink_deduplicator.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/redis/errors.go
  pkg/redis/redis.go
  pkg/redis/redis_internal_test.go
  pkg/redis/redis_test.go
  pkg/util/test/assertions/errors.go
  pkg/util/test/cluster.go
  pkg/util/test/logger.go
  pkg/util/test/proto.go
  pkg/util/test/proto_test.go
  pkg/util/test/time.go
  pkg/util/test/time_test.go
Labels: bug, c/network server, prio/medium

#2141 Fix synchronizing Basic Station concentrator time
  CHANGELOG.md
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/scheduling/clock_test.go
Labels: c/gateway server

#2142 Support multiple proto directories in fix-grpc-gateway-names
  .mage/scripts/fix-grpc-gateway-names.sh
Labels: bug, status/blocking/issue, tooling

#2145 Sleep before retrying uplink sending in flow test
  pkg/networkserver/networkserver_flow_test.go
Labels: bug, c/network server

#2152 Hide pages for disabled stack components in Console
  pkg/webui/console/views/device/index.js
Labels: c/console, quickfix, ui/web

#2155 Remove latest and major Docker tags
  .goreleaser.yml
  DEVELOPMENT.md
Labels: tooling

#2154 Add locking for writing websocket messages
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
Labels: c/gateway server

#2146 Corellate user sessions with access tokens
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/oauth.proto
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/store/oauth.go
  pkg/identityserver/store/oauth_store.go
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/oauth.pb.paths.fm.go
  pkg/ttnpb/oauth.pb.setters.fm.go
  pkg/ttnpb/oauth.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/db

#2149 Only grant admin rights when user state is approved
  CHANGELOG.md
  pkg/identityserver/entity_access.go
Labels: bug, security

#2158 Update vulnerable packages
  package.json
  yarn.lock
Labels: security, ui/web

#2165 Use unambiguous datetime format
  CHANGELOG.md
  pkg/webui/lib/components/date-time/index.js
Labels: c/console, ui/web

#2164 dev: Change URL to URI in IS DB config
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
Labels: bug, quickfix

#2169 Fix uplink handling in Network Server
  CHANGELOG.md
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
Labels: bug, c/network server

#2174 Fix flaky Redis TTL test
  pkg/redis/redis_test.go
Labels: bug, quickfix

#2173 Fix gateway events stream release in Console
  CHANGELOG.md
  pkg/webui/console/views/gateway/index.js
Labels: bug, c/console, prio/high, ui/web

#2175 Improve database transaction error handling
  pkg/identityserver/store/store.go
Labels: c/identity server, quickfix

#2180 Add test delay to rpcserver
  pkg/rpcserver/rpcserver_test.go
Labels: quickfix

#2176 Only send either of the queues in invalidation
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Labels: c/application server, c/network server, quickfix

#2168 Document releasing backports
  DEVELOPMENT.md
Labels: doc

#2183 Fix closing event streams in firefox
  CHANGELOG.md
  sdk/js/src/api/stream/stream.js
Labels: bug, c/console, prio/high, status/blocking/release, ui/web

#2161 Fix invalid Cache Redis configuration
  cmd/internal/shared/init.go
  cmd/ttn-lw-stack/commands/root.go
Labels: bug, status/blocking/release

#2162 Remove external JS option for JS only deployments
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
Labels: c/console, ui/web

#2181 Update Snapcraft credentials
  .travis.yml
  snapcraft.login.enc
Labels: quickfix, tooling

#2188 Fix Network Server metrics
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/observability.go
Labels: c/network server, quickfix, status/blocking/release

#2191 Fix non-deterministic test in Identity Server
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, quickfix

#2185 Update Go and Modules
  .github/workflows/go-test.yml
  .travis.yml
  DEVELOPMENT.md
  go.mod
  go.sum
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/joinserver.pb.go
Labels: dependencies

#2186 Network Server uplink handling fixes and testing
  CHANGELOG.md
  pkg/encoding/lorawan/mac.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/util/test/events.go
Labels: bug, c/network server, prio/medium, quickfix, status/blocking/release

#2189 Edit application attributes
  CHANGELOG.md
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-general-settings/mapping.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/applications.js
Labels: c/console

#2194 Update grpc gateway
  go.mod
  go.sum
  pkg/jsonpb/copy.sh
  pkg/jsonpb/marshaling.go
  pkg/jsonpb/utils.go
Labels: dependencies, quickfix, tooling

#2193 Clarify compatibility commitment
  README.md
Labels: doc

#2197 Initialize UDP data regardless of payload
  CHANGELOG.md
  pkg/ttnpb/udp/packet.go
  pkg/ttnpb/udp/packet_test.go
Labels: backport, c/gateway server

#2199 Reencrypt snapcraft credentials
  snapcraft.login.enc
Labels: tooling

#2187 Release v3.6.2
  .goreleaser.yml
  .mage/scripts/fix-grpc-gateway-names.sh
  CHANGELOG.md
  DEVELOPMENT.md
  doc/config.toml
  doc/content/guides/getting-started/configuration.md
  doc/themes/the-things-stack/package.json
  docker-compose.yml
  package.json
  pkg/encoding/lorawan/mac.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/store/store.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/observability.go
  pkg/redis/redis_test.go
  pkg/rpcserver/rpcserver_test.go
  pkg/ttnpb/udp/packet.go
  pkg/ttnpb/udp/packet_test.go
  pkg/util/test/events.go
  pkg/version/ttn.go
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/components/date-time/index.js
  sdk/js/package.json
  yarn.lock
Labels: release

#2200 Improve error stacks follow-up
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/auth/auth.go
  pkg/auth/pbkdf2/pbkdf2.go
  pkg/crypto/cryptoservices/mem.go
  pkg/fetch/fetch.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/messages/util.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/identityserver/picture/picture.go
  pkg/identityserver/store/api_key_store.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_link_adr.go
  pkg/pfconfig/basicstationlns/basicstationlns.go
  pkg/provisioning/microchip.go
  pkg/rpcmiddleware/discover/discover.go
  pkg/toa/toa.go
  pkg/ttnpb/udp/packet.go
  pkg/types/devaddr.go
  pkg/types/netid.go
  pkg/types/types.go
  pkg/util/datarate/data_rate.go
Labels: quickfix

#2201 Revert snapcraft credentials
  .travis.yml
  snapcraft.login.enc
Labels: quickfix, tooling

#2203 Reencrypt snapcraft credentials
  snapcraft.login.enc
Labels: status/blocking/release, tooling

#2202 Release v3.7.0-rc1
  CHANGELOG.md
  SECURITY.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2205 Use GPG for snapcraft credential encryption
  .travis.yml
  snapcraft.login.enc
  snapcraft.login.gpg
Labels: quickfix, status/blocking/release

#2206 Fix faulty feature check in organization collaborator view
  CHANGELOG.md
  pkg/webui/console/views/organization-collaborators/index.js
Labels: bug, c/console, ui/web

#2207 Fix goreleaser Docker configuration
  .goreleaser.yml
  .travis.yml
Labels: status/blocking/release, tooling

#2215 Show payloads for all events in the Console
  pkg/webui/components/event/index.js
  pkg/webui/components/event/types/crud/index.js
  pkg/webui/components/event/types/default/index.js
  pkg/webui/components/event/types/error/index.js
  pkg/webui/components/event/types/index.js
  pkg/webui/components/event/types/message/index.js
  pkg/webui/components/events/story.js
Labels: c/console, ui/web

#2216 Fix displaying error in events subscription
  CHANGELOG.md
  pkg/webui/components/events/index.js
Labels: bug, c/console, quickfix, ui/web

#2217 Fix gateway initial status display
  pkg/webui/console/views/gateway/index.js
Labels: bug, c/console, quickfix, ui/web

#2209 Fix panic in enumerating data rates
  cmd/ttn-lw-cli/commands/simulate.go
Labels: quickfix, ui/cli

#2208 Fix too restrictive MQTT client validation
  CHANGELOG.md
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console

#2224 Extend SafeInspector component
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/safe-inspector/story.js
Labels: c/console, quickfix, ui/web

#2113 Schedule anytime delay in the console
  pkg/webui/components/form/field/story.js
  pkg/webui/components/unit-input/index.js
  pkg/webui/components/unit-input/unit-input.styl
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/constants/delays.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#2219 Add defer/recover to UDP and MQTT frontends
  config/messages.json
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, security

#2222 Store and use full uplink FCnt in Network Server
  config/messages.json
  pkg/networkserver/adr.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/registry_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/util/test/context.go
Labels: quickfix, status/blocking/issue

#2226 Fix non-unique device key in event store
  CHANGELOG.md
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/lib/selectors/id.js
Labels: bug, c/console, ui/web

#2229 Harmonize DevAddr validation with NS
  pkg/applicationserver/grpc_deviceregistry.go
Labels: c/application server, quickfix

#2236 Add handler worker recovery to Gateway Server
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, quickfix

#2237 Increase default DevStatus periodicities
  pkg/networkserver/mac_dev_status.go
Labels: c/network server

#2063 Remove inconsistencies in webhook path handling
  CHANGELOG.md
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
Labels: bug, c/application server

#2239 Unblock from busy upstream handler
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_internal_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/udp/udp.go
Labels: c/gateway server, prio/high

#2150 Generate CLI config file
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/use.go
  config/messages.json
  doc/content/guides/getting-started/cli/_index.md
Labels: ui/cli

#2243 Release 3.7.0-rc2
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2241 Refactor create/update methods for end devices in JS SDK
  sdk/js/src/service/devices/index.js
Labels: c/sdk/js

#2251 Initialize conn closed metric on conn open
  pkg/metrics/grpc.go
Labels: quickfix

#2252 Fix end device location reset in Console
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
Labels: bug, c/console, ui/web

#2253 Always enable device import button in console
  pkg/webui/components/notification/notification.styl
  pkg/webui/console/containers/devices-table/devices-table.styl
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/views/device-import/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#2257 Fix updateById method in devices service
  sdk/js/src/service/devices/index.js
Labels: bug, c/sdk/js, prio/medium, quickfix

#2261 Add ReadTimeouts to HTTP servers, Remove cmux
  go.mod
  pkg/component/component.go
  pkg/component/interop.go
  pkg/component/listeners.go
  pkg/component/web.go
  pkg/gatewayserver/gatewayserver.go
Labels: quickfix

#2265 Fix API validation
  api/api.md
  api/lorawan.proto
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api.json
Labels: bug, compat/api

#2256 Lower class B/C downlink frequency
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/utils.go
Labels: c/network server, performance

#2266 Release v3.6.3
  CHANGELOG.md
  cmd/internal/shared/init.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-stack/commands/root.go
  config/messages.json
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_internal_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/version/ttn.go
  sdk/js/package.json
  sdk/js/src/api/stream/stream.js
Labels: release

#2212 console: Edit `update_location_from_status` gateway field
  CHANGELOG.md
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/containers/gateway-location-form/connect.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/containers/gateway-location-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#2108 gs: Only update statistics for new traffic
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server, scalability

#2190 Fixes for GS flaky tests
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
Labels: bug, c/gateway server, technical debt

#2268 Fix path generation in devices service for array values
  sdk/js/src/service/devices/index.js
Labels: c/sdk/js

#2262 Update release documentation
  DEVELOPMENT.md
Labels: documentation
