Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-12, with the labels that each got.

#3557 Release v3.10.3
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  pkg/webmiddleware/basic_auth.go
  pkg/webmiddleware/basic_auth_test.go
  sdk/js/package.json
Labels: release

#3558 Release v3.9.5
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  pkg/webmiddleware/basic_auth.go
  pkg/webmiddleware/basic_auth_test.go
  sdk/js/package.json
Labels: documentation, release

#3556 Fix code inconsistencies
  DEVELOPMENT.md
  api/packetbrokeragent.proto
  cmd/internal/shared/gatewayserver/config.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  pkg/cluster/cluster.go
  pkg/cluster/config.go
  pkg/redis/codec/main.go
  pkg/ttnpb/packetbrokeragent.pb.go
  sdk/js/generated/api.json
Labels: compat/api, compat/config, compat/db, quickfix, technical debt, ui/cli

#3555 Refactor gateway-api-key components
  pkg/webui/console/views/gateway-api-key-add/connect.js
  pkg/webui/console/views/gateway-api-key-add/gateway-api-key-add.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/connect.js
  pkg/webui/console/views/gateway-api-key-edit/gateway-api-key-edit.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
Labels: c/console, ui/web

#3467 Purge entities from db
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/gateway_services.proto
  api/organization_services.proto
  api/user_services.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/messages.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/users.go
  config/messages.json
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

#3559 Add comments to API for improved documentation
  api/api.md
  api/api.swagger.json
  api/application_services.proto
  api/client_services.proto
  api/contact_info.proto
  api/end_device_services.proto
  api/gateway_services.proto
  api/identityserver.proto
  api/oauth_services.proto
  api/organization_services.proto
  api/search_services.proto
  api/user_services.proto
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/oauth_services.pb.go
  pkg/ttnpb/search_services.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3562 Decouple uplink context before submission
  CHANGELOG.md
  pkg/applicationserver/linking.go
Labels: bug, c/application server, quickfix

#3065 Allow setting mac settings when creating devices in the Console
  CHANGELOG.md
  config/cypress.json
  cypress/integration/console/devices/create.spec.js
  cypress/integration/console/devices/utils.js
  cypress/support/commands.js
  cypress/support/utils.js
  pkg/webui/components/form/section/section.styl
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/components/select/index.js
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/console/components/join-eui-prefixes-input/index.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/device-entity-map.json
  sdk/js/generated/device-field-masks.json
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/merge.js
Labels: c/console, dependencies, documentation, ui/web

#3560 Fix nested side navigation focus
  pkg/webui/components/navigation/side/list/list.styl
Labels: c/console, ui/web

#3565 Fix retransmission handling
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
Labels: blocking/release, bug, c/network server, prio/medium, quickfix

#3563 Improve LoRaCloud DMS location solving capabilities
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/data.go
  pkg/applicationserver/io/packages/loradms/v1/observability.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding_test.go
  pkg/applicationserver/observability.go
  pkg/webui/console/components/events/previews/application-location.js
  pkg/webui/console/components/events/utils/definitions.js
  pkg/webui/console/containers/lora-cloud-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/application server, goldplating, ui/web

#3547 Fix RTT handling for LBS gateways
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/ws/lbslns/format.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws_test.go
Labels: c/gateway server, compat/config

#3567 Release 3.10.4
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3568 Fix code inconsistencies
  pkg/types/random.go
  pkg/types/random_internal_test.go
  pkg/util/test/context.go
Labels: c/shared

#3525 console: Add hover menu to sidebar in collapsed state
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/navigation/side/side.styl
Labels: c/console, ui/web

#3573 Fix GS Memory Leak (scheduler emissions)
  CHANGELOG.md
  pkg/gatewayserver/scheduling/emission.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/sub_band.go
Labels: c/gateway server

#3574 Update APT before using it in CI
  .github/workflows/release-tag.yml
Labels: blocking/release, tooling

#3575 Refactor default components startup logic
  cmd/ttn-lw-stack/commands/start.go
Labels: quickfix, ui/cli

#3576 Fix CHANGELOG
  CHANGELOG.md
Labels: documentation, quickfix

#3572 Remove generated gateway secret key ID from populated test gateways
  pkg/identityserver/store/populate.go
Labels: c/identity server, compat/db, quickfix

#3580 Add user session access method to rights and id lookup
  pkg/ttnpb/identityserver.go
Labels: bug, c/identity server

#3590 Update ini from 1.3.5 to 1.3.7
  yarn.lock
Labels: dependencies, tooling, ui/web

#3589 Fix event details panel opening on tab
  pkg/webui/console/components/events/index.js
Labels: c/console, ui/web

#3594 Document Storage Integration APIs
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3588 Update react-intl package
  package.json
  yarn.lock
Labels: c/console, dependencies, ui/web

#3571 Gateway claim authentication code
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  cmd/ttn-lw-cli/commands/gateways.go
  config/messages.json
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli

#3593 Show missing data warning message when applicable only
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_packages.go
Labels: ui/cli

#3561 Reduce branding related diff
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/mobile-menu/mobile-menu.styl
Labels: c/console, quickfix, technical debt, ui/web

#3597 Fix spamming of error-notification logs
  pkg/webui/components/error-notification/index.js
Labels: quickfix, ui/web

#3598 Prevent header navigation line-breaks
  pkg/webui/components/header/header.styl
Labels: quickfix, ui/web

#3472 Add CLI command for simulating end device uplinks
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
Labels: c/application server, ui/cli

#3601 Add support for different authorization modes to JS SDK
  pkg/webui/console/api/index.js
  sdk/js/README.md
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/examples/basic.js
  sdk/js/src/index.js
  sdk/js/src/index.test.js
  sdk/js/src/util/constants.js
Labels: c/sdk/js, ui/web

#3538 Various form layout updates (incl. vertical layout)
  CHANGELOG.md
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/components/checkbox/group/group.styl
  pkg/webui/components/file-input/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/info.js
  pkg/webui/components/form/field/story.js
  pkg/webui/components/form/index.js
  pkg/webui/components/form/story.js
  pkg/webui/components/form/sub-title/index.js
  pkg/webui/components/form/sub-title/sub-title.styl
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
  pkg/webui/components/input/toggled.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/radio-button/group/group.styl
  pkg/webui/components/radio-button/story.js
  pkg/webui/components/select/index.js
  pkg/webui/components/select/select.styl
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/components/unit-input/index.js
  pkg/webui/components/unit-input/unit-input.styl
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/components/downlink-form/downlink-form.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/uplink-form/uplink-form.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/components/webhook-template-info/index.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-import/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
  pkg/webui/oauth/views/update-password/index.js
  pkg/webui/styles/mixins.styl
  pkg/webui/styles/variables/generic.styl
Labels: c/console, ui/web

#3604 Allow custom ADR in Network Server
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/utils.go
  pkg/ttnpb/field_mask_validation.go
Labels: c/network server, prio/medium

#3612 Update JS definitions
  sdk/js/generated/api-definition.json
Labels: quickfix

#3615 Release v3.10.5
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3620 Fix debugging artifact
  pkg/networkserver/redis/registry.go
Labels: c/network server, quickfix

#3619 Propagate OAuth2 configuration provider errors
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
  pkg/web/oauthclient/token.go
Labels: bug, c/shared, quickfix, ui/web

#3614 Remove linking references
  cypress/integration/console/applications/create.spec.js
  pkg/webui/console/api/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/application-title-section/application-title-section.js
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/containers/application-title-section/status/index.js
  pkg/webui/console/containers/application-title-section/status/status.styl
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/link.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3621 Add config option to grant admins all rights
  CHANGELOG.md
  pkg/identityserver/config.go
  pkg/identityserver/entity_access.go
Labels: c/identity server, compat/config

#3623 Field mask paths for Storage Integration API
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, ui/cli

#3595 Add simple markdown to backend error messages
  cypress/integration/console/shared/collaborators/add.spec.js
  package.json
  pkg/webui/components/error-notification/story.js
  pkg/webui/components/notification/index.js
  pkg/webui/lib/components/error-message/index.js
  pkg/webui/lib/components/message/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/styles/main.styl
  pkg/webui/styles/variables/brand.styl
  yarn.lock
Labels: c/console, dependencies, ui/web

#3622 Add create-admin-api-key is-db command
  CHANGELOG.md
  cmd/internal/io/io.go
  cmd/ttn-lw-cli/commands/access.go
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_subscribe.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/events.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/commands/storage_integration.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  cmd/ttn-lw-stack/commands/config.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  pkg/identityserver/api_key_utils.go
  pkg/identityserver/application_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
Labels: c/identity server, compat/config, ui/cli

#3627 Validate the remote being pushed to if TTI code is being pushed
  tools/mage/git.go
Labels: tooling
