Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-07, with the labels that each got.

#2811 Disable autocomplete from fields in the Console
  pkg/webui/components/input/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
Labels: c/console, quickfix, ui/web

#2814 Add feedback build params to release
  .github/workflows/release-tag.yml
Labels: tooling

#2818 Fix default values reset in payload formatters form
  pkg/webui/console/components/payload-formatters-form/index.js
Labels: c/console, quickfix, ui/web

#2815 Hide advanced settings when adding devices in the Console
  CHANGELOG.md
  pkg/webui/components/form/index.js
  pkg/webui/components/form/section/index.js
  pkg/webui/components/form/section/section.styl
  pkg/webui/components/form/story.js
  pkg/webui/components/form/sub-title/index.js
  pkg/webui/components/icon/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, status/blocking/release, ui/web

#2830 Fix user and join settings form validation
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema_test.js
Labels: c/console, ui/web

#2834 Show application link on when link fails in the Console
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/reducers/link.js
  pkg/webui/lib/errors/utils.js
Labels: c/console, quickfix, ui/web

#2831 Give more information about conflicting EUIs on create
  config/messages.json
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/store.go
Labels: c/identity server, compat/db

#2829 Document MQTT version
  doc/content/integrations/mqtt/_index.md
Labels: documentation

#2783 Add webhook path variable documentation
  doc/content/integrations/webhooks/_index.md
  doc/content/integrations/webhooks/creating-webhooks.md
  doc/content/integrations/webhooks/path-variables.md
  doc/content/integrations/webhooks/scheduling-downlinks.md
  doc/content/integrations/webhooks/webhook-templates/_index.md
Labels: documentation

#2845 Bump to version 3.8.5
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#2848 Update webui dependencies
  package.json
  yarn.lock
Labels: c/console, dependencies, quickfix, ui/web

#2790 Fix documentation of GS forward table
  doc/content/reference/configuration/gateway-server.md
Labels: documentation, quickfix

#2839 Add key vault caching
  CHANGELOG.md
  go.mod
  go.sum
  pkg/config/shared.go
  pkg/crypto/cryptoutil/keyvault_cache.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
  pkg/crypto/observability.go
  tools/go.sum
Labels: bump/minor, c/shared, compat/config, dependencies, documentation

#2843 Clean up device general settings
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: c/console, quickfix, ui/web

#2840 Set gateway connection stats atomically
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server, compat/db, documentation

#2817 Fix form field "required dot" styling
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/story.js
Labels: bug, ui/web

#2836 Add payload formatters doc
  CHANGELOG.md
  doc/content/integrations/payload-formatters/_index.md
  doc/content/integrations/payload-formatters/application.png
  doc/content/integrations/payload-formatters/cayenne.md
  doc/content/integrations/payload-formatters/cli.md
  doc/content/integrations/payload-formatters/console.md
  doc/content/integrations/payload-formatters/device-repo.md
  doc/content/integrations/payload-formatters/device.png
  doc/content/integrations/payload-formatters/grpc.md
  doc/content/integrations/payload-formatters/javascript.md
Labels: documentation

#2799 Add Lora Basics Station features and glossary entries
  doc/content/gateways/lora-basics-station/_index.md
  doc/data/glossary.yml
Labels: documentation

#2851 Allow null for new `session_secret` column
  pkg/identityserver/store/user_session.go
Labels: c/identity server, compat/db, quickfix

#2844 Groundwork for multiple pub/sub providers with defaults
  pkg/webui/components/unit-input/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/pubsub-form/providers.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#2841 CLI set payload formatters from file
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/utils.go
  doc/content/integrations/payload-formatters/cli.md
Labels: documentation, ui/cli

#2780 Remove version from hosted documentation path
  CHANGELOG.md
  DEVELOPMENT.md
  doc/content/example-template/_index.md
  doc/redirect.html.tmpl
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/shortcodes/new-in-version
  tools/mage/docs.go
Labels: documentation

#2791 Fix documentation formatting issues
  DEVELOPMENT.md
Labels: documentation, quickfix

#2854 Make gateway not connected errors consistent
  CHANGELOG.md
  pkg/gatewayserver/grpc.go
Labels: c/gateway server, documentation

#2866 Fix mapping MQTT pub/sub form values
  pkg/webui/console/components/pubsub-form/mapping.js
Labels: quickfix, ui/web

#2857 Fix cookies removal potentially leaving cookies active for the current path
  pkg/web/cookie/cookie.go
Labels: bug, quickfix, ui/web

#2860 Fix usage of `yup` in webui
  CHANGELOG.md
  package.json
  pkg/webui/components/form/field/story.js
  pkg/webui/components/form/story.js
  pkg/webui/components/wizard/story.js
  pkg/webui/console.js
  pkg/webui/console/components/api-key-form/validation-schema.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/components/downlink-form/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/lib/yup.js
  pkg/webui/oauth.js
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/login/index.js
  pkg/webui/oauth/views/update-password/index.js
  yarn.lock
Labels: c/console, documentation, prio/medium, ui/web

#2855 Support generic encryption/decryption in KeyVault
  CHANGELOG.md
  config/messages.json
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/encryption.go
  pkg/crypto/encryption_test.go
  pkg/crypto/keyvault.go
Labels: c/shared, documentation

#2872 Harmonize pub/sub naming
  config/messages.json
  pkg/applicationserver/io/pubsub/observability.go
Labels: c/application server, quickfix

#2869 Fix arrow direction with expands
  pkg/webui/components/events-list/event/overview/overview.js
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index.js
Labels: quickfix, ui/web

#2873 Fix CLI segfault when listing default package associations without appID
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_packages.go
Labels: bug, documentation, quickfix, ui/cli

#2863 Allow suppressing logs for selected gRPC methods on success
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
  pkg/component/grpc.go
  pkg/config/shared.go
  pkg/rpcmiddleware/rpclog/options.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/rpcserver/rpcserver.go
Labels: c/shared, compat/config, documentation

#2876 Fix uplink frame counters being limited to 16 bits in Network Server
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_test.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/join.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: backport, bug, c/network server, prio/high

#2879 Release 3.8.6
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_test.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/join.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/version/ttn.go
  sdk/js/generated/api.json
  sdk/js/package.json
Labels: release

#2880 Update CHANGELOG
  CHANGELOG.md
Labels: documentation, quickfix

#2877 Fix stepper styling on small screens
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/stepper/stepper.styl
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#2823 Fix join settings validation
  CHANGELOG.md
  pkg/webui/components/form/field/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
Labels: bug, c/console, documentation, quickfix, ui/web

#2889 Store testing.TB in test context
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/redis/redis_test.go
  pkg/util/test/context.go
  pkg/util/test/events_test.go
Labels: c/shared, quickfix

#2870 Auto completion for CLI
  CHANGELOG.md
  cmd/internal/commands/complete.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  config/messages.json
  doc/content/getting-started/cli/installing-cli/_index.md
Labels: documentation, ui/cli

#2890 Avoid initializing redis mutex globally
  cmd/ttn-lw-stack/commands/start.go
Labels: c/network server, quickfix

#2891 Panic on invalid internal NS config
  pkg/networkserver/networkserver.go
Labels: c/network server, quickfix

#2898 Send full FCnt to AS
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/application server, c/network server

#2900 Reset task backoff if execution exceeds one minute
  pkg/component/tasks.go
  pkg/component/tasks_test.go
Labels: c/shared, prio/medium

#2878 Fix validation of snake case keys
  CHANGELOG.md
  api/api.md
  api/gateway.proto
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api.json
Labels: bug, compat/api, documentation

#2904 Configurable application uplink queue size
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/config.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
Labels: c/network server, compat/config

#2867 Fix sentry error descriptions
  pkg/webui/console/store/middleware/logics/lib.js
  pkg/webui/lib/components/error-view.js
Labels: bug, prio/medium, ui/web

#2810 Add option to disable picture uploads in the IS
  CHANGELOG.md
  config/messages.json
  doc/content/reference/configuration/identity-server.md
  pkg/identityserver/config.go
  pkg/identityserver/picture.go
Labels: c/identity server, compat/config, documentation

#2899 Add release templates
  .github/ISSUE_TEMPLATE/backport_release.md
  .github/ISSUE_TEMPLATE/release.md
  DEVELOPMENT.md
Labels: documentation

#2917 Release 3.8.7
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/networkserver/config.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/version/ttn.go
  sdk/js/package.json
Labels: backport, release

#2911 Fix font weight inconsistencies
  pkg/webui/components/button/button.styl
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/events-list/header/column.styl
  pkg/webui/components/events-list/widget/widget.styl
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/input/input.styl
  pkg/webui/components/map/widget/widget.styl
  pkg/webui/components/modal/story.styl
  pkg/webui/components/navigation/side/side.styl
  pkg/webui/components/notification/notification.styl
  pkg/webui/components/pagination/pagination.styl
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/key-value-tag/key-value-tag.styl
  pkg/webui/console/views/application-integrations-webhook-add-choose/application-integrations-webhook-add-choose.styl
  pkg/webui/console/views/device-overview/device-overview.styl
  pkg/webui/console/views/device/device.styl
  pkg/webui/console/views/overview/overview.styl
  pkg/webui/oauth/views/forgot-password/forgot-password.styl
  pkg/webui/styles/main.styl
  pkg/webui/styles/mixins.styl
  pkg/webui/styles/variables/generic.styl
Labels: quickfix, ui/web

#2918 Add options to restrict create rights for non-admin users
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  doc/content/reference/configuration/identity-server.md
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/config.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
Labels: c/identity server, compat/config, documentation

#2835 doc: Add Ubidots integration guide
  doc/content/integrations/webhooks/cloud-integrations/ubidots/_index.md
  doc/content/integrations/webhooks/cloud-integrations/ubidots/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/ubidots/tts-setup/ubidots-webhook-creation.png
  doc/content/integrations/webhooks/cloud-integrations/ubidots/ubidots-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/ubidots/ubidots-setup/creating-function.png
Labels: documentation

#2922 Fix ready only access for gateways in the Console
  CHANGELOG.md
  pkg/webui/console/views/gateway-overview/gateway-overview.js
Labels: bug, c/console, documentation, ui/web

#2920 Fix gateway form in the Console
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/story.js
  pkg/webui/components/unit-input/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, quickfix, ui/web

#2881 doc: Add TagoIO webhook integration guide
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tagoIO-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tagoIO-setup/add-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tagoIO-setup/device-features.png
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tagoIO-setup/http-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoIO/tts-setup/creating-a-webhook.png
Labels: documentation, s/in progress

#2937 Rename tagoIO to tagoio in folder structure
  doc/content/integrations/webhooks/cloud-integrations/tagoio/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/add-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/device-features.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/http-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/creating-a-webhook.png
Labels: documentation, quickfix

#2919 Simulate uplink API
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/messages.proto
  doc/content/integrations/data-formats/_index.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/payload.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/application server, compat/api, documentation

#2936 Unit test for PubSubRegistry.List()
  pkg/applicationserver/io/pubsub/pubsub_test.go
Labels: c/application server, quickfix

#2883 Fix handling of fragmented event stream chunks in JS SDK
  CHANGELOG.md
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Labels: bug, c/sdk/js, documentation, prio/medium

#2941 Return registry error cause code
  CHANGELOG.md
  pkg/errors/comparison.go
  pkg/errors/comparison_test.go
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver_test.go
Labels: c/join server, c/shared, documentation

#2942 doc: Add env debug oneliner to troubleshooting
  DEVELOPMENT.md
Labels: documentation

#2915 Send emails to admins when they need to approve a new user
  CHANGELOG.md
  pkg/identityserver/email.go
  pkg/identityserver/emails/user_requested.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, compat/db, documentation

#2943 Sync gateway clock via uplink token
  CHANGELOG.md
  api/api.md
  api/lorawan.proto
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/uplink_token.go
  pkg/gatewayserver/io/uplink_token_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, documentation, prio/medium

#2945 Merge master into develop
  CHANGELOG.md
  DEVELOPMENT.md
  api/api.md
  api/lorawan.proto
  doc/content/integrations/webhooks/cloud-integrations/tagoio/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/add-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/device-features.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/http-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/creating-a-webhook.png
  pkg/errors/comparison.go
  pkg/errors/comparison_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream.go
  pkg/gatewayserver/io/basicstationlns/messages/upstream_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/uplink_token.go
  pkg/gatewayserver/io/uplink_token_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/identityserver/email.go
  pkg/identityserver/emails/user_requested.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api.json
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
Labels: c/gateway server, c/identity server, compat/api, compat/db, documentation, merge

#2947 Update LoRaCloud DAS default FPort
  doc/content/integrations/application-packages/lora-cloud-device-and-application-services.md
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server, documentation, quickfix

#2952 Reset pub/sub form to submitted values
  pkg/webui/console/components/pubsub-form/index.js
Labels: quickfix, ui/web

#2944 Update lodash (vulnerability fix)
  package.json
  yarn.lock
Labels: c/console, dependencies, quickfix, security, ui/web

#2954 Pass values to pub/sub validation
  pkg/webui/console/components/pubsub-form/validation-schema.js
Labels: quickfix, ui/web

#2949 as: Make webhook templates repo part of default AS config
  cmd/internal/shared/applicationserver/config.go
Labels: c/application server, compat/config

#2787 doc: Add Akenza Core webhook integration guide
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/_index.md
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/akenza-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/akenza-setup/creating-device-type.png
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/akenza-setup/creating-device.png
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/akenza-setup/creating-domain.png
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/akenza-setup/quick-start.png
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/akenza-core/tts-setup/creating-webhook.png
Labels: documentation, s/in progress

#2959 Make CLI command aliases consistent
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/use.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
Labels: documentation, ui/cli

#2958 doc: Use canonical CLI command names in documentation pages
  doc/content/devices/class-c-multicast/_index.md
  doc/content/devices/end-device-templates/assigning-euis.md
  doc/content/devices/end-device-templates/converting.md
  doc/content/devices/end-device-templates/creating.md
  doc/content/devices/end-device-templates/executing.md
  doc/content/devices/end-device-templates/mapping.md
  doc/content/getting-started/events/_index.md
  doc/content/getting-started/migrating-from-v2/configure-mac-settings.md
  doc/content/getting-started/user-management/cli/_index.md
  doc/content/integrations/payload-formatters/cli.md
Labels: documentation, quickfix

#2955 Omit default HTTP ports from generated oauth server address
  CHANGELOG.md
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_internal_test.go
Labels: documentation, quickfix, ui/cli

#2957 Use minor version in main branches
  .github/ISSUE_TEMPLATE/backport_release.md
  .github/ISSUE_TEMPLATE/release.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release-snapshot.yml
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  doc/config/_default/config.toml
  doc/config/_default/config.toml.tmpl
  doc/content/_index.html
  doc/content/example-template/_index.md
  doc/content/reference/api/authentication.md
  sdk/js/package.json
Labels: documentation

#2702 doc: Add guide to connect Laird Sentrius gateway
  CHANGELOG.md
  doc/content/gateways/laird-sentrius/_index.md
  doc/content/gateways/laird-sentrius/basic-station.png
  doc/content/gateways/laird-sentrius/eui-small.png
  doc/content/gateways/laird-sentrius/laird.png
  doc/content/gateways/laird-sentrius/lbs.md
  doc/content/gateways/laird-sentrius/login.png
  doc/content/gateways/laird-sentrius/mac.png
Labels: documentation

#2956 Fix required form fields for pub/sub
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
Labels: quickfix, ui/web

#2948 Fix Basic Station Authentication
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  config/messages.json
  doc/content/reference/configuration/gateway-server.md
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/config.go
Labels: c/gateway server, compat/config, documentation

#2820 Support connecting to Redis over TLS
  CHANGELOG.md
  cmd/internal/shared/config.go
  config/messages.json
  doc/content/reference/configuration/the-things-stack.md
  pkg/component/acme.go
  pkg/component/interop_test.go
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tls.go
  pkg/config/tlsconfig/config.go
  pkg/config/tlsconfig/config_test.go
  pkg/interop/config.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/config.go
  pkg/redis/redis.go
Labels: c/packet broker agent, c/shared, compat/config, compat/db, documentation

#2972 Fix mobile navigation menu overflow
  pkg/webui/components/dropdown/dropdown.styl
Labels: c/console, quickfix, ui/web

#2963 Silence unexpected EOF error logs caused by health checks
  CHANGELOG.md
  pkg/component/interop.go
  pkg/component/web.go
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, c/shared, documentation

#2864 doc: Add reference for organization and user APIs
  doc/content/getting-started/user-management/_index.md
  doc/content/getting-started/user-management/cli/_index.md
  doc/content/getting-started/user-management/cli/org/_index.md
  doc/content/getting-started/user-management/cli/rights/_index.md
  doc/content/getting-started/user-management/cli/user/_index.md
  doc/content/getting-started/user-management/console/_index.md
  doc/content/getting-started/user-management/console/collaborators.png
  doc/content/getting-started/user-management/console/org/_index.md
  doc/content/getting-started/user-management/console/org/add-org.png
  doc/content/getting-started/user-management/console/org/orgs.png
  doc/content/getting-started/user-management/console/rights.png
  doc/content/getting-started/user-management/console/rights/_index.md
  doc/content/getting-started/user-management/console/user/_index.md
  doc/content/reference/api/organization.md
  doc/content/reference/api/user.md
Labels: documentation

#2977 Document cache configuration
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
Labels: documentation

#2983 Update lodash (vulnerability fix)
  yarn.lock
Labels: dependencies, security

#2979 Resolve frontend lint warnings
  pkg/webui/console/api/index.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema_test.js
Labels: quickfix, ui/web

#2982 Improve frontend color contrasts
  CHANGELOG.md
  DESIGN.md
  pkg/webui/components/button/button.styl
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/notification/notification.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/styles/variables/brand.styl
  pkg/webui/styles/variables/generic.styl
Labels: c/console, documentation, quickfix, ui/web

#2981 Event component and view layout improvements
  CHANGELOG.md
  pkg/webui/components/events-list/event/overview/entry.styl
  pkg/webui/components/events-list/event/overview/overview.styl
  pkg/webui/components/events-list/events.js
  pkg/webui/components/events-list/events.styl
  pkg/webui/components/events-list/header/header.js
  pkg/webui/components/events-list/header/header.styl
  pkg/webui/components/events-list/list/index.js
  pkg/webui/components/events-list/list/list.styl
  pkg/webui/components/icon/index.js
  pkg/webui/components/list/index.js
  pkg/webui/components/list/list.styl
  pkg/webui/components/page-title/index.js
  pkg/webui/components/page-title/page-title.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/entity-title-section/index.js
  pkg/webui/console/components/events-list/gateway/event-types/connection-event.js
  pkg/webui/console/components/events-list/gateway/event-types/downlink-event.js
  pkg/webui/console/components/events-list/gateway/event-types/uplink-event.js
  pkg/webui/console/components/events-list/shared/components/columns/columns.styl
  pkg/webui/console/components/events-list/shared/components/crud-event.js
  pkg/webui/console/components/events-list/shared/components/default-event.js
  pkg/webui/console/components/events-list/shared/components/entries/entries.styl
  pkg/webui/console/components/events-list/shared/components/entries/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/device-data/device-data.styl
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device/device.styl
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/lib/components/with-root-class.js
  pkg/webui/lib/hooks/use-root-class.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, technical debt, ui/web

#2984 Use provider as metric label for AS integrations
  pkg/applicationserver/io/pubsub/observability.go
Labels: c/application server, quickfix, scalability

#2961 Auto-completion fixes and configuration for release packages
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  .goreleaser.yml
  CHANGELOG.md
  cmd/internal/commands/complete.go
  config/completion/bash/.gitkeep
  config/completion/fish/.gitkeep
  config/completion/zsh/.gitkeep
  doc/content/getting-started/cli/installing-cli/_index.md
  tools/go.mod
  tools/go.sum
  tools/mage/cli.go
Labels: documentation, tooling, ui/cli

#2976 Fix Application Server pub/sub disconnect race
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/provider/connection.go
  pkg/applicationserver/io/pubsub/pubsub.go
Labels: bug, c/application server, documentation

#2991 Unclaim gateway identifiers on connection context done
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/upstream/ns/ns.go
Labels: bug, c/gateway server, prio/medium, quickfix

#2989 Send event stream start events
  CHANGELOG.md
  pkg/events/grpc/grpc.go
Labels: bug, c/console, prio/high, status/blocking/release

#2993 Add frequency_plan_id fallback to Gateway search
  pkg/identityserver/registry_search.go
Labels: c/identity server, quickfix

#2968 doc: Add the integration guide for InfluxDB Cloud 2.0
  doc/content/integrations/influxdb-cloud/_index.md
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/_index.md
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/creating-a-bucket.png
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/generating-a-token.png
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/influxdb-data-dashboard.png
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/monitoring-system.png
  doc/content/integrations/influxdb-cloud/influxdb-cloud-setup/telegraf-config.png
  doc/content/integrations/influxdb-cloud/telegraf-setup/_index.md
  doc/content/integrations/influxdb-cloud/telegraf-setup/tts-mqtt-info.png
Labels: documentation

#2978 Document Gateway Server MQTT protocol
  CHANGELOG.md
  doc/content/reference/api/gateway_server_mqtt.md
  doc/content/reference/components/gateway-server.md
Labels: documentation

#2584 Network Server configure default MAC settings
  CHANGELOG.md
  doc/content/reference/configuration/network-server.md
  pkg/config/config.go
  pkg/config/hooks.go
Labels: c/network server, compat/config, documentation

#3008 Skip downlink queue invalidation in a later stage
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
Labels: bug, c/application server, status/blocking/release
