Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-08, with the labels that each got.

#3001 Fix webhook template handling when headers are empty
  CHANGELOG.md
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/lib/regexp.js
Labels: bug, c/console, documentation, quickfix, ui/web

#3009 Fix elliptic vunlerability
  package.json
  yarn.lock
Labels: dependencies, quickfix, security, ui/web

#2960 console: Add create user page
  CHANGELOG.md
  doc/content/getting-started/user-management/console/user/_index.md
  doc/content/getting-started/user-management/console/user/dropdown.png
  doc/content/getting-started/user-management/console/user/users-add.png
  doc/content/getting-started/user-management/console/user/users-delete.png
  doc/content/getting-started/user-management/console/user/users-edit.png
  doc/content/getting-started/user-management/console/user/users-list.png
  doc/content/getting-started/user-management/console/users-list.png
  pkg/webui/console/api/index.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/reducers/users.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/users.js
Labels: c/console, documentation, ui/web

#3012 Remove batching in the MQTT Pub/Sub driver
  pkg/applicationserver/io/pubsub/provider/mqtt/driver.go
Labels: c/application server, prio/medium, quickfix

#2987 doc: Improve webhook template instantiation doc
  doc/content/integrations/webhooks/webhook-templates/instantiation.md
Labels: documentation

#3015 Improve documentation for some API messages and methods
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/application_services.proto
  api/client.proto
  api/client_services.proto
  api/end_device.proto
  api/end_device_services.proto
  api/gateway.proto
  api/gateway_services.proto
  api/organization.proto
  api/organization_services.proto
  api/user.proto
  api/user_services.proto
  doc/data/api/ttn.lorawan.v3/enums.yml
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user_services.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3013 Use same CSRF cookie for OAuth app and API
  pkg/oauth/server.go
  pkg/web/web.go
  pkg/webui/oauth/api/index.js
Labels: bug, c/console, c/identity server, documentation, prio/high, ui/web

#3021 Fix AFCntDown when skipping application payload crypto
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/linking.go
Labels: c/application server, documentation, quickfix

#3022 Refactor testing delays in pub/sub tests
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
Labels: bug, c/application server, quickfix, technical debt

#3011 Add RPC to get config from Identity Server
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  cmd/ttn-lw-cli/commands/users.go
  pkg/errors/codes.go
  pkg/identityserver/config.go
  pkg/identityserver/identityserver.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.gw.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/config, documentation, ui/cli

#3020 Synchronize gateway concentrator time by uplink token
  CHANGELOG.md
  api/api.md
  api/lorawan.proto
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/uplink_token.go
  pkg/gatewayserver/io/uplink_token_test.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, documentation, prio/high, status/blocking/release

#3019 Fix RTT usage in downlink delta calculation
  CHANGELOG.md
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
Labels: bug, c/gateway server, documentation

#2902 doc: Add troubleshooting section
  CHANGELOG.md
  doc/content/getting-started/troubleshooting/_index.md
Labels: documentation

#3024 Fix initialization of stopped counters on start
  pkg/applicationserver/observability.go
Labels: c/application server, quickfix

#2988 Update Material Icons
  pkg/webui/assets/fonts/material-icons-regular.eot
  pkg/webui/assets/fonts/material-icons-regular.svg
  pkg/webui/assets/fonts/material-icons-regular.ttf
  pkg/webui/assets/fonts/material-icons-regular.woff
  pkg/webui/assets/fonts/material-icons-regular.woff2
  pkg/webui/assets/fonts/materialicons.woff2
  pkg/webui/components/icon/index.js
  pkg/webui/styles/fonts.styl
Labels: ui/web

#3025 Revert #2988
  pkg/webui/assets/fonts/material-icons-regular.eot
  pkg/webui/assets/fonts/material-icons-regular.svg
  pkg/webui/assets/fonts/material-icons-regular.ttf
  pkg/webui/assets/fonts/material-icons-regular.woff
  pkg/webui/assets/fonts/material-icons-regular.woff2
  pkg/webui/assets/fonts/materialicons.woff2
  pkg/webui/components/icon/index.js
  pkg/webui/styles/fonts.styl
Labels: quickfix, ui/web

#3028 Bump to version 3.9.0-rc1
  CHANGELOG.md
  SECURITY.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#3030 Fix release actions
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: quickfix

#3032 Hide event start/stop messages in the Console
  pkg/webui/console/store/reducers/events.js
Labels: bug, c/console, quickfix, status/blocking/release, ui/web

#3031 Fix release actions again
  .github/workflows/release-tag.yml
Labels: status/blocking/release

#3034 Bump to version 3.9.0-rc3
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#3033 Accept well known LoRaWAN and Regional Parameters versions
  pkg/ttnpb/lorawan.go
Labels: quickfix

#3035 Add generated completions dir to gitignore
  config/.gitignore
  config/.gitkeep
Labels: quickfix

#3036 Fix gateway concentrator clock roll over
  CHANGELOG.md
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/clock_test.go
Labels: c/gateway server, documentation, prio/high, status/blocking/release

#3040 Bump to version 3.9.0
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3041 Update react-intl
  package.json
  yarn.lock
Labels: c/console, dependencies, quickfix, ui/web

#3045 Improve and streamline usage of buttons and links
  pkg/webui/components/button/button.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/link/story.js
  pkg/webui/console/components/webhook-template-info/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/error/index.js
  pkg/webui/console/views/error/sub-view.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#3044 Register unsubscribed telemetry on link shutdown
  pkg/applicationserver/linking.go
Labels: c/application server, quickfix

#3017 Improve selecting regional parameters versions in the Console
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
Labels: c/console, ui/web

#3038 Speed up auth
  pkg/identityserver/api_key_utils.go
  pkg/identityserver/store/organization.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/user.go
  pkg/identityserver/store/user_store.go
  pkg/oauth/oauth.go
  pkg/oauth/storage.go
  pkg/oauth/user.go
Labels: c/identity server, compat/db, performance

#3061 Remove links to `latest` docs
  DEVELOPMENT.md
Labels: documentation

#3050 Various Go testing utilities
  pkg/util/test/redis.go
  pkg/util/test/test.go
  pkg/util/test/util.go
Labels: c/shared, quickfix, status/blocking/issue

#3048 Update protoc image and related dependencies
  api/end_device.proto
  api/gateway.proto
  api/qrcodegenerator.proto
  go.mod
  go.sum
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/qrcodegenerator.pb.go
  tools/go.sum
  tools/mage/proto.go
Labels: dependencies, status/blocking/issue

#3066 Fix session keys nil dereference
  pkg/applicationserver/applicationserver.go
Labels: bug, c/application server, quickfix

#3051 Various small NS fixes and improvements
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/registry.go
  pkg/networkserver/registry_test.go
Labels: c/network server, quickfix, status/blocking/issue

#3049 Refactor component tasks
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/pubsub/integrate_internal_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/component/component.go
  pkg/component/component_test.go
  pkg/component/interop_test.go
  pkg/component/tasks.go
  pkg/component/tasks_internal_test.go
  pkg/component/tasks_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/networkserver/networkserver.go
  pkg/packetbrokeragent/agent.go
Labels: c/shared, status/blocking/issue

#3069 Only publish MAC events on successful scheduling
  CHANGELOG.md
  pkg/networkserver/downlink.go
Labels: c/network server, quickfix, status/blocking/issue

#3004 Add frequency plan ID to reference page
  doc/themes/the-things-stack/layouts/shortcodes/frequency_plans.html
Labels: documentation

#3037 doc: Update Mikrotik docs
  doc/content/gateways/mikrotikrouterboard/_index.md
  doc/content/gateways/mikrotikrouterboard/device-parameters-network.png
  doc/content/gateways/mikrotikrouterboard/device-parameters-selected.png
  doc/content/gateways/mikrotikrouterboard/device-parameters.png
  doc/content/gateways/mikrotikrouterboard/mikrotik-routerboard-connections.jpg
  doc/content/gateways/mikrotikrouterboard/parameters.png
  doc/content/gateways/mikrotikrouterboard/portal-lora-disable.png
  doc/content/gateways/mikrotikrouterboard/portal-lora-enable.png
  doc/content/gateways/mikrotikrouterboard/portal-lora.png
  doc/content/gateways/mikrotikrouterboard/portal.png
  doc/content/gateways/mikrotikrouterboard/public.png
  doc/content/gateways/mikrotikrouterboard/servers.png
Labels: documentation, quickfix

#3047 Add LoRa Cloud integration to the Console
  CHANGELOG.md
  package.json
  pkg/webui/assets/misc/lora-cloud.png
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/components/spinner/spinner.styl
  pkg/webui/console/api/index.js
  pkg/webui/console/constants/lora-cloud-das.js
  pkg/webui/console/containers/lora-cloud-form/index.js
  pkg/webui/console/lib/components/require.js
  pkg/webui/console/lib/components/with-feature-requirement.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/actions/application-packages.js
  pkg/webui/console/store/actions/lib.js
  pkg/webui/console/store/middleware/logics/application-packages.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/request-promise-middleware.js
  pkg/webui/console/store/reducers/application-packages.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/application-packages.js
  pkg/webui/console/views/application-integrations-lora-cloud/application-integrations-lora-cloud.styl
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/lib/components/require-request.js
  pkg/webui/lib/hooks/use-request.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/application-packages.js
  sdk/js/src/service/applications.js
  yarn.lock
Labels: c/console, documentation, ui/web

#3068 Fix authentication metadata in events
  CHANGELOG.md
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/io/pubsub/observability.go
  pkg/applicationserver/observability.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/oauth/observability.go
Labels: bug, c/application server, c/gateway server, c/identity server, c/join server, c/network server, c/shared, documentation, quickfix

#3079 Use select when writing or reading from a channel
  cmd/ttn-lw-cli/commands/events.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/pubsub/provider/mqtt/driver.go
  pkg/applicationserver/io/pubsub/provider/mqtt/driver_internal_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/linking.go
  pkg/auth/rights/cache.go
  pkg/devicetemplates/microchip.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/packetbrokeragent/mock/pbdataplane.go
Labels: bug, c/application server, c/gateway server, c/packet broker agent, c/shared, compat/db, ui/cli

#2928 Add MAC settings guide
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  doc/content/devices/mac-settings/_index.md
  doc/content/getting-started/migrating-from-v2/configure-mac-settings.md
  doc/content/reference/api/end_device.md
  doc/data/glossary.yml
  pkg/ttnpb/end_device.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3062 doc: Add gateway API key req for LNS
  CHANGELOG.md
  doc/content/gateways/lora-basics-station/_index.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/content/reference/configuration/gateway-server.md
Labels: documentation

#3077 Do not assume supports_join when importing devices with the CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: documentation, quickfix, ui/cli

#3072 Add user agent metadata to published events
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/events.proto
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/io/pubsub/observability.go
  pkg/applicationserver/observability.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/events/options.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/oauth/observability.go
  pkg/rpcmetadata/metadata.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/util/test/assertions/events.go
  sdk/js/generated/api.json
Labels: c/application server, c/gateway server, c/identity server, c/join server, c/network server, c/shared, compat/api, documentation

#3082 Improve wording of event messages in the Console
  pkg/webui/components/events-list/list/index.js
  pkg/webui/components/events-list/list/list.styl
  pkg/webui/components/events-list/widget/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3016 doc: Adding instructions for webhook integration with InfluxDB Cloud 2.0
  doc/content/integrations/influxdb-cloud/_index.md
  doc/content/integrations/influxdb-cloud/telegraf-setup/telegraf-http-setup.md
  doc/content/integrations/influxdb-cloud/telegraf-setup/telegraf-mqtt-setup.md
  doc/content/integrations/influxdb-cloud/telegraf-setup/tts-webhook-info.png
Labels: documentation

#3064 Expose configuration service on grpc-gateway
  pkg/identityserver/identityserver.go
Labels: c/identity server, quickfix

#3076 Add option to override server name in cluster TLS handshake
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
  pkg/cluster/cluster.go
  pkg/cluster/config.go
  pkg/cluster/peer.go
Labels: c/shared, compat/config, documentation

#3090 doc: Add hugo aliases for broken links
  doc/content/gateways/_index.md
  doc/content/gateways/kerlinkwirnetistation/_index.md
  doc/content/gateways/multitechconduit/_index.md
  doc/content/getting-started/_index.md
  doc/content/getting-started/cli/_index.md
  doc/content/getting-started/console/_index.md
  doc/content/getting-started/console/create-application/_index.md
  doc/content/getting-started/user-management/_index.md
  doc/content/getting-started/user-management/cli/_index.md
  doc/content/getting-started/user-management/console/_index.md
  doc/content/integrations/_index.md
  doc/content/integrations/mqtt/_index.md
  doc/content/reference/components/_index.md
  doc/content/reference/components/cli.md
  doc/content/reference/components/console.md
  doc/content/reference/components/device-template-converter.md
  doc/content/reference/components/gateway-configuration-server.md
  doc/content/reference/components/gateway-server.md
  doc/content/reference/components/identity-server.md
  doc/content/reference/components/join-server.md
  doc/content/reference/components/network-server.md
  doc/content/reference/components/packet-broker-agent.md
  doc/content/reference/components/qr-code-generator.md
  doc/content/reference/configuration/_index.md
Labels: documentation

#3070 Improve oauth app contact info validation
  pkg/webui/components/error-notification/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/validate/index.js
  pkg/webui/oauth/views/validate/validate.styl
Labels: quickfix, technical debt, ui/web

#3071 Fix oauth error view
  pkg/webui/console/views/error/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/error/index.js
Labels: bug, c/console, quickfix, ui/web

#3094 doc: Add CRLF to basics station guide
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/content/gateways/lora-basics-station/troubleshooting.md
Labels: documentation, quickfix

#2771 Add Network Server downlink metrics
  pkg/networkserver/downlink.go
  pkg/networkserver/observability.go
Labels: c/network server, quickfix

#3093 OAuth contextual configuration
  pkg/identityserver/identityserver.go
  pkg/oauth/config.go
  pkg/oauth/middleware.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/token_generators.go
  pkg/oauth/user.go
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/config.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
Labels: c/identity server, c/shared, compat/config

#3084 Document events API
  .github/workflows/go.yml
  DEVELOPMENT.md
  api/api.md
  api/api.swagger.json
  api/events.proto
  doc/content/reference/api/events.md
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/events.json
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/shortcodes/events.html
  doc/themes/the-things-stack/layouts/shortcodes/proto/method.html
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/io/pubsub/observability.go
  pkg/applicationserver/observability.go
  pkg/events/builder.go
  pkg/events/definitions.go
  pkg/events/events.go
  pkg/events/options.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/user_registry.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/observability.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_beacon_freq.go
  pkg/networkserver/mac_dev_status.go
  pkg/networkserver/mac_device_mode.go
  pkg/networkserver/mac_device_time.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_duty_cycle.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_check.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_ping_slot_info.go
  pkg/networkserver/mac_rejoin_param_setup.go
  pkg/networkserver/mac_rekey.go
  pkg/networkserver/mac_reset.go
  pkg/networkserver/mac_rx_param_setup.go
  pkg/networkserver/mac_rx_timing_setup.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/observability.go
  pkg/ttnpb/events.pb.go
  sdk/js/generated/api.json
  tools/generate_event_data.go
  tools/go.sum
  tools/mage/go.go
Labels: c/application server, c/gateway server, c/identity server, c/join server, c/network server, c/shared, compat/api, documentation

#3099 Use RELEASE_TOKEN secret for Goreleaser
  .github/workflows/release-tag.yml
Labels: quickfix, release

#3095 Improve error reporting when trying to change password with CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: documentation, quickfix, ui/cli

#2998 Make sure RxMetadata location is nil if gateway location is not public
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
Labels: c/gateway server, documentation

#3101 Bump to version 3.9.1
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#2990 doc: Add tabbed console+cli shortcode
  doc/content/devices/adding-devices/_index.md
  doc/content/devices/adding-devices/device-abp-created.png
  doc/content/devices/adding-devices/device-creation-1.png
  doc/content/devices/adding-devices/device-creation-abp.png
  doc/content/devices/adding-devices/device-creation-otaa.png
  doc/content/devices/adding-devices/device-otaa-created.png
  doc/content/example-template/_index.md
  doc/content/gateways/adding-gateways/_index.md
  doc/content/gateways/adding-gateways/gateway-api-key-created.png
  doc/content/gateways/adding-gateways/gateway-api-key-creation.png
  doc/content/gateways/adding-gateways/gateway-creation.png
  doc/content/gateways/adding-gateways/gateway-overview.png
  doc/content/gateways/kerlinkwirnetistation/_index.md
  doc/content/gateways/kerlinkwirnetstation/_index.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/content/gateways/lorix-one/_index.md
  doc/content/gateways/multitechconduit/_index.md
  doc/content/gateways/nasysoutdoorgateway/_index.md
  doc/content/gateways/tektelickonamicro/_index.md
  doc/content/gateways/thethingskickstartergateway/_index.md
  doc/content/getting-started/cli/create-application/_index.md
  doc/content/getting-started/cli/create-end-device/_index.md
  doc/content/getting-started/cli/create-gateway/_index.md
  doc/content/getting-started/console/create-end-device/_index.md
  doc/content/getting-started/console/create-gateway/_index.md
  doc/content/getting-started/migrating-from-v2/create-application.md
  doc/content/getting-started/migrating-from-v2/major-changes.md
  doc/content/getting-started/user-management/cli/_index.md
  doc/content/getting-started/user-management/cli/rights/_index.md
  doc/content/getting-started/user-management/console/_index.md
  doc/content/getting-started/user-management/console/org/_index.md
  doc/content/getting-started/user-management/console/rights/_index.md
  doc/content/getting-started/user-management/console/user/_index.md
  doc/content/getting-started/user-management/console/user/users-add.png
  doc/content/getting-started/user-management/console/user/users-list.png
  doc/content/getting-started/user-management/org/_index.md
  doc/content/getting-started/user-management/org/add-org.png
  doc/content/getting-started/user-management/org/orgs.png
  doc/content/getting-started/user-management/rights/_index.md
  doc/content/getting-started/user-management/rights/collaborators.png
  doc/content/getting-started/user-management/rights/rights.png
  doc/content/getting-started/user-management/user/_index.md
  doc/content/getting-started/user-management/user/dropdown.png
  doc/content/getting-started/user-management/user/users-delete.png
  doc/content/getting-started/user-management/user/users-edit.png
  doc/content/getting-started/user-management/user/users-list.png
  doc/content/integrations/adding-applications/_index.md
  doc/content/integrations/adding-applications/api-key-created.png
  doc/content/integrations/adding-applications/api-key-creation.png
  doc/content/integrations/adding-applications/application-creation.png
  doc/content/integrations/adding-applications/application-link-creation.png
  doc/content/integrations/adding-applications/application-overview.png
  doc/content/integrations/adding-integrations/_index.md
  doc/content/reference/api/gateway_server_mqtt.md
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/assets/js/theme.js
  doc/themes/the-things-stack/layouts/shortcodes/tabs/container.html
  doc/themes/the-things-stack/layouts/shortcodes/tabs/tab.html
Labels: documentation

#3107 Link to frequency plans page instead of GitHub repo
  doc/content/getting-started/migrating-from-v2/export-v2-devices.md
  doc/content/getting-started/migrating-from-v2/major-changes.md
Labels: documentation

#3097 Refactor application packages initialization
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/config.go
  pkg/applicationserver/io/packages/grpc.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/packages/registration.go
  pkg/applicationserver/io/packages/util_test.go
Labels: c/application server, compat/config, status/blocking/issue

#3078 Implement device template converter for The Things Stack v3 JSON end device format
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/utils.go
  cmd/ttn-lw-cli/internal/io/io.go
  pkg/devicetemplateconverter/devicetemplateconverter.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/devicetemplates/tts.go
  pkg/devicetemplates/tts_test.go
  pkg/util/io/io.go
Labels: c/device converter, compat/config, documentation, prio/high, ui/cli

#3103 Only schedule MAC commands in class A downlink slots
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/utils.go
Labels: bug, bump/minor, c/network server

#3074 Adjust ISM2400 frequencies according to v4 draft
  CHANGELOG.md
  pkg/band/ism_2400.go
Labels: bump/minor, c/shared

#3110 Do not log missing join-request as error
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, quickfix

#2939 Setup e2e tests for webui
  .github/workflows/e2e.yml
  .gitignore
  DEVELOPMENT.md
  config/.babelrc
  config/cypress.json
  config/eslintrc.yaml
  cypress/fixtures/example.json
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/login.spec.js
  cypress/integration/console/shared/header.spec.js
  cypress/integration/oauth/change-password.spec.js
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/overview.spec.js
  cypress/integration/oauth/user-registration.spec.js
  cypress/integration/smoke/applications/create.js
  cypress/integration/smoke/applications/index.js
  cypress/integration/smoke/index.js
  cypress/integration/smoke/registration/index.js
  cypress/integration/smoke/smoke.spec.js
  cypress/integration/smoke/utils.js
  cypress/plugins/index.js
  cypress/plugins/tasks.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/support/utils.js
  package.json
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/error-notification/index.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/header/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/console/views/error/index.js
  pkg/webui/lib/components/message/index.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/error/index.js
  pkg/webui/oauth/views/update-password/index.js
  pkg/webui/template.go
  tools/mage/dev.go
  tools/mage/js.go
  yarn.lock
Labels: documentation, tooling, ui/web

#3102 doc: Add no AppEUI guide
  doc/content/devices/adding-devices/_index.md
  doc/data/glossary.yml
Labels: documentation

#3119 Increase test timeout
  pkg/packetbrokeragent/agent_test.go
Labels: c/packet broker agent, quickfix

#2934 doc: Add instructions for building and adding new webhook templates
  doc/content/integrations/webhooks/webhook-templates/adding-webhook-template.png
  doc/content/integrations/webhooks/webhook-templates/adding_webhook_templates.md
Labels: documentation

#3108 Fix logout redirect URI handling
  pkg/oauth/user.go
  pkg/ttnpb/public.go
Labels: c/identity server, quickfix

#3120 cli: Fix login issues with explicit :443 port
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/root.go
Labels: bug, documentation, ui/cli

#3121 Add loading and formatting of i18n MessageDescriptors
  pkg/i18n/i18n.go
  pkg/i18n/i18n_test.go
Labels: technical debt

#3123 Fix oauth logout redirect URI composition
  pkg/oauth/server_test.go
  pkg/oauth/user.go
Labels: bug, c/console, c/identity server

#3117 Change AS linking retry logic
  CHANGELOG.md
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/component/tasks.go
Labels: c/application server, c/shared, documentation, prio/medium

#3096 Update Tago integration guide
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/add-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/auth-pop-out.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/custom-ttn-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/device-features.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/device-settings.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tagoio-setup/http-device.png
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/tagoio/tts-setup/creating-a-webhook.png
Labels: documentation

#3127 Update babel presets in webui
  package.json
  sdk/js/package.json
  sdk/js/yarn.lock
  yarn.lock
Labels: c/sdk/js, dependencies, quickfix, ui/web

#3126 Various small NS downlink flow fixes
  CHANGELOG.md
  pkg/networkserver/downlink.go
Labels: blocking/issue, bug, c/network server, quickfix

#3135 Return error when LoRaDAS object parsing fails
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
Labels: c/application server, quickfix

#3136 Fix changelog
  CHANGELOG.md
Labels: blocking/release, documentation, quickfix

#3133 Refactor task backoff intervals, enable NS downlink task backoff on failure
  pkg/applicationserver/io/pubsub/integrate_internal_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/component/tasks.go
  pkg/component/tasks_internal_test.go
  pkg/networkserver/networkserver.go
Labels: c/network server, c/shared

#3130 Frontend testing guidelines
  DEVELOPMENT.md
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/index_test.js
  pkg/webui/components/navigation/side/item/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/item/index_test.js
  pkg/webui/components/pagination/__snapshots__/index_test.js.snap
  pkg/webui/components/pagination/index_test.js
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index_test.js
  pkg/webui/components/table/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/index_test.js
  pkg/webui/components/table/index_test.js
  pkg/webui/components/table/sort-button/__snapshots__/index_test.js.snap
  pkg/webui/components/table/sort-button/index_test.js
  pkg/webui/console/containers/gateway-connection/tests/__snapshots__/gateway-connection-reactor_test.js.snap
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_test.js
  pkg/webui/console/containers/join-eui-prefixes-input/compute-prefix_test.js
  pkg/webui/console/lib/bytes_test.js
  pkg/webui/console/lib/device-utils_test.js
  pkg/webui/console/store/reducers/tests/applications_test.js
  pkg/webui/console/store/reducers/tests/error_test.js
  pkg/webui/console/store/reducers/tests/events_test.js
  pkg/webui/console/store/reducers/tests/fetching_test.js
  pkg/webui/console/store/reducers/tests/gateway-status_test.js
  pkg/webui/console/store/reducers/tests/gateways_test.js
  pkg/webui/console/store/reducers/tests/pagination_test.js
  pkg/webui/console/store/selectors/tests/error_test.js
  pkg/webui/console/store/selectors/tests/fetching_test.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/lib/cookie_test.js
  pkg/webui/lib/get-by-path_test.js
  pkg/webui/lib/omit_test.js
  pkg/webui/lib/to-input-date_test.js
  sdk/js/src/api/index.test.js
  sdk/js/src/index.test.js
  sdk/js/src/service/applications.test.js
Labels: documentation, tooling, ui/web

#3129 Move devtool plugin to separate production object
  config/webpack.config.babel.js
Labels: quickfix

#3125 Use dynamic backoff for pub/sub
  config/messages.json
  pkg/applicationserver/io/backoff.go
  pkg/applicationserver/io/pubsub/integrate_internal_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
Labels: c/application server, scalability

#3141 as: Rename config to `packages`
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
Labels: c/application server, compat/config, quickfix

#3137 Remove typos in DEVELOPMENT.md
  DEVELOPMENT.md
Labels: documentation, quickfix

#3131 Revert OAuth dynamic configuration changes
  pkg/identityserver/identityserver.go
  pkg/oauth/config.go
  pkg/oauth/middleware.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/user.go
Labels: c/identity server, compat/config, quickfix

#2999 Speed up Gateway Server unit tests
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server, documentation

#3139 config: Remove version from default docs url
  cmd/internal/shared/console/config.go
Labels: compat/config, quickfix

#3000 Adds docs on migration from 3rd party networks to TTES
  doc/content/getting-started/migrating-from-networks/_index.md
  doc/content/getting-started/migrating-from-networks/device-json.md
  doc/content/getting-started/migrating-from-networks/import-devices.md
  doc/content/getting-started/migrating-from-networks/successful-import.png
  doc/content/getting-started/migrating-from-v2/configure-ttn-lw-cli.md
  doc/content/getting-started/migrating-from-v2/create-application.md
  doc/content/getting-started/migrating-from-v2/import-devices.md
  doc/content/getting-started/migrating-from-v2/successful-import.png
Labels: documentation, s/in progress

#3143 Fix lora cloud documenation link in Console
  CHANGELOG.md
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, documentation, quickfix, ui/web

#3146 Optimize band queries, record LoRaWAN version pairs
  config/messages.json
  pkg/networkserver/adr.go
  pkg/networkserver/adr_internal_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_adr_param_setup.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_beacon_freq_test.go
  pkg/networkserver/mac_beacon_timing_test.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_rejoin_param_setup_test.go
  pkg/networkserver/mac_tx_param_setup.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
Labels: c/network server, quickfix

#3149 Remove context from events metrics
  pkg/events/handler.go
  pkg/events/observability.go
  pkg/events/pubsub.go
Labels: c/shared, quickfix

#3140 Fix handling page titles in webui e2e tests
  config/cypress.json
  cypress/integration/console/applications/create.spec.js
  cypress/integration/oauth/change-password.spec.js
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/user-registration.spec.js
  cypress/support/commands.js
  cypress/support/utils.js
Labels: tooling, ui/web

#3152 Refactor AS message processors
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/message_services.proto
  api/messages.proto
  config/messages.json
  doc/content/integrations/payload-formatters/javascript.md
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  doc/data/events.json
  go.mod
  go.sum
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/payload.go
  pkg/devicerepository/devicerepository.go
  pkg/devicerepository/devicerepository_test.go
  pkg/messageprocessors/cayennelpp/cayennelpp.go
  pkg/messageprocessors/cayennelpp/cayennelpp_test.go
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
  pkg/messageprocessors/payload.go
  pkg/messageprocessors/payload_grpc.go
  pkg/scripting/engine.go
  pkg/scripting/javascript/javascript.go
  pkg/scripting/javascript/javascript_test.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/identifiers_test.go
  pkg/ttnpb/message_services.pb.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/message_services.pb.setters.fm.go
  pkg/ttnpb/message_services.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/assertions/errors.go
  pkg/webui/console/components/payload-formatters-form/formatter-values.js
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.mod
  tools/go.sum
Labels: c/application server, compat/api, dependencies, documentation

#3158 Improve prop structure for portalled modal
  pkg/webui/components/button/modal-button/index.js
  pkg/webui/components/modal/portalled/index.js
  pkg/webui/components/prompt/index.js
  pkg/webui/console/components/api-key-modal/index.js
Labels: c/console, technical debt, ui/web

#3157 Remove title assertions from e2e tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/oauth/change-password.spec.js
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/user-registration.spec.js
  cypress/support/commands.js
  cypress/support/utils.js
Labels: quickfix, tooling

#3161 Notify about existing Webhook and Pub/Sub IDs in Console
  CHANGELOG.md
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-webhook-add-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, documentation, ui/web

#3165 Fix passing of non html props to checkbox and radio button
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/radio-button/radio.js
Labels: bug, c/console, quickfix, ui/web

#3114 console: Add generate join eui button
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/file-input/file-input.styl
  pkg/webui/components/input/input.styl
  pkg/webui/components/input/toggled.styl
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/console/containers/gateway-connection/gateway-connection.styl
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.styl
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/variables/generic.styl
Labels: c/console, ui/web
