Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-06, with the labels that each got.

#2609 Add prompt component
  config/storybook/preview-body.html
  pkg/webui/components/prompt/index.js
  pkg/webui/components/prompt/story.js
Labels: c/console, quickfix, ui/web

#2585 Add latest last seen info and uplink frame counts in applications and end devices
  CHANGELOG.md
  pkg/webui/components/events-list/widget/index.js
  pkg/webui/components/events-list/widget/widget.styl
  pkg/webui/components/status/status.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/entity-title-section/index.js
  pkg/webui/console/components/key-value-tag/index.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/connect.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, ui/web

#2640 Fix infinite loop when enqueueing LinkADRReq
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
Labels: bug, c/network server, prio/high

#2623 doc: Add v2/v3 MQTT API comparison to migration docs
  doc/content/getting-started/migrating-from-v2/mqtt-api-comparison.md
Labels: documentation

#2591 Configure skipping payload crypto on application-level
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/end_device.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/registry.go
  pkg/applicationserver/registry_test.go
  pkg/internal/registry/deprecated_fields.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/registry.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, c/network server, compat/api, documentation

#2607 Document Redis codec
  DEVELOPMENT.md
  pkg/redis/codec/main.go
Labels: documentation

#2645 Merge master
  CHANGELOG.md
  DEVELOPMENT.md
  config/storybook/preview-body.html
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/redis/codec/main.go
  pkg/webui/components/events-list/widget/index.js
  pkg/webui/components/events-list/widget/widget.styl
  pkg/webui/components/input/byte.js
  pkg/webui/components/prompt/index.js
  pkg/webui/components/prompt/story.js
  pkg/webui/components/status/status.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/entity-title-section/index.js
  pkg/webui/console/components/key-value-tag/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/join-eui-prefixes-input/index.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/connect.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-collaborators-list/connect.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/network server, compat/db, documentation, merge, ui/web

#2580 Add authentication method, ID and IP event metadata when available
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/events.proto
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/auth/password_test.go
  pkg/auth/pbkdf2/algorithm.go
  pkg/auth/pbkdf2/algorithm_test.go
  pkg/auth/pbkdf2/pbkdf2.go
  pkg/auth/pbkdf2/pbkdf2_test.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/rpcmetadata/metadata.go
  pkg/rpcmetadata/metadata_test.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/util/test/assertions/events.go
  pkg/util/test/events.go
  sdk/js/generated/api.json
Labels: c/network server, c/shared, compat/api, documentation, ui/cli

#2625 Populate platform attribute for Basic Station gateways
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
Labels: c/gateway server

#2641 as: Fixed DAS uplink response object structure
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
Labels: c/application server

#2601 Make doc overview images clickable
  doc/content/_index.html
  doc/static/overview-clickable.svg
  doc/static/overview.svg
Labels: documentation

#2648 Release v3.8.2
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#2654 Backport device migration guide from The Things Network Stack V2
  doc/content/getting-started/migrating-from-v2/_index.md
  doc/content/getting-started/migrating-from-v2/configure-mac-settings.md
  doc/content/getting-started/migrating-from-v2/configure-ttn-lw-cli.md
  doc/content/getting-started/migrating-from-v2/configure-ttnctl.md
  doc/content/getting-started/migrating-from-v2/create-application.md
  doc/content/getting-started/migrating-from-v2/export-v2-devices.md
  doc/content/getting-started/migrating-from-v2/import-devices.md
  doc/content/getting-started/migrating-from-v2/major-changes.md
  doc/themes/the-things-stack/layouts/shortcodes/ttnv2.html
  doc/themes/the-things-stack/layouts/shortcodes/tts.html
Labels: backport, documentation

#2656 Merge master into develop
  CHANGELOG.md
  doc/config.toml
  doc/content/_index.html
  doc/static/overview-clickable.svg
  doc/static/overview.svg
  doc/themes/the-things-stack/layouts/shortcodes/ttnv2.html
  doc/themes/the-things-stack/package.json
  package.json
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/version/ttn.go
  sdk/js/package.json
Labels: c/gateway server, documentation, merge

#2615 Add frontend build command before "Starting The Things Stack"
  DEVELOPMENT.md
Labels: documentation

#2653 Fix inconsistent usage of AppEUI and JoinEUI
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#2642 Add draft template to docs
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/content/example-template/_index.md
  doc/content/example-template/screenshot.png
  doc/content/example-template/wienke.jpeg
Labels: documentation

#2602 Add favicon for docs
  CHANGELOG.md
  doc/static/favicon.ico
  doc/static/favicon.png
  doc/static/favicon.svg
  doc/themes/the-things-stack/layouts/partials/head.html
Labels: documentation, ui/web

#2660 util: Skip nil entries in Redis Range
  pkg/redis/redis.go
Labels: bug, c/network server, status/blocking/release

#2666 Add LoRaCloud DAS changelog entries
  CHANGELOG.md
Labels: documentation, quickfix

#2652 Clarify base path usage in LoRaCloud DAS
  doc/content/integrations/application-packages/lora-cloud-device-and-application-services.md
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
Labels: bug, c/application server, documentation, quickfix

#2667 Use RTT p90 with TTL for determining late schedule
  CHANGELOG.md
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/rtts.go
  pkg/gatewayserver/io/rtts_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/util_test.go
Labels: c/gateway server, compat/db, documentation, prio/high

#2668 Release v3.8.3
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, prio/high, release

#2647 Various pub/sub improvements
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
Labels: c/application server, quickfix

#2675 Merge master
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  doc/config.toml
  doc/content/example-template/_index.md
  doc/content/example-template/screenshot.png
  doc/content/example-template/wienke.jpeg
  doc/static/favicon.ico
  doc/static/favicon.png
  doc/static/favicon.svg
  doc/themes/the-things-stack/layouts/partials/head.html
  doc/themes/the-things-stack/package.json
  package.json
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/rtts.go
  pkg/gatewayserver/io/rtts_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/redis/redis.go
  pkg/version/ttn.go
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/package.json
Labels: c/gateway server, compat/db, documentation, merge, ui/web

#2631 Stepper component improvements
  pkg/webui/components/stepper/step/index.js
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/stepper/stepper.styl
Labels: c/console, quickfix, status/blocking/issue, ui/web

#2673 Allow rendering custom button content
  pkg/webui/components/button/button-icon/icon.styl
  pkg/webui/components/button/button-icon/index.js
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/button/story.js
  pkg/webui/components/submit-button/index.js
Labels: c/console, quickfix, status/blocking/issue, ui/web

#2677 Add metrics to pkg/log
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/root.go
  pkg/log/middleware/observability/observability.go
Labels: c/shared, documentation

#2678 Extend webmiddleware.Log to allow suppressing log messages for specific URL paths
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
  pkg/component/web.go
  pkg/config/shared.go
  pkg/web/web.go
  pkg/webmiddleware/log.go
  pkg/webmiddleware/log_test.go
Labels: c/shared, compat/config, documentation

#2558 Improve sentry frontend util
  CHANGELOG.md
  DEVELOPMENT.md
  config/webpack.config.babel.js
  package.json
  pkg/webui/console.js
  pkg/webui/console/store/index.js
  pkg/webui/constants/sensitive-data.js
  pkg/webui/constants/sentry.js
  pkg/webui/lib/omit.js
  pkg/webui/lib/omit_test.js
  pkg/webui/oauth.js
  pkg/webui/oauth/store/index.js
  yarn.lock
Labels: c/console, dependencies, documentation, prio/medium, ui/web

#2682 Fix Packet Broker Agent subscription group
  CHANGELOG.md
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, documentation, prio/high, quickfix

#2683 Fix typo in shortcode
  doc/content/getting-started/installation/configuration.md
Labels: documentation, quickfix

#2562 Add frequency plans to docs
  .mage/docs.go
  CHANGELOG.md
  DEVELOPMENT.md
  doc/content/reference/frequency-plans/_index.md
  doc/content/reference/frequency-plans/adding-frequency-plans.md
  doc/data/frequency-plans.yml
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/shortcodes/frequency_plans.html
Labels: discussion, documentation

#2676 Add wizard component
  pkg/webui/components/submit-button/index.js
  pkg/webui/components/wizard/context.js
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/index.js
  pkg/webui/components/wizard/step.js
  pkg/webui/components/wizard/stepper.js
  pkg/webui/components/wizard/steps.js
  pkg/webui/components/wizard/story.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/lib/hooks/use-combined-refs.js
  pkg/webui/lib/render-callback.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, status/blocking/issue, ui/web

#2618 Document connecting Node-RED
  doc/content/integrations/node-red/_index.md
  doc/content/integrations/node-red/demo_setup.png
  doc/content/integrations/node-red/receive/_index.md
  doc/content/integrations/node-red/receive/mqtt_in_node_connection.png
  doc/content/integrations/node-red/receive/mqtt_in_node_properties.png
  doc/content/integrations/node-red/receive/mqtt_in_node_security.png
  doc/content/integrations/node-red/receive/receive_uplink_flow.png
  doc/content/integrations/node-red/send/_index.md
  doc/content/integrations/node-red/send/inject_node_properties.png
  doc/content/integrations/node-red/send/mqtt_out_node_properties.png
  doc/content/integrations/node-red/send/send_downlink_flow.png
  doc/content/integrations/node-red/setup/_index.md
  doc/content/integrations/node-red/setup/console_info.png
  doc/content/integrations/node-red/setup/nodered_dashboard.png
Labels: documentation

#2692 Add workaround for toast css module build issue
  pkg/webui/components/toast/index.js
  pkg/webui/components/toast/react-toastify.styl
  pkg/webui/components/toast/toast.styl
Labels: bug, c/console, quickfix, tooling, ui/web

#2704 Fix application create form validation in the Console
  pkg/webui/console/views/application-add/index.js
Labels: c/console, ui/web

#2705 Reduce logs noise
  CHANGELOG.md
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/rpcmiddleware/rpclog/rpclog.go
Labels: c/application server, c/gateway server, c/shared, documentation

#2686 Fix LinkADR mask 6 and 7 parsing in 72-channel bands
  CHANGELOG.md
  pkg/band/band.go
  pkg/band/band_internal_test.go
  pkg/networkserver/mac_link_adr_test.go
Labels: bug, c/network server, performance, prio/medium

#2701 Add and use `randutil.LockedRand`
  pkg/identityserver/picture.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/public_test.go
  pkg/util/randutil/randutil.go
  pkg/util/test/random.go
Labels: bug

#2711 Refactor NS metrics
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/observability.go
Labels: c/network server, quickfix, status/blocking/release

#2662 Improve Redis performance
  cmd/ttn-lw-stack/commands/start.go
  go.mod
  go.sum
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/events/redis/redis.go
  pkg/gatewayserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/uplink_deduplicator.go
  pkg/redis/errors.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/util/test/redis.go
Labels: c/network server, performance

#2700 Add LoRa Basics Station guide
  CHANGELOG.md
  doc/content/gateways/adding-gateways/_index.md
  doc/content/gateways/lora-basics-station/_index.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/themes/the-things-stack/layouts/shortcodes/cups.html
  doc/themes/the-things-stack/layouts/shortcodes/lbs.html
  doc/themes/the-things-stack/layouts/shortcodes/lns.html
Labels: documentation

#2709 Fix Application Server uplink metrics
  CHANGELOG.md
  pkg/applicationserver/observability.go
Labels: c/application server, documentation, quickfix

#2703 Allow integer EUIs in BasicStation requests
  pkg/basicstation/eui.go
  pkg/basicstation/eui_test.go
Labels: c/gateway server, quickfix

#2710 Release 3.8.4
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2720 Fix flaky redis lock test
  pkg/redis/redis_test.go
Labels: bug

#2719 Make CLI only send relevant end device fields to IS on create
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: documentation, quickfix, security, ui/cli

#2695 Reset device payload formatters
  CHANGELOG.md
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/constants/formatter-types.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/merge.js
Labels: bug, c/console, documentation, ui/web

#2722 Resolve react legacy warnings
  package.json
  yarn.lock
Labels: c/console, dependencies, quickfix, ui/web

#2657 Edit JSON uplink message doc for clarity
  CHANGELOG.md
  doc/content/integrations/data-formats/_index.md
Labels: documentation

#2726 Do not run PR-labeler on PRs from forks
  .github/workflows/pr-labels.yml
Labels: tooling

#2716 Improve resilience of logout operation in the Console
  pkg/webui/console/store/middleware/logics/user.js
Labels: bug, c/console, documentation, ui/web

#2715 Prevent auth flow loops due to invalid access tokens
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/lib.js
Labels: bug, c/console, documentation, ui/web

#2737 Fix publishing API key delete event
  CHANGELOG.md
  pkg/identityserver/application_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
Labels: bug, c/identity server, documentation

#2736 Fix organization API key deletion in the Console
  CHANGELOG.md
  pkg/webui/console/views/organization-api-key-edit/connect.js
Labels: bug, c/console, documentation, ui/web

#2721 Fix generate input validation
  pkg/webui/components/form/field/index.js
  pkg/webui/components/input/generate.js
  pkg/webui/console/containers/dev-addr-input/connect.js
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
  pkg/webui/console/containers/dev-addr-input/index.js
Labels: c/console, quickfix, ui/web

#2745 Update vulnerable websocket-extensions module
  yarn.lock
Labels: dependencies, security, ui/web

#2741 Update glossary
  doc/data/glossary.yml
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/partials/glossary-term.html
  doc/themes/the-things-stack/layouts/shortcodes/glossary.html
Labels: documentation

#2727 Migrate general code quality checks to github actions
  .github/workflows/general.yml
  .github/workflows/pr-labels.yml
  .travis.yml
  tools/mage/version.go
Labels: tooling

#2729 Migrate documentation checks to github actions
  .github/workflows/doc.yml
  .travis.yml
  tools/mage/docs.go
Labels: tooling

#2730 Migrate go code checks to github actions
  .github/workflows/go-test.yml
  .github/workflows/go.yml
  .travis.yml
  tools/mage/go.go
Labels: tooling

#2754 Fix application description validation in the Console
  pkg/webui/console/views/application-add/index.js
Labels: c/console, quickfix, ui/web

#2753 Adjust error message in owners select
  pkg/webui/console/containers/owners-select/owners-select.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#2748 Only initialize Redis Mutex for components that use it
  cmd/ttn-lw-stack/commands/start.go
Labels: bug, prio/high

#2717 doc: Add Datacake integration guide
  doc/content/integrations/webhooks/cloud-integrations/_index.md
  doc/content/integrations/webhooks/cloud-integrations/datacake/_index.md
  doc/content/integrations/webhooks/cloud-integrations/datacake/datacake-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/datacake/datacake-setup/datacake-tti-adapter.png
  doc/content/integrations/webhooks/cloud-integrations/datacake/datacake-setup/datacake-workspace.png
  doc/content/integrations/webhooks/cloud-integrations/datacake/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/datacake/tts-setup/tts-datacake-webhook.png
  doc/content/integrations/webhooks/webhook-templates/_index.md
Labels: documentation

#2758 Fix CHANGELOG
  CHANGELOG.md
Labels: documentation, quickfix

#2749 Update goreleaser to v0.138
  go.mod
  go.sum
Labels: dependencies, status/blocking/issue

#2747 Migrate proto generation to github actions
  .github/workflows/proto.yml
  .travis.yml
Labels: tooling

#2760 Fix max ADR data rate index for AU915
  CHANGELOG.md
  pkg/band/au_915_928.go
Labels: bug, c/network server

#2651 Fix miss matched timezones in claim form
  CHANGELOG.md
  pkg/webui/console/views/device-claim-authentication-code/index.js
  pkg/webui/lib/to-input-date.js
  pkg/webui/lib/to-input-date_test.js
Labels: bug, c/console, documentation, ui/web

#2763 Support SRV records for service discovery
  CHANGELOG.md
  doc/content/reference/networking/_index.md
  pkg/applicationserver/linking.go
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_test.go
  pkg/rpcmiddleware/discover/testdata/serverca.pem
  pkg/rpcmiddleware/discover/testdata/servercert.pem
  pkg/rpcmiddleware/discover/testdata/serverkey.pem
Labels: c/application server, c/shared, documentation

#2746 Stack component translations
  pkg/webui/console/views/overview/index.js
  pkg/webui/constants/components.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#2706 cli: Support setting end device location
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
Labels: documentation, ui/cli

#2755 Fix flaky error test
  pkg/errors/errors_test.go
Labels: quickfix

#2361 cli: Use SNAP_USER_COMMON for config files if available
  .goreleaser.yml
  CHANGELOG.md
  config/snap/ttn-lw-cli.wrapper
  config/snap/ttn-lw-stack.wrapper
Labels: documentation, ui/cli

#2768 Remove obsolete logger option errors
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  pkg/cluster/cluster_test.go
  pkg/component/component_test.go
  pkg/log/context_test.go
  pkg/log/example_test.go
  pkg/log/global.go
  pkg/log/log_test.go
  pkg/log/logger.go
  pkg/log/options.go
  pkg/rpcserver/rpcserver_test.go
  pkg/util/test/logger.go
  pkg/web/middleware/log_test.go
Labels: c/shared, quickfix, ui/cli

#2751 Refactor mage files
  .github/workflows/general.yml
  .travis.yml
  package.json
  pkg/webui/components/overlay/index.js
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/logics/lib.js
  pkg/webui/lib/components/with-request.js
  tools/go.mod
  tools/mage/docs.go
  tools/mage/general.go
  tools/mage/git.go
  tools/mage/go.go
  tools/mage/js.go
  tools/mage/js_sdk.go
  tools/mage/proto.go
  tools/mage/styl.go
  tools/mage/version.go
  yarn.lock
Labels: bug, dependencies, status/blocking/issue, tooling

#2759 Fix broken components in storybook
  pkg/webui/components/icon/story.js
  pkg/webui/components/list/index.js
  pkg/webui/components/list/story.js
  pkg/webui/components/progress-bar/story.js
  pkg/webui/components/status/index.js
  pkg/webui/components/status/story.js
Labels: bug, ui/web

#2752 Set device attributes in console
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, ui/web

#2773 Fix end device events stream restart in the Console
  CHANGELOG.md
  pkg/webui/console/containers/device-events/index.js
Labels: bug, c/console, documentation, ui/web

#2756 Fix/stdin pipe read error
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/internal/io/io.go
Labels: bug, documentation, ui/cli

#2772 Add description tooltips for events in the Console
  CHANGELOG.md
  pkg/webui/components/events-list/event/overview/overview.js
Labels: c/console, documentation, ui/web

#2775 Fix changelog
  CHANGELOG.md
Labels: documentation

#2731 Migrate js code checks to github actions
  .github/workflows/js.yml
  .travis.yml
Labels: tooling

#2744 Migrate release process to github actions
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  .travis.yml
  CODEOWNERS
  tools/go.mod
  tools/go.sum
Labels: tooling

#2588 Add search to docs
  .mage/docs.go
  .mage/version.go
  doc/config/_default/config.toml
  doc/config/_default/config.toml.tmpl
  doc/config/gh-pages/config.toml
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/partials/head.html
  doc/themes/the-things-stack/layouts/partials/header.html
  doc/themes/the-things-stack/layouts/partials/search.html
  doc/themes/the-things-stack/static/img/search_bg.svg
Labels: documentation

#2781 Defer subscribing to events until first subscriber
  CHANGELOG.md
  pkg/events/grpc/grpc.go
  pkg/events/redis/redis.go
Labels: compat/db, documentation, performance

#2776 Allow admins to see all gateways and applications in the Console
  CHANGELOG.md
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, ui/web

#2742 Quickfix/doc device template
  doc/content/devices/end-device-templates/_index.md
  doc/content/devices/end-device-templates/end-device-templates.md
Labels: documentation, quickfix

#2697 Add guide to connect Ursalink UG8X gateway
  CHANGELOG.md
  doc/content/gateways/ursalinkug8x/_index.md
  doc/content/gateways/ursalinkug8x/basic-station.png
  doc/content/gateways/ursalinkug8x/disable.png
  doc/content/gateways/ursalinkug8x/eui.png
  doc/content/gateways/ursalinkug8x/lbs.md
  doc/content/gateways/ursalinkug8x/login.png
  doc/content/gateways/ursalinkug8x/packet-forwarder.md
  doc/content/gateways/ursalinkug8x/plus.png
  doc/content/gateways/ursalinkug8x/semtech.png
  doc/content/gateways/ursalinkug8x/ursalink.jpg
  doc/themes/the-things-stack/assets/css/theme.scss
Labels: documentation

#2644 Use a wizard for creating end devices
  CHANGELOG.md
  pkg/webui/components/form/field/index.js
  pkg/webui/components/prompt/index.js
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/stepper/stepper.styl
  pkg/webui/components/wizard/stepper.js
  pkg/webui/console/components/device-data-form/index.js
  pkg/webui/console/components/device-data-form/messages.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/views/device-add/configuration-form/index.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema.js
  pkg/webui/console/views/device-add/configuration-form/validation-schema_test.js
  pkg/webui/console/views/device-add/device-add-single.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/console/views/device-add/utils.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/application-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/join-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/wizard/prompt/index.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/hooks/use-before-unload.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/device-entity-map.json
Labels: c/console, documentation, ui/web

#2765 doc: Update basics station docs
  doc/content/gateways/lora-basics-station/_index.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/content/gateways/lora-basics-station/troubleshooting.md
  doc/themes/the-things-stack/layouts/shortcodes/lbs.html
Labels: documentation

#2782 Fix changelog
  CHANGELOG.md
Labels: documentation, quickfix

#2767 doc: Add Azure integration guide
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/_index.md
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/azure-services-dashboard.png
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/creating-a-function-app.png
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/http-trigger-function-code.png
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/http-trigger-function-creation.png
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/azure-setup/successfully-deployed-function-app.png
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/tts-setup/_index.md
  doc/content/integrations/webhooks/cloud-integrations/microsoft-azure/tts-setup/azure-webhook-creation.png
Labels: documentation

#2779 gRPC discovery resolver
  config/messages.json
  pkg/applicationserver/linking.go
  pkg/rpcclient/rpcclient.go
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_internal_test.go
  pkg/rpcmiddleware/discover/discover_test.go
Labels: c/application server, c/shared

#2786 Recreate yarn.lock and fix JS fmt issues
  pkg/webui/components/tabs/story.js
  pkg/webui/console/containers/gateway-location-form/connect.js
  pkg/webui/console/containers/join-eui-prefixes-input/connect.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/reducers/tests/pagination_test.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/connect.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-overview/connect.js
  pkg/webui/console/views/gateway-overview/gateway-overview.js
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/console/views/organization-overview/connect.js
  pkg/webui/console/views/organization-overview/organization-overview.js
  pkg/webui/oauth/views/authorize/index.js
  pkg/webui/oauth/views/forgot-password/index.js
  pkg/webui/oauth/views/validate/index.js
  sdk/js/src/service/pubsubs.js
  yarn.lock
Labels: dependencies, quickfix, tooling, ui/web

#2785 Allow creating gateways without `frequency_plan_id` in the Console
  CHANGELOG.md
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/gateway-overview/gateway-overview.js
Labels: c/console, documentation, ui/web

#2794 Fix redirects for Echo groups without trailing slashes
  cmd/ttn-lw-stack/commands/start.go
  pkg/web/web.go
Labels: quickfix

#2795 Fix handling of proxy headers
  pkg/webmiddleware/log.go
  pkg/webmiddleware/log_test.go
  pkg/webmiddleware/proxy_headers.go
  pkg/webmiddleware/proxy_headers_test.go
Labels: quickfix

#2680 doc: Add feedback using emojicom, intercom and google analytics
  CHANGELOG.md
  doc/config/gh-pages/config.toml
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/layouts/_default/list.html
  doc/themes/the-things-stack/layouts/_default/single.html
  doc/themes/the-things-stack/layouts/partials/feedback.html
  doc/themes/the-things-stack/layouts/partials/footer.html
  doc/themes/the-things-stack/layouts/partials/intercom.html
Labels: documentation

#2809 Add observability to Redis package
  pkg/redis/observability.go
  pkg/redis/redis.go
Labels: compat/db

#2564 Enable authorization via session cookie
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  api/user.proto
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  doc/content/reference/api/authentication.md
  go.mod
  go.sum
  pkg/auth/auth.go
  pkg/auth/cookie.go
  pkg/console/console.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_session.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/oauth/config.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/user.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/web/cookie/cookie.go
  pkg/web/cookie/cookie_test.go
  pkg/web/middleware/csrf.go
  pkg/web/web.go
  pkg/webmiddleware/cookie.go
  pkg/webmiddleware/cookie_auth.go
  pkg/webmiddleware/cookie_auth_test.go
  pkg/webmiddleware/cookie_test.go
  pkg/webmiddleware/cors_test.go
  pkg/webmiddleware/csrf.go
  pkg/webmiddleware/csrf_test.go
  pkg/webmiddleware/webmiddleware.go
  pkg/webmiddleware/webmiddleware_test.go
  pkg/webui/console/api/index.js
  pkg/webui/lib/env.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth/api/index.js
  pkg/webui/oauth/views/authorize/index.js
  pkg/webui/template.go
  sdk/js/generated/api.json
  tools/go.sum
Labels: bump/minor, c/console, c/identity server, compat/api, compat/config, compat/db, dependencies, documentation, s/in progress, security, ui/web

#2808 Display user name instead of ID if possible in Console
  CHANGELOG.md
  pkg/webui/components/header/index.js
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/index_test.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, documentation, technical debt, ui/web

#2750 Add guide to connect LORIX One gateway
  CHANGELOG.md
  doc/content/gateways/lorix-one/_index.md
  doc/content/gateways/lorix-one/lbs.md
  doc/content/gateways/lorix-one/lorix-one-login.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-antenna.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-bs-control-logs.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-bs-lns.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-bs.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-forwarder-change-bs.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-forwarder-change-list.png
  doc/content/gateways/lorix-one/lorix-one-lora-settings-forwarder.png
  doc/content/gateways/lorix-one/lorix-one.png
  doc/content/gateways/lorix-one/udp.md
Labels: documentation
