Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-04, with the labels that each got.

#2271 Log otherwise swallowed errors when in development mode
  pkg/webui/components/error-notification/index.js
  pkg/webui/console/store/middleware/logics/lib.js
Labels: c/console, quickfix, ui/web

#2275 Fix merging device array values
  sdk/js/src/service/devices/merge.js
Labels: bug, c/sdk/js, quickfix

#2272 Fix observability label values for GS status messages
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/observability.go
  pkg/gatewayserver/upstream/upstream.go
Labels: c/gateway server, prio/high, quickfix

#2276 Enable gRPC keep alive
  pkg/rpcclient/rpcclient.go
  pkg/rpcserver/rpcserver.go
Labels: c/shared, scalability

#2267 Fix schedule anytime delay input styling
  pkg/webui/components/unit-input/index.js
  pkg/webui/console/components/gateway-data-form/index.js
Labels: bug, ui/web

#2260 Fix panic in GS stats update
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
Labels: bug, c/gateway server

#2270 doc: Add missing console authorize url config
  config/stack/ttn-lw-stack.yml
  doc/content/guides/getting-started/configuration.md
Labels: documentation, quickfix

#2248 cli: Local config takes precedence over global
  CHANGELOG.md
  pkg/config/config.go
  pkg/config/files_test.go
Labels: quickfix, ui/cli

#2279 Support simulating FOpts
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
Labels: tooling, ui/cli

#2277 Fix end device deletion notification for failed requests
  CHANGELOG.md
  sdk/js/src/service/devices/index.js
Labels: bug, c/sdk/js

#2283 Release v.3.7.0
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2285 Fix CHANGELOG
  CHANGELOG.md
Labels: quickfix

#2286 Use lowercase docker repo name in deployment doc
  DEVELOPMENT.md
Labels: documentation, quickfix

#2288 console: Move webhook format logic middleware
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/pubsubs.js
  pkg/webui/console/store/middleware/logics/webhooks.js
Labels: c/console, quickfix

#2290 Enable value passing in input messages
  pkg/webui/components/input/index.js
Labels: c/console, quickfix, ui/web

#2246 Add `--dump-requests` flag to the CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/internal/api/grpc.go
Labels: ui/cli

#2289 Improve link component styling
  pkg/webui/components/breadcrumbs/breadcrumb/breadcrumb.styl
  pkg/webui/components/breadcrumbs/breadcrumb/index.js
  pkg/webui/components/events/widget/index.js
  pkg/webui/components/events/widget/widget.styl
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/link/story.js
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/map/widget/widget.styl
  pkg/webui/styles/main.styl
Labels: c/console, quickfix, ui/web

#2291 Show template ID in webhook table
  CHANGELOG.md
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/containers/webhooks-table/webhooks-table.styl
  pkg/webui/console/store/actions/webhooks.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#2282 Fix end device claim display bug when claim dates are not set
  CHANGELOG.md
  pkg/webui/console/views/device-claim-authentication-code/index.js
Labels: bug, c/console, quickfix

#2309 Log Network Server deduplication errors
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, quickfix

#2307 Fix LoRaWAN 1.1 support
  CHANGELOG.md
  CODEOWNERS
  pkg/crypto/data_messages.go
  pkg/encoding/lorawan/mac.go
Labels: bug

#2296 Various event-related Network Server fixes and improvements
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/messages.proto
  cmd/internal/shared/networkserver/config.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/application server, c/network server, compat/api, status/blocking/issue

#2240 Update gateway location handling fixes
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server, performance

#2214 Feature/cli all fields mask
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

#2308 Remove entity proxies in JS SDK
  sdk/js/src/entity/application.js
  sdk/js/src/entity/application.test.js
  sdk/js/src/entity/device.js
  sdk/js/src/entity/entity.js
  sdk/js/src/entity/entity.test.js
  sdk/js/src/index.js
  sdk/js/src/index.test.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/applications.test.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/marshaler.js
  sdk/js/src/util/obj-tracking.js
  sdk/js/src/util/obj-tracking.test.js
Labels: c/sdk/js, quickfix

#2311 Avoid storing AppSKey in Network Server
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
Labels: c/network server

#2294 Relax Network Server field mask rules
  pkg/networkserver/grpc_deviceregistry.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
Labels: c/network server, quickfix

#2313 Use correct downlink operations path in docs
  doc/content/reference/application-server-data/webhooks/_index.md
Labels: documentation, quickfix

#2314 Use correct downlink queue path in GitHub pages
  v3.7.0/reference/application-server-data/webhooks/index.html
Labels: documentation, quickfix

#2295 Event and testing utilities
  pkg/cluster/peer_internal_test.go
  pkg/events/definitions.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/random/random_test.go
  pkg/util/test/application_services.go
  pkg/util/test/assertions/context_internal_test.go
  pkg/util/test/assertions/elements.go
  pkg/util/test/assertions/elements_test.go
  pkg/util/test/assertions/events.go
  pkg/util/test/assertions/should/should.go
  pkg/util/test/elements.go
  pkg/util/test/elements_test.go
Labels: c/shared, status/blocking/issue

#2315 Fix webui/sdk deps vulnerabilities
  package.json
  sdk/js/package.json
  sdk/js/yarn.lock
  yarn.lock
Labels: c/console, c/sdk/js, dependencies, ui/web

#2317 Fix dropdown clickable area
  pkg/webui/components/dropdown/dropdown.styl
Labels: bug, c/console, ui/web

#2264 Add frontend error reporting
  cmd/ttn-lw-stack/commands/start.go
  package.json
  pkg/webui/console.js
  pkg/webui/console/store/middleware/logics/lib.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/env.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth.js
  pkg/webui/template.go
  yarn.lock
Labels: c/console

#2274 Fix content flashing in console overview
  pkg/webui/console/store/selectors/fetching.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/styles/fonts.styl
Labels: c/console, quickfix, ui/web

#2322 Remove ignoreDisabledComponents option from device service
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
Labels: c/sdk/js, quickfix

#2305 Improve subview error messages for not found routes
  pkg/webui/console/views/error/sub-view.js
Labels: c/console, ui/web

#2324 Refactor deleteById method in devices service
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, ui/web

#2292 Add webhook template functionality to the console
  CHANGELOG.md
  package.json
  pkg/webui/assets/misc/blank-webhook.svg
  pkg/webui/console/api/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/components/webhook-template-info/index.js
  pkg/webui/console/components/webhook-template-info/webhook-template-info.styl
  pkg/webui/console/store/actions/webhook-templates.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/webhook-templates.js
  pkg/webui/console/store/selectors/webhook-templates.js
  pkg/webui/console/views/application-integrations-webhook-add-choose/application-integrations-webhook-add-choose.styl
  pkg/webui/console/views/application-integrations-webhook-add-choose/index.js
  pkg/webui/console/views/application-integrations-webhook-add-form/index.js
  pkg/webui/console/views/application-integrations-webhook-add/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/application-integrations-webhook-edit.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/service/webhooks.js
  yarn.lock
Labels: c/console, ui/web

#2221 Network Server event handling and monitoring
  CHANGELOG.md
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/observability.go
  pkg/networkserver/utils.go
Labels: c/network server, status/blocking/issue

#2328 Fix error display in device import
  CHANGELOG.md
  pkg/webui/console/containers/device-importer/index.js
Labels: bug, c/console, quickfix, ui/web

#2330 Fix AS and NS address assignment in device import
  pkg/webui/console/containers/device-importer/index.js
Labels: bug, c/console, ui/web

#2332 Fix message component styles
  pkg/webui/lib/components/message/index.js
Labels: c/console, quickfix, ui/web

#2331 Disable claim auth code field when JS is not selected in device import
  pkg/webui/console/components/device-import-form/index.js
Labels: c/console, quickfix, ui/web

#2334 Save template fields in webhooks
  pkg/webui/console/components/webhook-template-form/index.js
Labels: c/console, quickfix

#2287 Remove custom sorting in documentation
  doc/content/components/application-server.md
  doc/content/components/cli.md
  doc/content/components/console.md
  doc/content/components/device-template-converter.md
  doc/content/components/gateway-configuration-server.md
  doc/content/components/gateway-server.md
  doc/content/components/identity-server.md
  doc/content/components/join-server.md
  doc/content/components/network-server.md
  doc/content/components/qr-code-generator.md
  doc/content/concepts/email-templates.md
  doc/content/concepts/end-device-templates.md
  doc/content/concepts/webhook-templates.md
  doc/content/guides/branding/_index.md
  doc/content/guides/class-c-multicast/_index.md
  doc/content/guides/connecting-gateways/_index.md
  doc/content/guides/connecting-gateways/kerlinkwirnetistation/_index.md
  doc/content/guides/connecting-gateways/kerlinkwirnetstation/_index.md
  doc/content/guides/connecting-gateways/multitechconduit/_index.md
  doc/content/guides/connecting-gateways/nasysoutdoorgateway/_index.md
  doc/content/guides/connecting-gateways/tektelickonamicro/_index.md
  doc/content/guides/connecting-gateways/thethingskickstartergateway/_index.md
  doc/content/guides/downlink-queue-ops/_index.md
  doc/content/guides/events/_index.md
  doc/content/guides/generate-qr-code/_index.md
  doc/content/guides/getting-started/_index.md
  doc/content/guides/user-management/_index.md
  doc/content/reference/api/_index.md
  doc/content/reference/api/application.md
  doc/content/reference/api/application_pub_sub.md
  doc/content/reference/api/application_server.md
  doc/content/reference/api/application_webhooks.md
  doc/content/reference/api/end_device.md
  doc/content/reference/api/end_device_claiming.md
  doc/content/reference/api/gateway.md
  doc/content/reference/api/gateway_server.md
  doc/content/reference/api/network_server.md
  doc/content/reference/application-packages/_index.md
  doc/content/reference/application-packages/lora-cloud-device-management.md
  doc/content/reference/application-server-data/_index.md
  doc/content/reference/application-server-data/data-formats/_index.md
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/application-server-data/webhooks/_index.md
  doc/content/reference/configuration/_index.md
  doc/content/reference/configuration/application-server.md
  doc/content/reference/configuration/cli.md
  doc/content/reference/configuration/console.md
  doc/content/reference/configuration/gateway-configuration-server.md
  doc/content/reference/configuration/gateway-server.md
  doc/content/reference/configuration/identity-server.md
  doc/content/reference/configuration/join-server.md
  doc/content/reference/configuration/network-server.md
  doc/content/reference/configuration/the-things-stack.md
  doc/content/reference/email-templates/_index.md
  doc/content/reference/end-device-templates/_index.md
  doc/content/reference/interop-repository/_index.md
  doc/content/reference/networking/_index.md
  doc/content/reference/webhook-templates/_index.md
Labels: documentation, quickfix

#2335 Drop FPort 0 uplinks with non-empty FOpts
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
Labels: c/network server, quickfix

#2357 Fix update password view in oauth
  CHANGELOG.md
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/oauth/views/update-password/index.js
Labels: bug, c/identity server, prio/medium, ui/web

#2339 Fix FOpts encryption and decryption in LoRaWAN 1.1 frames
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/simulate.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/payload.go
  pkg/crypto/data_messages.go
  pkg/crypto/data_messages_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_test.go
Labels: c/network server, status/blocking/release

#2299 Improve cli config file generation
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/use.go
  doc/content/guides/getting-started/cli/_index.md
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/discover/discover_internal_test.go
Labels: ui/cli

#2336 Cleanup devices service in js sdk
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/views/device-add/index.js
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, quickfix, ui/web

#2343 as: Return error when deleting non-existent device
  CHANGELOG.md
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
Labels: bug, c/application server, compat/api

#2362 Get LNS Trust even without lns creds attribute
  CHANGELOG.md
  pkg/basicstation/cups/update_info.go
Labels: bug, c/gateway conf server

#2342 ns: Return error when deleting non-existent device
  CHANGELOG.md
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: bug, c/network server, compat/api

#2367 Fix js translate mage target dependency issue
  .mage/js.go
Labels: bug, quickfix, tooling

#2364 Fix too strict url validation in Console
  CHANGELOG.md
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/lib/regexp.js
Labels: bug, c/console, ui/web

#2363 Fix webhook and pubsub counts in Console
  CHANGELOG.md
  pkg/webui/console/store/selectors/pubsubs.js
  pkg/webui/console/store/selectors/webhooks.js
Labels: bug, c/console, ui/web

#2370 Fix end device delete button styling
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
Labels: c/console, quickfix, ui/web

#2369 Remove redundant app ID check
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
Labels: c/join server, goldplating, quickfix

#2372 Set DevEUI if available for ABP devices
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: quickfix, ui/cli

#2354 Improve getting started guide
  doc/content/guides/getting-started/certificates.md
  doc/content/guides/getting-started/cli/_index.md
  doc/content/guides/getting-started/configuration.md
  doc/content/guides/getting-started/console/create-application/_index.md
  doc/content/guides/getting-started/installation.md
  doc/layouts/shortcodes/repo.html
Labels: documentation

#2341 cli: Include missing enum values in help text
  CHANGELOG.md
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: ui/cli

#2365 Avoid unnecessary span rendering in message component
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/__snapshots__/index_test.js.snap
  pkg/webui/components/table/sort-button/__snapshots__/index_test.js.snap
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/components/message/index.js
Labels: quickfix, ui/web

#2148 Client initiated logout / logout propagation to oauth server
  .mage/dev.go
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/client.proto
  cmd/internal/shared/console/config.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  config/messages.json
  doc/content/guides/getting-started/running-the-stack.md
  pkg/console/console.go
  pkg/identityserver/store/client.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/user.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/web/oauthclient/logout.go
  pkg/web/oauthclient/oauthclient.go
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/lib.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/reducers/user.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/views/landing/index.js
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/console, c/identity server, compat/api, compat/db, security, status/blocking/issue

#2350 console: Use manifest in public dir for asset hashes
  CHANGELOG.md
  DEVELOPMENT.md
  config/manifest-template.txt
  config/manifest-template.yaml
  config/webpack.config.babel.js
  pkg/web/web.go
  pkg/webui/.gitignore
  pkg/webui/template.go
Labels: tooling

#2349 Ensure webhook template store is not nil before accessing
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/web/grpc_webhooks.go
  pkg/applicationserver/io/web/templates.go
Labels: bug, c/application server

#2374 Remove todo from devices service in JS SDK
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/index.js
  sdk/js/src/service/devices/index.js
Labels: c/sdk/js, quickfix

#2377 Sort events by `time` in the Console
  CHANGELOG.md
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/reducers/tests/events_test.js
Labels: c/console, ui/web

#2375 Fix device overview not displaying errors
  CHANGELOG.md
  sdk/js/src/service/devices/index.js
Labels: bug, c/console, c/sdk/js, ui/web

#2378 console: Restore static files not being served
  pkg/web/web.go
Labels: bug, c/console

#2380 Fix various band inconsistencies
  CHANGELOG.md
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/downgrades.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
Labels: bug, c/shared, prio/medium, status/blocking/release

#2376 all: Update goreleaser to v0.132.0
  go.mod
  go.sum
Labels: bug, ui/cli

#2384 Release v3.7.1
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2393 Release v3.7.2
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#2395 Fix `isTranslated` error utility in webui
  pkg/webui/lib/errors/utils.js
Labels: c/console, quickfix, ui/web

#2396 Fix Changelog in Master
  CHANGELOG.md
Labels: quickfix

#2387 doc: Fix URL for example JSON file
  doc/content/reference/end-device-templates/converting.md
  doc/content/reference/end-device-templates/mapping.md
Labels: documentation

#2345 doc: Fix broken format with <details> sections
  doc/content/guides/class-c-multicast/_index.md
  doc/content/guides/generate-qr-code/end-devices.md
  doc/content/guides/user-management/cli/_index.md
  doc/content/reference/application-packages/_index.md
  doc/content/reference/application-packages/lora-cloud-device-management.md
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/end-device-templates/assigning-euis.md
  doc/content/reference/end-device-templates/converting.md
  doc/content/reference/end-device-templates/creating.md
  doc/content/reference/end-device-templates/executing.md
  doc/content/reference/end-device-templates/mapping.md
  doc/themes/the-things-stack/assets/css/theme.scss
Labels: bug, documentation

#2386 Add target check to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tooling

#2400 Improve dwell time handling in Network Server
  pkg/networkserver/utils.go
Labels: c/network server, quickfix

#2399 Support RekeyInd retransmissions and improve security
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac_rekey.go
  pkg/networkserver/mac_rekey_test.go
Labels: c/network server, security

#2398 Identity server custom table migrations
  cmd/ttn-lw-stack/commands/is_db.go
  config/messages.json
  pkg/identityserver/store/migration.go
  pkg/identityserver/store/migration_store.go
  pkg/identityserver/store/migration_store_test.go
  pkg/identityserver/store/migrations/migration.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/store_interfaces.go
Labels: bump/minor, c/identity server, compat/api, ui/cli

#2407 Use correct entity struct for migration store deletion
  pkg/identityserver/store/migration_store.go
Labels: c/identity server, quickfix

#2411 Fix events order in the Console
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/reducers/tests/events_test.js
Labels: c/console, ui/web

#2401 Handle MAC command rejections in Network Server
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_dl_channel.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_link_adr.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_new_channel.go
  pkg/networkserver/mac_new_channel_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/network server, performance

#2388 Add missing documentation of oauth logout url config
  DEVELOPMENT.md
  doc/content/guides/getting-started/configuration.md
  doc/content/reference/configuration/console.md
Labels: documentation

#2409 Distinguish join events in the Console
  pkg/webui/components/event/types/index.js
  pkg/webui/components/event/types/message/index.js
  pkg/webui/components/icon/index.js
Labels: c/console, ui/web

#2414 Correct default DAS URL
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/tokens_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
Labels: c/application server

#2417 Update protoc and related dependencies
  .mage/proto.go
  api/api.swagger.json
  go.mod
  go.sum
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/web/error_handler_test.go
Labels: dependencies

#2416 Show error details for failed events
  CHANGELOG.md
  pkg/webui/components/event/types/error/error.styl
  pkg/webui/components/event/types/error/index.js
  pkg/webui/lib/errors/utils.js
Labels: c/console, ui/web

#2325 Set device and gateway location on map
  package.json
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/overlay/index.js
  pkg/webui/components/table/__snapshots__/index_test.js.snap
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/location-form/location-form.styl
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console, ui/web

#2419 Fix connection status display in gateways table
  CHANGELOG.md
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/middleware/logics/gateways.js
Labels: c/console, ui/web

#2426 Extend console bytes utils
  pkg/webui/console/lib/bytes.js
  pkg/webui/console/lib/bytes_test.js
Labels: c/console, quickfix, ui/web

#2420 quickfix/CLI config oauth server address
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/use.go
Labels: bug, ui/cli

#2397 Link documentation from console
  cmd/internal/shared/console/config.go
  config/storybook/config.js
  config/storybook/env.js
  pkg/console/config.go
  pkg/webui/components/link/index.js
  pkg/webui/components/link/story.js
  pkg/webui/lib/env.js
  pkg/webui/lib/generate-doc-url.js
  pkg/webui/lib/selectors/env.js
Labels: c/console, documentation, ui/web

#2443 Open source LoRaWAN 2.4 GHz band
  CHANGELOG.md
  pkg/band/ism_2400.go
  pkg/toa/toa.go
  pkg/toa/toa_test.go
Labels: c/shared

#2301 Improve CLI handling of updating values to null
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/internal/util/flags.go
  config/messages.json
Labels: ui/cli

#2433 Enforce newlines between import groups
  config/eslintrc.yaml
  package.json
  pkg/webui/components/map/index.js
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/app/index.js
  sdk/js/src/service/devices/index.js
Labels: tooling

#2452 Check if migration returned an error
  cmd/ttn-lw-stack/commands/is_db.go
Labels: quickfix, ui/cli

#2459 Fix https port in changelog to avoid confusion
  CHANGELOG.md
Labels: documentation, quickfix

#2461 Move web tests to _test package
  pkg/webhandlers/error_test.go
  pkg/webmiddleware/max_body_internal_test.go
  pkg/webmiddleware/max_body_test.go
Labels: quickfix

#2427 Fix band downgrade impurity and data rates in AU915 1.0.2-a
  CHANGELOG.md
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/downgrades.go
  pkg/networkserver/networkserver_util_test.go
Labels: backport, bug, c/shared, status/blocking/release
