Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-09, with the labels that each got.

#3172 Link to Payload Formatters documentation
  doc/content/getting-started/migrating-from-v2/major-changes.md
Labels: documentation, quickfix

#3173 Allow setting custom id to select components
  pkg/webui/components/select/index.js
Labels: c/console, quickfix, ui/web

#3174 Fix byte input value change
  pkg/webui/components/input/byte.js
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
Labels: c/console, ui/web

#3170 Testing utilities, use in Network Server
  pkg/networkserver/adr_internal_test.go
  pkg/networkserver/mac_adr_param_setup_test.go
  pkg/networkserver/mac_beacon_freq_test.go
  pkg/networkserver/mac_beacon_timing_test.go
  pkg/networkserver/mac_dev_status_test.go
  pkg/networkserver/mac_device_mode_test.go
  pkg/networkserver/mac_device_time_test.go
  pkg/networkserver/mac_dl_channel_test.go
  pkg/networkserver/mac_duty_cycle_test.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/mac_link_check_test.go
  pkg/networkserver/mac_new_channel_test.go
  pkg/networkserver/mac_ping_slot_channel_test.go
  pkg/networkserver/mac_ping_slot_info_test.go
  pkg/networkserver/mac_rejoin_param_setup_test.go
  pkg/networkserver/mac_rekey_test.go
  pkg/networkserver/mac_reset_test.go
  pkg/networkserver/mac_rx_param_setup_test.go
  pkg/networkserver/mac_rx_timing_setup_test.go
  pkg/networkserver/mac_tx_param_setup_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/util/test/events.go
  pkg/util/test/test.go
Labels: blocking/issue, c/network server, prio/high

#3175 Various Network Server utilities
  CHANGELOG.md
  pkg/crypto/data_messages.go
  pkg/networkserver/config.go
  pkg/networkserver/observability.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/lorawan.go
Labels: blocking/issue, c/network server, prio/high

#3159 Update CODEOWNERS for cypress tests
  CODEOWNERS
Labels: documentation, tooling

#3169 Network Server utilities
  pkg/encoding/lorawan/messages.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
Labels: blocking/issue, c/network server, prio/high

#3178 Remove config related assertions in e2e tests
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/user-registration.spec.js
Labels: c/console, quickfix, ui/web

#3180 MQTT pub/sub reconnection and logging
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  config/messages.json
  doc/data/api/ttn.lorawan.v3/messages.yml
  go.mod
  go.sum
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.sum
Labels: c/application server, compat/api, dependencies, documentation

#3182 Update Go to 1.15
  .github/workflows/doc.yml
  .github/workflows/general.yml
  .github/workflows/go.yml
  .github/workflows/js.yml
  .github/workflows/proto.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  CHANGELOG.md
  go.mod
  pkg/component/testdata/clientca.pem
  pkg/component/testdata/clientcert.pem
  pkg/component/testdata/clientkey.pem
  pkg/component/testdata/serverca.pem
  pkg/component/testdata/servercert.pem
  pkg/component/testdata/serverkey.pem
  pkg/packetbrokeragent/testdata/clientca.pem
  pkg/packetbrokeragent/testdata/clientcert.pem
  pkg/packetbrokeragent/testdata/clientkey.pem
  pkg/packetbrokeragent/testdata/serverca.pem
  pkg/packetbrokeragent/testdata/servercert.pem
  pkg/packetbrokeragent/testdata/serverkey.pem
  pkg/rpcmiddleware/discover/testdata/serverca.pem
  pkg/rpcmiddleware/discover/testdata/servercert.pem
  pkg/rpcmiddleware/discover/testdata/serverkey.pem
  tools/go.mod
Labels: blocking/issue, c/packet broker agent, dependencies, documentation

#3029 Refactor Basic Station front end
  cmd/internal/shared/gatewayserver/config.go
  config/messages.json
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/ws/config.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/discover.go
  pkg/gatewayserver/io/ws/lbslns/discover_test.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/lbslns/format.go
  pkg/gatewayserver/io/ws/lbslns/messages.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/lbslns/version.go
  pkg/gatewayserver/io/ws/lbslns/version_test.go
  pkg/gatewayserver/io/ws/sessions.go
  pkg/gatewayserver/io/ws/util/util.go
  pkg/gatewayserver/io/ws/util/util_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Labels: c/gateway server, compat/config, dependencies

#3185 Fix context used in lbslns tests
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
Labels: c/gateway server, quickfix

#3183 Fix storybook issues
  config/storybook/config.js
  config/storybook/env.js
  config/storybook/preview-head.html
  pkg/webui/styles/main.styl
Labels: bug, quickfix, tooling, ui/web

#3092 doc: Add the guide for integrating with IFTTT
  doc/content/integrations/ifttt/_index.md
  doc/content/integrations/ifttt/ifttt-setup/_index.md
  doc/content/integrations/ifttt/ifttt-setup/choosing-a-service.png
  doc/content/integrations/ifttt/ifttt-setup/choosing-action-service.png
  doc/content/integrations/ifttt/ifttt-setup/completing-action-fields.png
  doc/content/integrations/ifttt/ifttt-setup/naming-trigger.png
  doc/content/integrations/ifttt/ifttt-setup/webhooks-documentation-page.png
  doc/content/integrations/ifttt/node-red-setup/_index.md
  doc/content/integrations/ifttt/node-red-setup/final-setup.png
  doc/content/integrations/ifttt/node-red-setup/function-node.png
  doc/content/integrations/ifttt/node-red-setup/http-in-node.png
  doc/content/integrations/ifttt/node-red-setup/http-request-node.png
  doc/content/integrations/ifttt/node-red-setup/http-response-node.png
  doc/content/integrations/ifttt/tts-setup/_index.md
  doc/content/integrations/ifttt/tts-setup/creating-a-webhook.png
Labels: documentation

#3188 Cancel pub/sub integration on send and receive failure
  CHANGELOG.md
  pkg/applicationserver/io/pubsub/pubsub.go
Labels: bug, c/application server, documentation, quickfix

#3181 Document Application and Gateway Server APIs
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/gatewayserver.proto
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/gatewayserver.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3186 Fix oauth login e2e test
  cypress/integration/oauth/login.spec.js
Labels: tooling

#3156 doc: Update InfluxDB integration guide
  doc/content/integrations/cloud-integrations/influxdb-cloud/_index.md
  doc/content/integrations/cloud-integrations/influxdb-cloud/influxdb-cloud-setup/_index.md
  doc/content/integrations/cloud-integrations/influxdb-cloud/telegraf-setup/influxdb-http.png
  doc/content/integrations/cloud-integrations/influxdb-cloud/telegraf-setup/influxdb-mqtt.png
  doc/content/integrations/cloud-integrations/influxdb-cloud/telegraf-setup/telegraf-http-setup.md
  doc/content/integrations/cloud-integrations/influxdb-cloud/telegraf-setup/telegraf-mqtt-setup.md
Labels: documentation

#3195 Update http-proxy dependency
  yarn.lock
Labels: dependencies, quickfix

#3160 doc: Migration instructions: add gateway migration and small fixes
  doc/content/getting-started/migrating-from-v2/gateway-migration.md
  doc/content/getting-started/migrating-from-v2/import-devices.md
  doc/content/getting-started/migrating-from-v2/mqtt-api-comparison.md
Labels: documentation

#3148 doc: Add Eclipse Mosquitto integration guide
  doc/content/integrations/mqtt-clients/_index.md
  doc/content/integrations/mqtt-clients/eclipse-mosquitto/_index.md
Labels: documentation

#3196 Fix and improve offline logic
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/notification/index.js
  pkg/webui/components/offline-status/index.js
  pkg/webui/components/offline-status/offline.styl
  pkg/webui/components/toast/toast.js
  pkg/webui/console/store/actions/status.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/status.js
  pkg/webui/console/store/selectors/status.js
  pkg/webui/console/views/app/index.js
  pkg/webui/containers/offline-status/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, quickfix, ui/web

#3164 doc: Add MQTTBox integration guide
  doc/content/integrations/mqtt-clients/_index.md
  doc/content/integrations/mqtt-clients/mqttbox/_index.md
  doc/content/integrations/mqtt-clients/mqttbox/mqttbox-config.png
  doc/content/integrations/mqtt-clients/mqttbox/mqttbox-tls-config.png
  doc/content/integrations/mqtt-clients/mqttbox/publish.png
  doc/content/integrations/mqtt-clients/mqttbox/subscribe.png
Labels: documentation

#3200 Event backends resilience improvements
  cmd/internal/shared/events.go
  cmd/internal/shared/init.go
  cmd/ttn-lw-stack/commands/root.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/events/cloud/cloud.go
  pkg/events/cloud/cloud_test.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
Labels: blocking/release, c/shared, compat/db, prio/medium

#3206 doc: Revise installation guide
  doc/content/example-template/_index.md
  doc/content/getting-started/installation/_index.md
  doc/content/getting-started/installation/certificates.md
  doc/content/getting-started/installation/configuration.md
  doc/content/getting-started/installation/configuration/_index.md
  doc/content/getting-started/installation/configuration/docker-compose.yml
  doc/content/getting-started/installation/configuration/ttn-lw-stack-docker.yml
  doc/content/getting-started/installation/preparation.md
  doc/content/getting-started/installation/running-the-stack.md
  doc/content/getting-started/installation/troubleshooting.md
  doc/themes/the-things-stack/layouts/shortcodes/readfile.html
Labels: documentation

#3208 Add service data fields to pub/sub and webhooks
  CHANGELOG.md
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/mapping.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: documentation, quickfix, ui/web

#3212 Fix app container style
  pkg/webui/styles/main.styl
Labels: blocking/release, bug, c/console, prio/medium, quickfix, ui/web

#3211 Add unique event identifiers
  api/api.md
  api/api.swagger.json
  api/events.proto
  doc/data/api/ttn.lorawan.v3/messages.yml
  pkg/events/builder.go
  pkg/events/events.go
  pkg/events/grpc/grpc.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/util/test/assertions/events.go
  pkg/util/test/events.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, documentation

#3215 Reset downlink handler on error
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/upstream/ns/ns.go
Labels: c/gateway server

#3213 Fix application uplinks queue memory usage
  CHANGELOG.md
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/redis.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, performance, prio/high

#3217 Bump to version 3.9.2
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3219 Clone message before attempting changes
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, quickfix

#3203 Fix mage dev:DBRestore target
  .github/workflows/e2e.yml
  cypress/support/commands.js
  tools/mage/dev.go
Labels: blocking/issue, tooling

#3218 Update storybook dependencies
  package.json
  yarn.lock
Labels: dependencies, quickfix, security, tooling

#3224 Fix Redis keys
  pkg/networkserver/redis/application_uplink_queue.go
Labels: blocking/release, bug, compat/db, quickfix

#3194 doc: Add common CA certs to reference
  CHANGELOG.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
  doc/content/reference/root-certificates/_index.md
  doc/content/reference/root-certificates/ca.pem
Labels: documentation

#3228 Fix proptype warnings
  pkg/webui/components/widget-container/index.js
  pkg/webui/console/containers/gateway-connection/tests/__snapshots__/gateway-connection-reactor_test.js.snap
  pkg/webui/console/containers/gateway-connection/tests/gateway-connection-reactor_test.js
  pkg/webui/lib/prop-types.js
Labels: c/console, quickfix, technical debt, ui/web

#3222 Open source AWS IoT pub/sub API
  api/api.md
  api/api.swagger.json
  api/applicationserver_pubsub.proto
  doc/data/api/ttn.lorawan.v3/messages.yml
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api, documentation, quickfix

#3231 Fix usage of incorrect uplink FCnt in the Console
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
Labels: c/console, documentation, ui/web

#3233 doc: Simplify basics station docs
  doc/content/gateways/lora-basics-station/_index.md
  doc/content/gateways/lora-basics-station/cups.md
  doc/content/gateways/lora-basics-station/lns.md
Labels: documentation

#3234 Pass ServiceData to frontends in AS
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
Labels: bug, c/application server, documentation, prio/high, quickfix

#3236 Introduce and respect downlink-queue-capacity in Network Server
  CHANGELOG.md
  api/api.md
  api/messages.proto
  config/messages.json
  doc/data/api/ttn.lorawan.v3/messages.yml
  pkg/networkserver/config.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/networkserver.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: blocking/release, c/network server, performance

#3225 Add `ns-db prune` stack subcommand
  cmd/ttn-lw-stack/commands/redis.go
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/redis/application_uplink_queue.go
Labels: blocking/release, c/network server, ui/cli

#3238 Release v3.9.3
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3239 Only count unique frames when counting ADR loss rate
  CHANGELOG.md
  pkg/networkserver/adr.go
  pkg/networkserver/adr_internal_test.go
Labels: blocking/release, c/network server, performance

#3227 Fix inconsistent KeyValueMap validation
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/console/components/webhook-form/index.js
Labels: bug, c/console, ui/web

#3244 Clone UplinkMessage explicitly
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/upstream.go
Labels: c/gateway server, documentation, quickfix

#3246 Use rxDelay correctly for BS xTime calculation
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/ws_test.go
Labels: bug, c/gateway server, quickfix

#3247 Fix 32-bit downlink FCnt
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
Labels: blocking/issue, blocking/release, bug, c/network server

#3235 Fix target dependency of install yarn target
  tools/mage/js.go
Labels: bug, quickfix, tooling

#3252 Use our fork of paho.mqtt.golang
  go.mod
  go.sum
Labels: dependencies, prio/high

#3253 Ensure sufficient data before adjusting NbTrans
  pkg/networkserver/adr.go
Labels: blocking/release, c/network server, performance

#3190 Remove AS-NS linking in the AS
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/messages.proto
  cmd/internal/shared/applicationserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  doc/data/events.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/distribution/distribution.go
  pkg/applicationserver/distribution/local_distributor.go
  pkg/applicationserver/distribution/observability.go
  pkg/applicationserver/distribution/pubsub_distributor.go
  pkg/applicationserver/distribution/redis/redis.go
  pkg/applicationserver/distribution/subscription_map.go
  pkg/applicationserver/distribution/subscription_set.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/middleware.go
  pkg/applicationserver/io/middleware_test.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/util_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/config, compat/db, documentation

#3245 Fix feature toggle redirects
  CHANGELOG.md
  cypress/integration/smoke/feature-toggles/index.js
  cypress/integration/smoke/index.js
  cypress/support/commands.js
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/index.js
  pkg/webui/console/lib/components/require.js
  pkg/webui/console/lib/components/with-feature-requirement.js
Labels: bug, c/console, documentation, ui/web

#3248 Store and publish decoded dowlink payloads
  CHANGELOG.md
  api/api.md
  api/lorawan.proto
  doc/data/api/ttn.lorawan.v3/messages.yml
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.validate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, performance

#3243 Add stack configuration to e2e tests setup
  config/cypress.json
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/user-registration.spec.js
  cypress/plugins/index.js
  cypress/plugins/tasks.js
  cypress/support/utils.js
Labels: tooling

#3255 Fix fetch-table styles
  pkg/webui/console/containers/fetch-table/fetch-table.styl
Labels: c/console, quickfix, ui/web

#3232 doc: Update HTTP API instructions
  doc/content/reference/api/_index.md
Labels: compat/api, documentation

#3260 Revert AS link removal changes
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/messages.proto
  cmd/internal/shared/applicationserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
  doc/data/events.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/distribution/distribution.go
  pkg/applicationserver/distribution/local_distributor.go
  pkg/applicationserver/distribution/observability.go
  pkg/applicationserver/distribution/pubsub_distributor.go
  pkg/applicationserver/distribution/redis/redis.go
  pkg/applicationserver/distribution/subscription_map.go
  pkg/applicationserver/distribution/subscription_set.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/middleware.go
  pkg/applicationserver/io/middleware_test.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/applicationserver/linking_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/util_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/config, compat/db, documentation, prio/medium, quickfix

#3262 Fix NS panic when RX2 parameters cannot be computed
  pkg/networkserver/downlink.go
Labels: bug, c/network server

#3258 Fix MAC setting validation
  pkg/networkserver/grpc_deviceregistry.go
Labels: blocking/issue, bug, c/network server, quickfix

#3241 doc: Add HiveMQ integration doc
  doc/content/integrations/mqtt-clients/hivemq/_index.md
Labels: documentation

#3128 doc: Add the MQTT integration guide for Eclipse Paho client
  doc/content/integrations/mqtt-clients/eclipse-paho/_index.md
Labels: documentation

#3264 Add panic recovery to tasks
  config/messages.json
  pkg/component/tasks.go
Labels: c/shared

#3265 doc: Fix tabs
  doc/themes/the-things-stack/assets/css/theme.scss
  doc/themes/the-things-stack/assets/js/theme.js
  doc/themes/the-things-stack/layouts/shortcodes/tabs/container.html
Labels: documentation, quickfix

#3271 Bump to version 3.9.4
  CHANGELOG.md
  doc/config/_default/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: documentation, release

#3275 Fix broken map widget link
  CHANGELOG.md
  pkg/webui/console/components/device-map/index.js
Labels: documentation, quickfix, ui/web

#3276 Remove faulty prop types from env HOC
  pkg/webui/lib/components/env.js
Labels: c/console, quickfix, technical debt, ui/web

#3274 Improve join eui prefix styling
  pkg/webui/components/input/index.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.styl
Labels: c/console, quickfix, ui/web

#3282 Remove sentry logging from event error boundary
  CHANGELOG.md
  pkg/webui/console/components/events/error-boundary.js
Labels: bug, c/console, documentation, prio/high, quickfix, ui/web

#3283 Fix errored entity count display in the Console
  CHANGELOG.md
  pkg/webui/console/components/entity-title-section/content/entity-count/index.js
Labels: bug, c/console, documentation, quickfix, ui/web

#3269 Remove `No prefix` field if nothing is to be shown
  CHANGELOG.md
  pkg/webui/console/containers/join-eui-prefixes-input/join-eui-prefixes-input.js
Labels: c/console, c/network server, compat/api, compat/config, dependencies, documentation, ui/web

#3284 Use new event unique ids in Console
  CHANGELOG.md
  pkg/webui/console/components/events/story/event-data.js
  pkg/webui/console/components/events/utils/index.js
Labels: c/console, documentation, technical debt, ui/web

#3281 Fix ttn stack configuration for cypress tests
  .github/workflows/e2e.yml
  CODEOWNERS
  cypress/integration/oauth/login.spec.js
  cypress/integration/oauth/user-registration.spec.js
  cypress/plugins/tasks.js
Labels: quickfix, tooling

#3268 Filter PHY versions by lorawan version in the Console
  CHANGELOG.md
  pkg/webui/console/components/phy-version-input/index.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/views/device-add/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: c/console, documentation, ui/web

#3267 Improve stability and status communication of event views
  CHANGELOG.md
  pkg/webui/console/lib/events/utils.js
  pkg/webui/console/store/actions/events.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
Labels: bug, c/console, documentation, technical debt, ui/web

#3286 cli: Add support for timestamp flag arguments
  cmd/ttn-lw-cli/commands/flags.go
Labels: ui/cli

#3292 Run root class hook only on initial render
  pkg/webui/lib/hooks/use-root-class.js
Labels: bug, c/console, performance, quickfix, ui/web
