Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2020-01, with the labels that each got.

#1796 Support multiple copyright years in headers check
  .mage/header.yml
  .mage/headers.go
Labels: quickfix, tooling

#1800 Prevent selection of pseudo right when such right cannot be granted
  CHANGELOG.md
  pkg/webui/console/components/rights-group/index.js
Labels: bug, c/console, quickfix, ui/web

#1797 Update vulnerable handlebars package
  yarn.lock
Labels: dependencies, quickfix, security, ui/web

#1799 Add feature toggles to entity status bars
  CHANGELOG.md
  pkg/webui/console/lib/components/require.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/connect.js
  pkg/webui/console/views/gateway-overview/connect.js
  pkg/webui/console/views/gateway-overview/gateway-overview.js
  pkg/webui/console/views/organization-overview/connect.js
  pkg/webui/console/views/organization-overview/organization-overview.js
Labels: bug, c/console, ui/web

#1733 Show warning headers in the console
  CHANGELOG.md
  pkg/identityserver/user_registry.go
  pkg/webui/components/toast/toast.js
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/landing/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/src/api/http.js
  sdk/js/src/index.js
  sdk/js/src/service/auth.js
  sdk/js/src/service/users.js
  sdk/js/src/util/events.js
Labels: c/console, c/sdk/js, ui/web

#1804 Fix header items styling
  pkg/webui/components/header/header.styl
Labels: c/console, quickfix, ui/web

#1805 Various small console fixes
  pkg/webui/components/header/header.styl
  pkg/webui/components/logo/logo.styl
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#1801 Fix faulty default props
  pkg/webui/components/event/types/crud/index.js
Labels: c/console, quickfix, ui/web

#1811 Increase ScheduleTimeLong to 500 ms
  CHANGELOG.md
  pkg/gatewayserver/scheduling/scheduler.go
Labels: c/gateway server, quickfix

#1813 Fix deadlock of application add form submit after error
  CHANGELOG.md
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-general-settings/index.js
Labels: bug, c/console, quickfix, ui/web

#1806 Kerlink Wirnet connecting updates, add iStation
  doc/content/guides/connecting-gateways/kerlinkwirnetistation/_index.md
  doc/content/guides/connecting-gateways/kerlinkwirnetstation/_index.md
Labels: doc, prio/high

#1816 Add Roman and Krishna to gcs and pfconfig code owners
  CODEOWNERS
Labels: quickfix

#1808 Fix `gateways update` command refusing to update EUI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/gateways.go
Labels: bug, ui/cli

#1819 Fail component start when interop server can't start
  pkg/component/component.go
Labels: c/shared, prio/medium, quickfix

#1810 gcs: Include Gateway EUI on configuration
  CHANGELOG.md
  pkg/pfconfig/semtechudp/semtechudp.go
Labels: c/gateway conf server

#1765 Document connecting a NASYS LoRaWAN Outdoor Gateway to TTS
  doc/content/guides/connecting-gateways/nasysoutdoorgateway/_index.md
Labels: doc

#1827 Bump to version 3.4.2
  CHANGELOG.md
  doc/config.toml
  doc/themes/the-things-stack/package.json
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#1822 Add sorting feature to entity tables in console
  CHANGELOG.md
  pkg/webui/assets/fonts/materialicons.woff2
  pkg/webui/components/icon/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/index_test.js
  pkg/webui/components/table/sort-button/__snapshots__/index_test.js.snap
  pkg/webui/components/table/sort-button/index.js
  pkg/webui/components/table/sort-button/sort-button.styl
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/store/actions/pagination.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/users.js
Labels: c/console, ui/web

#1751 LoRa Cloud Device Management v1 application package
  api/api.md
  api/applicationserver_packages.proto
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/internal/util/flags.go
  config/messages.json
  doc/content/reference/application-packages/_index.md
  doc/content/reference/application-packages/lora-cloud-device-management.md
  doc/content/reference/application-packages/lora-dms-token-created.png
  doc/content/reference/application-packages/lora-dms-token-creation.png
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/packages/loradms/api/client_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/client_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/messages.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/objects/util_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/tokens.go
  pkg/applicationserver/io/packages/loradms/v1/api/tokens_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/data.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/packages.go
  pkg/ttnpb/applicationserver_packages.pb.go
  pkg/ttnpb/applicationserver_packages.pb.validate.go
  sdk/js/generated/api.json
Labels: c/application server, ui/cli

#1833 Fix steps component prop-types
  pkg/webui/components/stepper/index.js
  pkg/webui/components/stepper/step/index.js
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/stepper/stepper.js
  pkg/webui/components/stepper/stepper.styl
  pkg/webui/components/stepper/story.js
Labels: c/console, quickfix, ui/web

#1817 Subscribe to multiple events sources if necessary (JS SDK)
  CHANGELOG.md
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/combine-streams.js
  sdk/js/src/util/stack-components.js
Labels: c/sdk/js

#1839 Fix ./mage proto:all failure
  .mage/proto.go
Labels: bug, tooling

#1836 Update Go dependencies
  go.mod
  go.sum
Labels: dependencies

#1843 Release EUIs of deleted gateways
  CHANGELOG.md
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/hooks.go
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, c/identity server, ui/web

#1830 Add downlink queue operations information to webhook payloads
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_web.proto
  cmd/internal/shared/applicationserver/config.go
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/application-server-data/mqtt/mqtt-integration.png
  doc/content/reference/application-server-data/mqtt/mqtt-key-created.png
  doc/content/reference/application-server-data/webhook-creation.png
  doc/content/reference/application-server-data/webhooks/_index.md
  doc/content/reference/application-server-data/webhooks/api-key-created.png
  doc/content/reference/application-server-data/webhooks/api-key-creation.png
  doc/content/reference/application-server-data/webhooks/webhook-creation.png
  doc/content/reference/configuration/application-server.md
  pkg/applicationserver/config.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/application server, c/console

#1847 Revert github.com/tdewolff/minify/v2 to v2.6.1
  go.mod
  go.sum
Labels: dependencies

#1851 Fix 1.0.3 support in Join Server
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
Labels: bug, c/join server, quickfix

#1850 Support `resets_join_nonces` for pre-1.1 devices
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/ttnpb/end_device.pb.go
  sdk/js/generated/api.json
Labels: c/join server

#1834 Add configurable ScheduleAnytimeDelay per gateway
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/gateway server, c/identity server, compat/db

#1852 Several small CLI fixes
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
Labels: bug, quickfix, ui/cli

#1855 Allow empty `RxMetadata` in Network Server
  api/api.md
  api/messages.proto
  pkg/networkserver/adr.go
  pkg/networkserver/adr_test.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/mac_link_check.go
  pkg/networkserver/mac_link_check_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: c/network server

#1853 Support switching to external JS from CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
Labels: ui/cli

#1856 Reset pagination in second stage of search
  CHANGELOG.md
  pkg/identityserver/registry_search.go
Labels: bug, c/identity server, quickfix

#1848 Use compound approach for navigation components
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/header/index.js
  pkg/webui/components/header/story.js
  pkg/webui/components/navigation/bar/index.js
  pkg/webui/components/navigation/bar/story.js
  pkg/webui/components/navigation/link/index.js
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/context.js
  pkg/webui/components/navigation/side/index.js
  pkg/webui/components/navigation/side/index_driver.js
  pkg/webui/components/navigation/side/index_test.js
  pkg/webui/components/navigation/side/item/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/components/navigation/side/item/index_driver.js
  pkg/webui/components/navigation/side/item/index_test.js
  pkg/webui/components/navigation/side/list/index.js
  pkg/webui/components/navigation/side/side.js
  pkg/webui/components/navigation/side/story.js
  pkg/webui/components/overlay/overlay.styl
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/index_test.js
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
  pkg/webui/components/profile-dropdown/story.js
  pkg/webui/console.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, status/blocking/issue, technical debt, ui/web

#1858 Various class B-related fixes and improvements
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  config/messages.json
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac_device_mode.go
  pkg/networkserver/mac_device_mode_test.go
  pkg/networkserver/mac_ping_slot_channel.go
  pkg/networkserver/mac_ping_slot_channel_test.go
  pkg/networkserver/mac_ping_slot_info.go
  pkg/networkserver/mac_ping_slot_info_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_populate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bug, c/gateway conf server, c/network server, c/shared, compat/api

#1861 Fix stack initialization, move to Mage
  .mage/dev.go
  .make/dev.make
Labels: tooling

#1862 Ignore cluster JS for devices with external JS
  CHANGELOG.md
  sdk/js/src/service/devices/index.js
Labels: bug, c/sdk/js, prio/medium

#1865 Add Join-Server documentation
  doc/content/components/join-server.md
Labels: doc

#1863 Account for multicast devices in JS SDK
  pkg/webui/console/views/device-add/index.js
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, quickfix, ui/web

#1869 Application Server documentation fixes
  doc/content/reference/application-packages/lora-cloud-device-management.md
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/packages/loradms/api/client_test.go
Labels: c/application server, doc, quickfix

#1849 gs: Include antenna location in forwarded message RxMetadata
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/io.go
Labels: c/gateway server, c/network server

#1870 Improve stack configuration handling in JS SDK
  sdk/js/src/api/http.js
  sdk/js/src/api/index.test.js
  sdk/js/src/index.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/stack-components.js
  sdk/js/src/util/stack-configuration.js
Labels: c/sdk/js, quickfix

#1781 Update ID validation messages
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-data-form/validation-schema.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/organization-form/index.js
  pkg/webui/console/components/pubsub-form/validation-schema.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix

#1872 Add responsive mobile navigation menu to the console
  CHANGELOG.md
  pkg/webui/assets/misc/hamburger-menu-close.svg
  pkg/webui/assets/misc/hamburger-menu-normal.svg
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/icon/index.js
  pkg/webui/components/logo/logo.styl
  pkg/webui/components/mobile-menu/index.js
  pkg/webui/components/mobile-menu/mobile-menu.styl
  pkg/webui/components/profile-dropdown/__snapshots__/index_test.js.snap
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
  pkg/webui/console/containers/header/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/variables/generic.styl
Labels: c/console, ui/web

#1867 Use mage to setup development environment
  .mage/dev.go
  .make/dev.make
  .travis.yml
  DEVELOPMENT.md
Labels: tooling

#1876 console: Configure gateway settings
  CHANGELOG.md
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console

#1881 Allow empty JoinEUI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/crypto/cryptoservices/mem.go
  pkg/gatewayserver/gatewayserver.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/message_validators.go
Labels: c/shared, prio/high

#1879 Fix LinkADR ChannelMask encoding
  CHANGELOG.md
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/mac_link_adr_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils_internal_test.go
Labels: bug, c/network server

#1886 Fix function names in stackconfig utility
  sdk/js/src/util/stack-configuration.js
Labels: bug, c/sdk/js, prio/medium, quickfix

#1888 Fix device id selector
  CHANGELOG.md
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/lib/selectors/id.js
Labels: bug, prio/medium, quickfix, ui/web

#1887 Only perform frequency plan validation when necessary
  pkg/networkserver/grpc_deviceregistry.go
Labels: bug, c/network server, prio/high, quickfix

#1777 Fix console container propTypes
  pkg/webui/console/containers/api-keys-table/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/containers/events-subscription/events-subscription.js
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/lib/prop-types.js
Labels: c/console

#1885 Clear code owners of generated files
  CODEOWNERS
Labels: quickfix

#1884 Skip Payload Crypto in Application Server
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/messages.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api

#1877 Revert api key display in safe inspector
  pkg/webui/console/containers/api-keys-table/api-keys-table.styl
  pkg/webui/console/containers/api-keys-table/index.js
Labels: c/console, quickfix

#1779 Fix proptypes for console components
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/api-key-form/form.js
  pkg/webui/console/components/api-key-modal/index.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/device-map/index.js
  pkg/webui/console/components/entity-title-section/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/lib/prop-types.js
Labels: c/console

#1882 Mage git:diff and hooks
  .github/workflows/go-test.yml
  .mage/git.go
  .make/dev.make
  .travis.yml
  Makefile
Labels: tooling

#1894 Start GCS by default
  cmd/ttn-lw-stack/commands/start.go
Labels: c/gateway conf server, quickfix

#1895 Add port 1881 and 8881 to Docker and Documentation
  Dockerfile
  doc/content/guides/getting-started/configuration.md
  docker-compose.yml
Labels: quickfix

#1897 Fix rendering of favicon tip
  doc/content/guides/branding/_index.md
Labels: quickfix

#1896 Fix events log in console
  CHANGELOG.md
  sdk/js/src/util/stack-configuration.js
Labels: bug, c/sdk/js, quickfix

#1899 Fix propagation of order flag in EndDevice search
  cmd/ttn-lw-cli/commands/flags.go
Labels: quickfix, ui/cli

#1889 Various GS-related timing fixes
  config/messages.json
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gpstime/gpstime.go
  pkg/gpstime/gpstime_internal_test.go
  pkg/gpstime/gpstime_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: bug, c/gateway server, status/blocking/issue

#1901 Remove obsolete pagination fields from headers
  pkg/identityserver/store/pagination.go
  pkg/identityserver/store/pagination_test.go
  pkg/redis/pagination.go
  pkg/redis/pagination_test.go
  pkg/rpcmetadata/metadata.go
  pkg/rpcmetadata/metadata_test.go
  pkg/rpcmetadata/request_test.go
  pkg/rpcserver/rpcserver.go
Labels: c/shared

#1898 Fix partial updates of application pubsubs in CLI
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  pkg/ttnpb/application.go
  pkg/ttnpb/applicationserver.go
  pkg/ttnpb/applicationserver_web.go
  pkg/ttnpb/client.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/gateway.go
  pkg/ttnpb/organization.go
  pkg/ttnpb/user.go
Labels: quickfix, ui/cli

#1900 Update generated API documentation
  doc/data/api/ttn.lorawan.v3/messages.yml
  doc/data/api/ttn.lorawan.v3/services.yml
Labels: doc, quickfix

#1826 Support multiple frequency plans on gateways
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  api/lorawan.proto
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/basicstationlns/messages/messages.go
  pkg/gatewayserver/io/basicstationlns/messages/messages_test.go
  pkg/gatewayserver/io/basicstationlns/messages/util.go
  pkg/gatewayserver/io/basicstationlns/messages/util_test.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/pfconfig/basicstationlns/basicstationlns.go
  pkg/pfconfig/basicstationlns/basicstationlns_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bump/minor, c/gateway server, c/identity server, compat/api, compat/db, prio/high, status/blocked, status/blocking/release

#1873 Webhook templates documentation
  doc/content/concepts/webhook-templates.md
  doc/content/reference/webhook-templates/_index.md
  doc/content/reference/webhook-templates/format.md
  doc/content/reference/webhook-templates/instantiation.md
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/web/templates.go
  pkg/util/url/url.go
  pkg/util/url/url_test.go
Labels: doc

#1875 Automatically reconnect frontends on link failure
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/middleware.go
  pkg/applicationserver/io/middleware_test.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/linking.go
Labels: bug, c/application server

#1902 Fix exact prop default value
  pkg/webui/components/navigation/side/item/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/item/index.js
Labels: bug, c/console, quickfix, ui/web

#1874 Make side navigation responsive in console
  CHANGELOG.md
  package.json
  pkg/webui/components/breadcrumbs/breadcrumbs.js
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/breadcrumbs/story.js
  pkg/webui/components/link/index.js
  pkg/webui/components/navigation/side/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/context.js
  pkg/webui/components/navigation/side/index.js
  pkg/webui/components/navigation/side/item/__snapshots__/index_test.js.snap
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/components/navigation/side/item/index_driver.js
  pkg/webui/components/navigation/side/item/index_test.js
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/navigation/side/list/list.styl
  pkg/webui/components/navigation/side/side.styl
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization/organization.js
  pkg/webui/lib/components/scroll-to-top.js
  yarn.lock
Labels: c/console, technical debt, ui/web

#1883 Add troubleshooting guide for console to development docs
  DEVELOPMENT.md
Labels: c/console, doc

#1803 Entity search by ID in console
  CHANGELOG.md
  pkg/webui/console/api/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/fetch-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
Labels: c/console, ui/web

#1905 Refactor Network Server configuration
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/utils_internal_test.go
Labels: c/network server, prio/high

#1915 Fix dev:dbErase mage target
  .mage/dev.go
Labels: bug, quickfix, tooling

#1913 Remove icons from breadcrumbs
  pkg/webui/components/breadcrumbs/breadcrumb/breadcrumb.styl
  pkg/webui/components/breadcrumbs/breadcrumb/index.js
  pkg/webui/components/breadcrumbs/story.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhook-add/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-import/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization-api-key-add/organization-api-key-add.js
  pkg/webui/console/views/organization-api-key-edit/organization-api-key-edit.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization-collaborator-add/organization-collaborator-add.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-general-settings/organization-general-settings.js
  pkg/webui/console/views/organization/organization.js
Labels: c/console, quickfix, ui/web

#1916 Improve MQTT error handling in Application Server
  config/messages.json
  pkg/applicationserver/io/pubsub/provider/mqtt/driver.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
Labels: c/application server

#1917 Refactor upstream handling, prepare PBA offloading and goroutine optimization
  api/api.md
  api/messages.proto
  api/packetbrokeragent.proto
  config/messages.json
  go.mod
  go.sum
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/basicstationlns/basicstationlns_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/sub_band_test.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/upstream.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, prio/high

#1918 Fix AS goroutine leak
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/io/middleware.go
  pkg/applicationserver/io/middleware_test.go
  pkg/applicationserver/linking.go
Labels: bug, c/application server

#1914 Clarify Network Server logging statements
  pkg/networkserver/downlink.go
Labels: c/network server, quickfix

#1919 Fix mixed blockquotes
  doc/content/reference/application-server-data/mqtt/_index.md
  doc/content/reference/end-device-templates/executing.md
Labels: doc, quickfix

#1912 Improve logo display logic and styles (again)
  pkg/webui/components/header/index.js
  pkg/webui/components/logo/index.js
  pkg/webui/components/logo/logo.styl
Labels: c/console, quickfix, ui/web

#1921 Return device context from registry in Network Server
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
  pkg/networkserver/registry_test.go
Labels: c/network server, prio/high, status/blocking/issue

#1922 Fix MQTT error handling in GS and AS tests
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/driver_internal_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
Labels: c/application server, c/gateway server

#1923 Add gateway identifiers to HandleUplink Interface
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/upstream.go
Labels: c/gateway server, quickfix

#1926 Packet Broker Agent preparations
  .gitignore
  .mage/git.go
  api/api.md
  api/enums.proto
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
  pkg/applicationserver/linking.go
  pkg/applicationserver/linking_internal_test.go
  pkg/component/tasks.go
  pkg/encoding/lorawan/lorawan_test.go
  pkg/encoding/lorawan/messages.go
  pkg/gatewayserver/gatewayserver.go
  pkg/identityserver/blacklist/builtin.go
  pkg/ttnpb/cluster.pb.go
  pkg/ttnpb/enums.pb.go
  pkg/types/dev_nonce.go
  pkg/types/netid.go
  pkg/types/netid_test.go
  sdk/js/generated/api.json
Labels: prio/high, quickfix

#1925 Fix initial expanding of sidebar items for non-exact routes
  pkg/webui/components/navigation/side/item/index.js
Labels: bug, c/console, ui/web

#1892 Add responsiveness to console / oauth webui
  CHANGELOG.md
  pkg/webui/components/breadcrumbs/breadcrumb/breadcrumb.styl
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/events/events.styl
  pkg/webui/components/events/index.js
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/mobile-menu/index.js
  pkg/webui/components/modal/modal.styl
  pkg/webui/components/navigation/side/index.js
  pkg/webui/components/navigation/side/side.styl
  pkg/webui/components/radio-button/group/group.styl
  pkg/webui/components/table/__snapshots__/index_test.js.snap
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/index.js
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/tabular.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/components/entity-title-section/entity-title-section.styl
  pkg/webui/console/components/key-value-tag/index.js
  pkg/webui/console/components/key-value-tag/key-value-tag.styl
  pkg/webui/console/containers/fetch-table/fetch-table.styl
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/application-add/application-add.styl
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-integrations-mqtt/application-integrations-mqtt.styl
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-link/application-link.styl
  pkg/webui/console/views/application-link/index.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/application-overview.styl
  pkg/webui/console/views/device-add/device-add-single.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-general-settings/collapse/collapse.styl
  pkg/webui/console/views/device-general-settings/collapse/index.js
  pkg/webui/console/views/device-overview/device-overview.styl
  pkg/webui/console/views/device-payload-formatters/device-payload-formatters.styl
  pkg/webui/console/views/device/device.styl
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/landing/landing.styl
  pkg/webui/console/views/login/login.styl
  pkg/webui/console/views/organization-data/organization-data.js
  pkg/webui/console/views/organization-data/organization-data.styl
  pkg/webui/console/views/organization/organization.js
  pkg/webui/console/views/overview/overview.styl
  pkg/webui/oauth/views/login/login.styl
  pkg/webui/styles/main.styl
  pkg/webui/styles/mixins.styl
  pkg/webui/styles/variables/generic.styl
Labels: c/console, prio/medium, status/blocked, status/blocking/release, technical debt, ui/web

#1927 Start listeners in tasks to avoid race on startup
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
Labels: c/gateway server, prio/high

#1893 Fix validation and proptype errors in location form
  pkg/webui/components/input/index.js
  pkg/webui/components/location-form/index.js
Labels: c/console, ui/web

#1930 Retrieve matched device context from registry in Network Server
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/grpc_gsns_test.go
Labels: c/network server, quickfix

#1929 Fix timestamp send to LoRaCloud DAS
  pkg/applicationserver/io/packages/loradms/v1/package.go
Labels: c/application server, quickfix

#1932 Fix notification issue in mobile login screen
  pkg/webui/oauth/views/create-account/create-account.styl
  pkg/webui/oauth/views/forgot-password/forgot-password.styl
  pkg/webui/oauth/views/login/login.styl
Labels: bug, c/identity server, ui/web

#1933 Generate local session key ID if interop JS didn't
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/interop/client.go
  pkg/interop/client_test.go
Labels: c/shared, prio/high, status/blocking/release

#1938 all: Ensure shared TCP listeners do not race
  pkg/component/component.go
  pkg/component/listeners.go
Labels: bug, c/shared, quickfix

#1937 Add support for Redis custom connection pool size
  CHANGELOG.md
  doc/content/reference/configuration/the-things-stack.md
  pkg/config/shared.go
  pkg/redis/redis.go
Labels: c/shared, quickfix

#1939 all: Close HTTP servers on component closure
  pkg/component/interop.go
  pkg/component/web.go
  pkg/gatewayserver/gatewayserver.go
Labels: bug, c/shared, quickfix, status/blocking/issue
