Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-05, with the labels that each got.

#4114 Fix join-request type validation
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/joinserver.proto
  api/lorawan.proto
  config/messages.json
  pkg/crypto/cryptoservices/grpc.go
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/messages.go
  pkg/ttnpb/i18n.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_populate.go
  pkg/ttnpb/messages_populate.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  sdk/js/generated/api.json
Labels: compat/api, security

#4123 Fix AS session recovery for imported devices
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
Labels: bug, c/application server

#4124 Upgrade Go Dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#4083 Update build related dependencies
  config/.prettierrc.js
  config/babel.config.json
  config/jest/setup.js
  config/manifest-template.yaml
  config/storybook/.babelrc
  config/webpack.config.babel.js
  cypress/integration/console/devices/create-repository.spec.js
  cypress/plugins/tasks.js
  package.json
  pkg/webui/account/store/actions/user.js
  pkg/webui/components/tabs/story.js
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/containers/gateway-location-form/connect.js
  pkg/webui/console/containers/gateway-title-section/connect.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-title-section/connect.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/console/views/application-collaborator-add/connect.js
  pkg/webui/console/views/application-collaborator-edit/connect.js
  pkg/webui/console/views/device-add/connect.js
  pkg/webui/console/views/device-add/manual/connect.js
  pkg/webui/console/views/device-add/repository/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/brand-select/connect.js
  pkg/webui/console/views/device-add/repository/device-selection/model-select/connect.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/organization-add/connect.js
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/console/views/user-api-key-edit/connect.js
  pkg/webui/lib/store/reducers/tests/pagination_test.js
  pkg/webui/styles/mixins.styl
  sdk/js/babel.config.json
  sdk/js/package.json
  sdk/js/src/service/pubsubs.js
  sdk/js/yarn.lock
  tools/mage/js.go
  tools/mage/js_sdk.go
  yarn.lock
Labels: dependencies, security, tooling, ui/web

#4104 Update UI related dependencies
  package.json
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/console/components/location-form/index.js
  pkg/webui/lib/components/with-locale.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/merge.js
  sdk/js/src/util/combine-streams.js
  yarn.lock
Labels: dependencies, tooling, ui/web

#4117 Update device delete confirmation message
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#4116 Disable map link click in overview
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/widget-container/index.js
  pkg/webui/components/widget-container/widget-container.styl
  pkg/webui/console/components/events/widget.js
Labels: c/console, size/small, ui/web

#4127 Store only metadata in the Application Server uplink storage
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
Labels: c/application server

#4134 Remove OrganizationID customname
  api/identifiers.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/organizations.go
  pkg/auth/rights/fetcher_test.go
  pkg/auth/rights/require.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights_test.go
  pkg/auth/rights/rightsutil/rightsutil.go
  pkg/basicstation/cups/config.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/rights.go
  pkg/identityserver/store/account.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/entity_search.go
  pkg/identityserver/store/entity_search_test.go
  pkg/identityserver/store/membership.go
  pkg/identityserver/store/membership_store.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/organization.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/organization_store_test.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_polymorphism.go
  pkg/ttnpb/identifiers_polymorphism_test.go
  pkg/ttnpb/identifiers_populate.go
  pkg/ttnpb/identifiers_test.go
  pkg/ttnpb/identityserver.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/unique/unique.go
  pkg/unique/unique_test.go
Labels: c/gateway conf server, c/identity server, compat/api, compat/config, compat/db, ui/cli

#4136 ns: Demote 'Transmission number exceeds maximum warning' to info
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

#4137 Remove ClientID customname
  api/applicationserver_pubsub.proto
  api/identifiers.proto
  api/oauth.proto
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/auth/rights/fetcher_test.go
  pkg/auth/rights/require.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights_test.go
  pkg/auth/rights/rightsutil/rightsutil.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/rights.go
  pkg/identityserver/store/client.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/entity_search.go
  pkg/identityserver/store/entity_search_test.go
  pkg/identityserver/store/membership.go
  pkg/identityserver/store/membership_store_test.go
  pkg/identityserver/store/oauth.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/oauth_store_test.go
  pkg/identityserver/user_registry.go
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
  pkg/oauth/user.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_polymorphism.go
  pkg/ttnpb/identifiers_polymorphism_test.go
  pkg/ttnpb/identifiers_populate.go
  pkg/ttnpb/identifiers_test.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/oauth.pb.go
  pkg/ttnpb/oauth.pb.setters.fm.go
  pkg/ttnpb/oauth.pb.validate.go
  pkg/unique/unique.go
  pkg/unique/unique_test.go
  pkg/web/oauthclient/logout.go
Labels: c/application server, c/identity server, compat/api, compat/db, ui/cli, ui/web

#4122 Packet Broker network listing and filtering
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/packetbrokeragent.proto
  cmd/ttn-lw-cli/commands/packetbroker.go
  go.mod
  go.sum
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/packetbrokeragent/mock/pbcontrolplane.go
  pkg/packetbrokeragent/mock/pbiam.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.gw.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.sum
Labels: c/packet broker agent, compat/api, dependencies, tooling, ui/cli

#4126 Application Server session recovery improvements
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/payload.go
  pkg/networkserver/grpc_asns.go
Labels: bug, c/application server, c/network server, size/large

#4140 api,account,console: Allow shorter user IDs
  CHANGELOG.md
  api/api.md
  api/identifiers.proto
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/unique/unique_test.go
  pkg/webui/account/views/create-account/index.js
  pkg/webui/account/views/forgot-password/index.js
  pkg/webui/account/views/login/index.js
  pkg/webui/console/components/user-data-form/index.js
  sdk/js/generated/api.json
Labels: bump/minor, compat/api, ui/web

#4146 Generate release notes from CHANGELOG
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/release-tag.yml
Labels: tooling

#4147 Release multi-arch Docker images
  .github/workflows/release-tag.yml
  .goreleaser.release.yml
  .goreleaser.snapshot.yml
Labels: tooling

#4142 Fix OAuth token exchange for clients that use Basic auth
  CHANGELOG.md
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
Labels: c/identity server

#4154 Fix handling of Zero EUI gateway connections
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server

#4052 Add API key expiry
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/gateway.proto
  api/organization.proto
  api/rights.proto
  api/user.proto
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/gateways_claim.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  config/messages.json
  pkg/identityserver/api_key_utils.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/store/api_key.go
  pkg/identityserver/store/api_key_store.go
  pkg/identityserver/store/api_key_store_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights.pb.paths.fm.go
  pkg/ttnpb/rights.pb.setters.fm.go
  pkg/ttnpb/rights.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, ui/cli, ui/web

#4084 Add Events Store and Redis implementation
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/events.proto
  cmd/internal/shared/config.go
  cmd/internal/shared/init.go
  cmd/ttn-lw-cli/commands/events.go
  config/messages.json
  go.mod
  go.sum
  pkg/config/shared.go
  pkg/events/basic/pubsub.go
  pkg/events/basic/subscription.go
  pkg/events/cloud/cloud.go
  pkg/events/default.go
  pkg/events/events_test.go
  pkg/events/grpc/grpc.go
  pkg/events/handler_test.go
  pkg/events/internal/eventstest/events_backend.go
  pkg/events/pubsub.go
  pkg/events/redis/codec.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/events/redis/store.go
  pkg/events/redis/subscription.go
  pkg/events/store.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.gw.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/util/test/events.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.sum
Labels: compat/api, compat/config, compat/db, dependencies, tooling, ui/cli

#4163 Support device profile vendor ID
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/devicerepository.proto
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/bleve_util_test.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/full-device.yaml
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.setters.fm.go
  pkg/ttnpb/devicerepository.pb.validate.go
  sdk/js/generated/api.json
Labels: c/device repository, compat/api

#4150 Filter out verbose events in the Console
  CHANGELOG.md
  package.json
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/index.js
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/constants/event-filters.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/organization-events/organization-events.js
  pkg/webui/console/lib/events/definitions.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/actions/events.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/reducers/tests/events_test.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  yarn.lock
Labels: c/console, dependencies, technical debt, ui/web

#4162 Add dependabot config
  .github/dependabot.yml
Labels: tooling

#4164 Make GS events more useful
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/observability.go
  pkg/webui/console/components/events/story/event-data.js
Labels: c/gateway server, discuss, ui/web

#4133 Limit maximum size for payload formatter scripts
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/messages.proto
  cmd/internal/shared/applicationserver/config.go
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/grpc.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/config

#4173 Add previews for events with google.protobuf.Value data
  CHANGELOG.md
  pkg/webui/console/components/events/previews/value.js
  pkg/webui/console/components/events/utils/definitions.js
Labels: ui/web

#4179 Fix end device payload formatter reset in the Console
  CHANGELOG.md
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  sdk/js/src/service/devices/index.js
Labels: c/sdk/js, ui/web

#4174 Load historical events in the Console
  CHANGELOG.md
  pkg/events/redis/store.go
  pkg/webui/console/constants/event-tail.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/selectors/events.js
Labels: compat/db, ui/web

#4182 Relax rx_metadata validation
  api/api.md
  api/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: bug, compat/api

#4186 Use error codes for scripting runtime errors
  config/messages.json
  pkg/scripting/javascript/javascript.go
Labels: c/application server

#4187 Add a note to CHANGELOG about db migration
  CHANGELOG.md
Labels: c/identity server, size/small

#4128 Add MACSettings.DesiredMaxEIRP field
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_test.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server, compat/api, ui/cli

#4188 Fix toasts getting stuck
  pkg/webui/components/toast/index.js
  pkg/webui/components/toast/toast.styl
Labels: bug, c/console, size/small, ui/web

#4190 Remove hardware specific fields in LBS Router Config
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Labels: c/gateway conf server, c/gateway server

#4121 Allow rate limiting configuration overrides from external sources
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/component/component.go
  pkg/config/config.go
  pkg/config/shared.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/ratelimit/config.go
  pkg/ratelimit/rate_limit_test.go
  pkg/ratelimit/testdata/rate-limiting.yml
Labels: c/gateway server, compat/config

#4192 Fix out of memory issues for device import in the Console
  CHANGELOG.md
  pkg/webui/components/code-editor/index.js
  pkg/webui/components/input/index.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/lib/combine-refs.js
Labels: bug, c/console, ui/web

#4132 Display last seen information of end device in the end device table
  CHANGELOG.md
  pkg/webui/console/components/entity-title-section/content/index.js
  pkg/webui/console/components/last-seen/index.js
  pkg/webui/console/components/last-seen/last-seen.styl
  pkg/webui/console/containers/device-title-section/connect.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/lib/store/actions/pagination.js
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, size/small, ui/web

#4180 DevEUI Issuer
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/application_services.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/config.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/store/application.go
  pkg/identityserver/store/eui_block.go
  pkg/identityserver/store/eui_block_store.go
  pkg/identityserver/store/eui_block_store_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/config, compat/db, ui/cli

#4200 Use packetbroker.net addresses
  cmd/internal/shared/packetbrokeragent/config.go
Labels: compat/config, size/small

#4202 Handle non-UTF8 payloads in DTC
  pkg/devicetemplates/tts.go
  pkg/util/io/io.go
Labels: c/device converter

#4206 Fix device payload formatter view
  CHANGELOG.md
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/selectors/events.js
  pkg/webui/console/views/device-payload-formatters/index.js
  pkg/webui/console/views/device/index.js
Labels: bug, c/console, ui/web

#4201 Fix tooltip transitions
  pkg/webui/components/tooltip/index.js
  pkg/webui/components/tooltip/tooltip.styl
Labels: c/console, ui/web

#4205 Add last seen information for applications to Console
  pkg/webui/console/constants/event-filters.js
  pkg/webui/console/containers/application-title-section/application-title-section.js
  pkg/webui/console/containers/application-title-section/application-title-section.styl
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/store/reducers/applications.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/reducers/tests/applications_test.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#4203 Evict invalidated downlink queue on DonwlinkQueueInvalidated
  CHANGELOG.md
  pkg/networkserver/downlink.go
Labels: c/network server

#4208 Use event time as fallback for "last seen"
  pkg/webui/console/store/reducers/applications.js
Labels: c/console, size/small, ui/web

#4210 Do not return downlink token if the downlink is nil
  CHANGELOG.md
  pkg/gatewayserver/io/downlink_token.go
Labels: bug, c/gateway server

#4217 Remove @asmulko as codeowner
  CODEOWNERS
Labels: tooling

#4216 Add error boundary to datetime component
  pkg/webui/console/components/last-seen/index.js
  pkg/webui/lib/components/date-time/index.js
  pkg/webui/lib/components/date-time/relative.js
Labels: bug, c/console, size/small, ui/web
