Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-01, with the labels that each got.

#3628 Show relevant errors of default package request in Console
  pkg/webui/console/containers/lora-cloud-form/index.js
Labels: c/console, quickfix, ui/web

#3600 Update Packet Broker API and authentication
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/metadata.proto
  cmd/internal/shared/packetbrokeragent/config.go
  config/messages.json
  go.mod
  go.sum
  pkg/errors/std_test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/link_check_test.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/grpc.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/mock/pbdataplane.go
  pkg/packetbrokeragent/translation.go
  pkg/rpcclient/oauth2_client.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.paths.fm.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  sdk/js/generated/api.json
  tools/go.sum
Labels: c/network server, c/packet broker agent, compat/api, compat/config, dependencies, security, tooling

#3636 Improve Network Server test log output
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server, quickfix

#3625 Make handling of temporary token TTLs consistent
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  go.mod
  go.sum
  pkg/identityserver/config.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/emails/temporary_password.go
  pkg/identityserver/emails/ttl.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, compat/config, dependencies

#3640 Configure PBA dial options when dialing
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, quickfix

#3626 Return error when creating validation while old one still valid
  CHANGELOG.md
  config/messages.json
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/contact_info_store_test.go
Labels: c/identity server, compat/db

#3641 Update `axios` dependency
  package.json
  sdk/js/package.json
  sdk/js/yarn.lock
  yarn.lock
Labels: c/sdk/js, dependencies, ui/web

#3643 Skip payload encryption using link level overrides in RPCs
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
Labels: bug, c/application server, quickfix

#3607 Add documentation and support links
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3392 Add warning to frequency_plan_id field when selecting none
  pkg/webui/components/select/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/constants/frequency-plans.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3648 Fix legacy uplink matching code artifact
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server, quickfix

#3645 Adapt git hooks for WSL
  tools/mage/git.go
Labels: quickfix, tooling

#3646 Add collaborators e2e tests
  cypress/integration/console/shared/collaborators/edit.spec.js
  cypress/support/commands.js
Labels: c/console

#3650 Add application e2e tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/applications/edit.spec.js
Labels: c/console

#3654 Fix AS webhook response codes
  config/messages.json
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server, quickfix

#3651 Adjust NS registry GET fieldmasks
  pkg/ttnpb/field_mask_validation.go
Labels: c/network server, compat/api

#3655 Regenerate API definitions
  sdk/js/generated/api-definition.json
Labels: quickfix

#3657 Bump to version 3.10.6
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3652 Add clarity for synthetic events in the Console
  CHANGELOG.md
  pkg/webui/console/components/events/details/details.styl
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/components/events/details/synthetic.js
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/lib/events/definitions.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, quickfix, ui/web

#3660 Revert faulty changelog update
  CHANGELOG.md
Labels: documentation

#3659 Merge v3.10 into v3.11
  CHANGELOG.md
  config/messages.json
  package.json
  pkg/applicationserver/io/web/webhooks.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/ttnpb/field_mask_validation.go
  pkg/version/ttn.go
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/select/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/constants/frequency-plans.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/api-definition.json
  sdk/js/package.json
  tools/mage/git.go
Labels: c/application server, c/network server, merge, tooling, ui/web

#3662 Fix link to release notes
  .github/workflows/release-tag.yml
Labels: quickfix

#3661 Avoid running pre-push hook if there's nothing to push
  tools/mage/git.go
Labels: quickfix, tooling

#3664 Fix Network Server field mask usage in the Console
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/views/device/index.js
Labels: prio/high, ui/web

#3666 Release v3.10.7
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release, ui/web

#3667 Add OAuth authorization code option overrides
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
Labels: ui/web

#3668 Subscribe PBA with configured tenant ID
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, quickfix

#3647 Add FieldIsZero, validate non-zero fields in middleware
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  cmd/ttn-lw-cli/commands/users.go
  config/messages.json
  pkg/rpcmiddleware/validator/validator.go
  pkg/rpcmiddleware/validator/validator_test.go
  pkg/rpcserver/rpcserver.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/join.go
  pkg/ttnpb/keys.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/messages.go
  pkg/ttnpb/picture.go
  pkg/ttnpb/zero.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api-definition.json
  tools/generate_allowed_field_mask_paths.go
  tools/mage/js_sdk.go
Labels: blocking/issue, c/shared, compat/api, prio/medium

#3663 Add overview e2e tests
  cypress/integration/console/shared/overview/overview.spec.js
  cypress/support/commands.js
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/events/widget.js
  pkg/webui/console/containers/fetch-table/index.js
Labels: c/console, ui/web

#3672 Add gateway tests
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/smoke/gateways/create.js
  cypress/integration/smoke/gateways/index.js
Labels: c/console, ui/web

#3608 Support CUPS redirection
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  cmd/ttn-lw-cli/commands/gateways.go
  config/messages.json
  pkg/basicstation/cups/config.go
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/cups, c/gateway conf server, c/identity server, compat/api, compat/config, compat/db, ui/cli

#3678 Update email templates
  CHANGELOG.md
  pkg/email/funcs.go
  pkg/identityserver/application_access.go
  pkg/identityserver/emails/api_key_changed.go
  pkg/identityserver/emails/api_key_created.go
  pkg/identityserver/emails/collaborator_changed.go
  pkg/identityserver/emails/invitation.go
  pkg/identityserver/emails/temporary_password.go
  pkg/identityserver/emails/user_requested.go
  pkg/identityserver/emails/validate.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/user_access.go
Labels: c/identity server

#3673 Fix propagation of caller details in events
  CHANGELOG.md
  pkg/events/events.go
Labels: quickfix

#3679 Optimize join-accept storage
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: blocking/issue, c/network server, compat/api, prio/medium, quickfix

#3669 Make max length validation more strict
  CHANGELOG.md
  api/api.md
  api/application.proto
  api/applicationserver_pubsub.proto
  api/applicationserver_web.proto
  api/client.proto
  api/contact_info.proto
  api/deviceclaimingserver.proto
  api/end_device.proto
  api/gateway.proto
  api/joinserver.proto
  api/keys.proto
  api/messages.proto
  api/organization.proto
  api/picture.proto
  api/search_services.proto
  api/secrets.proto
  api/user.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/contact_info.pb.validate.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/keys.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/picture.pb.go
  pkg/ttnpb/picture.pb.validate.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  sdk/js/generated/api.json
Labels: compat/api, prio/high, ui/web

#3684 Fix Network Server tests
  pkg/networkserver/downlink_test.go
  pkg/networkserver/mac/rekey_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: bug, c/network server, quickfix

#3676 Add option to disable user registrations
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/config.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/oauth/config.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  pkg/webui/lib/selectors/env.js
  pkg/webui/oauth/views/create-account/index.js
  pkg/webui/oauth/views/landing/index.js
  pkg/webui/oauth/views/login/index.js
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/config, prio/high, ui/web

#3677 Add missing CLI commands for getting a single collaborator or api key
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
Labels: ui/cli

#3688 Fix panic in DLChannelReq with rejected frequencies
  CHANGELOG.md
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
Labels: bug, c/network server, prio/high

#3682 Support deletion in git pre-push hook
  tools/mage/git.go
Labels: quickfix

#3687 Ensure JS processor can manipulate input bytes
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
Labels: c/application server, quickfix

#3690 Increase PBA test timeout
  pkg/packetbrokeragent/agent_test.go
Labels: c/packet broker agent, quickfix

#3692 Document services
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  api/joinserver.proto
  api/qrcodegenerator.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/qrcodegenerator.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3693 Update CONTRIBUTING.md with new `account` topic
  CONTRIBUTING.md
Labels: documentation, quickfix

#3698 Fix Docker image build
  Dockerfile
Labels: bug, quickfix

#3699 dr: Overwrite old index files with dr-db init by default
  cmd/ttn-lw-stack/commands/dr_db.go
Labels: quickfix

#3700 Pub/sub enabled and checks
  cmd/internal/shared/applicationserver/config.go
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/pubsub/provider/mock/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/pubsub/provider/nats/provider.go
  pkg/applicationserver/io/pubsub/provider/nats/provider_test.go
  pkg/applicationserver/io/pubsub/provider/provider.go
  pkg/applicationserver/io/pubsub/providers.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/pubsub/pubsub_test.go
Labels: c/application server, compat/config

#3704 Fix panic in DLChannelReq with rejected frequencies
  CHANGELOG.md
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
Labels: backport, bug, c/network server, prio/high, quickfix

#3706 util: Remove enforcement of CSRF token for JS SDK initialization
  sdk/js/src/api/http.js
Labels: bug, c/sdk/js, ui/web

#3710 Increase maximum length of API key in Webhooks
  api/api.md
  api/applicationserver_web.proto
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api, quickfix

#3714 Fix GoReleaser config
  .goreleaser.release.yml
Labels: quickfix, tooling
