Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-10, with the labels that each got.

#4681 Range over map when checking data rate for bands
  CHANGELOG.md
  pkg/band/band.go
  pkg/band/band_test.go
Labels: bug

#4682 Extract error message props from errors with `error_paths`
  pkg/webui/console/components/events/previews/error-details.js
  pkg/webui/lib/components/error-message/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/errors/utils_test.js
Labels: bug, c/console, ui/web

#4683 Fix not displaying value type events
  pkg/webui/console/components/events/previews/value.js
Labels: bug, c/console, ui/web

#4687 Add table of contents to development guide
  DEVELOPMENT.md
Labels: documentation

#4702 Backport NS matching error details
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, c/gateway server, compat/db, size/small

#4699 Packet Broker authentication update
  CHANGELOG.md
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/authenticator.go
  pkg/packetbrokeragent/authenticator_internal_test.go
Labels: c/packet broker agent, security

#4674 Remove gogoproto options from gateway.proto
  api/api.md
  api/gateway.proto
  api/gateway_services.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/gatewayconfigurationserver/v2/http_gateway.go
  pkg/gatewayconfigurationserver/v2/server_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/ws/lbslns/version.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/is.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_antenna.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/pfconfig/cpf/cpf_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_configurator_interfaces.go
  pkg/ttnpb/gateway_interfaces.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.setters.fm.go
  pkg/ttnpb/gateway_services.pb.validate.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  sdk/js/generated/api.json
Labels: c/shared, c/identity server, ui/cli, c/gateway server, compat/api, technical debt, compat/db, c/gateway conf server

#4707 Refactor interop server
  CHANGELOG.md
  api/api.md
  api/joinserver.proto
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/util_test.go
  pkg/component/component.go
  pkg/component/interop.go
  pkg/component/interop_test.go
  pkg/config/shared.go
  pkg/config/tlsconfig/config.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/interop/config.go
  pkg/interop/errors.go
  pkg/interop/errors_test.go
  pkg/interop/messages.go
  pkg/interop/messages_test.go
  pkg/interop/server.go
  pkg/interop/server_authn.go
  pkg/interop/server_authz.go
  pkg/interop/server_errors.go
  pkg/interop/server_test.go
  pkg/interop/testdata/clientcert.pem
  pkg/interop/testdata/clientkey.pem
  pkg/interop/testdata/rootCA-key.pem
  pkg/interop/testdata/rootCA.pem
  pkg/interop/testdata/servercert.pem
  pkg/interop/testdata/serverkey.pem
  pkg/interop/testdata/testdata.go
  pkg/interop/types.go
  pkg/interop/util_test.go
  pkg/joinserver/authorizer.go
  pkg/joinserver/errors.go
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/http_interop_internal_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/joinserver/joinserver_test.go
  pkg/joinserver/registry_test.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/joinserver_json.pb.go
  sdk/js/generated/api.json
Labels: c/join server, c/shared, ui/cli, c/application server, compat/api, technical debt, security, compat/config

#4713 Fix antenna usage in gateway create
  cmd/ttn-lw-cli/commands/gateways.go
Labels: bug, ui/cli
