Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-04, with the labels that each got.

#4013 Simplify usage of IDs when only strings are needed
  pkg/identityserver/store/contact_info_store.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/store.go
  pkg/identityserver/store/store_interfaces.go
  pkg/ratelimit/grpc.go
  pkg/ttnpb/identifiers_polymorphism.go
  pkg/unique/unique.go
Labels: c/identity server, compat/db, size/small

#4007 Fix switch case condition
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server, size/small

#4015 Do not error on unknown PubSub provider
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/pubsub/providers.go
Labels: blocking release, c/application server, compat/config

#4017 Rate Limiting configuration quickfixes
  pkg/basicstation/cups/server.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/ratelimit/config.go
  pkg/ratelimit/rate_limit_test.go
Labels: blocking release, c/gateway conf server, c/gateway server, compat/config

#3968 Add profile settings link to dropdown menu
  CHANGELOG.md
  cmd/internal/shared/console/config.go
  cypress/integration/smoke/index.js
  cypress/integration/smoke/profile-settings/index.js
  pkg/console/config.go
  pkg/webui/components/dropdown/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/lib/selectors/app-config.js
Labels: c/console, compat/config, ui/web

#4011 Add LNS API Key to gateway general settings page
  cypress/integration/console/gateways/edit.spec.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

#4025 Update deprecated goreleaser config
  .goreleaser.release.yml
  .goreleaser.snapshot.yml
Labels: bug

#4027 Update goreleaser glob pattern for nfpm
  .goreleaser.release.yml
Labels: bug

#4024 Fix multicast end device handling in the Console
  cypress/integration/console/devices/create-manual.spec.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/validation-schema.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema.js
Labels: c/console, ui/web

#4031 Replace pgalic96 by asmulko in js codeowners
  CODEOWNERS
Labels: c/console, ui/web

#4030 Make list of allowed values in storage command flags consistent
  cmd/ttn-lw-cli/commands/storage_integration_util.go
Labels: size/small, ui/cli

#4034 Use uplink data rate index for ADR
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server

#4033 Remove unused testing file
  pkg/ttnpb/testdata/ttnpb_encoding_golden
Labels: size/small

#4035 Improve validation of CreateAPIKeyRequests
  CHANGELOG.md
  api/api.md
  api/application.proto
  api/gateway.proto
  api/organization.proto
  api/user.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

#4040 Fix release archives
  .goreleaser.release.yml
Labels: size/small

#4036 Fix global `event` variable usage in byte input
  pkg/webui/components/input/byte.js
Labels: c/console, ui/web

#4043 Get and set listed in Packet Broker registration
  api/api.md
  api/api.swagger.json
  api/packetbrokeragent.proto
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api.json
Labels: c/packet broker agent, compat/api, size/small

#4038 Fix side navigation nested entries rendering
  CHANGELOG.md
  pkg/webui/components/navigation/side/item/index.js
Labels: bug, c/console, ui/web

#4026 Fix mac and phy version handling in the Console
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/lib/device-utils_test.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/validation-schema_test.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/validation-schema_test.js
Labels: bug, c/console, ui/web

#4037 Prevent API Key list views from crashing if the API key has no rights attached to it
  pkg/webui/console/containers/api-keys-table/api-keys-table.styl
  pkg/webui/console/containers/api-keys-table/index.js
Labels: bug, c/console, ui/web

#4050 Close event stream when caller rights revoked
  CHANGELOG.md
  pkg/events/grpc/grpc.go
Labels: size/small

#4049 Fix panic in Downlink event handling
  pkg/gatewayserver/grpc_nsgs.go
Labels: c/gateway server, size/small

#4039 Add options to reject common passwords
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/config.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, compat/config

#4046 Fix `factory_preset_frequency` handling
  CHANGELOG.md
  api/api.md
  api/end_device.proto
  pkg/networkserver/mac/utils.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/util/test/assertions/resemble.go
  sdk/js/generated/api.json
Labels: bug, c/network server

#4044 Webhook templates improvements
  api/api.md
  api/api.swagger.json
  api/applicationserver_web.proto
  pkg/applicationserver/io/web/templates.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  sdk/js/generated/api.json
Labels: bug, c/application server, c/console, compat/api, ui/web

#4054 Update jest dependency
  sdk/js/package.json
  sdk/js/yarn.lock
Labels: dependencies, security

#4045 Return error on uplink simulation if skip payload crypto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
Labels: c/application server, size/small

#4064 Move ratelimit middleware after validation
  CHANGELOG.md
  pkg/rpcserver/rpcserver.go
Labels: size/small

#4065 Allow LinkADRReq commands to lower the datarate
  CHANGELOG.md
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
Labels: c/network server

#4070 Revert uploading protos to S3
  .goreleaser.release.yml
Labels: size/small

#4058 Add uint32 notation for device address
  CHANGELOG.md
  config/storybook/preview-head.html
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/data-sheet/story.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/console/views/device-overview/index.js
Labels: c/console, ui/web

#4061 Store recent data application uplinks in the Application Server
  cmd/internal/shared/applicationserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/applicationserver_util_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/mock/server.go
  pkg/applicationserver/redis/registry.go
  pkg/applicationserver/registry.go
  pkg/applicationserver/registry_test.go
Labels: c/application server, compat/config, compat/db

#4079 Show insufficient rights warning for root keys in the Console
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#4057 Add contextual tooltips to form fields in the Console
  CHANGELOG.md
  cypress/integration/console/devices/create-repository.spec.js
  cypress/integration/console/devices/utils.js
  package.json
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/tooltip.js
  pkg/webui/components/icon/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/tooltip/index.js
  pkg/webui/components/tooltip/story.js
  pkg/webui/components/tooltip/tooltip.styl
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/views/device-add/manual/configuration-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/lib/constants/glossary-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/variables/generic.styl
  yarn.lock
Labels: c/console, dependencies, ui/web

#4080 Add GCS to cluster config
  CHANGELOG.md
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/cluster/config.go
Labels: c/gateway conf server, c/shared, compat/config

#4088 Handle requests with zero EUI
  CHANGELOG.md
  config/messages.json
  pkg/basicstation/cups/messages.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: bug, c/gateway conf server

#4096 Trim username when logging in
  pkg/webui/account/views/login/index.js
Labels: ui/web

#4068 LoRaCloud GLS multi frame request support
  CHANGELOG.md
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects.go
  pkg/applicationserver/io/packages/loragls/v3/data.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/application server, ui/web

#4089 LoRaCloud GLS GNSS support
  CHANGELOG.md
  pkg/applicationserver/io/packages/loragls/v3/api/abstract.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects.go
  pkg/applicationserver/io/packages/loragls/v3/data.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
Labels: c/application server, ui/web

#4093 LoRaCloud GLS WiFi support
  CHANGELOG.md
  pkg/applicationserver/io/packages/loragls/v3/api/abstract.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects_v2.go
  pkg/applicationserver/io/packages/loragls/v3/data.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
Labels: c/application server, ui/web

#4097 all: Add validation to Echo forms
  CHANGELOG.md
  config/messages.json
  pkg/account/server_test.go
  pkg/account/user.go
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
  pkg/web/oauthclient/callback.go
Labels: c/identity server, ui/web

#4101 Fix display of gateway downlink events in the Console
  CHANGELOG.md
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/downlink-message.js
  pkg/webui/console/components/events/story/event-data.js
  pkg/webui/console/components/events/utils/definitions.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: bug, c/console, ui/web

#4086 Various fixes for end device creation from Console and Device Repository
  CHANGELOG.md
  cypress/fixtures/console/devices/repository/test-brand-abp-model1.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model2.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model3.template.json
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/webui/console/views/device-add/repository/repository.js
  sdk/js/generated/device-entity-map.json
  sdk/js/generated/device-field-masks.json
  sdk/js/util/device-field-mask-mapper.js
  tools/mage/js_sdk.go
Labels: bug, tooling, ui/web

#3772 Device Repository API for Codec Examples
  api/api.md
  api/api.swagger.json
  api/devicerepository.proto
  config/messages.json
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/interface.go
  pkg/devicerepository/store/noop.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/foo-codec.yaml
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/messageprocessors/devicerepository/devicerepository_test.go
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.setters.fm.go
  pkg/ttnpb/devicerepository.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, c/device repository, compat/api

#4110 Add validation exception for CLI
  CHANGELOG.md
  pkg/oauth/oauth.go
Labels: c/identity server, size/small
