Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-08, with the labels that each got.

#4446 Fix proto generation for non-standard paths
  tools/mage/proto.go
Labels: tooling

#4467 Fix field mask warning in gateway view
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/views/gateway/index.js
Labels: c/console, size/small, ui/web

#4464 Prevent removing last _ALL right from entity collaborator
  CHANGELOG.md
  config/messages.json
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
Labels: c/identity server

#4479 Update Packet Broker API
  config/messages.json
  go.mod
  go.sum
  pkg/band/band.go
  pkg/gatewayserver/io/io.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/translation.go
  pkg/util/test/assertions/proto.go
  tools/go.sum
Labels: c/gateway server, c/packet broker agent, dependencies, tooling

#4485 Skip the application uplink queue if the peer is available
  CHANGELOG.md
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/observability.go
  pkg/networkserver/utils.go
Labels: c/network server

#4484 Preload fonts in the WebUIs to prevent FOUT
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/styles/fonts.styl
Labels: technical debt, ui/web

#4480 Allow to inspect error details in full page errors
  CHANGELOG.md
  pkg/webui/components/button/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
  pkg/webui/styles/main.styl
Labels: c/console, technical debt, ui/web

#4483 Fix LNS auth key handling for gateways in the Console
  CHANGELOG.md
  pkg/webui/console/views/gateway/index.js
Labels: bug, c/console, ui/web

#4487 Port ClaimGatewayRequest API fields
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api

#4456 Edit gateway antenna placement in the Console
  CHANGELOG.md
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#4473 Add metrics to GCS (CUPS)
  CHANGELOG.md
  pkg/basicstation/cups/observability.go
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server

#4465 Add starting point for multi-language support + Japanese locale
  CHANGELOG.md
  config/webpack.config.babel.js
  pkg/webui/account/views/front/front.styl
  pkg/webui/account/views/front/index.js
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/icon/icon.styl
  pkg/webui/components/icon/index.js
  pkg/webui/components/select/select.styl
  pkg/webui/components/tooltip/tooltip.styl
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/lib/components/date-time/relative.js
  pkg/webui/lib/components/with-locale.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/locales/xx.json
  tools/mage/translations.js
  tools/mage/xx.js
Labels: c/console, tooling, ui/web

#4489 List unlisted networks and tenants with a policy defined
  go.mod
  go.sum
  pkg/packetbrokeragent/grpc_pba.go
  tools/go.sum
Labels: c/packet broker agent, dependencies, size/small, tooling

#4491 Increase update gateway timeout and interval
  CHANGELOG.md
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
Labels: c/gateway server, size/small

#4492 Fix active styling of dropdown items
  pkg/webui/components/dropdown/index.js
Labels: bug, c/console, blocking release, size/small, ui/web

#4494 Fix hardcoded footer support link
  pkg/webui/components/footer/index.js
Labels: bug, c/console, blocking release, ui/web

#4495 Do not provide error details for not found errors + styling fixes
  pkg/webui/components/footer/footer.styl
  pkg/webui/console/views/app/app.styl
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
Labels: c/console, blocking release, ui/web

#4493 Use correct assets URL in frontend
  pkg/webui/account.js
  pkg/webui/console.js
Labels: bug, c/console, blocking release, size/small, ui/web

#4504 Prevent updating device EUIs in the IS
  CHANGELOG.md
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/device-entity-map.json
Labels: size/small

#4488 Remove populators for Application, Client, Gateway, Organization and User
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/client.proto
  api/contact_info.proto
  api/gateway.proto
  api/organization.proto
  api/user.proto
  pkg/identityserver/store/populate.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/public_test.go
  pkg/ttnpb/user.pb.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, technical debt, compat/db

#4507 Fix grpc address of the IS for TTS CE in the CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/use.go
Labels: ui/cli

#4506 Remove Packet Broker metadata from same cluster
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/networkserver_flow_test.go
Labels: c/network server, performance, size/small

#4508 Fix end device access with limited rights in the Console
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/devices.js
Labels: bug, c/console, ui/web

#4509 Fix Basic Station ID6 parsing
  CHANGELOG.md
  pkg/basicstation/eui.go
  pkg/basicstation/eui_test.go
Labels: c/gateway server, c/gateway conf server

#4512 Fix CLI warnings
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/root.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/gateway.go
Labels: c/identity server, ui/cli, compat/db

#4511 Make pkg errors always use pointers
  CHANGELOG.md
  pkg/crypto/errors.go
  pkg/encoding/lorawan/errors.go
  pkg/errors/attributes.go
  pkg/errors/causes.go
  pkg/errors/causes_test.go
  pkg/errors/codes.go
  pkg/errors/comparison_test.go
  pkg/errors/conversion.go
  pkg/errors/correlation.go
  pkg/errors/definitions.go
  pkg/errors/details.go
  pkg/errors/errors.go
  pkg/errors/grpc.go
  pkg/errors/http.go
  pkg/errors/json.go
  pkg/errors/json_test.go
  pkg/errors/message_format.go
  pkg/errors/std.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/identityserver/store/store.go
  pkg/interop/errors.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/oauth/server.go
  pkg/rpcmiddleware/validator/validator_test.go
  pkg/ttnpb/errors.go
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/token.go
Labels: c/network server, c/identity server, c/gateway server, security, compat/db, ui/web

#4501 Configure whether the network is listed in Packet Broker
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/packetbrokeragent.proto
  cmd/ttn-lw-cli/commands/packetbroker.go
  config/messages.json
  cypress/fixtures/console/packet-broker/info-registered.json
  cypress/fixtures/console/packet-broker/info.json
  cypress/integration/console/packet-broker/registration.spec.js
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_internal_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/authenticator.go
  pkg/packetbrokeragent/authenticator_internal_test.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/grpc_disabled.go
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/packetbrokeragent/mock/pbdataplane.go
  pkg/packetbrokeragent/mock/pbmapper.go
  pkg/packetbrokeragent/testdata/.editorconfig
  pkg/packetbrokeragent/testdata/clientca.pem
  pkg/packetbrokeragent/testdata/clientcert.pem
  pkg/packetbrokeragent/testdata/clientkey.pem
  pkg/packetbrokeragent/testdata/serverca.pem
  pkg/packetbrokeragent/testdata/servercert.pem
  pkg/packetbrokeragent/testdata/serverkey.pem
  pkg/packetbrokeragent/util_test.go
  pkg/rpcclient/oauth2_client.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.gw.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/store/actions/packet-broker.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/store/reducers/packet-broker.js
  pkg/webui/console/store/selectors/packet-broker.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.styl
  pkg/webui/console/views/admin-packet-broker/messages.js
  pkg/webui/locales/en.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/src/service/packet-broker-agent.js
Labels: ui/cli, c/packet broker agent, compat/api, technical debt, ui/web, compat/config

#4513 Fix injection of public path
  config/root.js
  pkg/webui/account.js
  pkg/webui/console.js
Labels: ui/web

#4517 Fix missing object check in JS SDK
  sdk/js/src/api/http.js
Labels: bug, c/sdk/js, ui/web

#4521 Use Go 1.16 file embedding for Redis lua scripts
  pkg/networkserver/redis/redis.go
  pkg/networkserver/redis/scripts.go
  pkg/redis/generate_scripts.go
  pkg/redis/redis.go
  pkg/redis/scripts.go
Labels: c/network server, compat/db, size/small

#4510 Wrap type unmarshaling errors
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/packetbroker.go
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
  pkg/types/aeskey.go
  pkg/types/dev_nonce.go
  pkg/types/devaddr.go
  pkg/types/eui.go
  pkg/types/join_nonce.go
  pkg/types/netid.go
  pkg/types/types.go
Labels: ui/cli, size/small

#4533 Add missing polyfills for i18n functionality
  CHANGELOG.md
  package.json
  pkg/webui/lib/components/with-locale.js
  yarn.lock
Labels: bug, dependencies, ui/web

#4534 Apply fetching and submit fixes to user form
  CHANGELOG.md
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/locales/en.json
Labels: bug, c/console, ui/web

#4514 Support new WiFi TLV format
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding_test.go
Labels: c/application server

#4535 Do not print invalid configuration keys
  CHANGELOG.md
  cmd/internal/commands/config.go
Labels: compat/config

#4460 Device Repository API field validation and various fixes
  api/api.md
  api/devicerepository.proto
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/repository_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/testdata/vendor/full-vendor/full-device.yaml
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.setters.fm.go
  pkg/ttnpb/devicerepository.pb.validate.go
  pkg/ttnpb/enums.go
  sdk/js/generated/api.json
Labels: c/application server, compat/api

#4528 Remove Nullable option on repeated fields
  api/joinserver.proto
  api/messages.proto
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/joinserver/grpc.go
  pkg/joinserver/grpc_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/joinserver.pb.validate.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
Labels: c/join server, c/network server, ui/cli, compat/api

#4537 Handle errors during token refresh or retrieval
  pkg/webui/lib/access-token.js
Labels: bug, ui/web

#4541 Remove `request_details` from stack errors
  CHANGELOG.md
  pkg/webui/lib/errors/utils_test.js
  sdk/js/src/api/http.js
Labels: c/console, c/sdk/js, ui/web

#4542 Remove superfluous babel run during serve target
  config/webpack.config.babel.js
  tools/mage/js.go
  tools/mage/translations.js
Labels: ui/web, tooling

#4531 Improve device import UX
  CHANGELOG.md
  pkg/webui/components/form/field/info.js
  pkg/webui/components/form/section/section.styl
  pkg/webui/components/link/link.styl
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/progress-bar/progress-bar.styl
  pkg/webui/console/components/device-import-form/device-import-form.styl
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/device-importer.styl
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/containers/device-template-format-select/index.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/views/device-import/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
  sdk/js/src/service/devices/index.js
Labels: c/console, c/sdk/js, ui/web

#4545 Add max-length validation for entity attributes
  CHANGELOG.md
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/lib/attributes.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/validation-schema.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: bug, c/console, size/small, ui/web

#4524 Fix emails about API key changes
  CHANGELOG.md
  pkg/identityserver/emails/api_key_changed.go
  pkg/identityserver/emails/api_key_created.go
Labels: c/identity server, size/small

#4540 Add LR-FHSS data rate coding rates
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  config/messages.json
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/util/util.go
  pkg/gatewayserver/io/ws/util/util_test.go
  pkg/pfconfig/lbslns/lbslns.go
  pkg/toa/toa.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/message_services.pb.paths.fm.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/gateway server, c/packet broker agent, compat/api, c/gateway conf server

#4523 Improve Sentry reporting
  go.mod
  go.sum
  pkg/errors/errors.go
  pkg/errors/grpc.go
  pkg/errors/sentry/sentry.go
  pkg/errors/web/middleware.go
  pkg/errors/web/middleware_test.go
  pkg/log/middleware/sentry/sentry.go
  pkg/networkserver/downlink_test.go
  pkg/rpcmiddleware/sentry/sentry.go
  pkg/webhandlers/error.go
  tools/go.sum
Labels: c/network server, c/shared, technical debt, dependencies, tooling

#4548 Increase AS test timeout
  pkg/applicationserver/applicationserver_test.go
Labels: c/application server, size/small

#4549 Extend error handling in Console (root errors)
  CHANGELOG.md
  pkg/webui/account.js
  pkg/webui/console.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/lib/components/full-view-error/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: bug, c/console, ui/web

#4550 Load Intl polyfills before using Intl API
  CHANGELOG.md
  pkg/webui/lib/components/with-locale.js
Labels: bug, c/console, ui/web

#4544 LoRaWAN decoding CLI command
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/lorawan.go
  cmd/ttn-lw-cli/commands/utils.go
  pkg/util/io/io.go
Labels: ui/cli

#4554 Log xtime for LBS downlinks
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/ws.go
Labels: c/gateway server

#4555 Add missing open method to combined streams
  sdk/js/src/util/combine-streams.js
Labels: bug, c/console, ui/web

#4543 Prevent users from submitting zero or empty security keys in the Console
  CHANGELOG.md
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/messages.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/locales/en.json
Labels: bug, c/console, ui/web

#4553 Allow restoring and purging soft-deleted entities in the Console
  CHANGELOG.md
  pkg/webui/components/table/index.js
  pkg/webui/console/api/index.js
  pkg/webui/console/components/delete-modal-button/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/organizations.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/lib/store/actions/pagination.js
  pkg/webui/lib/store/reducers/pagination.js
  pkg/webui/locales/en.json
  sdk/js/src/service/applications.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
Labels: c/console, c/sdk/js, ui/web

#4556 Fix text overflow in webhook tiles
  pkg/webui/console/views/application-integrations-webhook-add-choose/application-integrations-webhook-add-choose.styl
Labels: bug, c/console, size/small, ui/web

#4525 Multiple Network Server task consumers
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/downlink_task_queue.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/redis/downlink_task_queue_test.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/util/test/redis.go
Labels: c/network server, compat/db, compat/config

#4557 Fix byte input width for Safari in the Console
  CHANGELOG.md
  pkg/webui/components/input/index.js
  pkg/webui/lib/navigator.js
Labels: c/console, ui/web

#4552 Set default NS values for device creation in the Console
  CHANGELOG.md
  pkg/networkserver/grpc.go
  pkg/webui/components/form/field/index.js
  pkg/webui/components/toast/toast.js
  pkg/webui/console/api/index.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-add/manual/connect.js
  pkg/webui/console/views/device-add/manual/form/advanced-settings.js
  pkg/webui/console/views/device-add/manual/form/form.js
  pkg/webui/console/views/device-add/manual/form/form.styl
  pkg/webui/console/views/device-add/manual/form/validation-schema.js
  pkg/webui/console/views/device-add/manual/form/warning-tooltip.js
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
  sdk/js/src/service/network-server.js
Labels: c/network server, c/console, ui/web

#4559 Fix concurrency of polyfill loads
  package.json
  pkg/webui/lib/components/with-locale.js
  yarn.lock
Labels: bug, c/console, size/small, dependencies, ui/web
