Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-06, with the labels that each got.

#4157 Add contextual help tooltips
  CHANGELOG.md
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/edit.spec.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/tooltip.js
  pkg/webui/components/link/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/views/device-add/manual/configuration-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/application-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/basic-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/join-settings-form/index.js
  pkg/webui/console/views/device-add/manual/wizard/network-settings-form/index.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/device-selection/index.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/lib/constants/glossary-ids.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#4220 Lower log level of missing downlink log
  pkg/networkserver/downlink.go
Labels: c/network server

#4226 Enhance log message metric
  CHANGELOG.md
  pkg/component/grpc.go
  pkg/log/middleware/observability/observability.go
Labels: size/small

#4227 Allow access to gateway status and location when public
  CHANGELOG.md
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/rights.go
  pkg/ttnpb/public.go
Labels: c/identity server

#4230 Inform users about changing/revoking their own access
  CHANGELOG.md
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: size/small, ui/web

#4231 Refactor GS-IS flow
  pkg/gatewayserver/entityregistry/is/is.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server

#4229 Improve cookie security
  CHANGELOG.md
  config/messages.json
  pkg/account/session/session.go
  pkg/web/cookie/cookie.go
  pkg/web/middleware/csrf.go
  pkg/web/web.go
  pkg/webmiddleware/csrf.go
  pkg/webmiddleware/csrf_test.go
Labels: blocking release, c/identity server, security

#4233 Reduce field mask on gateway update in the Console
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  sdk/js/src/service/gateways.js
Labels: c/console, ui/web

#4237 Fix PBA report deadlock
  pkg/packetbrokeragent/agent.go
Labels: bug, c/packet broker agent

#4238 Use `SameSite=Lax` for all cookies
  CHANGELOG.md
  pkg/account/session/session.go
  pkg/web/cookie/cookie.go
  pkg/webmiddleware/csrf.go
Labels: c/identity server, size/small

#4240 all: Use SameSite=None for OAuth state cookies
  CHANGELOG.md
  pkg/web/oauthclient/cookie_state.go
Labels: ui/web

#4241 Remove arm64 builds from snapshot workflows (no worries, we keep them in release workflows)
  .github/workflows/release-snapshot.yml
  .goreleaser.snapshot.yml
Labels: tooling

#4251 Skip building Mage on cache hit in CI
  .github/workflows/e2e.yml
  .github/workflows/general.yml
  .github/workflows/go.yml
  .github/workflows/js.yml
  .github/workflows/proto.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: tooling

#4253 Speed up Go CI workflow
  .github/workflows/go.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: tooling

#4254 Only run Proto CI workflow when relevant files changed
  .github/workflows/proto.yml
Labels: size/small, tooling

#4245 Speed up end-to-end tests
  .github/workflows/e2e.yml
  config/cypress.json
  tools/mage/dev.go
  tools/mage/js.go
Labels: tooling

#4249 Fix permissions to view gateway details in the Console
  CHANGELOG.md
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
Labels: bug, c/console, ui/web

#4255 Fix pseudo rights selection for collaborators and api keys in the Console
  CHANGELOG.md
  pkg/webui/console/components/api-key-form/create.js
  pkg/webui/console/components/api-key-form/edit.js
  pkg/webui/console/components/collaborator-form/index.js
  pkg/webui/console/components/rights-group/index.js
Labels: c/console, ui/web

#4247 Add new zap-based log formatting
  CHANGELOG.md
  cmd/internal/shared/config.go
  cmd/internal/shared/errors.go
  cmd/internal/shared/init.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  config/messages.json
  cypress/integration/account/change-password.spec.js
  cypress/integration/smoke/contact-info-validation/index.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/integration/smoke/registration/index.js
  cypress/plugins/tasks.js
  go.mod
  pkg/cluster/cluster_test.go
  pkg/component/component_test.go
  pkg/config/shared.go
  pkg/devicerepository/store/bleve/bleve.go
  pkg/log/context_test.go
  pkg/log/entry.go
  pkg/log/example_test.go
  pkg/log/global.go
  pkg/log/global_test.go
  pkg/log/handler/multi/multi.go
  pkg/log/handler/multi/multi_test.go
  pkg/log/log.go
  pkg/log/logger.go
  pkg/log/noop.go
  pkg/log/options.go
  pkg/log/test/test.go
  pkg/log/zap_handler.go
  pkg/mqtt/mystique.go
  pkg/mqtt/mystique_test.go
  pkg/networkserver/registry.go
  pkg/rpcmiddleware/warning/warning.go
  pkg/rpcserver/rpcserver_test.go
  pkg/ttnpb/join_populate.go
  pkg/ttnpb/messages_populate.go
  pkg/util/test/logger.go
  pkg/web/middleware/log_test.go
  pkg/webmiddleware/namespace_test.go
  tools/mage/dev.go
Labels: c/network server, c/shared, compat/config, dependencies, tooling, ui/cli

#4258 Add uplink latency histograms to NS and AS
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/observability.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/observability.go
Labels: c/application server, c/network server

#4263 Initialize and cache device repository index outside Docker
  .github/workflows/e2e.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  Dockerfile
  tools/mage/dev.go
Labels: tooling

#4261 Disable PR labeling workflow for dependabot PRs
  .github/workflows/pr-labels.yml
Labels: tooling

#4256 Clear EUI in gateway rights query
  pkg/identityserver/rights.go
Labels: c/identity server

#4272 Add contextual tooltips to device selection (device repository) in the Console
  pkg/webui/console/views/device-add/repository/device-selection/index.js
Labels: c/console, ui/web

#4260 Remove usage of isolated yarn dependency in tooling
  package.json
  tools/mage/js.go
  yarn.lock
Labels: tooling, ui/web

#4266 Reduce generated field mask on update in the Console
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-general-settings/mapping.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/lib/diff.js
  sdk/js/src/service/gateways.js
Labels: c/console, c/sdk/js, ui/web

#4273 Add Gateway Claiming API from TTS
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/gateways_claim.go
  config/messages.json
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.paths.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api, ui/cli

#4276 Disable ADR for multicast devices
  CHANGELOG.md
  pkg/networkserver/mac/utils.go
Labels: c/network server, size/small

#4236 Do not propagate the key unwrapping error
  pkg/applicationserver/grpc_deviceregistry.go
Labels: bug, c/application server

#4264 Add frontend caches to release workflow
  .github/workflows/e2e.yml
  .github/workflows/release-snapshot.yml
Labels: tooling, ui/web

#4262 Remove old logger
  CHANGELOG.md
  cmd/internal/shared/init.go
  pkg/cluster/cluster_test.go
  pkg/config/shared.go
  pkg/log/cli_handler.go
  pkg/log/cli_handler_test.go
  pkg/log/global.go
  pkg/rpcmiddleware/warning/warning.go
  pkg/util/test/logger.go
Labels: c/shared, compat/config

#4287 Log messages from go-redis library with debug level
  CHANGELOG.md
  pkg/redis/redis.go
Labels: compat/db

#4293 Fix application deletion handling the Console
  CHANGELOG.md
  pkg/webui/console/store/reducers/applications.js
Labels: bug, c/console, ui/web

#4283 Update connection stats with field mask paths
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server, compat/db

#4209 PHYVersion API clarifications
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  cmd/ttn-lw-cli/commands/simulate.go
  pkg/band/as_923.go
  pkg/band/au_915_928.go
  pkg/band/band.go
  pkg/band/cn_470_510.go
  pkg/band/cn_779_787.go
  pkg/band/default.go
  pkg/band/downgrades_test.go
  pkg/band/eu_433.go
  pkg/band/eu_863_870.go
  pkg/band/in_865_867.go
  pkg/band/ism_2400.go
  pkg/band/kr_920_923.go
  pkg/band/ru_864_870.go
  pkg/band/us_902_928.go
  pkg/devicerepository/store/remote/enums.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/encoding/lorawan/mac_test.go
  pkg/frequencyplans/cflist_test.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/mac/reset_test.go
  pkg/networkserver/mac/tx_param_setup_test.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  pkg/util/test/test.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, ui/cli

#4181 Drop duplicate uplinks based on payload, frequency and antenna index
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_internal_test.go
  pkg/gatewayserver/io/observability.go
Labels: c/gateway server

#4297 Generate DevAddr for ABP session on NS when creating end device in CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

#4295 Add Client Requested email template
  CHANGELOG.md
  pkg/identityserver/client_registry.go
  pkg/identityserver/emails/client_requested.go
  pkg/identityserver/emails/user_requested.go
Labels: c/identity server

#4308 Fix cache check for DB init step in end-to-end action
  .github/workflows/e2e.yml
Labels: bug, tooling

#4303 Add option to use cross site cookies for oauth
  CHANGELOG.md
  cmd/internal/shared/console/config.go
  pkg/web/oauthclient/config.go
  pkg/web/oauthclient/cookie_state.go
Labels: bug, c/console, compat/config, ui/web

#4309 Improve RPC client debug logs
  cmd/ttn-lw-cli/internal/api/grpc.go
  pkg/rpcmiddleware/rpclog/client_interceptors.go
Labels: ui/cli

#4296 Change gateway privacy checkbox descriptions, tooltips and defaults
  CHANGELOG.md
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/edit.spec.js
  cypress/integration/console/gateways/location/create.spec.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: ui/web

#4282 Send ApplicationDownlinkSent upstream messages from TxAcks
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/messages.proto
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/scheduled_downlink_matcher.go
  pkg/networkserver/redis/scheduled_downlink_matcher_test.go
  pkg/networkserver/registry.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, compat/config, compat/db

#4246 Query most recent application messages from Storage Integration (API + CLI)
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api, ui/cli

#4310 Set User-Agent header in component HTTP client
  CHANGELOG.md
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/component/http.go
Labels: c/application server, c/shared, size/small

#4301 Fix antenna gain
  CHANGELOG.md
  api/gateway.proto
  config/messages.json
  pkg/gatewayconfigurationserver/v2/server_test.go
  pkg/gatewayserver/entityregistry/is/is.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/registry.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/gatewayserver/upstream/upstream.go
  pkg/identityserver/store/gateway_antenna.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/pfconfig/cpf/cpf_test.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/public.go
Labels: c/gateway conf server, c/gateway server, c/identity server, compat/api, compat/db, technical debt

#4311 Infer location from decoded payload and publish location solved
  CHANGELOG.md
  config/messages.json
  go.mod
  go.sum
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/device_fetcher.go
  pkg/applicationserver/device_fetcher_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/payload.go
  pkg/applicationserver/registry.go
  pkg/applicationserver/util_test.go
  tools/go.sum
Labels: c/application server, dependencies, technical debt, tooling

#4305 Fix LoRaCloud Geolocation Services request path
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/webui/console/constants/event-filters.js
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
Labels: bug, c/application server, ui/web

#4304 Update gateways in Packet Broker
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/packetbrokeragent.proto
  cmd/internal/shared/gatewayserver/config.go
  cmd/internal/shared/packetbrokeragent/config.go
  config/messages.json
  go.mod
  go.sum
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/packetbrokeragent/grpc_translation.go
  pkg/packetbrokeragent/mock/gatewayserver.go
  pkg/packetbrokeragent/mock/pbdataplane.go
  pkg/packetbrokeragent/mock/pbmapper.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/translation_internal_test.go
  pkg/packetbrokeragent/util_test.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.sum
Labels: c/gateway server, c/packet broker agent, compat/api, compat/config, dependencies, tooling

#4316 Make JS lint steps verbose
  .github/workflows/js.yml
Labels: tooling

#4321 Do not dial Packet Broker when no roles are enabled
  CHANGELOG.md
  config/messages.json
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/grpc_disabled.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/grpc_pba.go
Labels: c/packet broker agent, size/small

#4318 Remove ineffective DevNonce too high check
  config/messages.json
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver.go
Labels: c/join server, size/small, technical debt

#4325 Fix LoRaCloud GLS WiFi support on empty fields
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects_v2.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
Labels: bug, c/application server

#4323 Add gateway antenna placement
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/identityserver/store/gateway_antenna.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/enums.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, c/packet broker agent, compat/api, compat/db, size/small

#4312 Increase size limit for payload formatter scripts
  CHANGELOG.md
  api/api.md
  api/messages.proto
  cmd/internal/shared/applicationserver/config.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: compat/api, compat/config

#4317 Save end device location on location solved
  api/api.md
  api/api.swagger.json
  api/client_services.proto
  api/end_device_services.proto
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/abstract.go
  pkg/applicationserver/util_test.go
  pkg/identityserver/end_device_registry.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/end_device_services.pb.go
  sdk/js/generated/api.json
Labels: c/application server, c/identity server, compat/api

#4329 Fix location settings in the Console
  CHANGELOG.md
  pkg/webui/components/map/index.js
Labels: c/console, ui/web

#4328 Validate gateway identifiers in entity registry
  pkg/gatewayserver/entityregistry/is/is.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/registry.go
Labels: c/gateway server

#4313 Create console oauth client before admin API key during initialization of development environment
  tools/mage/dev.go
Labels: tooling
