Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-11, with the labels that each got.

#4802 Remove data rate index and LoRaWAN PHY version from API
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  config/messages.json
  pkg/applicationserver/io/packages/loradms/v1/data.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/util/util.go
  pkg/gatewayserver/io/ws/util/util_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/scheduled_downlink_matcher_test.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, c/gateway server, c/application server, c/packet broker agent, compat/api, technical debt, compat/db

#4803 Cleanup expired entities from IS
  cmd/ttn-lw-stack/commands/is_db.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/is_cleanup_test.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/soft_delete.go
  pkg/identityserver/store/user_store.go
Labels: c/identity server, compat/db

#4814 Upgrade GoReleaser to v0.184.0
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  .goreleaser.release.yml
  .goreleaser.snapshot.yml
  DEVELOPMENT.md
Labels: technical debt, dependencies

#4805 Add BasicStation time sync protocol
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/config.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/lbslns/format.go
  pkg/gatewayserver/io/ws/lbslns/state.go
  pkg/gatewayserver/io/ws/lbslns/time.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/lbslns/version.go
  pkg/gatewayserver/io/ws/sessions.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/scheduling/scheduler.go
Labels: c/gateway server, dependencies, tooling, compat/config

#4815 IS cleanup improvements
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/js_db.go
  cmd/ttn-lw-stack/commands/utils.go
  pkg/identityserver/store/is_cleanup_test.go
Labels: c/identity server, compat/db

#4817 Take into account GPS time for uplink timestamps
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: size/small

#4789 Refactor `<Table />` component to allow for `<a />` wrapped rows
  CHANGELOG.md
  cypress/integration/console/applications/list.spec.js
  cypress/integration/console/packet-broker/networks.spec.js
  cypress/integration/smoke/gateways/delete.js
  pkg/webui/components/link/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/cell/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/row/index.js
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/section/index.js
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/containers/fetch-table/index.js
Labels: bug, c/console, technical debt, ui/web, tooling, compat/config

#4812 Add extended gateway sorting algorithm
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils.go
Labels: c/network server

#4826 Improve PBA subscription streams
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, size/small

#4827 Upgrade protoc-gen-go-json to v1.1.1
  CHANGELOG.md
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#4822 Do not include nil error in pkg/rpcclient
  pkg/rpcclient/oauth2_client.go
Labels: bug

#4819 Add experimental feature issue template
  .github/ISSUE_TEMPLATE/experimental_feature.md
Labels: tooling

#4832 Backport OAuth client store changes
  cmd/ttn-lw-stack/commands/is_db.go
  pkg/account/server.go
  pkg/account/server_test.go
  pkg/account/store/interfaces.go
  pkg/account/store_utils_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/migrations/migration.go
  pkg/identityserver/store/scope.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
  pkg/web/cookie/cookie.go
Labels: c/identity server, compat/db

#4821 Switch protoc-gen-fieldmask image
  tools/mage/proto.go
Labels: technical debt, dependencies, tooling

#4828 Synchronize GPS time via uplink token
  api/api.md
  api/lorawan.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/uplink_token.go
  pkg/gatewayserver/io/uplink_token_test.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/lbslns/time.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/clock_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_interfaces.go
  sdk/js/generated/api.json
Labels: c/network server, ui/cli, c/gateway server, compat/api

#4820 console: Counting the body stream error as network error
  pkg/webui/console/lib/events/utils.js
Labels: c/console, ui/web

#4824 Increase frontend build speed
  .github/workflows/e2e.yml
  .github/workflows/general.yml
  .github/workflows/js.yml
  .github/workflows/release-snapshot.yml
  cmd/internal/shared/console/config.go
  cmd/internal/shared/identityserver/config.go
  config/webpack.config.babel.js
  config/webpack.dll.babel.js
  tools/mage/js.go
Labels: performance, ui/web, tooling, compat/config

#4825 Remove some gogoproto options from metadata.proto
  api/metadata.proto
  cmd/ttn-lw-cli/commands/simulate.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects.go
  pkg/applicationserver/io/packages/loragls/v3/api/objects_v2.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/mqtt/format_protobufv2.go
  pkg/gatewayserver/io/mqtt/format_protobufv2_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/link_check_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  pkg/ttnpb/metadata_json.pb.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/network server, ui/cli, c/gateway server, c/application server, c/packet broker agent, compat/api

#4791 Unset session `started_at` in Application Server
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/start.go
  cmd/ttn-lw-stack/commands/utils.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/redis/registry.go
Labels: c/application server, compat/db

#4837 Fix dll loading in development builds
  config/webpack.config.babel.js
  config/webpack.dll.babel.js
Labels: bug, ui/web, tooling

#4848 Merge multiple antenna signal qualities with location information
  CHANGELOG.md
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
Labels: c/packet broker agent, size/small

#4839 Update lorawan-application-payload
  go.mod
  go.sum
  pkg/applicationserver/applicationserver_test.go
  tools/go.mod
  tools/go.sum
Labels: c/application server, size/small, dependencies, tooling

#4849 Provide better error when OIDC login is aborted
  CHANGELOG.md
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/errors/error-messages.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
Labels: c/identity server, ui/web

#4856 Fix Application Server subscription leak
  pkg/applicationserver/distribution/subscription_set.go
Labels: bug, c/application server

#4844 Fix full-text search query parsing
  CHANGELOG.md
  pkg/identityserver/store/entity_search.go
Labels: c/identity server, compat/db, size/small

#4831 Event filtering using the backend
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/events.proto
  cmd/ttn-lw-cli/commands/events.go
  config/messages.json
  pkg/events/grpc/grpc.go
  pkg/ttnpb/events.pb.go
  pkg/ttnpb/events.pb.paths.fm.go
  pkg/ttnpb/events.pb.setters.fm.go
  pkg/ttnpb/events.pb.validate.go
  pkg/webui/console/components/events/index.js
  pkg/webui/console/constants/entities.js
  pkg/webui/console/constants/event-filters.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/lib/events/definitions.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/actions/events.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  sdk/js/generated/api.json
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
Labels: c/console, ui/cli, compat/api, ui/web

#4854 BasicStation timesync fixes
  pkg/gatewayserver/io/ws/config.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/version.go
  pkg/gatewayserver/io/ws/ws.go
Labels: c/gateway server, compat/config

#4860 Add MQTT connection failure event
  config/messages.json
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/mqtt/observability.go
Labels: c/application server

#4863 Build DLL on release tag
  .github/workflows/release-tag.yml
  pkg/applicationserver/io/mqtt/mqtt.go
Labels: c/application server, blocking release

#4865 Support `ftime` and `foff` for SX1303 using V1 UDP protocol
  CHANGELOG.md
  config/messages.json
  pkg/ttnpb/udp/errors.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server, technical debt, size/small

#4867 Remove peer identifier stickiness
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/device_fetcher.go
  pkg/basicstation/cups/server.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayconfigurationserver/v2/server.go
  pkg/gatewayserver/is.go
  pkg/gatewayserver/upstream/ns/ns.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils.go
  pkg/packetbrokeragent/agent.go
Labels: c/join server, c/network server, c/gateway server, c/application server, c/packet broker agent, scalability, c/gateway conf server

#4866 Revert to Redis PubSub channel
  config/messages.json
  pkg/applicationserver/distribution/redis/redis.go
Labels: bug, c/application server, compat/db, size/small

#4868 Increase amount of elements scanned
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/ns_db.go
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/redis/registry.go
  pkg/redis/range.go
Labels: c/join server, c/network server, c/application server, scalability, compat/db

#4872 Fix swapped error message for aborted logins
  pkg/webui/lib/components/full-view-error/error.js
Labels: bug, ui/web

#4875 Fix resolution of last activity value for end devices and applications
  pkg/webui/console/constants/event-filters.js
  pkg/webui/console/store/reducers/applications.js
Labels: bug, c/console, ui/web

#4876 Report utilization rate of duty-cycle window in sub-band's `downlink_utilization`
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/sub_band_test.go
  pkg/ttnpb/gateway.pb.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, size/small

#4858 dev: Add a missing command to run tests in dev environment
  DEVELOPMENT.md
Labels: documentation

#4881 Respect event request tail if after is unspecified
  pkg/events/grpc/grpc.go
Labels: size/small

#4879 Consider universal (admin) rights in List and Search requests
  CHANGELOG.md
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
Labels: c/identity server

#4873 Support resetting device state in the Console
  CHANGELOG.md
  pkg/webui/components/form/field/info.js
  pkg/webui/console/api/index.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
  sdk/js/src/service/devices/index.js
Labels: c/console, ui/web

#4885 RP002-1.0.0 band definitions
  pkg/band/all.go
  pkg/band/as_923_rp2_v1_0_0.go
  pkg/band/au_915_928_rp2_v1_0_0.go
  pkg/band/channel_mask.go
  pkg/band/cn_470_510_20_a.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_0.go
  pkg/band/cn_470_510_20_b.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_0.go
  pkg/band/cn_470_510_26_a.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_0.go
  pkg/band/cn_470_510_26_b.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_0.go
  pkg/band/cn_779_787_rp2_v1_0_0.go
  pkg/band/eu_433_rp2_v1_0_0.go
  pkg/band/eu_863_870_rp2_v1_0_0.go
  pkg/band/in_865_867_rp2_v1_0_0.go
  pkg/band/kr_920_923_rp2_v1_0_0.go
  pkg/band/rpc_test.go
  pkg/band/ru_864_870_rp2_v1_0_0.go
  pkg/band/testdata/AS_923_RP002_V1_0_0.json
  pkg/band/testdata/AU_915_928_RP002_V1_0_0.json
  pkg/band/testdata/CN_470_510_20_A_RP002_V1_0_0.json
  pkg/band/testdata/CN_470_510_20_B_RP002_V1_0_0.json
  pkg/band/testdata/CN_470_510_26_A_RP002_V1_0_0.json
  pkg/band/testdata/CN_470_510_26_B_RP002_V1_0_0.json
  pkg/band/testdata/CN_470_510_RP002_V1_0_0.json
  pkg/band/testdata/CN_779_787_RP002_V1_0_0.json
  pkg/band/testdata/EU_433_RP002_V1_0_0.json
  pkg/band/testdata/EU_863_870_RP002_V1_0_0.json
  pkg/band/testdata/IN_865_867_RP002_V1_0_0.json
  pkg/band/testdata/ISM_2400_RP002_V1_0_0.json
  pkg/band/testdata/KR_920_923_RP002_V1_0_0.json
  pkg/band/testdata/RU_864_870_RP002_V1_0_0.json
  pkg/band/testdata/US_902_928_RP002_V1_0_0.json
  pkg/band/us_902_928_rp2_v1_0_0.go
  pkg/devicerepository/store/remote/enums.go
  pkg/packetbrokeragent/translation.go
Labels: c/shared, c/packet broker agent

#4883 Prevent events from reappearing after event stream was cleared
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/selectors/events.js
Labels: bug, c/console, ui/web

#4888 MQTT implementation unification
  config/messages.json
  pkg/applicationserver/io/mqtt/format.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/mqtt/mqtt.go
Labels: c/gateway server, c/application server, technical debt

#4891 Allow frontends to manually synchronize gateway clocks
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws.go
Labels: c/gateway server, technical debt

#4859 Disconnect WS gateways that stop sending WS pong
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/io/ws/config.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
Labels: c/gateway server, compat/config

#4880 Remove CSP feature flag
  CHANGELOG.md
  pkg/account/server.go
  pkg/console/console.go
  pkg/webui/csp.go
  pkg/webui/template.go
Labels: c/console, c/identity server, ui/web

#4887 Fix occasionally failing end-to-end tests
  .github/workflows/e2e.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  config/webpack.config.babel.js
  config/webpack.dll.babel.js
Labels: bug, ui/web, tooling

#4894 Move from io/ioutil to io and os packages
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/use.go
  cmd/ttn-lw-cli/commands/utils.go
  pkg/account/server_test.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/client_test.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/applicationserver/io/pubsub/provider/mqtt/provider_test.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/band/reference_test.go
  pkg/component/component_test.go
  pkg/component/interop.go
  pkg/component/interop_test.go
  pkg/component/web.go
  pkg/config/shared.go
  pkg/config/tlsconfig/config.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/email/smtp/smtp_util_test.go
  pkg/encoding/lorawan/mac.go
  pkg/errors/web/middleware_test.go
  pkg/fetch/bucket_test.go
  pkg/fetch/fs.go
  pkg/fetch/fs_test.go
  pkg/fetch/http.go
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/i18n/i18n.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/interop/config.go
  pkg/interop/server.go
  pkg/interop/util_test.go
  pkg/oauth/server_test.go
  pkg/packetbroker/token.go
  pkg/redis/codec/main.go
  pkg/rpcmiddleware/discover/discover_test.go
  pkg/ttnpb/ttnpb_encoding_test.go
  pkg/util/test/generate_constructors.go
  pkg/web/error_handler_test.go
  pkg/web/logger.go
  pkg/web/web.go
  pkg/web/web_test.go
  pkg/webhandlers/error_test.go
  pkg/webmiddleware/basic_auth_test.go
  pkg/webmiddleware/cors_test.go
  pkg/webmiddleware/max_body_test.go
  pkg/webmiddleware/recover_test.go
  pkg/webmiddleware/redirect_test.go
  tools/generate_allowed_field_mask_paths.go
  tools/mage/certificates.go
  tools/mage/dev.go
  tools/mage/git.go
  tools/mage/go.go
  tools/mage/headers.go
  tools/mage/version.go
Labels: technical debt

#4893 Remove BasicStation-related Echo usage
  pkg/basicstation/cups/server.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/ws/lbslns/format.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/web/web.go
Labels: c/gateway server, technical debt, c/gateway conf server

#4878 Use most recent timestamp for calculating "Last activity" for gateways
  CHANGELOG.md
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/store/reducers/gateway-status.js
  pkg/webui/console/store/reducers/tests/gateway-status_test.js
Labels: bug, c/console, ui/web

#4900 Remove Echo headers reference
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
Labels: technical debt, c/gateway conf server

#4904 Expose disconnect reason in gateway disconnect event
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/observability.go
Labels: c/gateway server, size/small

#4905 Fix initStack API key serialization
  tools/mage/dev.go
Labels: tooling

#4899 Account for implementation errors while parsing GPS timestamps
  CHANGELOG.md
  pkg/gatewayserver/io/ws/lbslns/time.go
  pkg/gatewayserver/io/ws/lbslns/time_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: bug, c/gateway server

#4903 Remove JSONPlugin feature flag
  CHANGELOG.md
  go.mod
  go.sum
  pkg/jsonpb/ttn.go
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#4909 Add force flag to as-db migrate
  cmd/ttn-lw-stack/commands/as_db.go
Labels: bug

#4575 Add desired mac settings to end device general settings in the Console
  CHANGELOG.md
  pkg/webui/components/collapse/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/components/mac-settings-section/mac-settings-section.styl
  pkg/webui/console/views/device-add/manual/form/advanced-settings.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/messages.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: c/console, s/in progress, ui/web

#4898 Fix/4700 log back modal
  cypress/integration/console/auth/log-back-in.spec.js
  cypress/integration/console/auth/login.spec.js
  pkg/webui/console/containers/log-back-in-modal/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/lib/store/actions/status.js
  pkg/webui/lib/store/logics/create-request-logic.js
  pkg/webui/lib/store/reducers/status.js
  pkg/webui/locales/en.json
Labels: c/console, s/in progress, security, ui/web

#4914 Remove unused vars in `webui`
  config/eslintrc.yaml
  pkg/webui/account/store/middleware/init.js
  pkg/webui/account/views/forgot-password/index.js
  pkg/webui/components/code-editor/ttn-theme.js
  pkg/webui/components/footer/index.js
  pkg/webui/components/modal/story.js
  pkg/webui/components/navigation/link/index.js
  pkg/webui/components/page-title/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/wizard/steps.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/collaborators.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/reducers/packet-broker.js
  pkg/webui/console/store/reducers/users.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/console/views/application-collaborator-edit/connect.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organizations/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/components/date-time/index.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/store/middleware/request-promise-middleware.js
  sdk/js/src/util/marshaler.js
Labels: ui/web, tooling

#4920 Backport a couple of fixes to TTSOS
  api/api.md
  api/gateway.proto
  pkg/identityserver/gateway_registry.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api

#4916 Format and lint e2e test files
  config/eslintrc.yaml
  cypress/integration/account/change-password.spec.js
  cypress/integration/account/forgot-password.spec.js
  cypress/integration/account/overview.spec.js
  cypress/integration/account/user-registration.spec.js
  cypress/integration/console/applications/create.spec.js
  cypress/integration/console/devices/utils.js
  cypress/integration/console/integrations/pub-subs/create.spec.js
  cypress/integration/console/organizations/create.spec.js
  cypress/integration/console/shared/header.spec.js
  cypress/integration/smoke/contact-info-validation/index.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/integration/smoke/profile-settings/index.js
  cypress/support/commands.js
  tools/mage/js.go
Labels: ui/web, tooling

#4851 Fix skip payload crypto setting for applications and end devices
  cypress/integration/console/applications/edit.spec.js
  cypress/integration/console/devices/messaging/edit.spec.js
  cypress/integration/console/shared/skip-payload-crypto/edit.spec.js
  pkg/webui/console/components/downlink-form/downlink-form.js
  pkg/webui/console/components/uplink-form/uplink-form.js
  pkg/webui/console/store/actions/link.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-general-settings/mapping.js
  pkg/webui/console/views/device-general-settings/application-server-form/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: c/console, s/in progress, ui/web

#4918 Remove gogoproto options from gatewayserver.proto and join.proto
  api/gatewayserver.proto
  api/join.proto
  pkg/gatewayserver/grpc_nsgs.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/http_interop_internal_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/packetbrokeragent/agent.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.setters.fm.go
  pkg/ttnpb/gatewayserver.pb.validate.go
  pkg/ttnpb/join.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/join.pb.setters.fm.go
  pkg/ttnpb/join.pb.validate.go
  pkg/ttnpb/join_json.pb.go
Labels: c/join server, c/network server, c/gateway server, c/packet broker agent, compat/api

#4933 Increase the buffer time used for absolute time scheduling
  config/messages.json
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/networkserver/downlink.go
  pkg/networkserver/networkserver.go
Labels: bug, c/network server, c/gateway server

#4931 Wrap JSON unmarshaling errors
  config/messages.json
  pkg/basicstation/cups/update_info.go
  pkg/errors/conversion.go
  pkg/gatewayserver/io/io.go
  pkg/ttnpb/udp/translation.go
Labels: bug, c/shared, c/gateway server, c/gateway conf server

#4892 Check if dev SQL database is running after starting it
  DEVELOPMENT.md
  tools/mage/dev.go
  tools/mage/scripts/recreate-db-from-dump.sh
Labels: bug, ui/web, tooling

#4926 Update cypress and run tests with TLS
  .github/workflows/e2e.yml
  config/stack/ttn-lw-stack-tls.yml
  config/webpack.config.babel.js
  cypress/integration/account/change-password.spec.js
  cypress/integration/console/devices/create-repository.spec.js
  cypress/integration/console/devices/messaging/edit.spec.js
  cypress/integration/console/packet-broker/networks.spec.js
  cypress/integration/console/packet-broker/registration.spec.js
  cypress/integration/console/packet-broker/routing-policies.spec.js
  cypress/integration/smoke/contact-info-validation/index.js
  cypress/integration/smoke/forgot-password/index.js
  cypress/plugins/index.js
  cypress/plugins/tasks.js
  package.json
  tools/mage/dev.go
  yarn.lock
Labels: dependencies, ui/web, tooling

#4942 Add docker ps to db start target
  tools/mage/dev.go
Labels: bug, tooling
