Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-02, with the labels that each got.

#3730 Fix manual device creation tab
  pkg/webui/console/views/device-add/device-add.js
Labels: c/console, quickfix, ui/web

#3735 Fix device event stream reconnect error
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/lib/selectors/id.js
Labels: bug, c/console, ui/web

#3708 Test constructors, defaults and utilities
  pkg/band/band_internal_test.go
  pkg/band/band_test.go
  pkg/crypto/key_derivation_internal_test.go
  pkg/util/test/constructors.go
  pkg/util/test/constructors_generated.go
  pkg/util/test/frequencyplans.go
  pkg/util/test/generate_constructors.go
  pkg/util/test/test.go
Labels: blocking/issue, c/shared, prio/medium, tooling

#3720 Add application pub sub tests
  DEVELOPMENT.md
  cypress/integration/console/integrations/pub-subs/edit.spec.js
  cypress/support/commands.js
Labels: c/console, ui/web

#3689 Support parsing of DevAddrPrefix type
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: quickfix, ui/cli

#3681 Add gateway location tests
  cypress/integration/console/gateways/location/create.spec.js
  cypress/integration/console/gateways/location/edit.spec.js
  cypress/integration/console/organizations/create.spec.js
  cypress/support/commands.js
  pkg/webui/components/map/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
Labels: c/console, ui/web

#3738 Fix handling of FCnt resets and 32-bit FCnt rollovers
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/redis.go
  config/messages.json
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/networkserver/redis/scripts.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/keys.go
  pkg/types/aeskey.go
  pkg/util/test/cluster_test.go
  pkg/util/test/test.go
Labels: blocking/release, bug, c/network server, compat/db

#3734 Use valid session during downlink decryption AS
  pkg/applicationserver/payload.go
Labels: blocking/release, bug, c/application server, quickfix

#3751 Bump to version 3.11.0-rc2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3747 Add missing join event assertion test
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/util/test/assertions/events.go
  pkg/util/test/assertions/resemble.go
Labels: bug, c/network server, prio/medium

#3733 Add Application Server configuration retrieval API
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  pkg/applicationserver/config.go
  pkg/applicationserver/grpc.go
  pkg/ttnpb/applicationserver.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.gw.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, compat/config

#3740 Improve utility of Sentry logs in the Console
  pkg/webui/components/error-notification/index.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: c/console, quickfix, tooling, ui/web

#3752 Set session keys as byte in device overview
  CHANGELOG.md
  cypress/integration/console/shared/overview/overview.spec.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-overview/gateway-overview.js
Labels: bug, c/console, quickfix, ui/web

#3757 Do not panic on nil EndDeviceVersionIdentifiers
  config/messages.json
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/messageprocessors/devicerepository/devicerepository_test.go
Labels: blocking/release, bug, c/application server, quickfix

#3745 Update dependabot config
  .github/dependabot.yml
Labels: tooling

#3731 Fix initial display of end device frame counts
  CHANGELOG.md
  pkg/webui/console/components/entity-title-section/content/messages-count/index.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/containers/device-title-section/device-title-section.styl
  pkg/webui/console/store/reducers/devices.js
Labels: bug, c/console, ui/web

#3732 Fix error handling in `ttn-lw-cli simulate`
  cmd/ttn-lw-cli/commands/simulate.go
  config/messages.json
Labels: ui/cli

#3768 Fix AU915-928 band
  CHANGELOG.md
  pkg/band/au_915_928.go
Labels: blocking/release, bug, c/shared

#3742 Show end device details on device creation
  pkg/webui/assets/misc/end-device-placeholder.svg
  pkg/webui/console/views/device-add/repository/device-card/connect.js
  pkg/webui/console/views/device-add/repository/device-card/device-card.js
  pkg/webui/console/views/device-add/repository/device-card/device-card.styl
  pkg/webui/console/views/device-add/repository/device-card/index.js
  pkg/webui/console/views/device-add/repository/device-selection/model-select/model-select.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3779 Bump to version 3.11.0
  CHANGELOG.md
  SECURITY.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3744 Simplify creation of multiple end device of the same type in the Console
  cypress/integration/console/devices/create-repository.spec.js
  pkg/webui/console/views/device-add/manual/manual.js
  pkg/webui/console/views/device-add/messages.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/hints/other-hint.js
  pkg/webui/console/views/device-add/repository/hints/progress-hint.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
  pkg/webui/console/views/device-add/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3775 Improve logging of IS requests
  pkg/identityserver/entity_access.go
  pkg/rpcmiddleware/rpclog/client_interceptors.go
  pkg/rpcmiddleware/rpclog/context.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/rpcmiddleware/rpclog/utils.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/logfields.go
  pkg/webmiddleware/log.go
Labels: c/identity server

#3794 Fix synchronization in scheduler
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/redis/codec/main.go
Labels: c/gateway server, compat/db, quickfix

#3758 Improve CI e2e logging
  .github/workflows/e2e.yml
Labels: tooling

#3753 Disable end-to-end test videos
  config/cypress.json
Labels: performance, quickfix, tooling

#3797 Add RSSI value to message events
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/uplink-message.js
  pkg/webui/locales/en.json
  pkg/webui/locales/xx.json
Labels: c/console, ui/web

#3803 Release 3.10.10
  CHANGELOG.md
  package.json
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/redis/codec/main.go
  pkg/version/ttn.go
  sdk/js/package.json
Labels: backport, c/gateway server, compat/db, release

#3811 Update footer link
  pkg/webui/components/footer/index.js
Labels: c/console, ui/web

#3796 Add highlight for frame counter in live data events
  pkg/webui/console/components/events/previews/shared/description-list/description-list.styl
  pkg/webui/console/components/events/previews/shared/description-list/item.js
  pkg/webui/console/components/events/previews/uplink-message.js
Labels: c/console, ui/web

#3814 Fix device repository form submission for certain end devices
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
Labels: bug, c/console, ui/web

#3816 Update side navigation hover styling
  pkg/webui/components/navigation/side/item/item.styl
Labels: c/console, ui/web

#3815 Improve profile picture filename assertion
  cypress/integration/account/profile-settings.spec.js
Labels: quickfix, tooling

#3737 Fix concurrent token requests after token expiry
  pkg/webui/lib/access-token.js
Labels: bug, c/console, ui/web

#3792 Add dynamic style for byte field
  pkg/webui/components/input/index.js
  pkg/webui/components/input/input.styl
Labels: c/console, ui/web

#3825 Bump to version 3.11.1
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#3826 Change type of temp field to float32 in UDP stats message
  CHANGELOG.md
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server, easy

#3837 Fix possible race condition in uplink matching
  CHANGELOG.md
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
Labels: blocking/release, bug, c/network server

#3746 Create admin API key for development stack
  DEVELOPMENT.md
  tools/mage/dev.go
  tools/mage/go.go
Labels: tooling

#3836 Check if the application session key is available before access
  pkg/applicationserver/applicationserver.go
Labels: bug, c/application server, quickfix

#3748 Refactor Events Package
  CHANGELOG.md
  go.mod
  pkg/events/basic/pubsub.go
  pkg/events/basic/pubsub_test.go
  pkg/events/basic/subscription.go
  pkg/events/cloud/cloud.go
  pkg/events/cloud/cloud_test.go
  pkg/events/default.go
  pkg/events/definitions.go
  pkg/events/events_test.go
  pkg/events/fs/fs.go
  pkg/events/fs/fs_test.go
  pkg/events/grpc/grpc.go
  pkg/events/handler_test.go
  pkg/events/identifiers.go
  pkg/events/identifiers_test.go
  pkg/events/internal/eventstest/events_backend.go
  pkg/events/observability.go
  pkg/events/pubsub.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/events/redis/subscription.go
  pkg/util/test/events.go
Labels: bump/minor, compat/db, dependencies

#3847 Decouple context lifetime before gateway IDs unclaim
  pkg/component/component.go
  pkg/component/context.go
  pkg/component/context_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/upstream/ns/ns.go
Labels: bug, c/gateway server, prio/medium

#3846 Fix matching type conditional
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server

#3834 Fix conflict when registering end devices in the Console
  CHANGELOG.md
  pkg/webui/components/wizard/form/next-button.js
Labels: bug, c/console, ui/web

#3805 Add state_description to Clients and Users
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/client.proto
  api/user.proto
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/emails/entity_state_changed.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/store/client.go
  pkg/identityserver/store/fieldmask_paths.go
  pkg/identityserver/store/user.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

#3782 api: Improve documentation
  api/api.md
  api/api.swagger.json
  api/applicationserver.proto
  api/lorawan.proto
  api/messages.proto
  api/networkserver.proto
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/networkserver.pb.go
  sdk/js/generated/api.json
Labels: compat/api, documentation

#3856 Allow events to arrive out-of-order
  pkg/events/internal/eventstest/events_backend.go
Labels: quickfix

#3861 Fix pagination in OAuth API
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/users_oauth.go
  pkg/identityserver/store/oauth_store.go
Labels: bug, c/identity server, compat/db, ui/cli

#3821 Fix documentation of GoReleaser snapshots
  DEVELOPMENT.md
Labels: documentation, quickfix, tooling

#3783 util: Update docs in release template
  .github/ISSUE_TEMPLATE/release.md
Labels: documentation

#3801 Prefill end device ID on dev_eui change in the Console
  CHANGELOG.md
  cypress/integration/console/devices/create-repository.spec.js
  cypress/support/utils.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/input/index.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
Labels: c/console, ui/web

#3853 Fix Application Server panic on TLV overflow
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding.go
  pkg/applicationserver/io/packages/loradms/v1/tlv_encoding_test.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/webhooks.go
Labels: bug, c/application server, quickfix
