Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2021-09, with the labels that each got.

#4560 Add starting point for cross-browser tests within end-to-end tests
  .github/workflows/e2e.yml
  cypress/plugins/tasks.js
  tools/mage/dev.go
  tools/mage/js.go
Labels: tooling

#4563 Check refs in repository form before using them in the Console
  pkg/webui/console/views/device-add/repository/repository.js
Labels: c/console, ui/web

#4572 Fix NS multicast MAC state after reset
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/networkserver/grpc_deviceregistry.go
Labels: bug, c/network server, ui/cli

#4573 Evict downlink queue of the pending session on join accept
  pkg/networkserver/downlink.go
Labels: bug, c/network server

#4580 Use failed precondition error code when keys are not set
  pkg/joinserver/errors.go
Labels: c/join server

#4588 Log drain errors only if the send did not fail
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/utils.go
Labels: c/network server

#4589 Use namespaced schema version key
  cmd/ttn-lw-stack/commands/ns_db.go
Labels: bug

#4592 Improve corrupted MAC state error details
  config/messages.json
  pkg/networkserver/downlink.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/errors.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/link_adr.go
Labels: c/network server

#4574 Increase hash size used during uplink matching and deduplication
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/redis.go
Labels: bug, c/network server, compat/db

#4593 Fix cypress grouping in e2e workflow
  .github/workflows/e2e.yml
Labels: bug, ui/web, tooling

#4582 Merge v3.14 in v3.15
  .github/workflows/e2e.yml
  cypress/plugins/tasks.js
  package.json
  pkg/webui/console/views/device-add/repository/repository.js
  tools/mage/dev.go
  tools/mage/js.go
  yarn.lock
Labels: dependencies, ui/web, tooling, merge

#4590 Update to Go 1.17
  .github/workflows/e2e.yml
  .github/workflows/general.yml
  .github/workflows/go.yml
  .github/workflows/js.yml
  .github/workflows/proto.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  CHANGELOG.md
  DEVELOPMENT.md
  go.mod
  pkg/devicerepository/store/remote/repository_test.go
  pkg/util/test/generate_constructors.go
  tools/exec_from.go
  tools/generate_allowed_field_mask_paths.go
  tools/generate_i18n.go
  tools/go.mod
  tools/go.sum
  tools/magefile.go
  tools/tools.go
Labels: dependencies, tooling

#4600 Fix firewall message rate limitting
  pkg/gatewayserver/io/udp/udp.go
Labels: bug, c/gateway server

#4598 Lower LBS rollover drift threshold
  CHANGELOG.md
  pkg/gatewayserver/scheduling/clock.go
  pkg/gatewayserver/scheduling/clock_test.go
Labels: c/gateway server

#4571 Fix purge handling for non-admin users in the Console
  CHANGELOG.md
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
Labels: bug, c/console, ui/web

#4603 Improve composition of sentry error titles
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/interpolate.js
Labels: ui/web, tooling

#4602 Fix validation of webhook base URLs
  CHANGELOG.md
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/lib/regexp.js
  pkg/webui/locales/en.json
Labels: bug, c/console, ui/web

#4601 Improve clarity of form submit errors
  pkg/webui/components/form/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
Labels: c/console, ui/web

#4595 Fix and unify error views
  CHANGELOG.md
  pkg/webui/account.js
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/error/full-view.styl
  pkg/webui/account/views/error/index.js
  pkg/webui/components/footer/footer.styl
  pkg/webui/components/footer/index.js
  pkg/webui/components/header/index.js
  pkg/webui/components/logo/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-api-keys/index.js
  pkg/webui/console/views/application-collaborators/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-collaborators/index.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/sub-view-error/index.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/lib/components/error-view.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/lib/components/full-view-error/index.js
  pkg/webui/lib/components/message/index.js
  pkg/webui/lib/errors/error-messages.js
  pkg/webui/lib/interpolate.js
  pkg/webui/locales/en.json
Labels: c/console, ui/web

#4607 Optimize Application Server worker pools
  CHANGELOG.md
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/observability.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/workerpool/observability.go
  pkg/workerpool/workerpool.go
Labels: c/application server, compat/config

#4611 Fix matching race condition
  pkg/networkserver/redis/registry.go
Labels: bug, c/network server, compat/db

#4609 Improve worker pool pressure propagation
  pkg/applicationserver/io/io.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/workerpool/observability.go
  pkg/workerpool/utils.go
  pkg/workerpool/workerpool.go
Labels: bug, c/application server, compat/config

#4599 Create separate definition for URL parse errors
  CHANGELOG.md
  config/messages.json
  pkg/errors/conversion.go
Labels: size/small

#4613 Make webhooks and application packages metrics contextual
  pkg/applicationserver/io/packages/observability.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/observability.go
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server, size/small

#4605 RPC to fetch supported PHY versions for Band ID
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/configuration_services.proto
  pkg/band/rpc.go
  pkg/band/rpc_test.go
  pkg/component/configuration_grpc.go
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.paths.fm.go
  pkg/ttnpb/configuration_services.pb.setters.fm.go
  pkg/ttnpb/configuration_services.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/shared, compat/api

#4604 Allow non-TLS LNS end points
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
  sdk/js/generated/api.json
Labels: compat/api, c/gateway conf server, ui/web

#4619 Improve logging of frame errors
  config/messages.json
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
Labels: c/gateway server

#4612 Fix user selection in sentry middleware
  pkg/webui/account/store/index.js
  pkg/webui/account/store/selectors/user.js
  pkg/webui/console/store/index.js
Labels: bug, ui/web, tooling

#4620 Improve account delete modal in the Console
  pkg/webui/account/containers/profile-settings-form/messages.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/locales/en.json
Labels: ui/web

#4614 Restrict length of search query in fetch table
  CHANGELOG.md
  pkg/webui/containers/fetch-table/index.js
Labels: bug, c/console, ui/web

#4623 Remove populators from UDP tests
  pkg/gatewayserver/io/udp/udp_util_test.go
Labels: c/gateway server

#4618 Fix external JS address handling in device form in the Console
  CHANGELOG.md
  cypress/integration/console/devices/create-manual.spec.js
  pkg/webui/console/views/device-add/manual/form/advanced-settings.js
  pkg/webui/console/views/device-add/manual/form/form.js
  pkg/webui/console/views/device-add/manual/form/validation-schema.js
Labels: bug, c/console, ui/web

#4625 Fix maxLength prop
  pkg/webui/containers/fetch-table/index.js
Labels: bug, c/console, ui/web

#4617 Further improve UX and utility of full error views
  CHANGELOG.md
  cypress/integration/smoke/authorization/index.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/lib/errors/error-messages.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: c/console, ui/web

#4626 Remove populators from NS and AS tests
  pkg/applicationserver/io/pubsub/util_test.go
  pkg/applicationserver/redis/registry.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/mac/reset_test.go
Labels: c/network server, c/application server, technical debt, compat/db

#4616 Log error on task panic
  pkg/component/tasks.go
  pkg/identityserver/store/store.go
  pkg/webmiddleware/recover.go
Labels: bug, c/identity server, compat/db

#4615 Record worker pool processing latency
  pkg/workerpool/observability.go
  pkg/workerpool/workerpool.go
Labels: size/small

#4624 Fix class b handling in end device general settings in the Console
  CHANGELOG.md
  pkg/webui/components/form/section/index.js
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: bug, c/console, ui/web

#4622 Increase the number of latency buckets
  pkg/applicationserver/observability.go
Labels: c/network server, c/application server

#4633 Add error type to the no payload error
  pkg/applicationserver/payload.go
Labels: c/application server, size/small

#4632 Add observability to upstream data dropped due to buffer full
  config/messages.json
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/observability.go
Labels: c/gateway server

#4634 Publish Tx Ack failure result as string
  pkg/gatewayserver/observability.go
Labels: c/gateway server

#4629 Return correct error when no state cookie is stored
  config/messages.json
  pkg/web/oauthclient/callback.go
Labels: c/shared, ui/web

#4637 Do not parametrize chunk name
  pkg/webui/lib/components/with-locale.js
Labels: bug, ui/web

#4638 Standardize io metrics subsystem
  config/messages.json
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/observability.go
Labels: c/gateway server, size/small

#4643 Fix `FetchTable` sending duplicate sentry errors
  package.json
  pkg/webui/components/error-notification/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/packet-broker-networks-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/constants/sentry.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/errors/utils.js
  yarn.lock
Labels: dependencies, ui/web, tooling

#4640 Fix RedirectURIs->RedirectUris rename in client_requested email
  CHANGELOG.md
  pkg/identityserver/emails/client_requested.go
Labels: c/identity server, size/small

#4639 Remove embed and nullable options from UserIdentifiers in user.proto
  api/user.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/login.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_sessions.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  pkg/account/server_test.go
  pkg/account/session/session.go
  pkg/account/user.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/emails/emails.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/picture.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/invitation_store_test.go
  pkg/identityserver/store/login_token.go
  pkg/identityserver/store/login_token_store.go
  pkg/identityserver/store/login_token_store_test.go
  pkg/identityserver/store/oauth.go
  pkg/identityserver/store/oauth_store.go
  pkg/identityserver/store/populate.go
  pkg/identityserver/store/user.go
  pkg/identityserver/store/user_session.go
  pkg/identityserver/store/user_session_store.go
  pkg/identityserver/store/user_session_store_test.go
  pkg/identityserver/store/user_store.go
  pkg/identityserver/store/user_store_test.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/identityserver/user_session_registry.go
  pkg/identityserver/user_session_registry_test.go
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
  pkg/oauth/user.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers_polymorphism.go
  pkg/ttnpb/identityserver.go
  pkg/ttnpb/public_test.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_interfaces.go
Labels: c/identity server, ui/cli, compat/api, technical debt, compat/db

#4646 Validate EUIs on AppSKey fetch
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc.go
Labels: bug, c/application server

#4651 Remove uplink queue invalidations optimization
  pkg/networkserver/redis/application_uplink_queue.go
Labels: c/network server, compat/db

#4655 Remove embed and nullable options from organization.proto
  api/organization.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/store/organization.go
  pkg/identityserver/store/organization_store.go
  pkg/identityserver/store/organization_store_test.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_interfaces.go
  pkg/ttnpb/public_test.go
Labels: c/identity server, ui/cli, compat/api, technical debt, compat/db

#4656 Remove embed and nullable options from client.proto
  api/client.proto
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/store/client.go
  pkg/identityserver/store/client_store.go
  pkg/identityserver/store/client_store_test.go
  pkg/identityserver/store/populate.go
  pkg/oauth/oauth.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/client_interfaces.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/public_test.go
Labels: c/identity server, ui/cli, compat/api, technical debt, compat/db

#4658 Use workerpool in the UDP frontend
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
Labels: c/gateway server, scalability, technical debt

#4647 Fix session handling for OTAA end devices in the Console
  CHANGELOG.md
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: bug, c/console, ui/web

#4645 Handle stack config in forms in the Console
  cypress/integration/console/devices/create-manual.spec.js
  cypress/integration/console/devices/create-repository.spec.js
  cypress/integration/console/gateways/create.spec.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/device-add/connect.js
  pkg/webui/console/views/device-add/manual/form/advanced-settings.js
  pkg/webui/console/views/device-add/manual/form/form.js
  pkg/webui/console/views/device-add/manual/form/validation-schema.js
  pkg/webui/console/views/device-add/repository/device-registration/index.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/device-add/repository/validation-schema.js
  pkg/webui/console/views/device/index.js
  pkg/webui/console/views/gateway-add/index.js
Labels: c/console, ui/web

#4660 Remove embed and nullable options from application.proto
  api/application.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/contact_info.go
  pkg/applicationserver/io/grpc/grpc_util_test.go
  pkg/applicationserver/io/mqtt/mqtt_util_test.go
  pkg/applicationserver/io/packages/util_test.go
  pkg/applicationserver/io/pubsub/util_test.go
  pkg/applicationserver/io/web/util_test.go
  pkg/applicationserver/util_test.go
  pkg/devicerepository/util_test.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/store/application.go
  pkg/identityserver/store/application_store.go
  pkg/identityserver/store/application_store_test.go
  pkg/identityserver/store/contact_info_store_test.go
  pkg/identityserver/store/populate.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_interfaces.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/public_test.go
Labels: c/identity server, ui/cli, c/application server, compat/api, technical debt, compat/db

#4663 Use worker pool in upstream handlers
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/observability.go
  pkg/gatewayserver/upstream/mock/network_server.go
  pkg/workerpool/workerpool.go
Labels: c/gateway server, scalability, technical debt

#4657 Validate uplink tokens on parse
  pkg/gatewayserver/io/uplink_token.go
  pkg/gatewayserver/io/uplink_token_test.go
  pkg/packetbrokeragent/translation.go
Labels: bug, c/gateway server, c/application server, c/packet broker agent

#4669 Worker pool testing harness
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/packages.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/workerpool/utils.go
  pkg/workerpool/workerpool.go
  pkg/workerpool/workerpool_test.go
Labels: c/gateway server, c/application server, compat/config

#4671 Do not decode FPort = 0 uplink messages
  CHANGELOG.md
  pkg/applicationserver/payload.go
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server, c/application server

#4667 Manage Packet Broker gateway visibility
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/packetbrokeragent.proto
  cmd/ttn-lw-cli/commands/packetbroker.go
  config/messages.json
  pkg/packetbrokeragent/grpc_disabled.go
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.gw.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: ui/cli, c/packet broker agent, compat/api

#4662 Remove embed and nullable options from gateway.proto
  api/gateway.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/gateways_claim.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayconfigurationserver/v2/http_gateway.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/entity_registry.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/is.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/gateway.go
  pkg/identityserver/store/gateway_store.go
  pkg/identityserver/store/gateway_store_test.go
  pkg/identityserver/store/populate.go
  pkg/pfconfig/cpf/cpf.go
  pkg/pfconfig/cpf/cpf_test.go
  pkg/pfconfig/semtechudp/semtechudp.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_interfaces.go
  pkg/ttnpb/logfields.go
  pkg/ttnpb/public_test.go
Labels: c/identity server, ui/cli, c/gateway server, compat/api, technical debt, compat/db, c/gateway conf server

#4672 Report resource exhausted errors using warnings
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/registry.go
Labels: bug, c/network server, c/gateway server

#4675 Make named error usage consistent
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/applications_activation_settings.go
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/applications_link.go
  cmd/ttn-lw-cli/commands/applications_packages.go
  cmd/ttn-lw-cli/commands/applications_pubsub.go
  cmd/ttn-lw-cli/commands/applications_subscribe.go
  cmd/ttn-lw-cli/commands/applications_webhooks.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/events.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/packetbroker.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/commands/use.go
  cmd/ttn-lw-cli/commands/users.go
  cmd/ttn-lw-cli/commands/users_access.go
  cmd/ttn-lw-cli/commands/users_invitations.go
  cmd/ttn-lw-cli/commands/users_oauth.go
  cmd/ttn-lw-cli/commands/users_sessions.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/crypto/encryption.go
  pkg/events/grpc/grpc.go
  pkg/events/redis/codec.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/store/login_token_store.go
  pkg/identityserver/user_registry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/registry.go
  pkg/oauth/user.go
  pkg/web/oauthclient/callback.go
  pkg/webmiddleware/cookie.go
Labels: c/network server, c/identity server, ui/cli, c/gateway server, c/application server, technical debt, security, compat/db, ui/web

#4666 Use worker pools in PBA
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, scalability, technical debt

#4665 Fix error prop extraction utility
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/errors/utils_test.js
Labels: bug, c/console, ui/web

#4649 Remove gogoproto embed and nullable from DCS
  api/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways_claim.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/deviceclaimingserver_interfaces.go
Labels: ui/cli, compat/api

#4670 Fix empty join server address handling in the Console
  CHANGELOG.md
  cypress/integration/console/devices/create-manual.spec.js
  pkg/webui/console/views/device-add/manual/form/form.js
  pkg/webui/console/views/device-add/manual/form/validation-schema.js
Labels: c/console, ui/web

#4676 Use original context while reporting message status in PBA
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, size/small

#4679 Use fully described data rates in `TxRequest`
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  config/messages.json
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api.json
Labels: c/network server, c/gateway server, c/packet broker agent, compat/api, technical debt

#4680 Make local distributor broadcast Publish call blocking
  pkg/applicationserver/distribution/local_distributor.go
  pkg/applicationserver/distribution/subscription_set.go
  pkg/applicationserver/io/io.go
Labels: c/application server
