Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-07, with the labels that each got.

#5567 Fix happens-before relation in location cache test
  pkg/applicationserver/metadata/redis/location_cache_test.go
Labels: c/application server, compat/db

#5570 Make primary email address index take into account account state
  CHANGELOG.md
  pkg/identityserver/gormstore/scope.go
  pkg/identityserver/store/migrations/20220701140000_update_email_index.tx.down.sql
  pkg/identityserver/store/migrations/20220701140000_update_email_index.tx.up.sql
  pkg/identityserver/storetest/user_store.go
Labels: c/identity server, compat/db

#5579 Add pagination to invitation listing
  pkg/identityserver/invitation_registry.go
Labels: bug, c/identity server

#5582 Add additional fields for csv converter
  CHANGELOG.md
  pkg/devicetemplates/testdata/all_columns.csv
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
Labels: c/device converter

#5583 Fix proto pointers in Identity Server
  pkg/identityserver/gormstore/api_key.go
  pkg/identityserver/gormstore/api_key_store.go
  pkg/identityserver/gormstore/client.go
  pkg/identityserver/gormstore/gateway.go
  pkg/identityserver/gormstore/gateway_antenna.go
  pkg/identityserver/gormstore/membership_store.go
  pkg/identityserver/gormstore/oauth.go
  pkg/identityserver/gormstore/oauth_store.go
  pkg/identityserver/gormstore/types.go
  pkg/identityserver/gormstore/user_session_store.go
  pkg/identityserver/storetest/population.go
Labels: c/identity server, technical debt, compat/db

#5581 Add Gateway IP address to gateway connection stats
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/observability.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_json.pb.go
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api

#5588 Fix reading base64-encoded (formerly) custom types from JSON
  pkg/types/types.go
Labels: size/small

#5590 Fix JSON marshaling in streaming RPCs
  CHANGELOG.md
  go.mod
  go.sum
  pkg/jsonpb/ttn.go
  pkg/webui/console/containers/device-importer/index.js
  tools/go.mod
  tools/go.sum
Labels: blocking, dependencies, ui/web, tooling

#5592 Remove false leap second
  CHANGELOG.md
  pkg/gpstime/gpstime.go
Labels: bug, c/shared

#5595 Upgrade protoc-gen-go-json
  go.mod
  go.sum
  pkg/ttnpb/application_json.pb.go
  pkg/ttnpb/applicationserver_json.pb.go
  pkg/ttnpb/applicationserver_pubsub_json.pb.go
  pkg/ttnpb/client_json.pb.go
  pkg/ttnpb/configuration_services_json.pb.go
  pkg/ttnpb/contact_info_json.pb.go
  pkg/ttnpb/deviceclaimingserver_json.pb.go
  pkg/ttnpb/devicerepository_json.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/enums_json.pb.go
  pkg/ttnpb/events_json.pb.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/gatewayserver_json.pb.go
  pkg/ttnpb/identityserver_json.pb.go
  pkg/ttnpb/join_json.pb.go
  pkg/ttnpb/joinserver_json.pb.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/messages_json.pb.go
  pkg/ttnpb/metadata_json.pb.go
  pkg/ttnpb/networkserver_json.pb.go
  pkg/ttnpb/notification_service_json.pb.go
  pkg/ttnpb/oauth_json.pb.go
  pkg/ttnpb/organization_json.pb.go
  pkg/ttnpb/packetbrokeragent_json.pb.go
  pkg/ttnpb/qrcodegenerator_json.pb.go
  pkg/ttnpb/rights_json.pb.go
  pkg/ttnpb/search_services_json.pb.go
  pkg/ttnpb/user_json.pb.go
  tools/go.mod
  tools/go.sum
  tools/mage/proto.go
Labels: dependencies, tooling

#5599 Lower stored MAC state data
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/messages.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/util/test/constructors.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api

#5536 Add RPC to batch retrieve gateway connection stats
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gatewayserver.proto
  cmd/ttn-lw-cli/commands/gateways.go
  pkg/component/grpc_test.go
  pkg/events/redis/store.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/gatewayserver/registry.go
  pkg/identityserver/blocklist/builtin.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.gw.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.setters.fm.go
  pkg/ttnpb/gatewayserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, c/gateway server, compat/api, compat/db

#5612 Backport enterprise changes
  pkg/gatewayserver/gatewayserver_test.go
  pkg/networkserver/utils.go
Labels: c/network server, c/gateway server, size/small

#5619 Clean up error for admin-only field updates
  config/messages.json
  pkg/identityserver/client_registry.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/user_registry.go
Labels: c/identity server, size/small

#5617 Prepare for counting/limiting in API and IS
  api/application.proto
  api/identityserver.proto
  api/organization.proto
  api/user.proto
  pkg/identityserver/gormstore/application_store.go
  pkg/identityserver/gormstore/client_store.go
  pkg/identityserver/gormstore/gateway_store.go
  pkg/identityserver/gormstore/membership_store.go
  pkg/identityserver/gormstore/organization_store.go
  pkg/identityserver/gormstore/user_store.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/gateway_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_store.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/user.pb.go
Labels: c/identity server, compat/api, compat/db

#5620 Generate flags for ADR settings
  api/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_flags.pb.go
Labels: bug, compat/api

#5624 Fix CLI configuration field casing
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
Labels: bug, ui/cli, compat/config

#5627 Override bytes format in Swagger / OpenAPI schema
  api/api.swagger.json
  api/application.proto
  api/deviceclaimingserver.proto
  api/end_device.proto
  api/gateway.proto
  api/identifiers.proto
  api/join.proto
  api/joinserver.proto
  api/keys.proto
  api/lorawan.proto
  api/messages.proto
  api/metadata.proto
  api/networkserver.proto
  api/packetbrokeragent.proto
  api/third_party/protoc-gen-openapiv2/options/annotations.proto
  api/third_party/protoc-gen-openapiv2/options/openapiv2.proto
  go.mod
  go.sum
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/join.pb.go
  pkg/ttnpb/joinserver.pb.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/packetbrokeragent.pb.go
  tools/go.mod
  tools/go.sum
  tools/mage/proto.go
Labels: compat/api, dependencies, tooling

#5623 Limit gogoproto and goproto marshaling depth
  config/messages.json
  pkg/gogoproto/struct.go
  pkg/gogoproto/struct_test.go
  pkg/goproto/struct.go
  pkg/goproto/struct_test.go
  pkg/scripting/javascript/javascript_test.go
Labels: bug, c/application server

#5598 Clarify the semantics of the uplink message timestamps
  api/api.md
  api/api.swagger.json
  api/metadata.proto
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.paths.fm.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  pkg/ttnpb/metadata_json.pb.go
  pkg/ttnpb/udp/translation.go
  sdk/js/generated/api.json
Labels: c/gateway server, c/packet broker agent, compat/api, go

#5634 Allow disabling downlink message scheduling
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac/utils.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server, compat/api

#5639 Add GPS time to Basic Station uplink frames
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws_test.go
Labels: c/gateway server

#5636 Fix DeviceTimeAns timestamp not corresponding to the specification
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/device_time.go
  pkg/networkserver/mac/device_time_test.go
Labels: c/network server, in progress

#5641 Update cypress test to be less strict about exact message
  cypress/integration/console/shared/collaborators/add.spec.js
Labels: size/small

#5618 Fix consecutive session requests
  pkg/webui/console/store/middleware/logics/devices.js
Labels: bug, ui/web

#5622 Fix faulty length constraint in routes with user IDs
  CHANGELOG.md
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/application-collaborators/application-collaborators.js
  pkg/webui/console/views/gateway-collaborators/gateway-collaborators.js
  pkg/webui/console/views/organization-collaborators/organization-collaborators.js
  pkg/webui/lib/regexp.js
Labels: bug, ui/web

#5644 Support `,` CSV delimiter and harmonize generated device ID
  CHANGELOG.md
  pkg/devicetemplates/testdata/comma_separated.csv
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
Labels: c/device converter

#5648 Rebuild messages and indirect dependencies
  config/messages.json
  tools/go.mod
  tools/go.sum
Labels: size/small, tooling

#5645 Fix panic on deletion of ABP devices
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: bug, ui/cli

#5649 Support sticky MAC command answers
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  config/messages.json
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/STICKY.md
  pkg/networkserver/mac/adr_param_setup.go
  pkg/networkserver/mac/beacon_freq.go
  pkg/networkserver/mac/dev_status.go
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/duty_cycle.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/mac.go
  pkg/networkserver/mac/new_channel.go
  pkg/networkserver/mac/observability.go
  pkg/networkserver/mac/ping_slot_channel.go
  pkg/networkserver/mac/rejoin_param_setup.go
  pkg/networkserver/mac/rx_param_setup.go
  pkg/networkserver/mac/rx_param_setup_test.go
  pkg/networkserver/mac/rx_timing_setup.go
  pkg/networkserver/mac/rx_timing_setup_test.go
  pkg/networkserver/mac/tx_param_setup.go
  pkg/networkserver/mac/tx_param_setup_test.go
  pkg/networkserver/mac/utils.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server, compat/api

#5647 Enable and fix end-to-end tests with bunstore
  .github/workflows/e2e.yml
  cypress/fixtures/duplicate-devices-a.json
  cypress/fixtures/duplicate-devices-b.json
  cypress/integration/console/devices/import.spec.js
  cypress/integration/console/shared/collaborators/add.spec.js
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/organization_access.go
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/lib/components/error-message/index.js
  tools/mage/dev.go
Labels: c/identity server, ui/web, tooling

#5646 is: Add varchar data type in end device registry placeholder
  CHANGELOG.md
  pkg/identityserver/gormstore/end_device_store.go
Labels: bug, c/identity server, compat/db

#5621 Fix packet broker network policy page being unaccessible
  CHANGELOG.md
  cypress/integration/console/packet-broker/default-gateway-visibility.spec.js
  cypress/integration/console/packet-broker/networks.spec.js
  cypress/integration/console/packet-broker/registration.spec.js
  cypress/integration/console/packet-broker/routing-policies.spec.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/network-routing-policy.js
  pkg/webui/lib/components/require-request.js
Labels: bug, ui/web

#5653 Add retry logic to bunstore transactions
  pkg/account/server.go
  pkg/account/session/session.go
  pkg/account/user.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/identityserver.go
  pkg/oauth/server.go
  pkg/oauth/storage.go
  pkg/oauth/store/interfaces.go
  pkg/oauth/store_utils_test.go
  pkg/oauth/user.go
  tools/mage/dev.go
Labels: c/identity server, tooling

#5654 Remove proto copy from pkg/ttnpb/udp
  pkg/gatewayserver/io/udp/udp.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server

#5652 Remove `customtype` from `keys.proto`
  api/api.md
  api/keys.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-stack/commands/ns_db.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/util_test.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/devicetemplates/ttscsv.go
  pkg/interop/types.go
  pkg/interop/types_test.go
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/redis/registry.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/join_json.pb.go
  pkg/ttnpb/joinserver_json.pb.go
  pkg/ttnpb/keys.go
  pkg/ttnpb/keys.pb.go
  pkg/ttnpb/keys.pb.validate.go
  pkg/ttnpb/keys_flags.pb.go
  pkg/ttnpb/keys_json.pb.go
  pkg/ttnpb/messages_json.pb.go
  pkg/types/aeskey.go
  pkg/util/test/constructors.go
  pkg/util/test/test.go
  sdk/js/generated/api.json
Labels: c/join server, c/network server, ui/cli, c/application server, compat/api, technical debt, security, compat/db, c/device converter
