Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-12, with the labels that each got.

#5958 Reset devNonce
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/join-server-form/validation-schema.js
  pkg/webui/console/views/device-general-settings/messages.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#5919 Update `protoc-gen-go-flags` version
  go.mod
  go.sum
  pkg/ttnpb/application_flags.pb.go
  pkg/ttnpb/applicationserver_flags.pb.go
  pkg/ttnpb/applicationserver_packages_flags.pb.go
  pkg/ttnpb/applicationserver_pubsub_flags.pb.go
  pkg/ttnpb/applicationserver_web_flags.pb.go
  pkg/ttnpb/client_flags.pb.go
  pkg/ttnpb/configuration_services_flags.pb.go
  pkg/ttnpb/contact_info_flags.pb.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/error_flags.pb.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/joinserver_flags.pb.go
  pkg/ttnpb/keys_flags.pb.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/messages_flags.pb.go
  pkg/ttnpb/metadata_flags.pb.go
  pkg/ttnpb/networkserver_flags.pb.go
  pkg/ttnpb/notification_service_flags.pb.go
  pkg/ttnpb/organization_flags.pb.go
  pkg/ttnpb/packetbrokeragent_flags.pb.go
  pkg/ttnpb/rights_flags.pb.go
  pkg/ttnpb/search_services_flags.pb.go
  pkg/ttnpb/secrets_flags.pb.go
  pkg/ttnpb/user_flags.pb.go
  tools/go.mod
  tools/go.sum
  tools/mage/proto.go
Labels: dependencies, tooling

#5927 Remove reflection based flag generation
  api/messages.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/internal/simulate/simulate.pb.go
  cmd/ttn-lw-cli/internal/simulate/simulate.pb.paths.fm.go
  cmd/ttn-lw-cli/internal/simulate/simulate.pb.setters.fm.go
  cmd/ttn-lw-cli/internal/simulate/simulate.pb.validate.go
  cmd/ttn-lw-cli/internal/simulate/simulate.proto
  cmd/ttn-lw-cli/internal/simulate/simulate_flags.pb.go
  cmd/ttn-lw-cli/internal/simulate/simulate_util.go
  cmd/ttn-lw-cli/internal/util/flags.go
  config/messages.json
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages_flags.pb.go
Labels: ui/cli, compat/api, technical debt

#5967 Report proprietary frame rejection more clearly
  config/messages.json
  pkg/encoding/lorawan/errors.go
  pkg/encoding/lorawan/messages.go
  pkg/networkserver/mac/adr.go
Labels: c/network server, size/small

#5955 Support more pointer types in config
  pkg/config/config.go
  pkg/config/hooks.go
Labels: compat/config

#5968 Device list sorted by `last_seen_at`
  CHANGELOG.md
  api/api.md
  api/end_device.proto
  pkg/identityserver/bunstore/end_device_store.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/webui/console/containers/devices-table/index.js
  sdk/js/generated/api.json
Labels: c/identity server, compat/api

#5974 Fix webhook health status
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/webhook-edit/webhook-edit.js
  pkg/webui/console/store/selectors/application-server.js
  pkg/webui/console/views/application-integrations-webhook-edit/application-integrations-webhook-edit.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
Labels: bug, ui/web

#5979 Fix search results ordered by `last seen at`
  CHANGELOG.md
  api/api.md
  api/search_services.proto
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.validate.go
  sdk/js/generated/api.json
Labels: bug, compat/api

#5972 Unclaim end device on delete
  cypress/integration/console/devices/unclaim.spec.js
  pkg/webui/console/store/actions/claim.js
  pkg/webui/console/store/middleware/logics/claim.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/views/device-general-settings/connect.js
  pkg/webui/console/views/device-general-settings/device-general-settings.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/messages.js
  pkg/webui/console/views/device/index.js
  pkg/webui/locales/en.json
  sdk/js/src/api/http.js
  sdk/js/src/service/claim.js
Labels: ui/web

#5987 Add more proto unimplemented to RPC servers
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/packetbrokeragent/grpc_disabled.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/grpc_pba.go
  pkg/packetbrokeragent/mock/pbcontrolplane.go
  pkg/packetbrokeragent/mock/pbiam.go
  pkg/packetbrokeragent/mock/pbmapper.go
  pkg/util/rpctest/server.go
  pkg/util/test/application_services.go
Labels: c/network server, c/packet broker agent

#5971 Move `serial_number`, `vendor_id` and `vendor_profile_id` to `EndDevice` root
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/identifiers.proto
  pkg/devicetemplateconverter/profilefetcher/vendor_profile_fetcher.go
  pkg/devicetemplateconverter/profilefetcher/vendor_profile_fetcher_test.go
  pkg/devicetemplateconverter/profilefetcher/version_profile_fetcher_test.go
  pkg/devicetemplates/testdata/all_columns.csv
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/gormstore/fieldmask_paths.go
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.down.sql
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.up.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.down.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.up.sql
  pkg/identityserver/storetest/end_device_store.go
  pkg/qrcodegenerator/grpc_end_devices_test.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d2.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d3.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/identity server, compat/api, compat/db, c/device converter

#5988 Refactor device templates
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/bulk.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/lorawan.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  config/messages.json
  go.mod
  go.sum
  pkg/devicetemplateconverter/grpc.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/devicetemplateconverter/util_test.go
  pkg/devicetemplates/converters.go
  pkg/devicetemplates/converters_test.go
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
  pkg/devicetemplates/ttsjson.go
  pkg/devicetemplates/ttsjson_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
  pkg/util/io/io.go
  tools/go.sum
Labels: ui/cli, dependencies, c/device converter, tooling

#5989 Fix gateway antenna update
  cmd/ttn-lw-cli/commands/gateways.go
Labels: ui/cli

#5990 Merge v3.23 in v3.24
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/bulk.go
  cmd/ttn-lw-cli/commands/clients.go
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/gateways.go
  cmd/ttn-lw-cli/commands/lorawan.go
  cmd/ttn-lw-cli/commands/organizations.go
  cmd/ttn-lw-cli/commands/users.go
  config/messages.json
  go.mod
  go.sum
  pkg/devicetemplateconverter/grpc.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/devicetemplateconverter/util_test.go
  pkg/devicetemplates/converters.go
  pkg/devicetemplates/converters_test.go
  pkg/devicetemplates/microchip.go
  pkg/devicetemplates/microchip_test.go
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
  pkg/devicetemplates/ttsjson.go
  pkg/devicetemplates/ttsjson_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
  pkg/util/io/io.go
  tools/go.sum
Labels: ui/cli, dependencies, c/device converter, tooling, merge

#5994 Backport proto comparison fixes
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/errors/errors_test.go
  pkg/identityserver/storetest/membership_store.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/packetbrokeragent/authenticator_internal_test.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/join server, c/network server, c/identity server, c/application server, c/packet broker agent

#5995 Format proto generate code files using gofumpt
  tools/go.mod
  tools/go.sum
  tools/mage/dev.go
  tools/mage/go.go
  tools/mage/proto.go
Labels: tooling

#5993 Handle null in webhook health status
  pkg/webui/console/components/webhook-form/index.js
Labels: bug, ui/web

#5983 Validate other admin existence on user delete
  CHANGELOG.md
  config/messages.json
  pkg/identityserver/store/errors.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/identityserver/utils.go
Labels: c/identity server, compat/db

#5981 Fix csv import first column skip
  CHANGELOG.md
  pkg/devicetemplates/ttscsv.go
Labels: bug, c/device converter

#5992 Disallow removal of last collaborator
  CHANGELOG.md
  pkg/webui/components/button/button.styl
  pkg/webui/console/views/application-collaborator-edit/application-collaborator-edit.js
  pkg/webui/console/views/application-collaborator-edit/connect.js
  pkg/webui/console/views/gateway-collaborator-edit/connect.js
  pkg/webui/console/views/gateway-collaborator-edit/gateway-collaborator-edit.js
  pkg/webui/console/views/organization-collaborator-edit/connect.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/containers/collaborator-form/collaborator-form.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: bug, ui/web
