Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-09, with the labels that each got.

#5749 Expose band definitions via CLI
  CHANGELOG.md
  api/api.md
  api/configuration_services.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/configuration_services.pb.validate.go
  pkg/ttnpb/configuration_services_flags.pb.go
  sdk/js/generated/api.json
Labels: ui/cli, compat/api

#5752 Treat normalized payload validation errors as warnings
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_internal_test.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
  pkg/webui/console/components/payload-formatters-form/test-form/index.js
Labels: c/application server, ui/web

#5756 Don't disconnect LBS gateway on deep validation failure
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: c/gateway server

#5757 Remove GPS timestamp workaround
  CHANGELOG.md
  pkg/gatewayserver/io/ws/lbslns/time.go
  pkg/gatewayserver/io/ws/lbslns/time_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
Labels: c/gateway server

#5768 Fix qr scan brand_id unset on apply
  pkg/webui/console/containers/device-onboarding-form/device-qr-scan-form-section/index.js
Labels: ui/web

#5770 Remove TargetNSAddress for TTJS Claiming flow
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli, size/small

#5755 enable pgdriver connection check
  go.mod
  go.sum
  pkg/identityserver/store/db.go
  tools/go.mod
  tools/go.sum
Labels: c/identity server, compat/db, dependencies, tooling

#5742 Add notification receivers validation
  config/messages.json
  pkg/identityserver/client_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/user_registry.go
Labels: c/identity server

#5740 Deleted users management in the Console
  CHANGELOG.md
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/middleware/logics/users.js
  sdk/js/src/service/users.js
Labels: ui/web

#5753 Allow empty end device CAC values
  CHANGELOG.md
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/gormstore/store_test.go
  pkg/identityserver/storetest/end_device_store.go
Labels: bug, c/identity server, compat/db

#5771 Promote Michael to webui/sdk codeowner
  CODEOWNERS
Labels: documentation

#5739 New ADR settings in the Console
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/locales/en.json
Labels: ui/web

#5779 Fix network layer not being updated after first update
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: ui/web

#5775 Add claiming tests for end device onboarding
  cypress/integration/console/devices/onboarding/claiming.spec.js
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  cypress/integration/console/devices/onboarding/repository-registration.spec.js
  cypress/integration/console/devices/onboarding/utils.js
  pkg/webui/console/containers/dev-eui-component/index.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-onboarding-form/index.js
  sdk/js/src/service/claim.js
Labels: ui/web

#5766 Fix device import on JS-only deployments
  CHANGELOG.md
  cypress/integration/console/devices/import.spec.js
  cypress/support/utils.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/views/device-overview/index.js
  sdk/js/src/index.test.js
  sdk/js/src/service/applications.test.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/devices/split.js
  sdk/js/src/service/gateways.js
  sdk/js/src/util/marshaler.js
  sdk/js/src/util/stack-configuration.js
Labels: bug, ui/web

#5777 Make Console login more resilient
  CHANGELOG.md
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/errors/utils.js
Labels: ui/web

#5780 Assert rights in parallel in batch stats retrieval
  pkg/gatewayserver/grpc.go
Labels: performance, c/gateway server

#5782 Upgrade `protoc-go-gen-flags` to `v1.0.5`
  CHANGELOG.md
  api/end_device.proto
  api/third_party/github.com/TheThingsIndustries/protoc-gen-go-flags/annotations.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/ttnpb/application_flags.pb.go
  pkg/ttnpb/applicationserver_flags.pb.go
  pkg/ttnpb/applicationserver_packages_flags.pb.go
  pkg/ttnpb/applicationserver_pubsub_flags.pb.go
  pkg/ttnpb/applicationserver_web_flags.pb.go
  pkg/ttnpb/client_flags.pb.go
  pkg/ttnpb/contact_info_flags.pb.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/error_flags.pb.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/joinserver_flags.pb.go
  pkg/ttnpb/keys_flags.pb.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/messages_flags.pb.go
  pkg/ttnpb/metadata_flags.pb.go
  pkg/ttnpb/networkserver_flags.pb.go
  pkg/ttnpb/notification_service_flags.pb.go
  pkg/ttnpb/organization_flags.pb.go
  pkg/ttnpb/packetbrokeragent_flags.pb.go
  pkg/ttnpb/rights_flags.pb.go
  pkg/ttnpb/search_services_flags.pb.go
  pkg/ttnpb/secrets_flags.pb.go
  pkg/ttnpb/user_flags.pb.go
  tools/mage/proto.go
Labels: ui/cli, compat/api, tooling

#5797 Fix MAC data download
  pkg/webui/console/views/device-overview/index.js
Labels: bug, ui/web

#5799 Backport v3.21.2 fixes
  api/api.md
  api/applicationserver_integrations_storage.proto
  pkg/applicationserver/io/grpc/grpc.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  sdk/js/generated/api.json
Labels: c/application server, compat/api

#5801 Do not emit measurements for empty objects
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
Labels: c/application server

#5802 Avoid counting duplicate traffic as dropped
  pkg/networkserver/grpc_gsns.go
Labels: c/network server

#5765 Add more specific client rights
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/rights.proto
  config/messages.json
  pkg/auth/rights/fetcher_test.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/registry_search.go
  pkg/ttnpb/i18n.go
  pkg/ttnpb/rights.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, technical debt

#5808 Emit empty downlink for sticky MAC commands
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/STICKY.md
  pkg/networkserver/mac/utils.go
Labels: bug, c/network server

#5806 Fix failing cypress tests and fix qr code parsing
  cypress/integration/console/devices/onboarding/qr-scan.spec.js
  cypress/integration/console/devices/onboarding/utils.js
  pkg/webui/console/lib/device-claiming-parse-qr.js
Labels: ui/web

#5796 Support factory preset frequencies in fixed channel plans
  CHANGELOG.md
  pkg/band/au_915_928_rp1_v1_0_2.go
  pkg/band/au_915_928_rp1_v1_0_2_rev_b.go
  pkg/band/au_915_928_rp1_v1_0_3_rev_a.go
  pkg/band/au_915_928_rp1_v1_1_rev_a.go
  pkg/band/au_915_928_rp1_v1_1_rev_b.go
  pkg/band/au_915_928_rp2_v1_0_0.go
  pkg/band/au_915_928_rp2_v1_0_1.go
  pkg/band/au_915_928_rp2_v1_0_2.go
  pkg/band/au_915_928_rp2_v1_0_3.go
  pkg/band/au_915_928_ts1_v1_0_1.go
  pkg/band/band_internal_test.go
  pkg/band/band_test.go
  pkg/band/channel_mask.go
  pkg/band/us_902_928_rp1_v1_0_2.go
  pkg/band/us_902_928_rp1_v1_0_2_rev_b.go
  pkg/band/us_902_928_rp1_v1_0_3_rev_a.go
  pkg/band/us_902_928_rp1_v1_1_rev_a.go
  pkg/band/us_902_928_rp1_v1_1_rev_b.go
  pkg/band/us_902_928_rp2_v1_0_0.go
  pkg/band/us_902_928_rp2_v1_0_1.go
  pkg/band/us_902_928_rp2_v1_0_2.go
  pkg/band/us_902_928_rp2_v1_0_3.go
  pkg/band/us_902_928_ts1_v1_0.go
  pkg/band/us_902_928_ts1_v1_0_1.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac/utils.go
  pkg/webui/console/containers/device-onboarding-form/type-form-section/manual-form-section/advanced-settings-section.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/locales/en.json
Labels: c/network server, ui/web

#5800 Show commit hash in Console footer
  config/webpack.config.babel.js
  pkg/webui/components/footer/index.js
Labels: ui/web

#5795 Fix form bugs related to ADR
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  sdk/js/src/service/devices/index.js
Labels: ui/web

#5809 Fix Console downlink frame counter updates in LoRaWAN 1.1
  pkg/webui/console/store/reducers/devices.js
Labels: ui/web

#5810 Backport claiming stack config
  cmd/internal/shared/console/config.go
  config/stack/ttn-lw-stack-docker.yml
  config/stack/ttn-lw-stack-tls.yml
  config/stack/ttn-lw-stack.yml
  pkg/console/config.go
  pkg/console/console.go
  pkg/webui/components/unit-input/common/duration.js
  pkg/webui/console/api/tts.js
  sdk/js/src/util/constants.js
Labels: c/console, ui/web, compat/config

#5811 Reorganise MAC command priorities
  CHANGELOG.md
  pkg/networkserver/downlink.go
  pkg/networkserver/mac/beacon_freq.go
  pkg/networkserver/mac/beacon_freq_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/new_channel.go
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: bug, c/network server

#5813 Ensure imported downlink frame counters do not reset
  pkg/networkserver/downlink.go
Labels: bug, c/network server

#5815 Fill datarate coding rate only once
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Labels: c/gateway server

#5769 Backport entity limit notification
  pkg/email/templates/templates.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/organization_access.go
Labels: c/identity server

#5821 Take into consideration sticky MAC responses on data downlink slot
  pkg/networkserver/utils.go
Labels: c/network server

#5822 Fix NewChannelReq application on existing channels
  pkg/networkserver/downlink.go
  pkg/networkserver/mac/dl_channel.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/new_channel.go
  pkg/networkserver/mac/new_channel_test.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/utils.go
Labels: c/network server

#5823 Fix QR scan flaky cypress test
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/device-selection/brand-select/brand-select.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/device-selection/brand-select/connect.js
  pkg/webui/console/views/device-add/connect.js
  pkg/webui/console/views/device-add/device-add.js
  pkg/webui/lib/components/require-request.js
Labels: ui/web

#5824 Fix downlink path computation for non-LoRa modulations
  CHANGELOG.md
  pkg/auth/pbkdf2/pbkdf2.go
  pkg/auth/rights/fetcher.go
  pkg/config/config.go
  pkg/identityserver/user_registry_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/rpcmiddleware/validator/validator.go
Labels: bug, c/network server, c/identity server, compat/config

#5791 Revert dependabot merge of react-ace-10.1.0
  package.json
  yarn.lock
Labels: dependencies

#5828 Update phy version to lorawan versions mapping
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  pkg/webui/console/lib/device-utils.js
Labels: ui/web

#5807 Allow lowercase characters for CAC in the Claim Request
  api/api.md
  api/deviceclaimingserver.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/claiming-form-section/validation-schema.js
  sdk/js/generated/api.json
Labels: compat/api, ui/web

#5832 Backport mTLS Support
  api/api.md
  api/api.swagger.json
  api/identityserver.proto
  pkg/basicstation/cups/config.go
  pkg/basicstation/cups/server_test.go
  pkg/basicstation/cups/update_info.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/hmachash.go
  pkg/crypto/hmachash_test.go
  pkg/crypto/keyvault.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/is.go
  pkg/identityserver/config.go
  pkg/identityserver/entity_access.go
  pkg/ttnpb/identityserver.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  pkg/ttnpb/identityserver_json.pb.go
  pkg/webmiddleware/proxy_headers.go
  sdk/js/generated/api.json
  tools/mage/certificates.go
Labels: c/identity server, c/gateway server, compat/api, security, c/gateway conf server, tooling, compat/config

#5834 Revert CAC regex
  api/api.md
  api/deviceclaimingserver.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/claiming-form-section/validation-schema.js
  sdk/js/generated/api.json
Labels: compat/api, ui/web

#5825 Fix issues with byte input
  CHANGELOG.md
  pkg/webui/components/input/byte.js
Labels: bug, ui/web

#5827 Fix crashes after deleting organizations
  cypress/integration/smoke/organizations/delete.js
  cypress/integration/smoke/organizations/index.js
  pkg/webui/console/store/selectors/organizations.js
Labels: bug, ui/web

#5831 Add logic to better handle proxy errors
  pkg/webui/lib/errors/error-messages.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/store/logics/create-request-logic.js
  pkg/webui/locales/en.json
Labels: ui/web

#5833 Fix application collaborator deletion in Console
  CHANGELOG.md
  cypress/integration/console/shared/collaborators/edit.spec.js
  pkg/webui/account/views/oauth-client-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-add/application-collaborator-add.js
  pkg/webui/console/views/application-collaborator-edit/application-collaborator-edit.js
  pkg/webui/console/views/gateway-collaborator-add/gateway-collaborator-add.js
  pkg/webui/console/views/gateway-collaborator-edit/gateway-collaborator-edit.js
  pkg/webui/console/views/organization-collaborator-add/organization-collaborator-add.js
  pkg/webui/console/views/organization-collaborator-edit/organization-collaborator-edit.js
  pkg/webui/containers/collaborator-form/collaborator-form.js
  pkg/webui/containers/collaborator-form/connect.js
  pkg/webui/containers/collaborator-form/index.js
Labels: bug, ui/web

#5830 Bunstore accounts operations fix
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/bunstore/user_session_store.go
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/gateway_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_registry.go
Labels: bug, c/identity server

#5792 ordering collaborator
  api/api.md
  api/api.swagger.json
  api/application.proto
  api/client.proto
  api/gateway.proto
  api/organization.proto
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  pkg/identityserver/application_access.go
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/client_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gormstore/membership_store.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/store/membership.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/membership_store.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/webui/console/containers/collaborators-table/index.js
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, compat/api, compat/db, ui/web

#5835 Improve error handling for device onboarding
  cypress/integration/console/devices/onboarding/repository-registration.spec.js
  pkg/webui/console/containers/device-onboarding-form/messages.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/device-selection/brand-select/brand-select.js
  pkg/webui/locales/en.json
Labels: ui/web
