Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-04, with the labels that each got.

#5354 Check Join EUI from flags before using JS default
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

#5371 Fix generated device ID from DevEUI with letters
  CHANGELOG.md
  pkg/devicetemplates/testdata/generate_device_id.csv
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
Labels: c/shared, size/small, c/device converter

#5372 Update database URI in docker example
  docker-compose.yml
Labels: size/small

#5351 Make Identity Server tests parallel and isolated
  pkg/component/component.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/invitation_registry_test.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/registry_search_test.go
  pkg/identityserver/storetest/population.go
  pkg/identityserver/storetest/storetest.go
  pkg/identityserver/user_access_test.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server

#5375 Notification Service (core)
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/notification_service.proto
  api/rights.proto
  config/messages.json
  pkg/identityserver/gormstore/membership.go
  pkg/identityserver/gormstore/notification.go
  pkg/identityserver/gormstore/notification_store.go
  pkg/identityserver/gormstore/store.go
  pkg/identityserver/gormstore/store_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/notification_registry_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/notification_store.go
  pkg/identityserver/storetest/population.go
  pkg/ttnpb/i18n.go
  pkg/ttnpb/notification_service.pb.go
  pkg/ttnpb/notification_service.pb.gw.go
  pkg/ttnpb/notification_service.pb.paths.fm.go
  pkg/ttnpb/notification_service.pb.setters.fm.go
  pkg/ttnpb/notification_service.pb.validate.go
  pkg/ttnpb/notification_service_json.pb.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db, bump/minor

#5326 Add ADR settings API
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: compat/api

#5337 Add server addresses to Application
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/application.proto
  cmd/ttn-lw-cli/commands/applications.go
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
  cypress/integration/console/applications/list.spec.js
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gormstore/application.go
  pkg/identityserver/storetest/application_store.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_json.pb.go
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/lib/application-utils.js
  pkg/webui/console/views/application-add/application-add.js
  pkg/webui/console/views/application-overview/application-overview.js
  pkg/webui/console/views/application-overview/connect.js
  pkg/webui/console/views/application/connect.js
  pkg/webui/locales/en.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, compat/api, compat/db, bump/minor, ui/web

#5379 Fix EUI blocks index migration
  CHANGELOG.md
  pkg/identityserver/gormstore/migrations/eui_blocks_index.go
Labels: c/identity server, compat/db, blocking release

#5356 Refactor container into functional component
  pkg/webui/console/containers/webhook-add/webhook-add.js
Labels: s/in progress, technical debt, ui/web

#5359 Fix inconsistency in settings LNS API key
  CHANGELOG.md
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/validation-schema.js
Labels: s/in progress, ui/web

#5358 Add default order to sortable tables
  CHANGELOG.md
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/containers/fetch-table/index.js
Labels: s/in progress, ui/web

#5377 Replace mapstructure with fork
  go.mod
  go.sum
Labels: bug, c/shared, dependencies

#5381 Fix tag typo in cli-retry metadata config
  cmd/ttn-lw-cli/commands/config.go
Labels: ui/cli, size/small, go

#5384 Upgrade protoc-gen-fieldmask to 0.6.0
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  tools/mage/proto.go
Labels: tooling

#5382 Add query field to search flags
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/flags.go
Labels: ui/cli

#5380 Fix error messages for errors with unknown `details` structure
  CHANGELOG.md
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/errors/utils_test.js
Labels: bug, ui/web

#5290 Add Device LastSeen
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/end_device_services.proto
  cmd/internal/shared/applicationserver/config.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/config.go
  pkg/applicationserver/lastseen/batch_update.go
  pkg/applicationserver/lastseen/lastseen.go
  pkg/applicationserver/lastseen/lastseen_test.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/gormstore/end_device_store.go
  pkg/identityserver/gormstore/fieldmask_paths.go
  pkg/identityserver/gormstore/store_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/end_device_store.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/identity server, c/application server, compat/api, compat/db, bump/minor, compat/config

#5386 Fix gateway status
  pkg/webui/lib/host-from-url.js
Labels: blocking release, ui/web

#5391 Avoid extracting frame counts from retained events
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
Labels: bug, ui/web

#5383 Make the OAuth client useful in server-to-server scenarios
  pkg/web/oauthclient/callback.go
  pkg/web/oauthclient/login.go
  pkg/web/oauthclient/logout.go
  pkg/web/oauthclient/oauthclient.go
  pkg/web/oauthclient/options.go
  pkg/web/oauthclient/token.go
Labels: c/shared, technical debt, ui/web

#5389 Avoid ingesting expected token errors
  pkg/webui/lib/store/logics/create-request-logic.js
Labels: ui/web

#5395 Fix NetID derivation from DevAddr
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/types/devaddr.go
  pkg/types/devaddr_test.go
  pkg/types/netid.go
Labels: bug, c/network server, c/shared, technical debt, size/small

#5396 Sort batch before update
  pkg/identityserver/gormstore/end_device_store.go
Labels: c/identity server, compat/db

#5401 Return sink error instead of registry error
  pkg/applicationserver/io/web/health_sink.go
Labels: bug, c/application server, size/small

#5392 Fix webhook configuration selector
  pkg/webui/console/store/selectors/application-server.js
Labels: bug, ui/web

#5405 Fix gateway general settings submit
  CHANGELOG.md
  cypress/integration/console/gateways/edit.spec.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
Labels: bug, ui/web

#5390 Fix various sentry logged errors
  pkg/webui/account/views/validate/index.js
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/application-api-keys/application-api-keys.js
  pkg/webui/console/views/application-collaborators/application-collaborators.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/application-integrations-webhooks.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/gateway-api-keys.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organization-api-keys/organization-api-keys.js
  pkg/webui/console/views/organizations/index.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/lib/prop-types.js
Labels: bug, ui/web

#5409 Ingest unhandled exceptions during form submit to Sentry
  pkg/webui/components/form/index.js
Labels: bug, ui/web

#5408 Add cluster address to network identifiers
  api/api.md
  api/api.swagger.json
  api/identifiers.proto
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, compat/api

#5412 Decode downlink when scheduling binary payload
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/payload.go
Labels: c/application server, size/small

#5134 Implement QR Code Parser Service
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/identifiers.proto
  api/qrcodegenerator.proto
  config/messages.json
  pkg/deviceclaimingserver/enddevices/enddevices.go
  pkg/deviceclaimingserver/enddevices/enddevices_test.go
  pkg/deviceclaimingserver/enddevices/ttjs/ttjs.go
  pkg/deviceclaimingserver/enddevices/ttjs/ttjs_test.go
  pkg/deviceclaimingserver/enddevices/util_test.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/qrcode/qrcode.go
  pkg/qrcodegenerator/grpc_end_devices.go
  pkg/qrcodegenerator/grpc_end_devices_test.go
  pkg/qrcodegenerator/grpc_test.go
  pkg/qrcodegenerator/qrcode/enddevices/enddevices.go
  pkg/qrcodegenerator/qrcode/enddevices/enddevices_test.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005_test.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d2.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d2_test.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d3.go
  pkg/qrcodegenerator/qrcode/enddevices/lora_alliance_tr005d3_test.go
  pkg/qrcodegenerator/qrcode/qrcode.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/qrcodegenerator/util_test.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/ttnpb/qrcodegenerator_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api, c/device claiming server
