Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-11, with the labels that each got.

#5889 Don't require AppKey when skipping JS
  CHANGELOG.md
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  pkg/webui/console/containers/dev-eui-component/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/manual-form-section/validation-schema.js
Labels: bug, ui/web

#5892 Allow zero frequencies as part of the MAC settings
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  api/lorawan.proto
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/devicerepository/store/profiles.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/ttnpb_encoding_test.go
  sdk/js/generated/api.json
Labels: c/network server, ui/cli, compat/api

#5884 Store Redis events with jittered TTL
  CHANGELOG.md
  pkg/events/redis/store.go
Labels: scalability, compat/db

#5888 Fix paste behavior of byte input
  CHANGELOG.md
  pkg/webui/components/input/byte.js
Labels: bug, ui/web

#5898 LoRa Cloud Integration Update
  pkg/applicationserver/io/packages/loradms/v1/api/client.go
  pkg/applicationserver/io/packages/loradms/v1/api/uplinks_test.go
  pkg/applicationserver/io/packages/loradms/v1/data.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loragls/v3/api/client.go
  pkg/applicationserver/io/packages/loragls/v3/api/client_test.go
  pkg/webui/console/constants/lora-cloud-das.js
  pkg/webui/console/constants/lora-cloud-gls.js
  pkg/webui/console/containers/lora-cloud-das-form/index.js
  pkg/webui/console/containers/lora-cloud-gls-form/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: c/application server, ui/web

#5907 Discard errors originating from firewall blocks
  pkg/webui/components/input/byte.js
  pkg/webui/lib/errors/utils.js
Labels: ui/web

#5908 Small device onboarding fixes and polish
  pkg/webui/console/containers/device-onboarding-form/type-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/device-selection/brand-select/brand-select.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#5897 Set bunstore as default store implementation
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/store.go
Labels: c/identity server

#5910 Fix field mask updates in webhook form
  CHANGELOG.md
  pkg/webui/account/containers/profile-settings-form/index.js
  pkg/webui/console/containers/organization-form/update.js
  pkg/webui/console/containers/webhook-edit/webhook-edit.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/lib/diff.js
Labels: bug, ui/web

#5912 Fix webhook health status and warning message
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/webhook-edit/webhook-edit.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/selectors/application-server.js
  pkg/webui/console/views/application-integrations-webhook-edit/application-integrations-webhook-edit.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/locales/en.json
Labels: ui/web

#5916 Switch to versioned go tooling in mage
  tools/mage/go.go
Labels: tooling

#5895 Update TTKG firmware URL
  cmd/internal/shared/gatewayconfigurationserver/config.go
  pkg/gatewayconfigurationserver/v2/http_gateway.go
  pkg/gatewayconfigurationserver/v2/utils_test.go
Labels: c/gateway conf server, compat/config

#5925 Make CFList optional in interop calls
  pkg/interop/client_test.go
  pkg/interop/messages.go
Labels: size/small

#5928 Fix byte input clipboard issues (again)
  pkg/webui/components/input/byte.js
Labels: bug, ui/web

#5846 Gateway EUI constraint
  CHANGELOG.md
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gormstore/gateway_store.go
  pkg/identityserver/gormstore/hooks.go
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.down.sql
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.up.sql
  pkg/identityserver/storetest/gateway_store.go
Labels: c/identity server, compat/db

#5935 Fix pending MAC state import
  CHANGELOG.md
  pkg/ttnpb/fieldmask_utils.go
Labels: bug

#5934 Ensure proto deduplication does not extend indefinitely
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/util/test/proto.go
  pkg/util/test/proto_test.go
Labels: bug, compat/db

#5929 Fix email message error by `client` created by organization API key
  CHANGELOG.md
  api/api.md
  api/email_messages.proto
  pkg/email/templates/client_requested.go
  pkg/email/templates/client_requested.html.tmpl
  pkg/email/templates/client_requested.txt.tmpl
  pkg/email/templates/templates_test.go
  pkg/email/templates/testdata/api_key_created.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/api_key_created.body.with_sender_ids.golden.txt
  pkg/email/templates/testdata/api_key_created.subject.with_sender_ids.golden.txt
  pkg/email/templates/testdata/client_requested.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_id.golden.txt
  pkg/email/templates/testdata/client_requested.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_name.golden.txt
  pkg/email/templates/testdata/client_requested.subject.with_api_key_id.golden.txt
  pkg/email/templates/testdata/client_requested.subject.with_api_key_name.golden.txt
  pkg/identityserver/client_registry.go
  pkg/ttnpb/email_messages.pb.go
  pkg/ttnpb/email_messages.pb.paths.fm.go
  pkg/ttnpb/email_messages.pb.setters.fm.go
  pkg/ttnpb/email_messages.pb.validate.go
  pkg/ttnpb/email_messages_json.pb.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api

#5933 Add option to force AWS SDK to use path style addressing
  pkg/config/shared.go
Labels: compat/config

#5938 Allow entering dev eui regardless of device type
  CHANGELOG.md
  cypress/integration/console/devices/onboarding/repository-registration.spec.js
  cypress/plugins/index.js
  package.json
  pkg/webui/console/containers/device-onboarding-form/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-onboarding-form/utils.js
  yarn.lock
Labels: dependencies, ui/web

#5944 Update actions to `node 16` and new `set-output` method
  .github/workflows/e2e.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: tooling

#5945 Update actions
  .github/workflows/e2e.yml
  .github/workflows/release-rc.yml
  .github/workflows/release-tag.yml
Labels: bug

#5946 Partition Redis event streams on subscribe
  cmd/internal/shared/config.go
  pkg/config/shared.go
  pkg/events/redis/redis.go
  pkg/events/redis/store.go
Labels: c/shared, performance, scalability, compat/db, compat/config

#5887 Use a thread safe `sync.Map` to store rights
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/auth/rights/list.go
  pkg/auth/rights/require_test.go
  pkg/auth/rights/rights.go
  pkg/auth/rights/rights_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
Labels: c/join server, c/network server, c/gateway server, c/application server

#5950 Extract `storeutil` package
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/store.go
  pkg/util/store/conncheck.go
  pkg/util/store/conncheck_other.go
  pkg/util/store/conncheck_unix.go
  pkg/util/store/db.go
Labels: c/identity server

#5947 Do not report common task errors
  pkg/errors/conversion.go
  pkg/task/task.go
Labels: technical debt

#5954 Relax JoinEUI zero check for in-memory crypto
  pkg/crypto/cryptoservices/mem.go
Labels: bug, security
