Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-03, with the labels that each got.

#5263 util: Update CLI doc frontmatter
  cmd/internal/commands/doc.go
Labels: blocking

#5268 Debounce stats updates with jitter
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server, compat/config

#5267 NS matching optimizations
  config/messages.json
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/networkserver/redis/lua/deviceMatchScan.lua
  pkg/networkserver/redis/lua/deviceMatchScanGT.lua
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/scripts.go
  pkg/networkserver/registry.go
Labels: c/network server, compat/db

#5270 Increase NS fast path consumers
  pkg/networkserver/config.go
  pkg/networkserver/networkserver.go
Labels: c/network server, compat/config

#5275 Event pipeline improvements
  CHANGELOG.md
  cmd/internal/shared/config.go
  cmd/internal/shared/events.go
  cmd/ttn-lw-stack/commands/ns_db.go
  pkg/config/shared.go
  pkg/events/basic/pubsub.go
  pkg/events/cloud/cloud.go
  pkg/events/default.go
  pkg/events/internal/eventstest/events_backend.go
  pkg/events/pubsub.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/events/redis/store.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/networkserver/grpc_asns.go
  pkg/util/test/events.go
  pkg/workerpool/workerpool.go
Labels: c/network server, c/gateway server, compat/db, compat/config

#5251 Fix xtime sent to LBS gateways for Class C downlinks
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/lbslns/time.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bug, c/gateway server, compat/api

#5274 Small Console quickfixes
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/group.js
  pkg/webui/components/link/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/locales/en.json
  pkg/webui/styles/main.styl
Labels: ui/web

#5281 Fix payload formatter issues
  cypress/integration/console/shared/payload-formatters/edit.spec.js
  cypress/support/commands.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/locales/en.json
Labels: bug, blocking release, ui/web

#5288 Replace relative go mod paths
  .github/workflows/e2e.yml
Labels: tooling

#5297 Small fixes for a slow Join Server
  CHANGELOG.md
  pkg/interop/client.go
  pkg/networkserver/grpc_gsns.go
Labels: c/network server, size/small

#5291 Use wanted RSSI for downlink path selection
  pkg/networkserver/downlink.go
  pkg/networkserver/internal/test/test.go
Labels: c/network server

#5300 Remove globals from hooks rpcmiddleware
  pkg/applicationserver/applicationserver.go
  pkg/component/component.go
  pkg/component/grpc.go
  pkg/component/grpc_test.go
  pkg/devicerepository/devicerepository.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayserver/gatewayserver.go
  pkg/identityserver/identityserver.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/networkserver.go
  pkg/packetbrokeragent/agent.go
  pkg/rpcmiddleware/hooks/hooks.go
  pkg/rpcmiddleware/hooks/hooks_test.go
  pkg/rpcserver/rpcserver.go
Labels: c/join server, c/network server, c/identity server, c/gateway server, c/application server, c/packet broker agent, c/gateway conf server

#5302 Fix webhook encoding and decoding
  CHANGELOG.md
  cypress/integration/console/integrations/webhooks/create-with-template.spec.js
  cypress/integration/console/integrations/webhooks/create-without-template.spec.js
  cypress/integration/console/integrations/webhooks/edit.spec.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/lib/errors/utils.js
Labels: bug, ui/web

#5294 Gateway visibility packet broker
  CHANGELOG.md
  cypress/fixtures/console/packet-broker/default-gateway-visibility.json
  cypress/integration/console/packet-broker/default-gateway-visibility.spec.js
  pkg/webui/console/components/gateway-visibility-form/index.js
  pkg/webui/console/lib/packet-broker/messages.js
  pkg/webui/console/store/actions/packet-broker.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/store/reducers/packet-broker.js
  pkg/webui/console/store/selectors/packet-broker.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/default-gateway-visibility.js
  pkg/webui/console/views/admin-packet-broker/messages.js
  pkg/webui/locales/en.json
  sdk/js/src/service/packet-broker-agent.js
Labels: ui/web

#5307 ci: Change tag release startup
  .github/workflows/release-tag.yml
Labels: technical debt

#5308 Separate task dispatch from task execution
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/internal/test/shared/downlink_task_queue.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/redis/lua/dispatchTask.lua
  pkg/redis/lua/popTask.lua
  pkg/redis/redis.go
  pkg/redis/redis_internal_test.go
  pkg/redis/redis_test.go
  pkg/redis/scripts.go
Labels: c/network server, scalability, compat/db

#5315 Fix key nil validation
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac/adr.go
Labels: size/small

#5310 Add warning for gateway creation without Frequency Plan
  cmd/ttn-lw-cli/commands/gateways.go
Labels: ui/cli, size/small

#5314 Improve payload formatter link handling
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/messages.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/views/application-payload-formatters/application-payload-formatters.js
  pkg/webui/console/views/application-payload-formatters/connect.js
  pkg/webui/locales/en.json
Labels: bug, ui/web

#5306 Fix/5083 application rights
  pkg/webui/console/components/rights-group/index.js
  pkg/webui/console/components/rights-group/rights-group.styl
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#5317 Remove initialPage prop
  pkg/webui/components/pagination/index.js
  pkg/webui/components/table/index.js
Labels: c/console, ui/web

#5319 console: Show data reveive messages for downlinks
  CHANGELOG.md
  pkg/applicationserver/observability.go
  pkg/webui/console/constants/event-filters.js
Labels: c/application server, ui/web

#5313 Improve filtering of sentry events
  pkg/webui/components/input/byte.js
  pkg/webui/lib/errors/sentry-filters.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/errors/utils_test.js
Labels: technical debt, ui/web

#5312 Fix various routing issues in Console
  pkg/webui/account/views/app/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/store/selectors/packet-broker.js
  pkg/webui/console/views/admin-packet-broker/index.js
  pkg/webui/console/views/admin-packet-broker/network-routing-policy.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-api-keys/application-api-keys.js
  pkg/webui/console/views/application-collaborators/application-collaborators.js
  pkg/webui/console/views/application-integrations-pubsubs/index.js
  pkg/webui/console/views/application-integrations-webhooks/application-integrations-webhooks.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/gateway-api-keys.js
  pkg/webui/console/views/gateway-collaborators/gateway-collaborators.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organization-api-keys/organization-api-keys.js
  pkg/webui/console/views/organization-collaborators/organization-collaborators.js
  pkg/webui/console/views/organizations/index.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/lib/regexp.js
Labels: bug, technical debt, ui/web

#5320 CSV device template converter
  CHANGELOG.md
  config/messages.json
  pkg/devicetemplateconverter/devicetemplateconverter.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/devicetemplates/testdata/all_columns.csv
  pkg/devicetemplates/testdata/extra_columns.csv
  pkg/devicetemplates/testdata/generate_device_id.csv
  pkg/devicetemplates/testdata/invalid_deveui.csv
  pkg/devicetemplates/tts_util_test.go
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
  pkg/devicetemplates/ttsjson.go
  pkg/devicetemplates/ttsjson_test.go
Labels: c/shared, c/device converter

#5324 Add support for The Things Join Server
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  config/messages.json
  pkg/deviceclaimingserver/config.go
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/enddevices/config.go
  pkg/deviceclaimingserver/enddevices/enddevices.go
  pkg/deviceclaimingserver/enddevices/enddevices_test.go
  pkg/deviceclaimingserver/enddevices/testdata/config.yml
  pkg/deviceclaimingserver/enddevices/testdata/localhost.yml
  pkg/deviceclaimingserver/enddevices/ttjs/messages.go
  pkg/deviceclaimingserver/enddevices/ttjs/ttjs.go
  pkg/deviceclaimingserver/enddevices/ttjs/ttjs_test.go
  pkg/deviceclaimingserver/enddevices/ttjs/util_test.go
  pkg/deviceclaimingserver/enddevices/util_test.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/identityserver/http_interop.go
  pkg/interop/extensions.go
  pkg/interop/extensions_test.go
  pkg/interop/types.go
  pkg/joinserver/http_interop.go
  pkg/joinserver/http_interop_internal_test.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/deviceclaimingserver.pb.paths.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/join server, c/identity server, ui/cli, compat/api, compat/config, c/device claiming server

#5325 Validate uplink message payload
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server, c/gateway server

#5321 Support claiming deleted tasks
  pkg/redis/lua/dispatchTask.lua
Labels: bug

#5329 Backport deduplication rounds
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/uplink_deduplicator.go
Labels: c/network server, compat/db

#5328 Fix reactivate webhook button
  CHANGELOG.md
  pkg/webui/console/containers/webhook-edit/connect.js
  pkg/webui/console/containers/webhook-edit/webhook-edit.js
Labels: ui/web

#5330 Set default port if it doesn't exist in LBS discover message
  CHANGELOG.md
  pkg/gatewayserver/io/ws/ws.go
Labels: c/gateway server, size/small

#5331 Fix inconsistent downlink validation
  api/api.md
  api/messages.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/mqtt/mqtt.go
  pkg/applicationserver/io/pubsub/pubsub.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/payload.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Labels: bug, c/application server, compat/api

#5341 Fix changelog entry
  CHANGELOG.md
Labels: documentation

#5346 Merge additional v3.18 changes into v3.19
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/store/middleware/logics/gateways.js
Labels: c/application server, ui/web, merge

#5323 Fetch End Device Template by numeric IDs
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/devicerepository.proto
  config/messages.json
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/interface.go
  pkg/devicerepository/store/noop.go
  pkg/devicerepository/store/profiles.go
  pkg/devicerepository/store/profiles_test.go
  pkg/devicerepository/store/remote/enums.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/schema_test.go
  pkg/devicerepository/store/remote/testdata/vendor/foo-vendor/profile1.yaml
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.gw.go
  pkg/ttnpb/devicerepository.pb.paths.fm.go
  pkg/ttnpb/devicerepository.pb.setters.fm.go
  pkg/ttnpb/devicerepository.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api
