Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-02, with the labels that each got.

#5172 Fix miscellaneous panics
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server, security

#5171 Remove old session keys
  CHANGELOG.md
  cmd/internal/shared/joinserver/config.go
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/js_db.go
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/start.go
  cmd/ttn-lw-stack/commands/utils.go
  pkg/joinserver/config.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver_internal_test.go
  pkg/joinserver/redis/registry.go
  pkg/joinserver/registry.go
  pkg/joinserver/registry_test.go
Labels: c/join server, technical debt, compat/db, compat/config

#5175 Fix duration value assignment from reflect.Value
  CHANGELOG.md
  cmd/ttn-lw-cli/internal/util/flags.go
Labels: bug, ui/cli

#5176 Fix interop client validation
  CHANGELOG.md
  config/messages.json
  pkg/interop/client.go
  pkg/interop/testdata/client/test-js-1.yml
  pkg/interop/testdata/client/test-js-3.yml
  pkg/interop/testdata/client/test-js-4.yml
Labels: c/shared, blocking release, size/small, compat/config

#5186 Fix faulty dependabot merges
  package.json
  yarn.lock
Labels: dependencies, ui/web

#5191 Fix `NwkKey` generation and usage in 1.0.x activation
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
Labels: c/join server, ui/cli, size/small, needs/backport

#5166 Update mockIS with application rights based on uid and bearer key
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayconfigurationserver/store_util_test.go
  pkg/identityserver/mock/application_registry.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
Labels: c/identity server, c/gateway conf server

#5182 RP2 1.0.3 support
  go.mod
  go.sum
  pkg/band/all.go
  pkg/band/as_923.go
  pkg/band/as_923_rp2_v1_0_3.go
  pkg/band/au_915_928_rp2_v1_0_3.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_3.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_3.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_3.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_3.go
  pkg/band/cn_779_787_rp2_v1_0_3.go
  pkg/band/eu_433_rp2_v1_0_3.go
  pkg/band/eu_863_870_rp2_v1_0_3.go
  pkg/band/in_865_867_rp2_v1_0_3.go
  pkg/band/kr_920_923_rp2_v1_0_3.go
  pkg/band/reference_test.go
  pkg/band/rpc_test.go
  pkg/band/ru_864_870_rp2_v1_0_3.go
  pkg/band/testdata/AS_923_2_RP002_V1_0_3.json
  pkg/band/testdata/AS_923_3_RP002_V1_0_3.json
  pkg/band/testdata/AS_923_4_RP002_V1_0_3.json
  pkg/band/testdata/AS_923_RP002_V1_0_3.json
  pkg/band/testdata/AU_915_928_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_20_A_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_20_B_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_26_A_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_26_B_RP002_V1_0_3.json
  pkg/band/testdata/CN_779_787_RP002_V1_0_3.json
  pkg/band/testdata/EU_433_RP002_V1_0_3.json
  pkg/band/testdata/EU_863_870_RP002_V1_0_3.json
  pkg/band/testdata/IN_865_867_RP002_V1_0_3.json
  pkg/band/testdata/ISM_2400_RP002_V1_0_3.json
  pkg/band/testdata/KR_920_923_RP002_V1_0_3.json
  pkg/band/testdata/RU_864_870_RP002_V1_0_3.json
  pkg/band/testdata/US_902_928_RP002_V1_0_3.json
  pkg/band/us_902_928_rp2_v1_0_3.go
  pkg/devicerepository/store/remote/enums.go
  pkg/packetbrokeragent/mock/pbiam.go
  pkg/packetbrokeragent/translation.go
  tools/go.mod
  tools/go.sum
Labels: c/packet broker agent, dependencies, tooling

#5165 Establish the usage of TTL for all gateway connection stats operations
  CHANGELOG.md
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server, compat/config

#5194 Reset gateway location in Packet Broker Mapper
  pkg/packetbrokeragent/grpc_gspba.go
Labels: c/packet broker agent, size/small

#5167 Fix logout redirect in OAuth clients
  pkg/web/oauthclient/logout.go
Labels: bug, c/console, ui/web

#5169 Improve request logic and token handling
  cypress/integration/console/auth/access-token.spec.js
  cypress/integration/console/auth/log-back-in.spec.js
  cypress/integration/console/auth/login.spec.js
  cypress/integration/console/login.spec.js
  cypress/integration/console/shared/connection-losses.spec.js
  pkg/webui/components/offline-status/index.js
  pkg/webui/console/api/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/lib/access-token.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/errors/custom-errors.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/store/logics/create-request-logic.js
  pkg/webui/lib/store/logics/status.js
Labels: bug, c/console, technical debt, ui/web

#5201 Allow absolute time scheduling downlink tasks to fire early
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: bug, c/network server, c/gateway server

#5202 Check Join EUI from flags before using JS default
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli, size/small

#5203 Use FNV-1a for payload hashing
  pkg/networkserver/redis/redis.go
  pkg/ttnpb/applicationserver_integrations_storage.go
Labels: bug, c/network server, compat/db

#5209 JavaScript ahead of time compilation support
  pkg/messageprocessors/cayennelpp/cayennelpp.go
  pkg/messageprocessors/devicerepository/devicerepository.go
  pkg/messageprocessors/devicerepository/devicerepository_test.go
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/payload.go
  pkg/scripting/engine.go
  pkg/scripting/javascript/javascript.go
  pkg/scripting/javascript/metrics.go
Labels: c/application server, scalability

#5196 Link mockIS to Gateway Server MockServer
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/grpc/grpc_util_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mock/entity_registry.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/mqtt/mqtt_util_test.go
  pkg/gatewayserver/io/udp/udp_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
Labels: c/identity server, c/gateway server, c/gateway conf server

#5211 Bump Go dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#5212 Strengthen identifiers nil check
  pkg/ttnpb/applicationserver_integrations_storage.go
Labels: size/small

#5199 Allow for multiple block creation for the same eui block type
  cmd/ttn-lw-stack/commands/is_db.go
  pkg/identityserver/gormstore/eui_block.go
  pkg/identityserver/gormstore/eui_block_store.go
  pkg/identityserver/gormstore/migrations/entity_contacts.go
  pkg/identityserver/gormstore/migrations/eui_blocks_index.go
  pkg/identityserver/gormstore/migrations/migration.go
  pkg/identityserver/gormstore/populate.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/eui_store.go
Labels: bug, c/identity server, compat/db

#5219 Always queue application uplinks
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/utils.go
Labels: c/network server, performance, scalability

#5220 Use Redis 6.2 features natively in the Network Server
  pkg/networkserver/redis/lua/deviceMatch.lua
  pkg/redis/lua/xAutoClaim.lua
  pkg/redis/redis.go
  pkg/redis/scripts.go
Labels: c/network server, performance, compat/db

#5221 Add pagination test to IS store tests
  pkg/identityserver/gormstore/store_test.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/contact_info_store.go
  pkg/identityserver/storetest/end_device_store.go
  pkg/identityserver/storetest/entity_search.go
  pkg/identityserver/storetest/gateway_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/population.go
  pkg/identityserver/storetest/storetest.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Labels: c/identity server

#5223 Revert "dev: bump webpack-dev-server from 3.11.3 to 4.7.4"
  package.json
  yarn.lock
Labels: dependencies

#5225 Fix `Make location public` typo
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: c/console, ui/web

#5230 is: Use store.FieldMask instead of gogoproto FieldMask
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  pkg/account/session/session.go
  pkg/account/store_utils_test.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/email.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gormstore/api_key_store.go
  pkg/identityserver/gormstore/application.go
  pkg/identityserver/gormstore/application_store.go
  pkg/identityserver/gormstore/client.go
  pkg/identityserver/gormstore/client_store.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/gormstore/end_device_store.go
  pkg/identityserver/gormstore/gateway.go
  pkg/identityserver/gormstore/gateway_store.go
  pkg/identityserver/gormstore/organization.go
  pkg/identityserver/gormstore/organization_store.go
  pkg/identityserver/gormstore/user.go
  pkg/identityserver/gormstore/user_store.go
  pkg/identityserver/http_interop.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/rights.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/gateway_store.go
  pkg/identityserver/storetest/utils.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/oauth/store_utils_test.go
  pkg/oauth/user.go
Labels: c/identity server, technical debt, compat/db

#5231 Render merge conflicts as warnings
  .github/workflows/mergeability.yml
Labels: tooling

#5226 Move custom webhook option to top of the list
  CHANGELOG.md
  pkg/webui/console/views/application-integrations-webhook-add-choose/application-integrations-webhook-add-choose.js
Labels: c/console, ui/web

#5077 Configure basic auth
  cypress/integration/console/integrations/webhooks/create-without-template.spec.js
  cypress/integration/console/integrations/webhooks/edit.spec.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/views/application-integrations-webhook-edit/application-integration-webhook-edit.styl
  pkg/webui/console/views/application-integrations-webhook-edit/application-integrations-webhook-edit.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: c/console, ui/cli, s/in progress, ui/web

#5235 Migrate Join Server session keys with a single database scan
  cmd/ttn-lw-stack/commands/js_db.go
Labels: performance

#5222 Fix webhook status UX
  CHANGELOG.md
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/store/actions/application-server.js
  pkg/webui/console/store/middleware/logics/application-server.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/application-server.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/application-server.js
  pkg/webui/console/views/application-integrations-webhook-edit/application-integrations-webhook-edit.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/console/views/application/connect.js
  pkg/webui/locales/en.json
  sdk/js/src/index.js
  sdk/js/src/service/application-server.js
Labels: c/console, c/sdk/js, ui/web

#5236 Remove direct imports of Gorm in IS
  pkg/account/server.go
  pkg/account/store/interfaces.go
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/email.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gormstore/membership_cache.go
  pkg/identityserver/gormstore/store.go
  pkg/identityserver/http_interop.go
  pkg/identityserver/http_interop_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/oauth_registry_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/rights.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
  pkg/identityserver/user_session_registry_test.go
Labels: c/identity server, technical debt, compat/db

#5243 Unpack members early on popTask
  pkg/redis/lua/popTask.lua
  pkg/redis/redis_test.go
Labels: bug, compat/db

#5244 Downgrade go-ieproxy
  go.mod
  go.sum
Labels: dependencies

#5247 Add package.json to cache keys
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
Labels: tooling

#5242 Get gateway with highest SNR
  CHANGELOG.md
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/uplink-message.js
  pkg/webui/console/components/events/utils/index.js
Labels: c/console, ui/web

#5234 Add additional getter usage for session keys
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/networkserver/grpc_deviceregistry.go
Labels: bug, c/network server, security

#5245 Ensure ZREM is not called with an empty array
  pkg/redis/lua/popTask.lua
  pkg/redis/redis_test.go
Labels: compat/db

#5249 Limit Network Server uplink submission concurrency per instance
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/utils.go
Labels: c/network server, compat/config

#5248 Remove unused XPENDING
  pkg/redis/redis.go
Labels: performance, compat/db

#5232 Add `query` field to search requests to allow searches by any of ID, Name, Description, EUI
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/search_services.proto
  pkg/identityserver/gormstore/entity_search.go
  pkg/identityserver/storetest/entity_search.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/search_services_json.pb.go
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, ui/web

#5256 Fix ordering of entities with same values in the sort field
  CHANGELOG.md
  pkg/identityserver/store/pagination.go
Labels: c/identity server, compat/db

#5241 Publish encoded and encrypted downlink in forwarded event
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/observability.go
  pkg/applicationserver/payload.go
Labels: c/application server, compat/api

#5174 Add gRPC implementation to GCS API
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/gateway_configuration.proto
  config/messages.json
  pkg/gatewayconfigurationserver/grpc.go
  pkg/gatewayconfigurationserver/http.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayconfigurationserver/server_test.go
  pkg/ttnpb/gateway_configuration.pb.go
  pkg/ttnpb/gateway_configuration.pb.gw.go
  pkg/ttnpb/gateway_configuration.pb.paths.fm.go
  pkg/ttnpb/gateway_configuration.pb.setters.fm.go
  pkg/ttnpb/gateway_configuration.pb.validate.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, c/gateway conf server

#5265 Add Redis connection pool idle timeout
  CHANGELOG.md
  pkg/redis/redis.go
Labels: compat/db, compat/config

#5266 Improve NS and AS tracing
  pkg/applicationserver/applicationserver.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/registry.go
  pkg/redis/range.go
  pkg/redis/redis.go
Labels: c/network server, c/application server, security, compat/db
