Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-08, with the labels that each got.

#5658 Protect global message descriptor with mutex
  pkg/i18n/i18n.go
  tools/generate_i18n.go
Labels: tooling

#5656 Remove root CA caching in client config
  pkg/config/tlsconfig/config.go
  pkg/redis/redis.go
Labels: compat/db, compat/config

#5657 Remove `customtype` from `lorawan.proto`
  api/api.md
  api/lorawan.proto
  cmd/ttn-lw-cli/commands/lorawan.go
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/customflags/bytes.go
  pkg/encoding/lorawan/lorawan_test.go
  pkg/encoding/lorawan/messages.go
  pkg/encoding/lorawan/messages_test.go
  pkg/gatewayserver/gatewayserver_util_test.go
  pkg/gatewayserver/io/udp/udp_util_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/upstream/ns/ns_test.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/message_validators.go
  sdk/js/generated/api.json
Labels: c/join server, c/network server, ui/cli, c/gateway server, c/packet broker agent, compat/api, compat/db

#5662 Support both pgx and pgdriver with new feature flag
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/is_db.go
  go.mod
  go.sum
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/store.go
  pkg/identityserver/store/db.go
  tools/go.mod
  tools/go.sum
Labels: c/identity server, compat/db, dependencies, tooling

#5661 Fix empty keys regression
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/join server, c/network server

#5669 Upgrade protoc-gen-fieldmask to 0.6.1
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/joinserver.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  tools/mage/proto.go
Labels: tooling

#5668 Fix getting end device by EUI in bunstore implementation
  cypress/integration/console/devices/import.spec.js
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/storetest/end_device_store.go
Labels: c/identity server

#5672 Omit deleted accounts from membership views
  pkg/identityserver/store/migrations/20220726093000_membership_views.up.sql
Labels: c/identity server

#5651 Avoid ingesting timeout errors to sentry
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/errors/utils_test.js
Labels: bug, ui/web

#5660 Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: documentation

#5650 Fix proto pointers in test utils
  pkg/networkserver/downlink_internal_test.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc_asns_test.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/adr_param_setup_test.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/beacon_freq_test.go
  pkg/networkserver/mac/beacon_timing_test.go
  pkg/networkserver/mac/dev_status_test.go
  pkg/networkserver/mac/device_mode_test.go
  pkg/networkserver/mac/device_time_test.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/duty_cycle_test.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/mac/link_check_test.go
  pkg/networkserver/mac/new_channel_test.go
  pkg/networkserver/mac/ping_slot_channel_test.go
  pkg/networkserver/mac/ping_slot_info_test.go
  pkg/networkserver/mac/rejoin_param_setup_test.go
  pkg/networkserver/mac/rekey_test.go
  pkg/networkserver/mac/reset_test.go
  pkg/networkserver/mac/rx_param_setup_test.go
  pkg/networkserver/mac/rx_timing_setup_test.go
  pkg/networkserver/mac/tx_param_setup_test.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/ttnpb/copy.go
  pkg/util/test/constructors.go
  pkg/util/test/constructors_generated.go
  pkg/util/test/generate_constructors.go
  pkg/util/test/test.go
Labels: c/network server, technical debt

#5676 Fix proto pointers in ttn-lw-cli
  cmd/ttn-lw-cli/commands/end_device_templates.go
  cmd/ttn-lw-cli/commands/lorawan.go
Labels: ui/cli, size/small

#5677 Remove non-pointer usage of proto messages
  pkg/interop/types_test.go
  pkg/networkserver/internal/test/test.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/keys.go
  pkg/ttnpb/lorawan.go
  pkg/ttnpb/message_validators.go
  tools/mage/proto.go
Labels: c/network server, tooling

#5514 Store End Device CAC in the IS
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/end_devices_split.go
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/config.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.down.sql
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.up.sql
  pkg/identityserver/storetest/end_device_store.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
  tools/generate_allowed_field_mask_paths.go
Labels: c/join server, c/identity server, ui/cli, compat/api, compat/db, tooling, compat/config, c/device claiming server

#5674 Add database connection check to Identity Server
  pkg/identityserver/store/conncheck.go
  pkg/identityserver/store/conncheck_other.go
  pkg/identityserver/store/conncheck_unix.go
  pkg/identityserver/store/db.go
Labels: c/identity server, compat/db

#5659 Deprecate ApplicationID from Device Repository
  CHANGELOG.md
  api/api.md
  api/devicerepository.proto
  config/messages.json
  pkg/auth/rights/auth_info.go
  pkg/devicerepository/devicerepository.go
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/identityserver/mock/application_registry.go
  pkg/identityserver/mock/device_registry.go
  pkg/identityserver/mock/entity_access.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, c/device repository

#5678 More form updates
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/index.js
Labels: ui/web

#5682 Initialize zero locations for end devices with stored locations
  pkg/identityserver/bunstore/end_device_store.go
Labels: c/identity server, size/small

#5683 Return ctx.Error instead of ErrTxDone on canceled database transactions
  pkg/identityserver/bunstore/store.go
Labels: c/identity server, size/small

#5684 Optimize membership views and queries
  pkg/identityserver/bunstore/entity_store.go
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.down.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.up.sql
Labels: c/identity server, performance

#5685 Additional IS bunstore optimizations
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/membership_store.go
Labels: c/identity server

#5630 Add Account Search
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/search_services.proto
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/gormstore/entity_search.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/entity_search.go
  pkg/ttnpb/search_services.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.gw.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/search_services_flags.pb.go
  pkg/ttnpb/search_services_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

#5687 Backport DCS clustering changes
  cmd/ttn-lw-stack/commands/start.go
  pkg/cluster/cluster.go
  pkg/cluster/config.go
Labels: compat/config

#5689 Small fixes for recent form changes
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/index.js
Labels: ui/web

#5696 Refactor model and query context handling in bunstore
  pkg/identityserver/bunstore/account_store.go
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/application_store.go
  pkg/identityserver/bunstore/attribute_store.go
  pkg/identityserver/bunstore/client_store.go
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/bunstore/entity_store.go
  pkg/identityserver/bunstore/eui_store.go
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/bunstore/invitation_store.go
  pkg/identityserver/bunstore/login_token_store.go
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/bunstore/model.go
  pkg/identityserver/bunstore/notification_store.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/bunstore/scope.go
  pkg/identityserver/bunstore/user_session_store.go
  pkg/identityserver/bunstore/user_store.go
Labels: c/identity server

#5697 Add email template development docs
  pkg/email/templates/DEVELOPMENT.md
Labels: size/small

#5700 Update account search to use the new select style
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/entity_search.go
Labels: c/identity server

#5703 Backport IS style changes
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/gormstore/entity_search.go
Labels: c/identity server, compat/db

#5705 Remove deepcopy.Copy usage for protobufs
  cmd/ttn-lw-cli/commands/lorawan.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/grpc_deviceregistry_test.go
  pkg/auth/rights/rights.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/crypto/join_messages_test.go
  pkg/fetch/basepath_test.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/downlink_token.go
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/ws/lbslns/upstream_test.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver_test.go
  pkg/joinserver/registry_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/pfconfig/cpf/cpf_test.go
Labels: c/join server, ui/cli, c/gateway server, c/application server, c/packet broker agent, technical debt, security, c/gateway conf server

#5688 Field styling fixes
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/tag/group/index.js
Labels: c/console, ui/web

#5698 Prevent accidental navigation when changing PFs
  CHANGELOG.md
  pkg/webui/components/form/index.js
  pkg/webui/components/prompt/index.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/locales/en.json
Labels: bug, ui/web

#5707 Fix segfault on `device template create` command
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_device_templates.go
Labels: ui/cli

#5655 Add `field_mask` to webhooks and webhook templates
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/applicationserver_web.proto
  cypress/integration/console/integrations/webhooks/create-without-template.spec.js
  cypress/integration/console/integrations/webhooks/edit.spec.js
  pkg/applicationserver/io/web/templates.go
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/applicationserver_web_flags.pb.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
  pkg/webui/components/input/toggled.js
  pkg/webui/components/input/toggled.styl
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
  pkg/webui/console/containers/webhook-add/webhook-add.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/application server, compat/api, ui/web

#5708 Fix csv session keys setters
  CHANGELOG.md
  config/messages.json
  pkg/devicetemplates/ttscsv.go
Labels: c/device converter

#5695 New gateway onboarding
  CHANGELOG.md
  cypress/integration/console/gateways/create.spec.js
  cypress/integration/console/gateways/location/create.spec.js
  cypress/integration/smoke/gateways/create.js
  pkg/webui/components/page-title/index.js
  pkg/webui/console/components/gateway-data-form/index.js
  pkg/webui/console/components/gateway-data-form/validation-schema.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/store/actions/api-keys.js
  pkg/webui/console/store/middleware/logics/api-keys.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#5714 Add missing CUPS error codes
  pkg/basicstation/cups/update_info.go
Labels: bug, c/gateway conf server

#5713 Do not update gateways with unauthenticated connections
  pkg/gatewayserver/gatewayserver.go
Labels: bug, c/gateway server

#5594 Device provisioning section of the New Device Onboarding
  pkg/webui/components/form/index.js
  pkg/webui/console/components/phy-version-input/index.js
  pkg/webui/console/containers/dev-addr-input/dev-addr-input.js
  pkg/webui/console/containers/dev-addr-input/index.js
  pkg/webui/console/containers/dev-eui-component/dev-eui.styl
  pkg/webui/console/containers/dev-eui-component/index.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/device-claiming-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/device-claiming-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/device-registration-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/device-registration-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-repository-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/index.js
  pkg/webui/console/containers/device-onboarding-form/messages.js
  pkg/webui/console/containers/device-onboarding-form/validation-schema.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/store/actions/claim.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/middleware/logics/claim.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/views/device-add/device-add.js
  pkg/webui/locales/en.json
  sdk/js/src/index.js
  sdk/js/src/service/claim.js
Labels: ui/web

#5716 Disable NbTrans=0 for static ADR configuration
  api/api.md
  api/end_device.proto
  pkg/networkserver/downlink.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api

#5701 Expose band definitions via api
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/configuration_services.proto
  pkg/band/rpc.go
  pkg/band/rpc_test.go
  pkg/component/configuration_grpc.go
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/configuration_services.pb.gw.go
  pkg/ttnpb/configuration_services.pb.paths.fm.go
  pkg/ttnpb/configuration_services.pb.setters.fm.go
  pkg/ttnpb/configuration_services.pb.validate.go
  pkg/ttnpb/configuration_services_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: compat/api

#5719 Allow empty EUIs in gateway onboarding
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: bug, ui/web

#5722 Fix flaky tests under M1
  pkg/gatewayserver/gatewayserver_test.go
  pkg/identityserver/storetest/storetest.go
Labels: c/identity server, c/gateway server, technical debt

#5723 Fix validation options composition in protobuf
  api/devicerepository.proto
  api/gatewayserver.proto
  pkg/ttnpb/devicerepository.pb.go
  pkg/ttnpb/devicerepository.pb.validate.go
  pkg/ttnpb/gatewayserver.pb.go
  pkg/ttnpb/gatewayserver.pb.validate.go
Labels: bug, compat/api

#5726 Fix linting issue
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/index.js
Labels: bug, ui/web

#5729 Apply fixes to gateway onboarding form
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: bug, ui/web

#5610 Load device profile on import
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  cmd/ttn-lw-cli/commands/end_device_templates.go
  pkg/devicerepository/mock/mock.go
  pkg/devicetemplateconverter/devicetemplateconverter.go
  pkg/devicetemplateconverter/devicetemplateconverter_test.go
  pkg/devicetemplateconverter/grpc.go
  pkg/devicetemplateconverter/grpc_test.go
  pkg/devicetemplateconverter/profilefetcher/profile_fetcher.go
  pkg/devicetemplateconverter/profilefetcher/profile_fetcher_test.go
  pkg/devicetemplateconverter/profilefetcher/vendor_profile_fetcher.go
  pkg/devicetemplateconverter/profilefetcher/vendor_profile_fetcher_test.go
  pkg/devicetemplateconverter/profilefetcher/version_profile_fetcher.go
  pkg/devicetemplateconverter/profilefetcher/version_profile_fetcher_test.go
  pkg/devicetemplates/testdata/with_version_id.csv
  pkg/devicetemplates/testdata/without_version_id.csv
  pkg/devicetemplates/ttscsv.go
  pkg/devicetemplates/ttscsv_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: ui/cli, compat/api, blocked, c/device converter

#5738 Fix snapshot release workflow
  .github/workflows/release-snapshot.yml
Labels: bug

#5727 Miscellaneous LR-FHSS fixes
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  config/messages.json
  pkg/gatewayserver/io/udp/observability.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/observability.go
  pkg/networkserver/mac/adr_param_setup_test.go
  pkg/networkserver/mac/beacon_freq_test.go
  pkg/networkserver/mac/dev_status_test.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/duty_cycle_test.go
  pkg/networkserver/mac/errors.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/link_adr_test.go
  pkg/networkserver/mac/mac.go
  pkg/networkserver/mac/mac_internal_test.go
  pkg/networkserver/mac/new_channel_test.go
  pkg/networkserver/mac/ping_slot_channel_test.go
  pkg/networkserver/mac/rejoin_param_setup_test.go
  pkg/networkserver/mac/rx_param_setup_test.go
  pkg/networkserver/mac/rx_timing_setup_test.go
  pkg/networkserver/mac/tx_param_setup_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/udp/packet_data.go
  pkg/ttnpb/udp/packet_data_test.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
  pkg/util/datarate/data_rate.go
  pkg/util/datarate/data_rate_test.go
  pkg/webui/console/components/events/previews/application-downlink.js
  pkg/webui/console/components/events/previews/application-up.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/downlink-message.js
  pkg/webui/console/components/events/previews/gateway-uplink-message.js
  pkg/webui/console/components/events/utils/index.js
  sdk/js/generated/api.json
Labels: c/network server, c/gateway server, c/packet broker agent, compat/api, ui/web

#5737 Synchronize gateway time only with GPS timestamps
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/networkserver/downlink.go
Labels: c/network server, c/gateway server

#5731 Cypress tests for repository registration
  cypress/fixtures/console/devices/repository/test-brand-abp-model1.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model2.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model3.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa-model4.template.json
  cypress/fixtures/console/devices/repository/test-brand-otaa.models.json
  cypress/integration/console/devices/onboarding/repository-registration.spec.js
  pkg/webui/console/containers/device-onboarding-form/device-provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-repository-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-repository-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/index.js
Labels: ui/web, tooling

#5741 Support accurate absolute time downlinks in BasicStation
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/downstream.go
  pkg/gatewayserver/io/ws/lbslns/downstream_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
Labels: c/gateway server

#5746 Fix AU915 and US915 LR-FHSS channels max data rate indices
  pkg/band/au_915_928.go
  pkg/band/au_915_928_rp1_v1_0_2.go
  pkg/band/au_915_928_rp1_v1_0_2_rev_b.go
  pkg/band/au_915_928_rp1_v1_0_3_rev_a.go
  pkg/band/au_915_928_rp1_v1_1_rev_a.go
  pkg/band/au_915_928_rp1_v1_1_rev_b.go
  pkg/band/au_915_928_rp2_v1_0_0.go
  pkg/band/au_915_928_rp2_v1_0_1.go
  pkg/band/au_915_928_rp2_v1_0_2.go
  pkg/band/au_915_928_rp2_v1_0_3.go
  pkg/band/au_915_928_ts1_v1_0_1.go
  pkg/band/band_test.go
  pkg/band/cn_470_510_20_a.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_0.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_1.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_2.go
  pkg/band/cn_470_510_20_a_rp2_v1_0_3.go
  pkg/band/cn_470_510_20_b.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_0.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_1.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_2.go
  pkg/band/cn_470_510_20_b_rp2_v1_0_3.go
  pkg/band/cn_470_510_26_a.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_0.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_1.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_2.go
  pkg/band/cn_470_510_26_a_rp2_v1_0_3.go
  pkg/band/cn_470_510_26_b.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_0.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_1.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_2.go
  pkg/band/cn_470_510_26_b_rp2_v1_0_3.go
  pkg/band/testdata/AU_915_928_RP002_V1_0_2.json
  pkg/band/testdata/AU_915_928_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_20_A_RP002_V1_0_1.json
  pkg/band/testdata/CN_470_510_20_A_RP002_V1_0_2.json
  pkg/band/testdata/CN_470_510_20_A_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_20_B_RP002_V1_0_1.json
  pkg/band/testdata/CN_470_510_20_B_RP002_V1_0_2.json
  pkg/band/testdata/CN_470_510_20_B_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_26_A_RP002_V1_0_1.json
  pkg/band/testdata/CN_470_510_26_A_RP002_V1_0_2.json
  pkg/band/testdata/CN_470_510_26_A_RP002_V1_0_3.json
  pkg/band/testdata/CN_470_510_26_B_RP002_V1_0_1.json
  pkg/band/testdata/CN_470_510_26_B_RP002_V1_0_2.json
  pkg/band/testdata/CN_470_510_26_B_RP002_V1_0_3.json
  pkg/band/testdata/US_902_928_RP002_V1_0_2.json
  pkg/band/testdata/US_902_928_RP002_V1_0_3.json
  pkg/band/us_902_928.go
  pkg/band/us_902_928_rp1_v1_0_2.go
  pkg/band/us_902_928_rp1_v1_0_2_rev_b.go
  pkg/band/us_902_928_rp1_v1_0_3_rev_a.go
  pkg/band/us_902_928_rp1_v1_1_rev_a.go
  pkg/band/us_902_928_rp1_v1_1_rev_b.go
  pkg/band/us_902_928_rp2_v1_0_0.go
  pkg/band/us_902_928_rp2_v1_0_1.go
  pkg/band/us_902_928_rp2_v1_0_2.go
  pkg/band/us_902_928_rp2_v1_0_3.go
  pkg/band/us_902_928_ts1_v1_0.go
  pkg/band/us_902_928_ts1_v1_0_1.go
Labels: bug

#5720 Remove GatewayAntenna attributes
  CHANGELOG.md
  api/gateway.proto
  pkg/identityserver/bunstore/gateway_antenna_store.go
  pkg/identityserver/gormstore/gateway_antenna.go
  pkg/ttnpb/gateway.pb.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/api, compat/db

#5732 Cypress tests for manual registration
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-onboarding-form/device-type-form-section/device-type-manual-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/index.js
Labels: ui/web
