Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-10, with the labels that each got.

#5829 Reset Application and Join Server state in CLI reset
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/ttnpb/end_device.go
Labels: ui/cli

#5852 Take into account frequency plan sub bands
  pkg/networkserver/grpc_deviceregistry.go
Labels: c/network server

#5848 Fix dev EUI generation in the Console
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  pkg/webui/components/input/generate.js
  pkg/webui/console/containers/dev-eui-component/index.js
Labels: bug, ui/web

#5854 Backport event reading subscription changes
  pkg/events/redis/store.go
Labels: compat/db

#5851 Add a tooltip to the Skip payload encryption and decryption option in Application General Settings in the Console
  pkg/webui/console/views/application-general-settings/application-general-settings.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#5858 Fix Application Server panic on filter without identifiers
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

#5850 Add support for suppressing logs for selected errors on selected gRPC methods
  CHANGELOG.md
  pkg/rpcmiddleware/rpclog/options.go
  pkg/rpcmiddleware/rpclog/rpclog.go
  pkg/rpcmiddleware/rpclog/rpclog_test.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/rpcmiddleware/rpclog/utils.go
  pkg/rpcmiddleware/rpclog/utils_test.go
Labels: c/shared

#5826 Upgrade to Go 1.19
  .github/actions/install-go-and-deps/action.yml
  .github/workflows/changelog-cutoff.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/e2e.yml
  .github/workflows/general.yml
  .github/workflows/go.yml
  .github/workflows/issue-triage.yml
  .github/workflows/js.yml
  .github/workflows/mergeability.yml
  .github/workflows/pr-labels.yml
  .github/workflows/proto.yml
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  cypress/integration/smoke/authorization/index.js
  cypress/integration/smoke/forgot-password/index.js
  go.mod
  pkg/devicetemplates/ttscsv.go
  pkg/interop/client.go
  pkg/joinserver/joinserver.go
  pkg/redis/redis.go
  tools/go.mod
Labels: c/join server, technical debt, compat/db, dependencies, c/device converter, tooling

#5862 BasicStation dutycycle alignment fixes
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/frontend.go
  pkg/gatewayserver/io/mqtt/mqtt.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/sub_band_test.go
Labels: c/gateway server

#5864 Use common error for device lookup on join request
  pkg/networkserver/grpc_gsns.go
  pkg/rpcmiddleware/rpclog/client_interceptors.go
  pkg/rpcmiddleware/rpclog/options.go
  pkg/rpcmiddleware/rpclog/rpclog.go
  pkg/rpcmiddleware/rpclog/server_interceptors.go
  pkg/util/rpctest/server_test.go
Labels: c/network server, size/small

#5863 Fix cli version caching issues
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  pkg/version/remote.go
Labels: ui/cli

#5877 Do not deprioritize zero SNR downlink paths
  pkg/networkserver/downlink.go
Labels: c/network server

#5878 Use Node 16 action versions
  .github/workflows/e2e.yml
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Labels: technical debt, tooling

#5891 Avoid infinite network initiated downlink retries
  CHANGELOG.md
  pkg/applicationserver/observability.go
  pkg/gatewayserver/io/udp/observability.go
  pkg/networkserver/downlink.go
Labels: c/network server, c/gateway server, c/application server

#5894 Fix gateway stats debouncing doubling behavior
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/downlink-message.js
  pkg/webui/locales/en.json
Labels: bug, c/gateway server, ui/web

#5890 Fix device onboarding when using ABP
  CHANGELOG.md
  cypress/integration/console/devices/onboarding/manual-registration.spec.js
  cypress/integration/console/devices/onboarding/repository-registration.spec.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/validation-schema.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/index.js
Labels: bug, ui/web
