Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2022-06, with the labels that each got.

#5502 Replace hot module replacement with fast refresh
  config/babel.config.json
  config/webpack.config.babel.js
  package.json
  pkg/webui/account.js
  pkg/webui/account/views/app/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
  tools/mage/js.go
  yarn.lock
Labels: bug, dependencies, ui/web, tooling

#5494 Add CLI commands for Notification Service
  CHANGELOG.md
  api/identifiers.proto
  api/notification_service.proto
  cmd/ttn-lw-cli/commands/notifications.go
  pkg/ttnpb/application_flags.pb.go
  pkg/ttnpb/applicationserver_flags.pb.go
  pkg/ttnpb/applicationserver_packages_flags.pb.go
  pkg/ttnpb/applicationserver_pubsub_flags.pb.go
  pkg/ttnpb/applicationserver_web_flags.pb.go
  pkg/ttnpb/client_flags.pb.go
  pkg/ttnpb/contact_info_flags.pb.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/error_flags.pb.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/joinserver_flags.pb.go
  pkg/ttnpb/keys_flags.pb.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/messages_flags.pb.go
  pkg/ttnpb/metadata_flags.pb.go
  pkg/ttnpb/networkserver_flags.pb.go
  pkg/ttnpb/notification_service.pb.go
  pkg/ttnpb/notification_service_flags.pb.go
  pkg/ttnpb/organization_flags.pb.go
  pkg/ttnpb/packetbrokeragent_flags.pb.go
  pkg/ttnpb/rights_flags.pb.go
  pkg/ttnpb/search_services_flags.pb.go
  pkg/ttnpb/secrets_flags.pb.go
  pkg/ttnpb/user_flags.pb.go
  tools/mage/proto.go
Labels: ui/cli, compat/api, tooling

#5500 Add generic net.Error timeout fallback
  config/messages.json
  pkg/errors/conversion.go
Labels: c/shared, technical debt

#5506 Fix concurrency of login requests in cypress
  .github/workflows/e2e.yml
  cypress/support/commands.js
Labels: bug

#5480 Update withRequest handling
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/containers/gateway-title-section/connect.js
  pkg/webui/console/containers/organization-title-section/connect.js
  pkg/webui/console/store/selectors/device-repository.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/console/views/application-api-key-edit/connect.js
  pkg/webui/console/views/application-collaborator-edit/connect.js
  pkg/webui/console/views/application-general-settings/connect.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/application-integrations-webhook-edit/connect.js
  pkg/webui/console/views/application-integrations-webhooks/connect.js
  pkg/webui/console/views/device-add/connect.js
  pkg/webui/console/views/gateway-api-key-edit/connect.js
  pkg/webui/console/views/gateway-collaborator-edit/connect.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/organization-api-key-edit/connect.js
  pkg/webui/console/views/organization-collaborator-edit/connect.js
  pkg/webui/console/views/organization-general-settings/connect.js
  pkg/webui/console/views/user-api-key-edit/connect.js
  pkg/webui/lib/components/with-request.js
Labels: s/in progress, ui/web

#5516 Don't Copy Lock value
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/js_db.go
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/root.go
  cmd/ttn-lw-stack/commands/start.go
  cmd/ttn-lw-stack/commands/utils.go
Labels: size/small

#5521 Return context on error
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/gatewayserver/io/ws/lbslns/version.go
Labels: bug, c/gateway server, size/small

#5520 Support transmissions of the same frame through multiple gateways
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/lorawan.proto
  api/messages.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/redis/scheduled_downlink_matcher.go
  pkg/networkserver/redis/scheduled_downlink_matcher_test.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/messages.pb.go
  sdk/js/generated/api.json
Labels: c/network server, compat/api, compat/db

#5524 Fix duplicated identifiers and visibility items in events
  pkg/events/cloud/cloud.go
  pkg/events/correlation_context.go
  pkg/events/correlation_context_internal_test.go
  pkg/events/events.go
  pkg/events/events_test.go
  pkg/events/options.go
  pkg/events/redis/codec.go
  pkg/events/redis/store.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: bug, c/network server, compat/db

#5532 Fix status count periodicity validation
  CHANGELOG.md
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: bug, ui/web

#5531 Fix `last activity` bug
  CHANGELOG.md
  pkg/webui/console/store/reducers/devices.js
Labels: bug, ui/web

#5499 Refactor api usage
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/device-template-formats.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/middleware/logics/api-keys.js
  pkg/webui/console/store/middleware/logics/application-packages.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/pubsubs.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/console/views/application-add/application-add.js
  pkg/webui/console/views/application-add/connect.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/application-integrations-pubsub-edit.js
  pkg/webui/console/views/application-integrations-pubsub-edit/connect.js
  pkg/webui/console/views/device-add/manual/connect.js
  pkg/webui/console/views/device-add/manual/form/form.js
  pkg/webui/console/views/device-add/repository/connect.js
  pkg/webui/console/views/device-add/repository/repository.js
  pkg/webui/console/views/gateway-add/index.js
Labels: ui/web

#5537 Visit blank page to avoid requests spilling over to the subsequent test
  cypress/integration/account/forgot-password.spec.js
  cypress/integration/console/devices/create-manual.spec.js
  cypress/support/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/device/index.js
Labels: ui/web

#5543 Fix location bug
  CHANGELOG.md
  pkg/webui/console/components/location-form/index.js
Labels: ui/web

#5528 Remove gogoproto custom types
  api/api.md
  api/end_device.proto
  api/networkserver.proto
  api/packetbrokeragent.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/identityserver/end_device_registry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/downlink_test.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/util_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.validate.go
  pkg/ttnpb/networkserver_json.pb.go
  pkg/ttnpb/packetbrokeragent.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  pkg/ttnpb/packetbrokeragent_json.pb.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api.json
Labels: c/join server, c/network server, c/identity server, ui/cli, c/gateway server, c/packet broker agent, compat/api

#5544 Backport gogoproto removal of messages.proto and metadata.proto
  api/api.md
  api/messages.proto
  api/metadata.proto
  pkg/applicationserver/applicationserver.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/mac/link_check_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_json.pb.go
  pkg/ttnpb/metadata.pb.go
  pkg/ttnpb/metadata.pb.setters.fm.go
  pkg/ttnpb/metadata.pb.validate.go
  pkg/ttnpb/metadata_json.pb.go
  sdk/js/generated/api.json
Labels: c/network server, c/application server, c/packet broker agent, compat/api

#5546 Remove unused environment variable
  .github/workflows/release-tag.yml
Labels: size/small

#5549 Remove sorting on rights in API keys table
  CHANGELOG.md
  pkg/webui/console/containers/api-keys-table/index.js
Labels: bug, ui/web

#5547 Restore development database from file
  .github/workflows/e2e.yml
  .github/workflows/go.yml
  .github/workflows/js.yml
  .github/workflows/mergeability.yml
  .github/workflows/pr-labels.yml
  .github/workflows/proto.yml
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
  DEVELOPMENT.md
  cypress/plugins/tasks.js
  docker-compose.yml
  tools/mage/dev.go
  tools/mage/scripts/recreate-db-from-dump.sh
Labels: technical debt, tooling

#5554 Backport fix for getting gateway rights
  pkg/identityserver/rights.go
Labels: c/identity server

#5555 Fix frontend build cache in CI
  .github/actions/build-frontend/action.yml
  .github/workflows/e2e.yml
  docker-compose.yml
  tools/mage/dev.go
Labels: tooling

#5556 Upgrade to goreleaser 1.9.2
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
Labels: size/small

#5550 Handle RP1-1.0.2B data rate index remapping
  config/messages.json
  pkg/band/mapping.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/util/test/frequencyplans.go
Labels: bug, c/network server

#5518 User invitations
  CHANGELOG.md
  cypress/integration/console/user-management/invitations.spec.js
  pkg/webui/components/collaborator-form/connect.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/invite-user-form/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/owners-select/connect.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/actions/logout.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/index.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/logout.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/logout.js
  pkg/webui/console/store/reducers/users.js
  pkg/webui/console/store/selectors/logout.js
  pkg/webui/console/store/selectors/users.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-add/connect.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/invitation-send/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/console/views/user-api-key-add/connect.js
  pkg/webui/console/views/user-api-key-edit/connect.js
  pkg/webui/console/views/user-api-keys-list/connect.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  sdk/js/src/service/users.js
  sdk/js/src/util/marshaler.js
Labels: ui/web

#5557 ✨ Update form component
  pkg/webui/components/form/context.js
  pkg/webui/components/form/field/error.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/info.js
  pkg/webui/components/form/index.js
  pkg/webui/components/form/section/index.js
  pkg/webui/components/form/submit/index.js
  pkg/webui/console/components/webhook-template-form/index.js
Labels: technical debt, ui/web

#5548 Remove v3 category reference
  README.md
Labels: documentation
