Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-09, with the labels that each got.

#6489 Create RPC delete collaborator
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/application.proto
  api/ttn/lorawan/v3/application_services.proto
  api/ttn/lorawan/v3/client.proto
  api/ttn/lorawan/v3/client_services.proto
  api/ttn/lorawan/v3/gateway.proto
  api/ttn/lorawan/v3/gateway_services.proto
  api/ttn/lorawan/v3/organization.proto
  api/ttn/lorawan/v3/organization_services.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/application_services_grpc.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/client.pb.paths.fm.go
  pkg/ttnpb/client.pb.setters.fm.go
  pkg/ttnpb/client.pb.validate.go
  pkg/ttnpb/client_services.pb.go
  pkg/ttnpb/client_services.pb.gw.go
  pkg/ttnpb/client_services_grpc.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gateway_services_grpc.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/organization_services_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, technical debt

#6490 Update CLI rpc service used in delete collaborator command
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/clients_access.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
Labels: ui/cli, technical debt

#6491 Update handleDelete of Collaborators in Console
  pkg/webui/containers/collaborator-form/hooks.js
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/lib/store/actions/collaborators.js
  pkg/webui/lib/store/middleware/collaborators.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/clients.js
  sdk/js/src/service/collaborators.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
Labels: technical debt, ui/web

#6492 Create RPC delete apikey
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/application.proto
  api/ttn/lorawan/v3/application_services.proto
  api/ttn/lorawan/v3/gateway.proto
  api/ttn/lorawan/v3/gateway_services.proto
  api/ttn/lorawan/v3/organization.proto
  api/ttn/lorawan/v3/organization_services.proto
  api/ttn/lorawan/v3/user.proto
  api/ttn/lorawan/v3/user_services.proto
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/application.pb.paths.fm.go
  pkg/ttnpb/application.pb.setters.fm.go
  pkg/ttnpb/application.pb.validate.go
  pkg/ttnpb/application_services.pb.go
  pkg/ttnpb/application_services.pb.gw.go
  pkg/ttnpb/application_services_grpc.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gateway_services_grpc.pb.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_services.pb.go
  pkg/ttnpb/organization_services.pb.gw.go
  pkg/ttnpb/organization_services_grpc.pb.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  pkg/ttnpb/user_services_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, technical debt

#6493 Update CLI rpc service used in delete api-key command
  cmd/ttn-lw-cli/commands/applications_access.go
  cmd/ttn-lw-cli/commands/gateways_access.go
  cmd/ttn-lw-cli/commands/organizations_access.go
  cmd/ttn-lw-cli/commands/users_access.go
Labels: ui/cli

#6496 Update SDK todo comment
  sdk/js/src/service/devices/merge.js
Labels: c/sdk/js

#6484 Remove "could not" and "failed to" from error messages
  cmd/internal/shared/errors.go
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/use.go
  config/messages.json
  pkg/account/session/session.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/applicationserver/io/packages/alcsync/v1/errors.go
  pkg/applicationserver/io/web/templates.go
  pkg/auth/pbkdf2/pbkdf2.go
  pkg/basicstation/cups/update_info.go
  pkg/component/listeners.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/encoding/lorawan/errors.go
  pkg/encoding/lorawan/mac.go
  pkg/fetch/errors.go
  pkg/frequencyplans/frequencyplans.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/grpc_nsgs.go
  pkg/gatewayserver/io/grpc/grpc.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/observability.go
  pkg/interop/client.go
  pkg/joinserver/errors.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/errors.go
  pkg/networkserver/internal/errors.go
  pkg/networkserver/mac/observability.go
  pkg/networkserver/observability.go
  pkg/redis/errors.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/udp/errors.go
Labels: c/join server, c/network server, c/identity server, ui/cli, c/gateway server, c/application server, compat/db, c/gateway conf server

#6500 Add switch camera button to mobile device onboarding
  pkg/webui/components/qr/input/video/index.js
  pkg/webui/components/qr/qr.styl
  pkg/webui/locales/en.json
Labels: ui/web

#6430 Prioritize gateway's field contacts over Contact Info list
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/upstream/packetbroker/packetbroker.go
  pkg/identityserver/mock/application_registry.go
  pkg/identityserver/mock/device_registry.go
  pkg/identityserver/mock/entity_access.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
  pkg/identityserver/mock/organization_registry.go
  pkg/identityserver/mock/user_registry.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/is.go
  pkg/ttnpb/field_mask_validation.go
  sdk/js/generated/api-definition.json
Labels: c/identity server, c/gateway server, c/packet broker agent

#6522 dev: Add item to changelog
  CHANGELOG.md
Labels: documentation

#6521 Fix gateway connection stats stuck at `Connecting`
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/gateways.js
Labels: ui/web

#6523 Fix account collaborator-table delete operation
  pkg/webui/account/containers/collaborators-table/index.js
Labels: bug, ui/web, needs/prioritization

#6517 Account for flaky invocationDetails presence in Cypress tests
  cypress/support/e2e.js
Labels: bug

#6538 Handle contact not found gracefuly
  pkg/packetbrokeragent/is.go
Labels: bug, c/packet broker agent

#6563 Feature/4149 convert mac to eui
  cypress/e2e/console/gateways/create.spec.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: c/console, ui/web

#6539 Remove unused modules and messages
  pkg/webui/components/error-notification/story.js
  pkg/webui/components/wizard/context.js
  pkg/webui/components/wizard/form/form.styl
  pkg/webui/components/wizard/form/index.js
  pkg/webui/components/wizard/form/next-button.js
  pkg/webui/components/wizard/form/prev-button.js
  pkg/webui/components/wizard/index.js
  pkg/webui/components/wizard/step.js
  pkg/webui/components/wizard/stepper.js
  pkg/webui/components/wizard/steps.js
  pkg/webui/components/wizard/story.js
  pkg/webui/components/wizard/wizard.js
  pkg/webui/console/components/join-eui-prefixes-input/compute-prefix.js
  pkg/webui/console/components/join-eui-prefixes-input/compute-prefix_test.js
  pkg/webui/console/components/join-eui-prefixes-input/index.js
  pkg/webui/console/components/join-eui-prefixes-input/join-eui-prefixes-input.styl
Labels: technical debt, ui/web

#6540 Fix double fetching of fetch table
  pkg/webui/containers/fetch-table/index.js
Labels: bug, ui/web

#6524 Allow resending the contact info validation email in Console
  CHANGELOG.md
  pkg/webui/components/error-notification/story.js
  pkg/webui/console/store/actions/users.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/with-auth.js
  pkg/webui/locales/en.json
Labels: ui/web

#6561 Make PBA aware of PB tenant authorities
  pkg/packetbrokeragent/grpc_pba.go
Labels: c/packet broker agent

#6566 Miscellaneous metadata-related fixes
  config/messages.json
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/internal/test/test.go
  pkg/networkserver/internal/utils.go
  pkg/networkserver/mac/link_check_test.go
  pkg/networkserver/mac/ping_slot_channel.go
  pkg/networkserver/mac/ping_slot_channel_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/utils.go
  pkg/packetbroker/ids.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/translation.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/zero_test.go
  pkg/util/byteutil/byteutil.go
Labels: c/network server, c/packet broker agent, compat/db

#6562 Update Japanese translations
  CHANGELOG.md
  pkg/webui/components/error-notification/story.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  tools/mage/js.go
  tools/mage/translations.js
Labels: c/shared, ui/web, tooling

#6569 Remove unused Redis store implementations
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
Labels: c/network server, compat/db

#6572 Store webhook request error attributes in attributes
  pkg/applicationserver/io/web/webhooks.go
Labels: c/application server

#6575 Fix class B/C downlink scheduling
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/applications_downlink.go
  cmd/ttn-lw-cli/commands/flags.go
  config/messages.json
  pkg/webui/locales/ja.json
Labels: ui/cli, ui/web

#6577 Fix purge is not purging
  pkg/webui/account/containers/oauth-client-edit/index.js
  pkg/webui/console/containers/application-general-settings/index.js
  pkg/webui/console/containers/organization-form/update.js
  pkg/webui/console/views/gateway-general-settings/index.js
Labels: ui/web

#6578 Fix gateway registration without gateway EUI
  CHANGELOG.md
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
Labels: bug, ui/web
