Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-01, with the labels that each got.

#6009 Remove GORM from IS
  config/messages.json
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/bunstore/migrate.go
  pkg/identityserver/bunstore/registry.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/gormstore/account.go
  pkg/identityserver/gormstore/api_key.go
  pkg/identityserver/gormstore/api_key_store.go
  pkg/identityserver/gormstore/application.go
  pkg/identityserver/gormstore/application_store.go
  pkg/identityserver/gormstore/attribute.go
  pkg/identityserver/gormstore/attribute_store.go
  pkg/identityserver/gormstore/client.go
  pkg/identityserver/gormstore/client_store.go
  pkg/identityserver/gormstore/contact_info.go
  pkg/identityserver/gormstore/contact_info_store.go
  pkg/identityserver/gormstore/contact_info_validation.go
  pkg/identityserver/gormstore/end_device.go
  pkg/identityserver/gormstore/end_device_location.go
  pkg/identityserver/gormstore/end_device_location_store.go
  pkg/identityserver/gormstore/end_device_store.go
  pkg/identityserver/gormstore/entity_search.go
  pkg/identityserver/gormstore/eui_block.go
  pkg/identityserver/gormstore/eui_block_store.go
  pkg/identityserver/gormstore/fieldmask_paths.go
  pkg/identityserver/gormstore/gateway.go
  pkg/identityserver/gormstore/gateway_antenna.go
  pkg/identityserver/gormstore/gateway_antenna_store.go
  pkg/identityserver/gormstore/gateway_store.go
  pkg/identityserver/gormstore/hooks.go
  pkg/identityserver/gormstore/invitation.go
  pkg/identityserver/gormstore/invitation_store.go
  pkg/identityserver/gormstore/login_token.go
  pkg/identityserver/gormstore/login_token_store.go
  pkg/identityserver/gormstore/membership.go
  pkg/identityserver/gormstore/membership_store.go
  pkg/identityserver/gormstore/model.go
  pkg/identityserver/gormstore/model_context.go
  pkg/identityserver/gormstore/notification.go
  pkg/identityserver/gormstore/notification_store.go
  pkg/identityserver/gormstore/oauth.go
  pkg/identityserver/gormstore/oauth_store.go
  pkg/identityserver/gormstore/organization.go
  pkg/identityserver/gormstore/organization_store.go
  pkg/identityserver/gormstore/picture.go
  pkg/identityserver/gormstore/registry.go
  pkg/identityserver/gormstore/scope.go
  pkg/identityserver/gormstore/soft_delete.go
  pkg/identityserver/gormstore/store.go
  pkg/identityserver/gormstore/store_test.go
  pkg/identityserver/gormstore/types.go
  pkg/identityserver/gormstore/user.go
  pkg/identityserver/gormstore/user_session.go
  pkg/identityserver/gormstore/user_session_store.go
  pkg/identityserver/gormstore/user_store.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/identityserver_test.go
  pkg/identityserver/store.go
Labels: c/identity server, compat/db

#6015 Update mellium.im/sasl to v0.3.1
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6018 Upgrade to `pgx/v5`
  go.mod
  go.sum
  pkg/identityserver/bunstore/store.go
  pkg/util/store/db.go
  tools/go.mod
  tools/go.sum
Labels: c/identity server, dependencies, tooling

#6007 Replace `heptiolabs/healthcheck` with `hellofresh/health-go`
  Dockerfile
  go.mod
  go.sum
  pkg/component/component.go
  pkg/component/web.go
  pkg/component/web_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthgo.go
  pkg/healthcheck/healthgo_test.go
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6020 Update server trust error code
  pkg/basicstation/cups/update_info.go
Labels: c/gateway conf server

#6017 Fix events not appearing in Console
  pkg/webui/console/store/middleware/logics/events.js
Labels: bug, ui/web

#6024 Extract PostgreSQL driver errors wrapping to `storeutil`
  config/messages.json
  pkg/identityserver/bunstore/account_store.go
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/application_store.go
  pkg/identityserver/bunstore/attribute_store.go
  pkg/identityserver/bunstore/client_store.go
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/bunstore/end_device_location_store.go
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/bunstore/entity_store.go
  pkg/identityserver/bunstore/eui_store.go
  pkg/identityserver/bunstore/gateway_antenna_store.go
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/bunstore/invitation_store.go
  pkg/identityserver/bunstore/logger.go
  pkg/identityserver/bunstore/login_token_store.go
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/bunstore/notification_store.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/user_session_store.go
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/store/errors.go
  pkg/util/store/error.go
  pkg/util/store/storeutil.go
Labels: c/identity server, compat/db

#6030 golangci-lint issues
  .golangci.yml
  pkg/identityserver/organization_access.go
Labels: c/identity server

#6031 Support TLS client certificates for Backend Interfaces interoperability
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/root.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/grpc_deviceregistry.go
  pkg/applicationserver/payload.go
  pkg/component/component.go
  pkg/component/tls.go
  pkg/config/shared.go
  pkg/config/tlsconfig/config.go
  pkg/crypto/cryptoservices/cryptoservices_test.go
  pkg/crypto/cryptoservices/grpc.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/cryptoutil_test.go
  pkg/crypto/cryptoutil/kek_labelers.go
  pkg/crypto/cryptoutil/kek_labelers_test.go
  pkg/crypto/cryptoutil/keyservice_cache.go
  pkg/crypto/cryptoutil/keyservice_cache_test.go
  pkg/crypto/cryptoutil/keyvault_cache.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyservice.go
  pkg/crypto/keyvault.go
  pkg/crypto/observability.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/interop/config.go
  pkg/interop/server.go
  pkg/joinserver/grpc_application_activation_settings_registry.go
  pkg/joinserver/grpc_application_activation_settings_registry_test.go
  pkg/joinserver/grpc_deviceregistry.go
  pkg/joinserver/grpc_deviceregistry_test.go
  pkg/joinserver/joinserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
Labels: c/join server, c/network server, c/identity server, c/application server, security, compat/config

#6034 Remove unused dependency replacement
  go.mod
Labels: technical debt, dependencies

#6033 Do not copy proto messages
  pkg/identityserver/end_device_registry.go
  pkg/networkserver/downlink.go
Labels: c/network server, c/identity server, technical debt

#6036 LoRa Cloud Improvements
  pkg/applicationserver/io/packages/loradms/v1/api/objects/objects.go
  pkg/applicationserver/io/packages/loradms/v1/package.go
  pkg/applicationserver/io/packages/loragls/v3/package.go
  pkg/networkserver/mac/device_time.go
  pkg/util/lora/lora.go
  pkg/webui/console/components/events/previews/application-location.js
  pkg/webui/console/constants/lora-cloud-das.js
  pkg/webui/console/containers/lora-cloud-das-form/index.js
Labels: c/network server, c/application server, ui/web

#6042 Do not submit LNSURI change accidentally
  pkg/basicstation/cups/update_info.go
Labels: bug, c/gateway conf server

#6037 all: Extract bun logging hook
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/store.go
  pkg/util/store/logger.go
Labels: c/identity server

#6035 Update direct dependencies
  go.mod
  go.sum
  pkg/blob/bucket.go
  pkg/email/smtp/smtp_util_test.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_pba_test.go
  pkg/packetbrokeragent/util_test.go
  tools/go.mod
  tools/go.sum
Labels: c/packet broker agent, technical debt, dependencies, tooling

#5566 Support Redis 7
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/js_db.go
  cmd/ttn-lw-stack/commands/ns_db.go
  cmd/ttn-lw-stack/commands/start.go
  docker-compose.yml
  go.mod
  go.sum
  pkg/applicationserver/io/packages/redis/registry.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/metadata/redis/location_cache.go
  pkg/applicationserver/redis/registry.go
  pkg/events/redis/redis.go
  pkg/events/redis/store.go
  pkg/gatewayserver/redis/registry.go
  pkg/joinserver/redis/registry.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/downlink_task_queue.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/redis/registry_internal_test.go
  pkg/networkserver/redis/scheduled_downlink_matcher.go
  pkg/networkserver/redis/uplink_deduplicator.go
  pkg/redis/errors.go
  pkg/redis/range.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
  pkg/redis/scripts.go
  pkg/util/test/redis.go
  tools/go.mod
  tools/go.sum
Labels: c/join server, c/network server, c/gateway server, c/application server, compat/db, dependencies, tooling
