Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-04, with the labels that each got.

#6139 Fix RPC ordering in PBA
  api/api.md
  api/packetbrokeragent.proto
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.gw.go
  pkg/ttnpb/packetbrokeragent_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: bug, compat/api

#6142 Backport CSP refactor
  pkg/console/console.go
  pkg/identityserver/identityserver.go
  pkg/webui/csp.go
Labels: c/console, c/identity server, ui/web

#6116 Telemetry Exporter
  cmd/internal/shared/config.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-stack/commands/root.go
  cmd/ttn-lw-stack/commands/start.go
  cmd/ttn-lw-stack/commands/utils.go
  config/messages.json
  pkg/config/shared.go
  pkg/identityserver/config.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/telemetry.go
  pkg/telemetry/exporter/cli/cli.go
  pkg/telemetry/exporter/config.go
  pkg/telemetry/exporter/hash.go
  pkg/telemetry/exporter/istelemetry/is.go
  pkg/telemetry/exporter/models/base.go
  pkg/telemetry/exporter/models/entity_data.go
  pkg/telemetry/exporter/models/message.go
  pkg/telemetry/exporter/task_queue.go
  pkg/telemetry/exporter/task_queue_test.go
  pkg/telemetry/exporter/utils.go
Labels: c/identity server, ui/cli, compat/config

#6144 Fetch device from flags before checking CAC
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: bug, ui/cli

#6146 Use Go 1.20
  .github/actions/install-go-and-deps/action.yml
  .github/workflows/go.yml
  CHANGELOG.md
  go.mod
  pkg/email/email_test.go
  tools/go.mod
Labels: dependencies, tooling

#6148 Do not use connection state in peer computation call
  CHANGELOG.md
  cmd/ttn-lw-cli/internal/api/grpc.go
  pkg/cluster/cluster.go
Labels: bug, ui/cli

#6149 Make Go runtime aware of CPU count in containers
  cmd/internal/shared/init.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: performance, scalability, dependencies, tooling

#6151 Validate transmission settings frequency
  CHANGELOG.md
  api/api.md
  api/lorawan.proto
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/webui/console/components/uplink-form/uplink-form.js
  sdk/js/generated/api.json
Labels: c/gateway server, c/application server, compat/api, ui/web

#6152 Fix NS settings parsing
  go.mod
  go.sum
  pkg/networkserver/config.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/internal/test/shared/shared.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server, dependencies, compat/config

#6154 as: Sync normalized payload data model and validation to the latest schema
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
Labels: c/application server

#6158 Remove new lines in tables
  api/api.md
  api/api.md.tmpl
Labels: technical debt

#6161 UDP Gateway Server frontend technical debt fixes
  api/api.md
  api/api.swagger.json
  api/gateway.proto
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_internal_test.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/udp/firewall.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/gateway server, compat/api, technical debt

#6171 Remove unused invalidation key
  pkg/networkserver/redis/redis.go
  pkg/networkserver/redis/registry.go
Labels: bug, c/network server, compat/db, size/small

#6172 Network Server ADR coding style changes
  pkg/networkserver/mac/link_adr.go
  pkg/specification/macspec/specification.go
Labels: c/network server

#6175 Improve DateTime error logging in Sentry
  pkg/webui/lib/components/date-time/index.js
Labels: ui/web

#6168 Check frontend stream status before emiting stats message
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/stream_state.go
  pkg/gatewayserver/io/udp/firewall_ratelimit.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
Labels: c/gateway server

#6174 Network Server ADR styling fixes
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/mac_internal_test.go
  pkg/networkserver/mac/mac_test.go
Labels: c/network server

#6176 Network Server ADR rewrite
  CHANGELOG.md
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/mac/adr_legacy.go
  pkg/networkserver/mac/adr_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/networkserver/mac/utils.go
Labels: c/network server
