Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-11, with the labels that each got.

#6666 Backport: Add limit to deduplication of accumulated metadata
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/redis/uplink_deduplicator.go
  pkg/redis/redis.go
  pkg/redis/redis_test.go
Labels: c/network server, compat/db

#6668 Skip membership chains check if no entities are to be checked
  CHANGELOG.md
  pkg/identityserver/gateway_access.go
  pkg/identityserver/rights.go
Labels: bug, c/identity server

#6667 Console protocol authentication and rate limiting
  config/messages.json
  pkg/console/internal/events/events.go
  pkg/console/internal/events/middleware/auth.go
  pkg/console/internal/events/middleware/middleware.go
  pkg/console/internal/events/protocol/PROTOCOL.md
  pkg/console/internal/events/ratelimit.go
  pkg/console/internal/events/tasks.go
  pkg/ratelimit/resource.go
  pkg/webui/locales/ja.json
Labels: c/console, ui/web

#6687 Use Go 1.21
  .github/actions/install-go-and-deps/action.yml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/band/channel_mask.go
  pkg/band/rpc.go
  pkg/crypto/join_messages_test.go
  pkg/events/redis/store.go
  pkg/fetch/basepath_test.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/i18n/i18n.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/utils.go
  tools/go.mod
  tools/go.sum
Labels: c/network server, c/gateway server, security, compat/db, dependencies, tooling

#6688 Update Packet Broker IAM API
  go.mod
  go.sum
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/grpc_pba.go
  tools/go.mod
  tools/go.sum
Labels: c/packet broker agent, dependencies, tooling

#6693 Update CODEOWNERS
  CODEOWNERS
Labels: documentation

#6690 Do not expose gRPC trailers in the gRPC bridge
  go.mod
  go.sum
  pkg/rpcserver/rpcserver.go
  tools/go.mod
  tools/go.sum
Labels: bug, dependencies, tooling

#6689 Use Gateway Stats Batch API in the Console
  pkg/webui/console/store/middleware/logics/gateways.js
  sdk/js/src/service/gateways.js
Labels: ui/web

#6691 Fix camera switching for ios, android and desktop
  pkg/webui/components/qr/input/video/index.js
  sdk/js/src/service/gateways.js
Labels: ui/web

#6703 doc: Fix links
  CONTRIBUTING.md
Labels: documentation

#6707 console: Fix fetching stats if there are no gateways
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/gateways.js
Labels: bug, ui/web

#6711 Fix universal rights effect on batch gateway rights assertions
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/rights.go
Labels: bug, c/identity server

#6708 Ensure deterministic order of frequency plans
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/lbslns/version.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Labels: c/gateway server, c/gateway conf server

#6715 Use upstream grpc-gateway/v2
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6706 Add CSP Websocket compatibility
  pkg/console/console.go
  pkg/identityserver/identityserver.go
  pkg/webui/csp.go
  pkg/webui/csp_test.go
Labels: c/console, c/identity server, ui/web

#6717 console: Use the events WebSocket API
  CHANGELOG.md
  config/webpack.config.babel.js
  pkg/webui/console/store/middleware/logics/events.js
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/api/stream/shared.js
  sdk/js/src/api/stream/stream-node.js
  sdk/js/src/api/stream/stream.js
  sdk/js/src/api/stream/subscribeToStream.js
  sdk/js/src/index.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
  sdk/js/src/util/combine-streams.js
Labels: ui/web

#6718 console: Rollback old http stream
  pkg/webui/console/containers/device-importer/index.js
  sdk/js/src/api/http.js
  sdk/js/src/api/index.js
  sdk/js/src/api/index.test.js
  sdk/js/src/api/stream/subscribeToHttpStream.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
Labels: bug, ui/web

#6719 Fix Default gateway visibility not updating in Packet Broker view
  pkg/webui/console/views/admin-packet-broker/default-gateway-visibility.js
Labels: ui/web

#6712 Refactor some class components to functional
  config/storybook/preview.js
  pkg/webui/components/breadcrumbs/context.js
  pkg/webui/components/form/field/stories/shared.js
  pkg/webui/components/input/stories/shared.js
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/tag/group/index.js
  pkg/webui/console.js
  pkg/webui/console/components/events/error-boundary.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-template-form/index.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/components/animation/index.js
  pkg/webui/lib/components/date-time/index.js
  pkg/webui/lib/components/env.js
  pkg/webui/lib/errors/custom-errors.js
  pkg/webui/lib/yup.js
Labels: ui/web

#6725 Fix multiple chain rights assertions
  CHANGELOG.md
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/rights.go
Labels: bug, c/identity server

#6724 Refactor old components
  DEVELOPMENT.md
  cypress/e2e/console/integrations/pub-subs/create.spec.js
  pkg/webui/console/components/downlink-form/connect.js
  pkg/webui/console/components/downlink-form/downlink-form.js
  pkg/webui/console/components/downlink-form/index.js
  pkg/webui/console/components/pubsub-form/index.js
  pkg/webui/console/components/pubsub-form/messages.js
  pkg/webui/console/components/uplink-form/connect.js
  pkg/webui/console/components/uplink-form/index.js
  pkg/webui/console/components/uplink-form/uplink-form.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/device-profile-section/device-card/connect.js
  pkg/webui/console/containers/device-profile-section/device-card/device-card.js
  pkg/webui/console/containers/device-profile-section/device-card/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/brand-select/brand-select.js
  pkg/webui/console/containers/device-profile-section/device-selection/brand-select/connect.js
  pkg/webui/console/containers/device-profile-section/device-selection/brand-select/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/fw-version-select/connect.js
  pkg/webui/console/containers/device-profile-section/device-selection/fw-version-select/fw-version-select.js
  pkg/webui/console/containers/device-profile-section/device-selection/fw-version-select/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/hw-version-select/connect.js
  pkg/webui/console/containers/device-profile-section/device-selection/hw-version-select/hw-version-select.js
  pkg/webui/console/containers/device-profile-section/device-selection/hw-version-select/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/model-select/connect.js
  pkg/webui/console/containers/device-profile-section/device-selection/model-select/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/model-select/model-select.js
  pkg/webui/console/containers/device-title-section/connect.js
  pkg/webui/console/containers/device-title-section/device-title-section.js
  pkg/webui/console/containers/device-title-section/index.js
  pkg/webui/console/containers/gateway-connection/connect.js
  pkg/webui/console/containers/gateway-connection/gateway-connection-reactor.js
  pkg/webui/console/containers/gateway-connection/gateway-connection.js
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-connection/useConnectionReactor.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/gateway-location-form/connect.js
  pkg/webui/console/containers/gateway-location-form/gateway-location-form.js
  pkg/webui/console/containers/gateway-location-form/index.js
  pkg/webui/console/containers/organization-events/connect.js
  pkg/webui/console/containers/organization-events/index.js
  pkg/webui/console/containers/organization-events/organization-events.js
  pkg/webui/console/containers/owners-select/connect.js
  pkg/webui/console/containers/owners-select/index.js
  pkg/webui/console/containers/owners-select/owners-select.js
  pkg/webui/console/lib/components/with-feature-requirement.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#6726 Disconnect gateway on Gateway Server address change
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server
