Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-08, with the labels that each got.

#6412 Ensure that jitter can be computed
  pkg/gatewayserver/gatewayserver.go
  pkg/random/random.go
  pkg/random/random_test.go
Labels: bug, c/gateway server

#6400 Refactor Device importer class component and others
  pkg/webui/components/toast/index.js
  pkg/webui/console/components/device-map/index.js
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/components/user-data-form/index.js
  pkg/webui/console/containers/device-importer/form.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/containers/device-importer/messages.js
  pkg/webui/console/containers/device-importer/processor.js
  pkg/webui/console/containers/log-back-in-modal/index.js
  pkg/webui/console/containers/user-data-form/add.js
  pkg/webui/console/containers/user-data-form/edit.js
  pkg/webui/console/views/admin-user-management-add/index.js
  pkg/webui/console/views/admin-user-management-edit/index.js
  pkg/webui/locales/en.json
Labels: ui/web

#6413 Reimplement move away prompt in payload formatter views
  CHANGELOG.md
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/move-away-modal/move-away-modal.js
  pkg/webui/console/views/app/index.js
  pkg/webui/locales/en.json
Labels: ui/web

#6427 Fix middleware error
  cypress/e2e/console/shared/collaborators/add.spec.js
  pkg/webui/console/views/organization-collaborators-list/index.js
Labels: bug, ui/web

#6428 Refactor entity title sections
  pkg/webui/console/containers/application-title-section/application-title-section.js
  pkg/webui/console/containers/application-title-section/connect.js
  pkg/webui/console/containers/application-title-section/index.js
  pkg/webui/console/containers/gateway-title-section/connect.js
  pkg/webui/console/containers/gateway-title-section/gateway-title-section.js
  pkg/webui/console/containers/gateway-title-section/index.js
  pkg/webui/console/containers/organization-title-section/connect.js
  pkg/webui/console/containers/organization-title-section/index.js
  pkg/webui/console/containers/organization-title-section/organization-title-section.js
  pkg/webui/locales/en.json
Labels: ui/web

#6444 Admins no longer triggers client creation notification
  CHANGELOG.md
  pkg/identityserver/client_registry.go
Labels: bug, c/identity server

#6442 Refactor table component
  pkg/webui/components/button/modal-button/index.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/row/index.js
  pkg/webui/components/table/sort-button/index.js
  pkg/webui/components/table/table/index.js
  pkg/webui/console/lib/attributes.js
Labels: ui/web

#6445 Validate current channels length
  config/messages.json
  pkg/networkserver/internal/errors.go
  pkg/networkserver/mac/dl_channel_test.go
  pkg/networkserver/mac/link_adr.go
  pkg/webui/locales/ja.json
Labels: bug, c/network server, ui/web

#6452 Fix packet broker network routing policy links
  CHANGELOG.md
  pkg/webui/console/containers/packet-broker-networks-table/index.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
Labels: bug, ui/web

#6450 Ensure complete identifiers are available in downlink events
  CHANGELOG.md
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/observability.go
Labels: bug, c/application server

#6443 Remove `withRequest` and related selectors and refactor `<Require />`
  pkg/webui/account/containers/authorizations-table/index.js
  pkg/webui/account/containers/clients-table/index.js
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/account/containers/sessions-table/index.js
  pkg/webui/account/containers/tokens-table/index.js
  pkg/webui/account/views/oauth-clients-list/index.js
  pkg/webui/components/rights-group/index.js
  pkg/webui/components/rights-group/use-derived-rights-props.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/packet-broker-networks-table/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/lib/components/require.js
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/application-packages.js
  pkg/webui/console/store/selectors/application-server.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/device-repository.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/identity-server.js
  pkg/webui/console/store/selectors/join-server.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/store/selectors/packet-broker.js
  pkg/webui/console/store/selectors/users.js
  pkg/webui/console/store/selectors/webhooks.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/user-api-keys-list/index.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/components/with-computed-props.js
  pkg/webui/lib/components/with-request.js
  pkg/webui/lib/hooks/use-request.js
Labels: ui/web

#6453 Add NSID to network identifiers
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/identifiers.proto
  pkg/identityserver/config.go
  pkg/identityserver/http_interop.go
  pkg/identityserver/http_interop_test.go
  pkg/identityserver/identityserver_test.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/utils.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/identifiers_json.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/types/aeskey.go
  pkg/types/devaddr.go
  pkg/types/eui.go
  pkg/types/netid.go
  pkg/util/test/test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, c/identity server, compat/config

#6415 Enable telemetry
  CHANGELOG.md
  cmd/internal/shared/config.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
  pkg/identityserver/telemetry.go
  pkg/telemetry/exporter/cli/cli.go
  pkg/telemetry/exporter/config.go
Labels: c/identity server, ui/cli, compat/config

#6460 Merge TTSOS v3.27 into v3.28
  CHANGELOG.md
  cmd/internal/shared/config.go
  cmd/ttn-lw-cli/commands/config.go
  cmd/ttn-lw-cli/commands/root.go
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/observability.go
  pkg/identityserver/telemetry.go
  pkg/telemetry/exporter/cli/cli.go
  pkg/telemetry/exporter/config.go
  pkg/webui/account/containers/authorizations-table/index.js
  pkg/webui/account/containers/clients-table/index.js
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/account/containers/sessions-table/index.js
  pkg/webui/account/containers/tokens-table/index.js
  pkg/webui/account/views/oauth-clients-list/index.js
  pkg/webui/components/rights-group/index.js
  pkg/webui/components/rights-group/use-derived-rights-props.js
  pkg/webui/console/containers/application-title-section/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/packet-broker-networks-table/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/lib/components/require.js
  pkg/webui/console/store/selectors/api-keys.js
  pkg/webui/console/store/selectors/application-packages.js
  pkg/webui/console/store/selectors/application-server.js
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/console/store/selectors/device-repository.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/store/selectors/identity-server.js
  pkg/webui/console/store/selectors/join-server.js
  pkg/webui/console/store/selectors/organizations.js
  pkg/webui/console/store/selectors/packet-broker.js
  pkg/webui/console/store/selectors/users.js
  pkg/webui/console/store/selectors/webhooks.js
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/user-api-keys-list/index.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/components/with-computed-props.js
  pkg/webui/lib/components/with-request.js
  pkg/webui/lib/hooks/use-request.js
  pkg/webui/lib/prop-types.js
Labels: c/identity server, ui/cli, c/application server, ui/web, merge, compat/config

#6456 Use paho.mqtt.golang unreleased version
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6457 Remove css-hot-loader
  package.json
  yarn.lock
Labels: dependencies

#6464 Wait for secondary gateway disconnection
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server

#6465 Refactor ping pong tests
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
Labels: c/gateway server

#6470 Change error margins for device address allocations
  pkg/networkserver/grpc_test.go
  pkg/networkserver/networkserver_internal_test.go
Labels: c/network server

#6468 Fix order of breadcrumbs for device pages in the Console
  CHANGELOG.md
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/gateways/index.js
Labels: bug, ui/web

#6467 Fix PB network policy selectors
  pkg/webui/console/containers/packet-broker-networks-table/index.js
Labels: bug, ui/web

#6472 Merge TTSOS v3.27 into TTSOS v3.28
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
  go.mod
  go.sum
  package.json
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/enddevices/enddevices.go
  pkg/deviceclaimingserver/enddevices/errors/errors.go
  pkg/deviceclaimingserver/enddevices/errors/errors_test.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/messages.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs_test.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/util_test.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/deviceclaimingserver/grpc_end_devices_test.go
  pkg/deviceclaimingserver/util_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/io/ws/ws.go
  pkg/gatewayserver/io/ws/ws_test.go
  pkg/gatewayserver/io/ws/ws_util_test.go
  pkg/healthcheck/healthgo_test.go
  pkg/identityserver/mock/device_registry.go
  pkg/identityserver/mock/mock.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_internal_test.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/deviceclaimingserver.pb.paths.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/deviceclaimingserver_grpc.pb.go
  pkg/ttnpb/deviceclaimingserver_json.pb.go
  pkg/webui/components/notification/index.js
  pkg/webui/components/notification/notification.styl
  pkg/webui/console/containers/network-information-container/index.js
  pkg/webui/console/containers/packet-broker-networks-table/index.js
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/devices/index.js
  pkg/webui/console/views/gateway-api-keys/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/locales/en.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/go.mod
  tools/go.sum
  yarn.lock
Labels: c/network server, c/identity server, ui/cli, c/gateway server, dependencies, ui/web, tooling, merge

#6455 Introduce batch rights assertion for gateways
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway_services.proto
  api/ttn/lorawan/v3/gatewayserver.proto
  config/messages.json
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/is.go
  pkg/gatewayserver/registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
  pkg/identityserver/rights.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gateway_services.pb.paths.fm.go
  pkg/ttnpb/gateway_services.pb.setters.fm.go
  pkg/ttnpb/gateway_services.pb.validate.go
  pkg/ttnpb/gateway_services_grpc.pb.go
  pkg/ttnpb/gateway_services_json.pb.go
  pkg/ttnpb/gatewayserver_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, c/gateway server

#6475 Upgrade pgx from v5.4.2 to v5.4.3
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6474 Fix more Go test races
  go.mod
  go.sum
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/band/band_test.go
  pkg/band/channel_mask.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/telemetry/exporter/task_queue_test.go
  tools/go.mod
  tools/go.sum
Labels: c/gateway server, c/application server, dependencies, tooling

#6459 Support batch deletion of gateways
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway_services.proto
  api/ttn/lorawan/v3/identifiers.proto
  cmd/ttn-lw-cli/commands/gateways.go
  config/messages.json
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/end_device_store.go
  pkg/identityserver/storetest/gateway_store.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  pkg/ttnpb/gateway_services.pb.paths.fm.go
  pkg/ttnpb/gateway_services.pb.setters.fm.go
  pkg/ttnpb/gateway_services.pb.validate.go
  pkg/ttnpb/gateway_services_grpc.pb.go
  pkg/ttnpb/gateway_services_json.pb.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, blocked, compat/db

#6481 Merge TTSOS v3.27 into TTSOS v3.28
  CHANGELOG.md
  go.mod
  go.sum
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/io/pubsub/integrate_test.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/band/band_test.go
  pkg/band/channel_mask.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/telemetry/exporter/task_queue_test.go
  tools/go.mod
  tools/go.sum
Labels: c/gateway server, c/application server, dependencies, tooling, merge

#6478 Show gateway locations retrieved from status messages in the map
  CHANGELOG.md
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/lib/location-to-markers.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#6480 Fix extra limitless request
  pkg/webui/containers/fetch-table/index.js
Labels: ui/web

#6485 Refactoring some class components in the Console
  pkg/webui/components/code-editor/index.js
  pkg/webui/components/input/byte.js
  pkg/webui/components/input/index.js
  pkg/webui/components/input/toggled.js
  pkg/webui/components/pagination/index.js
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/radio-button/group/index.js
  pkg/webui/components/radio-button/radio.js
  pkg/webui/components/tabs/tab/index.js
  pkg/webui/console/components/gateway-map/index.js
  pkg/webui/console/components/location-form/index.js
  pkg/webui/console/lib/location-to-markers.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Labels: ui/web
