Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-03, with the labels that each got.

#6004 Add OpenTelemetry Tracing
  api/application_services.proto
  cmd/internal/shared/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  go.mod
  go.sum
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/observability.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/observability.go
  pkg/identityserver/bunstore/api_key_store.go
  pkg/identityserver/bunstore/application_store.go
  pkg/identityserver/bunstore/client_store.go
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/bunstore/eui_store.go
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/bunstore/invitation_store.go
  pkg/identityserver/bunstore/login_token_store.go
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/bunstore/notification_store.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/bunstore/user_session_store.go
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/observability.go
  pkg/joinserver/joinserver.go
  pkg/joinserver/observability.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/observability.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/observability.go
  pkg/rpcmiddleware/rpctracer/tracer.go
  pkg/telemetry/tracing/config.go
  pkg/telemetry/tracing/context.go
  pkg/telemetry/tracing/errors.go
  pkg/telemetry/tracing/exporter.go
  pkg/telemetry/tracing/tracer/tracer.go
  pkg/telemetry/tracing/tracing.go
  tools/go.mod
  tools/go.sum
Labels: c/join server, c/network server, c/identity server, c/gateway server, c/application server, c/packet broker agent, compat/api, dependencies, tooling, compat/config

#6090 TS003 LoRa Application Layer Clock Sync
  config/messages.json
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/alcsync/v1/alcsync.go
  pkg/applicationserver/io/packages/alcsync/v1/alcsync_test.go
  pkg/applicationserver/io/packages/alcsync/v1/command.go
  pkg/applicationserver/io/packages/alcsync/v1/data.go
  pkg/applicationserver/io/packages/alcsync/v1/data_test.go
  pkg/applicationserver/io/packages/alcsync/v1/messages.go
  pkg/applicationserver/io/packages/alcsync/v1/messages_test.go
  pkg/applicationserver/io/packages/alcsync/v1/package.go
  pkg/applicationserver/io/packages/alcsync/v1/timesync.go
  pkg/applicationserver/io/packages/alcsync/v1/timesync_test.go
Labels: c/application server, compat/config

#6104 Validate device id in the console
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/registration-form-section/validation-schema.js
Labels: ui/web

#6080 Add default error values for backend-origin messages
  pkg/webui/lib/components/with-locale.js
  pkg/webui/lib/errors/utils.js
Labels: in progress, ui/web

#6115 Add default error values for backend-origin messages
  pkg/webui/lib/components/with-locale.js
  pkg/webui/lib/errors/utils.js
Labels: ui/web

#6083 Update device QR scanning communications
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/device-onboarding-form/messages.js
  pkg/webui/locales/en.json
Labels: ui/web

#6106 Upgrade osin
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6119 ALCSync improvements
  api/api.md
  api/applicationserver_integrations_alcsync.proto
  config/messages.json
  pkg/applicationserver/io/packages/alcsync/v1/alcsync.go
  pkg/applicationserver/io/packages/alcsync/v1/alcsync_test.go
  pkg/applicationserver/io/packages/alcsync/v1/command.go
  pkg/applicationserver/io/packages/alcsync/v1/data.go
  pkg/applicationserver/io/packages/alcsync/v1/errors.go
  pkg/applicationserver/io/packages/alcsync/v1/messages.go
  pkg/applicationserver/io/packages/alcsync/v1/messages_test.go
  pkg/applicationserver/io/packages/alcsync/v1/observability.go
  pkg/applicationserver/io/packages/alcsync/v1/package.go
  pkg/applicationserver/io/packages/alcsync/v1/timesync.go
  pkg/applicationserver/io/packages/alcsync/v1/timesync_test.go
  pkg/ttnpb/applicationserver_integrations_alcsync.pb.go
  pkg/ttnpb/applicationserver_integrations_alcsync.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_alcsync.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_alcsync.pb.validate.go
  pkg/ttnpb/applicationserver_integrations_alcsync_json.pb.go
  sdk/js/generated/api.json
Labels: c/application server, compat/api

#6127 Deprecate end devices claim command
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

#6129 Round trip decoded payloads
  CHANGELOG.md
  pkg/applicationserver/payload.go
  pkg/goproto/validate.go
  pkg/goproto/validate_test.go
  pkg/messageprocessors/javascript/javascript.go
Labels: c/application server

#6132 Minor fixes for end device claiming with the CLI
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/util/flags.go
  config/messages.json
Labels: ui/cli
