Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-05, with the labels that each got.

#6166 Use OpenTelemetry `http.RoundTripper`
  go.mod
  go.sum
  pkg/httpclient/http.go
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6178 Use OpenTelemetry gRPC interceptors
  go.mod
  go.sum
  pkg/rpcclient/rpcclient.go
  pkg/rpcserver/rpcserver.go
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6177 Update documentation links in the console
  pkg/webui/components/delete-modal-button/index.js
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/organization-add/index.js
Labels: ui/web

#6167 Use OpenTelemetry `gorilla/mux` middleware
  go.mod
  go.sum
  pkg/web/web.go
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6173 Add translation CSV export for locales
  tools/mage/translations.js
Labels: tooling

#6187 Add ADR channel steering configuration
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/end_device.proto
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_internal_test.go
  pkg/networkserver/mac/adr_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server, compat/api

#6179 console: Fix rendering of DateTime component to fix formatting issues
  pkg/webui/lib/components/date-time/relative.js
Labels: bug, c/console, ui/web

#6196 Refactor device view to fix double rendering
  pkg/webui/components/button/button.styl
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/components/require-request.js
  pkg/webui/lib/hooks/use-request.js
Labels: bug, performance, ui/web

#6204 Fix webhook templates not setting field masks
  CHANGELOG.md
  cypress/fixtures/console/application/integrations/webhook/template.json
  cypress/integration/console/integrations/webhooks/create-with-template.spec.js
  pkg/webui/console/views/application-integrations-webhooks/connect.js
Labels: bug, ui/web

#6206 Fix connection timestamp monotonicity
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/gatewayserver/grpc.go
  pkg/gatewayserver/redis/registry.go
  pkg/gatewayserver/redis/registry_test.go
  pkg/gatewayserver/registry.go
Labels: bug, c/gateway server, compat/db

#6211 Remove proto.Equal workaround
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Labels: c/network server, compat/db

#6212 Update to webpack 5
  .github/actions/install-node-and-deps/action.yml
  DEVELOPMENT.md
  config/webpack.config.babel.js
  config/webpack.dll.babel.js
  cypress/plugins/tasks.js
  package.json
  pkg/webui/console/lib/random-bytes.js
  pkg/webui/lib/components/with-locale.js
  tools/mage/js.go
  yarn.lock
Labels: dependencies, ui/web, tooling

#6194 Backport cluster claiming deprecation.
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/applications_claim.go
  cmd/ttn-lw-cli/commands/end_devices.go
  config/messages.json
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/deviceclaimingserver_test.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.paths.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/deviceclaimingserver_json.pb.go
  sdk/js/generated/api.json
Labels: ui/cli, compat/api

#6183 Fix Authorization header decoding
  CHANGELOG.md
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/components/webhook-form/mapping.js
Labels: ui/web

#6210 Backport Storage uplink return limit
  api/api.md
  api/api.swagger.json
  api/applicationserver_integrations_storage.proto
  cmd/ttn-lw-cli/commands/storage_integration.go
  cmd/ttn-lw-cli/commands/storage_integration_util.go
  config/messages.json
  pkg/ttnpb/applicationserver_integrations_storage.pb.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.paths.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.setters.fm.go
  pkg/ttnpb/applicationserver_integrations_storage.pb.validate.go
  pkg/ttnpb/applicationserver_integrations_storage_json.pb.go
  pkg/ttnpb/fieldmask_utils.go
  pkg/ttnpb/fieldmask_utils_test.go
  sdk/js/generated/api.json
Labels: ui/cli, compat/api

#6157 Fix region name usage in Basics Station
  CHANGELOG.md
  pkg/pfconfig/lbslns/lbslns.go
Labels: bug, c/gateway conf server

#6267 Revert "dev: bump react-router-dom from 5.3.0 to 5.3.4"
  package.json
  yarn.lock
Labels: dependencies

#6221 Log long scheduling delay in the Gateway Server
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/ws/lbslns/upstream.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/telemetry.go
  pkg/networkserver/grpc_gsns.go
Labels: bug, c/network server, c/identity server, c/gateway server

#6272 Support DevEUI QR code
  CHANGELOG.md
  pkg/qrcodegenerator/qrcode/enddevices/dev_eui.go
  pkg/qrcodegenerator/qrcode/enddevices/dev_eui_test.go
  pkg/qrcodegenerator/qrcode/enddevices/enddevices.go
Labels: size/small

#6273 Add experimental automatic steering flag
  CHANGELOG.md
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_test.go
Labels: c/network server

#6276 Parse end device QR code via QR code generator parse endpoint
  cypress/integration/console/devices/onboarding/qr-scan.spec.js
  cypress/integration/console/devices/onboarding/utils.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/console/lib/device-claiming-parse-qr.js
  pkg/webui/console/store/actions/qr-code-generator.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/qr-code-generator.js
  sdk/js/src/index.js
  sdk/js/src/service/qr-code-generator.js
Labels: ui/web

#6281 Remove cancellable promise
  pkg/webui/lib/hooks/use-request.js
Labels: bug, ui/web

#6280 Blacklist items
  pkg/identityserver/blocklist/builtin.go
Labels: c/identity server, size/small
