Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-10, with the labels that each got.

#6583 Batch correlation ID insertions
  pkg/events/redis/store.go
Labels: compat/db

#6579 Convert (some) class components to functional components
  pkg/webui/components/navigation/side/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/lib/components/intl-helmet.js
Labels: technical debt, ui/web

#6612 Backport gateway server tests import update
  pkg/gatewayserver/gatewayserver_test.go
Labels: c/gateway server

#6576 Fix for `WithSoftDelete` failing some specific operations
  CHANGELOG.md
  pkg/identityserver/bunstore/membership_store.go
  pkg/identityserver/registry_search_test.go
Labels: bug, c/identity server

#6568 Allow re-request of validation email before token expires
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/contact_info.proto
  api/ttn/lorawan/v3/identityserver.proto
  cmd/internal/shared/identityserver/config.go
  config/messages.json
  pkg/identityserver/bunstore/contact_info_store.go
  pkg/identityserver/config.go
  pkg/identityserver/contact_info_registry.go
  pkg/identityserver/contact_info_registry_test.go
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/contact_info_store.go
  pkg/ttnpb/contact_info.pb.go
  pkg/ttnpb/contact_info.pb.paths.fm.go
  pkg/ttnpb/contact_info.pb.setters.fm.go
  pkg/ttnpb/contact_info.pb.validate.go
  pkg/ttnpb/contact_info_json.pb.go
  pkg/ttnpb/identityserver.pb.go
  pkg/ttnpb/identityserver.pb.paths.fm.go
  pkg/ttnpb/identityserver.pb.setters.fm.go
  pkg/ttnpb/identityserver.pb.validate.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/db, compat/config

#6585 Reflect an user's `primary_email_address` update on its `contact_info` list
  CHANGELOG.md
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
Labels: c/identity server, technical debt

#6597 Re-add event data generator
  .gitignore
  tools/generate_event_data.go
  tools/mage/go.go
Labels: tooling

#6584 Add event publication auto batching
  cmd/internal/shared/config.go
  cmd/internal/shared/events.go
  pkg/config/shared.go
  pkg/events/batch/batch.go
  pkg/events/batch/batch_test.go
  pkg/events/batch/observability.go
  pkg/events/pubsub.go
  pkg/events/redis/redis.go
  pkg/events/redis/redis_test.go
  pkg/events/redis/store.go
Labels: compat/db, compat/config

#6581 Simplify correlation IDs
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/messages.proto
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/io/grpc/grpc.go
  pkg/component/grpc.go
  pkg/config/shared.go
  pkg/events/correlation_class.go
  pkg/events/correlation_interceptor.go
  pkg/gatewayserver/gatewayserver.go
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/utils.go
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/rpcserver/rpcserver.go
  pkg/ttnpb/messages.pb.go
  sdk/js/generated/api.json
Labels: c/network server, c/gateway server, c/application server, c/packet broker agent, compat/config

#6616 Test RPC field mask definitions
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/field_mask_validation_test.go
  pkg/util/test/apitest/apitest.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
Labels: ui/web

#6618 Resolve infinite render issue with safe inspector
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/console/views/application-data/index.js
Labels: bug, ui/web

#6617 Fix contact info registry tests - email validation flaky test
  pkg/identityserver/contact_info_registry_test.go
Labels: c/identity server

#6619 Optimize Packet Broker Agent uplink token serialization
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/packetbrokeragent.proto
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/grpc_nspba.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/translation_internal_test.go
  pkg/ttnpb/packetbrokeragent.pb.go
  pkg/ttnpb/packetbrokeragent.pb.paths.fm.go
  pkg/ttnpb/packetbrokeragent.pb.setters.fm.go
  pkg/ttnpb/packetbrokeragent.pb.validate.go
  sdk/js/generated/api.json
Labels: performance, c/packet broker agent, scalability, compat/config

#6620 Erase uplink token for old recent uplinks
  CHANGELOG.md
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/grpc_gsns_internal_test.go
Labels: c/network server, performance, scalability

#6622 Remove legacy token unwrapping
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/config.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/translation_internal_test.go
Labels: c/packet broker agent, technical debt, compat/config

#6629 Remove support for NaN and Infinity in decoded payloads
  config/messages.json
  pkg/applicationserver/observability.go
  pkg/applicationserver/payload.go
  pkg/applicationserver/violations.go
  pkg/applicationserver/violations_test.go
  pkg/messageprocessors/javascript/javascript.go
  pkg/webui/locales/ja.json
Labels: c/application server, ui/web

#6631 Fix email templates tests
  pkg/email/templates/templates_test.go
Labels: bug

#6634 Update go-cayenne-lib
  CHANGELOG.md
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6630 Make forwarder information part of the gateway uplink tokens
  pkg/packetbrokeragent/agent.go
  pkg/packetbrokeragent/agent_test.go
  pkg/packetbrokeragent/crypto.go
  pkg/packetbrokeragent/grpc_gspba.go
  pkg/packetbrokeragent/translation.go
  pkg/packetbrokeragent/translation_internal_test.go
Labels: c/packet broker agent

#6621 Quickfix checkbox group not working properly
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/checkbox/group/index.js
Labels: ui/web

#6626 Fix snapcraft telemetry access bug
  .goreleaser.release.yml
  CHANGELOG.md
Labels: bug

#6637 Fix unexpected RekeyInd handling
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/rekey.go
  pkg/networkserver/mac/rekey_test.go
Labels: bug, c/network server

#6615 Support setting multiple frequency plans for gateways from the Console
  CHANGELOG.md
  cypress/e2e/console/gateways/create.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  cypress/e2e/smoke/gateways/create.js
  cypress/e2e/smoke/gateways/subpages.js
  pkg/webui/components/form/field/index.js
  pkg/webui/components/input/byte.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/console/containers/fetch-select/index.js
  pkg/webui/console/containers/freq-plans-select/gs-frequency-plan-select.js
  pkg/webui/console/containers/freq-plans-select/index.js
  pkg/webui/console/containers/freq-plans-select/utils.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/lorawan-settings-form/validation-schema.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#6641 Backport: Remove NS application uplink queue
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/ns_db.go
  config/messages.json
  pkg/networkserver/grpc_asns.go
  pkg/networkserver/internal/test/shared/application_uplink_queue.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/networkserver/utils.go
  pkg/webui/locales/ja.json
Labels: c/network server, compat/db, ui/web

#6613 Fix switch camera
  pkg/webui/components/modal/modal.styl
  pkg/webui/components/qr/input/video/index.js
  pkg/webui/components/qr/qr.styl
Labels: ui/web

#6643 Fix application uplink queue test flake
  pkg/networkserver/redis/application_uplink_queue_test.go
Labels: c/network server, compat/db

#6640 Add transmission settings set flags generation
  api/ttn/lorawan/v3/identifiers.proto
  api/ttn/lorawan/v3/lorawan.proto
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan_flags.pb.go
  pkg/ttnpb/messages_flags.pb.go
Labels: bug

#6647 Use RangeStreams in application uplink queue
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/redis/application_uplink_queue.go
  pkg/networkserver/redis/application_uplink_queue_test.go
  pkg/redis/redis.go
Labels: bug, c/network server, compat/db

#6645 Fix panic on empty device address
  pkg/networkserver/grpc_deviceregistry.go
Labels: bug, c/network server

#6649 Fix DevAddr filter based on NetID configuration
  pkg/packetbrokeragent/agent.go
Labels: c/packet broker agent, size/small

#6642 Retrieve non zero fields during set
  pkg/networkserver/grpc_deviceregistry.go
Labels: c/network server

#6651 Fix frequency plans getting unset if any of the frequency plans is removed
  pkg/webui/console/views/gateway-general-settings/index.js
Labels: ui/web

#6654 Resolve small issues after message deduplication
  pkg/webui/console/components/routing-policy-form/index.js
  pkg/webui/console/components/routing-policy/sheet.js
  pkg/webui/console/lib/packet-broker/messages.js
  pkg/webui/console/views/admin-panel/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#6660 Fix reset session and mac state
  pkg/webui/console/views/device-general-settings/join-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: ui/web

#6659 Fix scroll jumps when selecting tabs of a table
  CHANGELOG.md
  pkg/webui/account/views/app/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/lib/components/scroll-to-top.js
Labels: bug, ui/web
