Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-12, with the labels that each got.

#6731 Fix missing header
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-connection/use-connection-reactor.js
Labels: ui/web

#6734 Check authorization in Basics Station discovery
  CHANGELOG.md
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/ws/format.go
  pkg/gatewayserver/io/ws/lbslns/discover.go
  pkg/gatewayserver/io/ws/lbslns/discover_test.go
  pkg/gatewayserver/io/ws/lbslns/discover_util_test.go
  pkg/gatewayserver/io/ws/ws.go
Labels: bug, c/gateway server

#6710 Add multiple frequency plans to SX1301 config file
  pkg/pfconfig/semtechudp/semtechudp.go
  pkg/pfconfig/semtechudp/semtechudp_test.go
Labels: c/gateway conf server

#6747 Allow to only set frequency plans within the same band
  CHANGELOG.md
  cypress/e2e/console/gateways/create.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/index.js
  pkg/webui/console/containers/freq-plans-select/gs-frequency-plan-select.js
  pkg/webui/console/containers/freq-plans-select/utils.js
  pkg/webui/locales/en.json
Labels: ui/web

#6749 Fix event stream error handling and reconnection
  pkg/webui/console/store/middleware/logics/events.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
Labels: bug, c/sdk/js, ui/web

#6755 Fix websocket stream reconnection
  pkg/webui/console/lib/events/definitions.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/locales/en.json
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
Labels: bug, ui/web

#6753 Restructure relay API messages
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  pkg/networkserver/mac/relay.go
  pkg/networkserver/mac/relay_configure_fwd_limit.go
  pkg/networkserver/mac/relay_configure_fwd_limit_test.go
  pkg/networkserver/mac/relay_ctrl_uplink_list.go
  pkg/networkserver/mac/relay_ctrl_uplink_list_test.go
  pkg/networkserver/mac/relay_update_uplink_list.go
  pkg/networkserver/mac/relay_update_uplink_list_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/relay.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api.json
Labels: c/network server, compat/db

#6756 Fix documentation link to bulk import devices
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/processor.js
Labels: ui/web

#6760 Fix race condition in stream opening
  pkg/webui/console/store/middleware/logics/events.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
Labels: bug, c/sdk/js, ui/web

#6763 Merge v3.28 in v3.29
  CHANGELOG.md
  pkg/webui/console/components/device-import-form/index.js
  pkg/webui/console/containers/device-importer/processor.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/middleware/logics/gateways.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
Labels: c/packet broker agent, merge, compat/config

#6721 Relay configuration interface
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/networkserver_relay.proto
  config/messages.json
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_relay.go
  pkg/networkserver/grpc_relay_validate.go
  pkg/networkserver/mac/relay.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/relay.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/networkserver_relay.pb.go
  pkg/ttnpb/networkserver_relay.pb.gw.go
  pkg/ttnpb/networkserver_relay.pb.paths.fm.go
  pkg/ttnpb/networkserver_relay.pb.setters.fm.go
  pkg/ttnpb/networkserver_relay.pb.validate.go
  pkg/ttnpb/networkserver_relay_grpc.pb.go
  pkg/ttnpb/networkserver_relay_json.pb.go
  pkg/ttnpb/networkserver_relay_validators.go
  pkg/ttnpb/zero_test.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, ui/web

#6777 Event stream reconnection fixes
  pkg/console/internal/events/events.go
  pkg/console/internal/events/eventsmux/mux.go
  pkg/console/internal/events/eventsmux/mux_test.go
  pkg/console/internal/events/subscriptions/subscriptions.go
  pkg/console/internal/events/subscriptions/subscriptions_test.go
  pkg/console/internal/events/tasks.go
  pkg/webui/console/lib/events/utils.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  sdk/js/src/api/stream/shared.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
  sdk/js/src/api/stream/subscribeToWebSocketStreams.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
  sdk/js/src/util/combine-streams.js
Labels: bug, c/console, ui/web

#6776 Fix event stream concurrency and state machine
  pkg/console/internal/events/events.go
  pkg/console/internal/events/eventsmux/mux.go
  pkg/console/internal/events/eventsmux/mux_test.go
  pkg/console/internal/events/subscriptions/subscriptions.go
  pkg/console/internal/events/subscriptions/subscriptions_test.go
  pkg/console/internal/events/tasks.go
  pkg/webui/console/lib/events/utils.js
  pkg/webui/console/store/middleware/logics/events.js
  pkg/webui/console/store/reducers/events.js
  sdk/js/src/api/stream/shared.js
  sdk/js/src/api/stream/subscribeToWebSocketStream.js
  sdk/js/src/api/stream/subscribeToWebSocketStreams.js
  sdk/js/src/service/applications.js
  sdk/js/src/service/devices/index.js
  sdk/js/src/service/gateways.js
  sdk/js/src/service/organizations.js
  sdk/js/src/util/combine-streams.js
Labels: bug, c/console, c/sdk/js, ui/web

#6774 Fix WebSocket request detection
  pkg/console/internal/events/middleware/auth.go
Labels: bug, c/console

#6783 Disable WebSocket compression for Safari
  go.mod
  go.sum
  pkg/console/internal/events/events.go
  tools/go.mod
  tools/go.sum
Labels: bug, c/console, dependencies, tooling

#6786 Fix collaborator validation
  CHANGELOG.md
  pkg/webui/containers/collaborator-form/index.js
Labels: bug, ui/web
