Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2023-02, with the labels that each got.

#6039 Support mTLS with The Things Join Server
  CHANGELOG.md
  config/messages.json
  pkg/config/tlsconfig/config.go
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/enddevices/config.go
  pkg/deviceclaimingserver/enddevices/enddevices.go
  pkg/deviceclaimingserver/enddevices/enddevices_test.go
  pkg/deviceclaimingserver/enddevices/testdata/ttjsv2-localhost.yml
  pkg/deviceclaimingserver/enddevices/ttjsv2/messages.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientcert-1.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientcert-2.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientkey-1.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientkey-2.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/rootCA-key.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/rootCA.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/servercert.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/serverkey.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/testdata.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/tls.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs_test.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/util_test.go
  pkg/deviceclaimingserver/enddevices/util_test.go
  pkg/interop/config.go
Labels: compat/config

#6047 Support getting client certificates by label
  config/messages.json
  pkg/component/tls.go
  pkg/config/tlsconfig/config.go
  pkg/crypto/cryptoutil/cryptoutil.go
  pkg/crypto/cryptoutil/keyservice_cache_test.go
  pkg/crypto/cryptoutil/keyvault_cache.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
  pkg/crypto/cryptoutil/keyvault_empty.go
  pkg/crypto/cryptoutil/keyvault_empty_test.go
  pkg/crypto/cryptoutil/keyvault_mem.go
  pkg/crypto/cryptoutil/keyvault_mem_test.go
  pkg/crypto/keyservice.go
  pkg/crypto/keyvault.go
Labels: security, compat/config

#6050 Configure NSID consistently
  CHANGELOG.md
  pkg/applicationserver/config.go
  pkg/deviceclaimingserver/enddevices/config.go
  pkg/deviceclaimingserver/enddevices/enddevices.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs.go
  pkg/deviceclaimingserver/enddevices/ttjsv2/ttjs_test.go
  pkg/interop/client.go
  pkg/interop/client_test.go
  pkg/networkserver/config.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
Labels: c/network server, c/application server, compat/config

#6051 Prevent open redirects after login
  CHANGELOG.md
  pkg/webui/account/views/login/index.js
Labels: ui/web

#6029 Fix `ttn-lw-cli simulate` flag casing
  api/api.md
  api/simulate.proto
  cmd/ttn-lw-cli/commands/simulate.go
  cmd/ttn-lw-cli/customflags/bytes.go
  cmd/ttn-lw-cli/internal/simulate/simulate.pb.go
  cmd/ttn-lw-cli/internal/simulate/simulate.proto
  cmd/ttn-lw-cli/internal/simulate/simulate_util.go
  pkg/ttnpb/simulate.pb.go
  pkg/ttnpb/simulate.pb.paths.fm.go
  pkg/ttnpb/simulate.pb.setters.fm.go
  pkg/ttnpb/simulate.pb.validate.go
  pkg/ttnpb/simulate_flags.pb.go
  pkg/ttnpb/simulate_json.pb.go
  sdk/js/generated/api.json
Labels: ui/cli, compat/api

#6055 Support key vault cache TTL for errors
  CHANGELOG.md
  pkg/config/shared.go
  pkg/crypto/cryptoutil/keyvault_cache.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
Labels: security, compat/config

#6057 Fix key unwrap caching
  CHANGELOG.md
  pkg/crypto/cryptoutil/keyservice_cache.go
  pkg/crypto/cryptoutil/keyservice_cache_test.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
Labels: security

#6043 Add last invalidation keys removal migration
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/ns_db.go
  pkg/networkserver/redis/registry.go
Labels: c/network server, compat/db

#6052 Fix desired rx1 settings
  CHANGELOG.md
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: bug, ui/web

#6058 Merge v3.24 in v3.25
  CHANGELOG.md
  pkg/config/shared.go
  pkg/crypto/cryptoutil/keyservice_cache.go
  pkg/crypto/cryptoutil/keyservice_cache_test.go
  pkg/crypto/cryptoutil/keyvault_cache.go
  pkg/crypto/cryptoutil/keyvault_cache_test.go
Labels: security, merge, compat/config

#6062 Update blocklist
  pkg/identityserver/blocklist/builtin.go
Labels: c/identity server

#6061 Deprecate cross-application device claiming
  CHANGELOG.md
  api/api.md
  api/api.swagger.json
  api/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/applications_claim.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  sdk/js/generated/api.json
Labels: ui/cli, compat/api

#6064 Add API note for unclaiming devices on delete
  api/api.md
  api/api.swagger.json
  api/end_device_services.proto
  pkg/ttnpb/end_device_services.pb.go
  sdk/js/generated/api.json
Labels: documentation, compat/api, size/small

#6067 Continue deleting devices on unclaim error
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
Labels: ui/cli

#6068 Fix TR005 QR code parsing
  pkg/webui/console/lib/device-claiming-parse-qr.js
Labels: size/small, ui/web

#6070 Add sql formatting to mage
  .github/workflows/general.yml
  pkg/identityserver/store/migrations/20220701140000_update_email_index.tx.up.sql
  pkg/identityserver/store/migrations/20220726092000_account_views.down.sql
  pkg/identityserver/store/migrations/20220726092000_account_views.up.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.down.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.up.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.down.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.up.sql
  tools/mage/sql.go
Labels: c/identity server, tooling

#6077 Update Go dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, tooling

#6069 Fix usage of direct memberships based on an organization rights
  CHANGELOG.md
  pkg/identityserver/bunstore/membership_store.go
Labels: bug, c/identity server

#6079 Trim event streams over time
  pkg/events/redis/store.go
Labels: compat/db

#6082 Convert correlation ID sets to sorted sets
  pkg/events/redis/store.go
Labels: performance, scalability, compat/db
