Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-03, with the labels that each got.

#6965 Apply small fixes to dropdowns
  pkg/webui/components/dropdown/attached.js
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/header/header.styl
  pkg/webui/components/sidebar/side-footer/side-footer.styl
Labels: c/console, ui/web

#6890 Support user's `console_preferences` storage
  api/buf.yaml
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20240103000001_console_preferences.down.sql
  pkg/identityserver/store/migrations/20240103000001_console_preferences.up.sql
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_registry_test.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, compat/db, ui/web

#6953 Fix panel responsiveness, add no notification message and other panels fixes
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/console/containers/documentation-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/shortcut-panel/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/views/overview/index.js
  pkg/webui/lib/components/init.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/main.styl
  pkg/webui/styles/utilities/general.styl
Labels: ui/web

#6962 Fine grained ADR NbTrans controls
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/zero_test.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server

#6968 Add support for user bookmarks
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  api/ttn/lorawan/v3/user_services.proto
  cmd/ttn-lw-cli/commands/users_bookmarks.go
  config/messages.json
  pkg/identityserver/application_registry.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/bunstore/user_bookmarks_store.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/store/errors.go
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.down.sql
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.up.sql
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/user_bookmarks_store.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_bookmark_registry_test.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  pkg/ttnpb/user_services.pb.go
  pkg/ttnpb/user_services.pb.gw.go
  pkg/ttnpb/user_services_grpc.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, ui/cli, compat/db, ui/web

#6974 Fix login page
  pkg/webui/account/containers/logo/index.js
  pkg/webui/account/views/front/front.styl
  pkg/webui/account/views/login/index.js
  pkg/webui/components/notification/notification.styl
Labels: ui/web

#6976 Disable OpenTelemetry metrics
  go.mod
  go.sum
  pkg/httpclient/http.go
  pkg/metrics/registry.go
  pkg/rpcclient/rpcclient.go
  pkg/rpcserver/rpcserver.go
  tools/go.mod
  tools/go.sum
Labels: bug, dependencies, tooling

#6980 Reintroduce deleted translations
  pkg/webui/locales/ja.json
Labels: ui/web

#6978 Complement collaborators
  CHANGELOG.md
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/lib/store/middleware/search-accounts.js
Labels: c/console, ui/web

#6992 Update developer tooling
  .github/workflows/go.yml
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  tools/mage/env.go
  tools/mage/go.go
Labels: tooling

#7010 Release v3.29.2
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Labels: release

#6982 Add user preferences store logic
  pkg/webui/console/store/actions/user-preferences.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/user-preferences.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/user-preferences.js
  pkg/webui/console/store/selectors/user-preferences.js
  sdk/js/src/service/users.js
  sdk/js/src/util/marshaler.js
Labels: c/console, ui/web

#7004 Various fixes to the redesign WIP
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/account/containers/sessions-table/index.js
  pkg/webui/account/containers/tokens-table/index.js
  pkg/webui/account/views/authorize/index.js
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/button/button.styl
  pkg/webui/components/file-input/index.js
  pkg/webui/components/footer/index.js
  pkg/webui/components/input/index.js
  pkg/webui/components/modal/index.js
  pkg/webui/components/qr/input/video/index.js
  pkg/webui/components/qr/require-permission.js
  pkg/webui/components/sidebar/dedicated-entity/dedicated-entity.styl
  pkg/webui/components/sidebar/dedicated-entity/index.js
  pkg/webui/components/sidebar/side-menu/index.js
  pkg/webui/components/sidebar/side-menu/side.styl
  pkg/webui/components/submit-bar/story.js
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/index.js
  pkg/webui/components/table/story/storyData.js
  pkg/webui/components/toast/story.js
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/device-importer/processor.js
  pkg/webui/console/containers/device-onboarding-form/provisioning-form-section/index.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/navigation/app-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-side-navigation.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/views/admin-panel/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/applications/index.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-data/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/notifications/index.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-data/index.js
  pkg/webui/console/views/organizations/index.js
  pkg/webui/console/views/user/index.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/lib/components/with-root-class.js
  pkg/webui/styles/variables/generic.styl
Labels: c/console, ui/web
