Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-12, with the labels that each got.

#7428 Fix delete device modal
  pkg/webui/console/containers/device-overview-header/index.js
Labels: bug, c/console, ui/web

#7429 Fix invitations tab
  pkg/webui/console/containers/users-table/index.js
Labels: bug, c/console, ui/web

#7426 Filter email receivers by user state
  pkg/identityserver/email.go
  pkg/identityserver/notification_registry.go
Labels: c/identity server

#7430 Fix gateway server event data change during marshaling
  config/messages.json
  pkg/events/events.go
  pkg/gatewayserver/gatewayserver.go
  pkg/webui/locales/ja.json
Labels: c/gateway server, ui/web

#7418 Add default pagination limit to Redis
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/start.go
  pkg/applicationserver/config.go
  pkg/applicationserver/io/packages/grpc_test.go
  pkg/applicationserver/io/pubsub/redis/registry.go
  pkg/applicationserver/io/pubsub/redis/registry_test.go
  pkg/applicationserver/io/pubsub/registry.go
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/redis/registry_test.go
  pkg/applicationserver/io/web/registry.go
  pkg/networkserver/config.go
  pkg/networkserver/grpc_mac_settings_profile.go
  pkg/networkserver/grpc_mac_settings_profile_test.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/mac_settings_profile.go
  pkg/networkserver/redis/mac_settings_profile_test.go
  pkg/networkserver/registry.go
  pkg/redis/pagination.go
  pkg/redis/pagination_test.go
Labels: c/network server, c/application server, compat/db, compat/config

#7410 Apply console redesign fixes
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/form/section/index.js
  pkg/webui/components/input/index.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/key-value-map/key-value-map.styl
  pkg/webui/console/components/routing-policy/sheet.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/application-payload-formatters/uplink.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/connections.styl
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/containers/user-data-form/add.js
  pkg/webui/console/views/application-add/index.js
  pkg/webui/console/views/application-api-key-add/index.js
  pkg/webui/console/views/application-api-key-edit/index.js
  pkg/webui/console/views/application-collaborator-add/index.js
  pkg/webui/console/views/application-collaborator-edit/index.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/console/views/application-integrations-mqtt/index.js
  pkg/webui/console/views/application-integrations-pubsub-add/index.js
  pkg/webui/console/views/application-integrations-pubsub-edit/index.js
  pkg/webui/console/views/application-integrations-webhook-add-form/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-location/index.js
  pkg/webui/console/views/device-messaging/index.js
  pkg/webui/console/views/device-payload-formatters/device-payload-formatters.styl
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/console/views/gateway-api-key-add/index.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/console/views/gateway-collaborator-add/index.js
  pkg/webui/console/views/gateway-collaborator-edit/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-location/index.js
  pkg/webui/console/views/gateway-managed-gateway/index.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-api-key-add/index.js
  pkg/webui/console/views/organization-api-key-edit/index.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-general-settings/index.js
  pkg/webui/console/views/user-api-key-add/index.js
  pkg/webui/console/views/user-api-key-edit/index.js
  pkg/webui/console/views/user-settings-oauth-auth-settings/index.js
  pkg/webui/console/views/user-settings-oauth-client-collaborator-add/index.js
  pkg/webui/console/views/user-settings-oauth-client-general-settings/index.js
  pkg/webui/console/views/user-settings-password/index.js
  pkg/webui/console/views/user-settings-profile/index.js
Labels: ui/web

#7433 Fix console crash when receiving unknown notification type
  pkg/webui/console/components/notifications/utils.js
  pkg/webui/console/store/middleware/logics/notifications.js
Labels: c/console, ui/web
