Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-11, with the labels that each got.

#7377 Fix managed gateway stack error
  config/messages.json
  pkg/gatewayconfigurationserver/grpc_test.go
  pkg/gatewayconfigurationserver/managed/grpc_disabled.go
  pkg/gatewayconfigurationserver/managed/managed.go
  pkg/gatewayconfigurationserver/server.go
  pkg/webui/locales/ja.json
Labels: c/gateway conf server, ui/web

#7381 Fix OAuth client authorizations delete request
  CHANGELOG.md
  pkg/webui/console/views/user-settings-oauth-auth-settings/index.js
Labels: ui/web

#7385 Add new `tutorials` field to `UserConsolePreferences`
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_registry_test.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/db

#7396 Implement MAC settings profile CRUD API
  CHANGELOG.md
  api/buf.yaml
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/identifiers.proto
  api/ttn/lorawan/v3/networkserver_mac_settings_profile.proto
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/networkserver/config.go
  pkg/networkserver/grpc_mac_settings_profile.go
  pkg/networkserver/grpc_mac_settings_profile_test.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/networkserver_util_test.go
  pkg/networkserver/redis/mac_settings_profile.go
  pkg/networkserver/redis/mac_settings_profile_test.go
  pkg/networkserver/registry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/identifiers.pb.go
  pkg/ttnpb/identifiers.pb.paths.fm.go
  pkg/ttnpb/identifiers.pb.setters.fm.go
  pkg/ttnpb/identifiers.pb.validate.go
  pkg/ttnpb/identifiers_flags.pb.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.gw.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.paths.fm.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.setters.fm.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.validate.go
  pkg/ttnpb/networkserver_mac_settings_profile_flags.pb.go
  pkg/ttnpb/networkserver_mac_settings_profile_grpc.pb.go
  pkg/ttnpb/networkserver_mac_settings_profile_json.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  tools/mage/header.yml
Labels: c/network server, compat/db, ui/web, tooling, compat/config

#7401 Pausing webhooks
  CHANGELOG.md
  cypress/e2e/console/integrations/webhooks/edit.spec.js
  pkg/webui/components/status/status.styl
  pkg/webui/components/table/index.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/webhook-edit/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/views/application-integrations-webhook-edit/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7405 Update `tools/mage/header.yml` to exclude `.sql`
  tools/mage/header.yml
Labels: tooling

#7411 Update modal component's button
  pkg/webui/components/modal/index.js
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/console/containers/log-back-in-modal/index.js
Labels: ui/web

#7406 backport of support access changes
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/rights.proto
  api/ttn/lorawan/v3/user.proto
  config/messages.json
  pkg/auth/rights/require.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/application_registry_test.go
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/client_registry_test.go
  pkg/identityserver/email.go
  pkg/identityserver/email_validation_registry_test.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/organization_access_test.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/organization_registry_test.go
  pkg/identityserver/rights.go
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_access_test.go
  pkg/identityserver/user_bookmark_registry_test.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_registry_test.go
  pkg/identityserver/user_session_registry_test.go
  pkg/ttnpb/i18n.go
  pkg/ttnpb/identityserver.go
  pkg/ttnpb/rights.go
  pkg/ttnpb/rights.pb.go
  pkg/ttnpb/rights_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/db, ui/web
