Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-06, with the labels that each got.

#7116 Fix `Override server defaults for NbTrans` in device network settings
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Labels: ui/web

#7104 Add gateway status panel
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/status-label/index.js
  pkg/webui/components/status/index.js
  pkg/webui/components/status/status.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/gateway-status-panel/duty-cycle-utilization.js
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/containers/gateway-status-panel/roundtrip-times.js
  pkg/webui/console/containers/gateway-status-panel/transmissions.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/console/store/reducers/tests/gateways_test.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/utilities/spacing.styl
Labels: ui/web

#7113 Add gateway general info panel
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/console/containers/gateway-general-information-panel/gateway-general-information-panel.styl
  pkg/webui/console/containers/gateway-general-information-panel/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7127 Add application map panel
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/application-map-panel/index.js
  pkg/webui/console/components/gateway-map-panel/index.js
  pkg/webui/console/components/map-panel/index.js
  pkg/webui/console/components/map-panel/map-panel.styl
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7100 Various console redesign fixes
  pkg/webui/components/pagination/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/scroll-fader/index.js
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/console/containers/app-status-badge/index.js
  pkg/webui/console/containers/documentation-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/sidebar/navigation/app-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-side-navigation.js
  pkg/webui/console/containers/top-entities-dashboard-panel/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/item.js
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/item.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-entities-panel.styl
  pkg/webui/console/store/selectors/applications.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7138 Fix mutated state in application reducer
  CHANGELOG.md
  package.json
  pkg/webui/console/store/index.js
  pkg/webui/console/store/reducers/devices.js
  yarn.lock
Labels: c/console, dependencies, ui/web

#7141 Update storybook versions
  package.json
  yarn.lock
Labels: dependencies, ui/web

#7145 Don't disconnect gateway on any parsing error
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
Labels: c/gateway server

#7118 Latest decoded payload panel
  pkg/webui/components/code-editor/code-editor.styl
  pkg/webui/components/code-editor/ttn-theme.js
  pkg/webui/components/collapse/index.js
  pkg/webui/components/icon/icon.styl
  pkg/webui/components/icon/index.js
  pkg/webui/components/modal/index.js
  pkg/webui/components/notification/details/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/components/events/event.js
  pkg/webui/console/components/events/index.js
  pkg/webui/console/components/last-seen/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/selectors/device-repository.js
  pkg/webui/console/store/selectors/devices.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/tokens.styl
Labels: ui/web

#7140 Fix storybook compiling error
  CHANGELOG.md
  config/storybook/webpack.config.js
Labels: bug

#7151 Add possibility to overwrite the identityserver emailvalidation TTL value
  api/ttn/lorawan/v3/identityserver.proto
  pkg/identityserver/email_validation_registry.go
  pkg/ttnpb/email_validation.go
  pkg/ttnpb/identityserver.pb.go
Labels: c/identity server

#7142 Open source mTLS and gateway tokens
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gatewaytokens.proto
  config/messages.json
  go.mod
  go.sum
  pkg/auth/mtls/context.go
  pkg/auth/mtls/mtls.go
  pkg/auth/mtls/mtls_test.go
  pkg/auth/mtls/proxy_headers.go
  pkg/auth/mtls/proxy_headers_test.go
  pkg/auth/mtls/testdata/2222222222222222.pem
  pkg/auth/mtls/testdata/store/common/rootCA.pem
  pkg/auth/mtls/testdata/store/index.yml
  pkg/component/component.go
  pkg/config/shared.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewaytokens/gatewaytokens.go
  pkg/gatewaytokens/gatewaytokens_test.go
  pkg/rpcmiddleware/proxy_headers.go
  pkg/ttnpb/gatewaytokens.pb.go
  pkg/ttnpb/gatewaytokens.pb.paths.fm.go
  pkg/ttnpb/gatewaytokens.pb.setters.fm.go
  pkg/ttnpb/gatewaytokens.pb.validate.go
  pkg/ttnpb/gatewaytokens_json.pb.go
  pkg/webmiddleware/proxy_headers.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api.json
Labels: c/gateway server, dependencies, ui/web, compat/config

#7154 Fix empty downlink in application layer clock synchronization
  CHANGELOG.md
  pkg/applicationserver/io/packages/alcsync/v1/alcsync.go
  pkg/applicationserver/io/packages/alcsync/v1/alcsync_test.go
  pkg/applicationserver/io/packages/alcsync/v1/package.go
  pkg/applicationserver/io/packages/alcsync/v1/timesync_test.go
Labels: c/application server

#7128 Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: documentation
