Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-02, with the labels that each got.

#6912 Backport email changes
  pkg/email/config.go
  pkg/email/dir/dir_test.go
  pkg/email/sendgrid/sendgrid_test.go
  pkg/email/smtp/smtp_test.go
  pkg/email/templates/base.html.tmpl
  pkg/email/templates/testdata/api_key_changed.body.golden.html
  pkg/email/templates/testdata/api_key_created.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/client_requested.body.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/collaborator_changed.body.golden.html
  pkg/email/templates/testdata/entity_state_changed.body.golden.html
  pkg/email/templates/testdata/invitation.body.golden.html
  pkg/email/templates/testdata/login_token.body.golden.html
  pkg/email/templates/testdata/password_changed.body.golden.html
  pkg/email/templates/testdata/temporary_password.body.golden.html
  pkg/email/templates/testdata/user_requested.body.golden.html
  pkg/email/templates/testdata/validate.body.golden.html
  pkg/identityserver/config.go
Labels: c/identity server, compat/config

#6911 Add copyright header year check for new files
  .github/workflows/general.yml
  tools/mage/headers.go
Labels: ui/web, tooling

#6917 Add notification events
  config/messages.json
  pkg/identityserver/notification_registry.go
  pkg/webui/locales/ja.json
Labels: c/identity server, ui/web

#6919 Remove @storybook/addon-info
  config/storybook/main.js
  package.json
  pkg/webui/components/breadcrumbs/story.js
  pkg/webui/components/checkbox/story.js
  pkg/webui/components/data-sheet/story.js
  pkg/webui/components/form/field/stories/bytes.stories.js
  pkg/webui/components/form/field/stories/checkbox.stories.js
  pkg/webui/components/form/field/stories/file-input.stories.js
  pkg/webui/components/form/field/stories/input.stories.js
  pkg/webui/components/form/field/stories/radio.stories.js
  pkg/webui/components/form/field/stories/select.stories.js
  pkg/webui/components/form/field/stories/shared.js
  pkg/webui/components/form/field/stories/text-area.stories.js
  pkg/webui/components/form/field/stories/unit-input.stories.js
  pkg/webui/components/form/story.js
  pkg/webui/components/icon/story.js
  pkg/webui/components/input/stories/byte.stories.js
  pkg/webui/components/input/stories/normal.stories.js
  pkg/webui/components/modal/story.js
  pkg/webui/components/navigation/bar/story.js
  pkg/webui/components/navigation/side/story.js
  pkg/webui/components/pagination/story.js
  pkg/webui/components/profile-dropdown/story.js
  pkg/webui/components/profile-picture/story.js
  pkg/webui/components/prompt/story.js
  pkg/webui/components/radio-button/story.js
  pkg/webui/components/safe-inspector/story.js
  pkg/webui/components/table/story/story.js
  pkg/webui/components/tabs/story.js
  pkg/webui/components/tag/story.js
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/lib/components/error-message/story.js
  pkg/webui/lib/components/message/story.js
  tools/mage/js.go
  yarn.lock
Labels: dependencies, ui/web, tooling

#6479 Support notifications in the Console
  cypress/e2e/console/notifications/notifications.spec.js
  package.json
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/spinner/spinner.styl
  pkg/webui/console/components/application-general-settings-form/index.js
  pkg/webui/console/components/notifications/constants.js
  pkg/webui/console/components/notifications/index.js
  pkg/webui/console/components/notifications/templates/api-key-changed.js
  pkg/webui/console/components/notifications/templates/api-key-created.js
  pkg/webui/console/components/notifications/templates/client-requested.js
  pkg/webui/console/components/notifications/templates/collaborator-changed.js
  pkg/webui/console/components/notifications/templates/entity-state-changed.js
  pkg/webui/console/components/notifications/templates/password-changed.js
  pkg/webui/console/components/notifications/templates/template.js
  pkg/webui/console/components/notifications/templates/user-requested.js
  pkg/webui/console/components/notifications/utils.js
  pkg/webui/console/components/routing-policy/sheet.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/device-title-section/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
  pkg/webui/console/containers/notifications/notification-list/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/store/actions/notifications.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/notifications.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/notifications.js
  pkg/webui/console/store/selectors/notifications.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/notifications/index.js
  pkg/webui/lib/components/require-request.js
  pkg/webui/lib/hooks/use-request.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/regexp.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/variables/colors.styl
  pkg/webui/styles/variables/tokens.styl
  sdk/js/src/api/http.js
  sdk/js/src/index.js
  sdk/js/src/service/notifications.js
  yarn.lock
Labels: blocked, dependencies, ui/web

#6921 Remove stylint
  config/stylintrc.json
  package.json
  pkg/webui/components/header/header.styl
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/select/select.styl
  pkg/webui/components/spinner/spinner.styl
  pkg/webui/console/components/panel-view/panel-view.styl
  pkg/webui/styles/fonts.styl
  pkg/webui/styles/mixins.styl
  tools/mage/styl.go
  yarn.lock
Labels: dependencies, ui/web, tooling

#6923 Rename `side-bar` container to `sidebar`
  pkg/webui/components/sidebar/search-button/index.js
  pkg/webui/components/sidebar/search-button/story.js
  pkg/webui/components/sidebar/side-footer/index.js
  pkg/webui/components/sidebar/side-footer/story.js
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/components/sidebar/side-header/side-header.styl
  pkg/webui/components/sidebar/side-menu/item/link.js
  pkg/webui/components/sidebar/side-menu/item/story.js
  pkg/webui/components/sidebar/side-menu/story.js
  pkg/webui/console/containers/sidebar/context.js
  pkg/webui/console/containers/sidebar/header/index.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/navigation/app-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/containers/sidebar/story.js
  pkg/webui/console/containers/sidebar/switcher/index.js
  pkg/webui/console/views/app/index.js
Labels: c/console, ui/web

#6931 Fix table fetching overlay
  pkg/webui/components/table/index.js
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/tabular.styl
Labels: c/console, ui/web

#6932 Fix copyright message
  pkg/webui/components/footer/index.js
Labels: ui/web

#6918 Add notifications dashboard panel
  pkg/webui/components/icon/index.js
  pkg/webui/components/icon/replacements/plus-icon.js
  pkg/webui/components/icon/replacements/sort-icon.js
  pkg/webui/components/icon/replacements/star-icon.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/story.js
  pkg/webui/components/status/index.js
  pkg/webui/components/status/status.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/cell/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/sort-button/index.js
  pkg/webui/components/table/sort-button/sort-button.styl
  pkg/webui/components/table/story/storyData.js
  pkg/webui/components/tag/tag.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/views/overview/index.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/generic.styl
Labels: ui/web

#6941 Fix import for fields wrapper in stories
  pkg/webui/components/form/field/stories/bytes.stories.js
  pkg/webui/components/form/field/stories/checkbox.stories.js
  pkg/webui/components/form/field/stories/file-input.stories.js
  pkg/webui/components/form/field/stories/input.stories.js
  pkg/webui/components/form/field/stories/radio.stories.js
  pkg/webui/components/form/field/stories/select.stories.js
  pkg/webui/components/form/field/stories/text-area.stories.js
  pkg/webui/components/form/field/stories/unit-input.stories.js
  pkg/webui/components/navigation/side/item/item.styl
  pkg/webui/components/navigation/side/story.js
Labels: bug, ui/web

#6930 Apply design review fixes to sidebar
  pkg/webui/components/button/button.styl
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/sidebar/side-footer/side-footer.styl
  pkg/webui/components/sidebar/side-header/side-header.styl
  pkg/webui/console/components/panel-view/index.js
  pkg/webui/lib/hooks/use-cookie-state.js
  pkg/webui/locales/en.json
  pkg/webui/styles/main.styl
  pkg/webui/styles/mixins.styl
Labels: c/console, ui/web

#6925 Add `admin|tech` contact validation on collaborator removal
  config/messages.json
  pkg/identityserver/application_access.go
  pkg/identityserver/application_access_test.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_access_test.go
  pkg/identityserver/errors.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_access_test.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_access_test.go
  pkg/webui/containers/collaborator-form/hooks.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/locales/ja.json
  sdk/js/src/util/marshaler.js
Labels: c/identity server, ui/web

#6926 Add entity's collaborator removal filter to `SearchAccounts`
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/search_services.proto
  pkg/identityserver/bunstore/entity_search.go
  pkg/identityserver/storetest/entity_search.go
  pkg/ttnpb/search_services.pb.go
  pkg/ttnpb/search_services.pb.paths.fm.go
  pkg/ttnpb/search_services.pb.setters.fm.go
  pkg/ttnpb/search_services.pb.validate.go
  pkg/ttnpb/search_services_flags.pb.go
  pkg/ttnpb/search_services_json.pb.go
  sdk/js/generated/api.json
Labels: c/identity server, compat/db

#6944 Fix dependecy issue which is breaking CI
  package.json
  pkg/webui/account/views/front/index.js
  pkg/webui/components/button/index.js
  pkg/webui/components/icon/story.js
  pkg/webui/components/table/story/story.js
  pkg/webui/console/views/app/index.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/components/message/story.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  yarn.lock
Labels: dependencies, ui/web

#6924 Rate limiting Redis backend
  CHANGELOG.md
  cmd/internal/shared/config.go
  cmd/ttn-lw-stack/commands/start.go
  go.mod
  go.sum
  pkg/config/shared.go
  pkg/gatewayserver/io/udp/config.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/ratelimit/config.go
  pkg/ratelimit/rate_limit.go
  pkg/ratelimit/rate_limit_test.go
  tools/go.mod
  tools/go.sum
Labels: c/gateway server, dependencies, tooling, compat/config
