Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-07, with the labels that each got.

#7159 Improve translation duplicate message check tooling
  tools/mage/translations.js
Labels: tooling

#7160 Add interactive dev stack launcher tool
  DEVELOPMENT.md
  config/webpack.config.babel.js
  package.json
  pkg/webui/lib/selectors/env.js
  tools/js/serve-dev-stack.js
  yarn.lock
Labels: dependencies, ui/web, tooling

#7171 Blurry device network activity panel
  pkg/webui/console/views/device-overview/index.js
Labels: ui/web

#7170 Fix nbtrans overrides validation schema
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: ui/web

#7164 Fix purging in the users table
  pkg/webui/console/containers/users-table/index.js
Labels: c/console, ui/web

#7176 Backport new side footer
  pkg/webui/components/sidebar/side-footer/index.js
  pkg/webui/components/sidebar/side-footer/side-footer.styl
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7129 Add application overview end devices panel
  pkg/webui/components/panel/toggle/index.js
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/devices-panel/devices-panel.styl
  pkg/webui/console/containers/devices-panel/index.js
  pkg/webui/console/containers/devices-panel/recent-devices.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7175 Add device map panel
  pkg/webui/console/components/device-map-panel/index.js
  pkg/webui/console/views/device-overview/index.js
Labels: ui/web

#7183 Fix gateway status panel
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/containers/gateway-status-panel/roundtrip-times.js
  pkg/webui/console/containers/gateway-status-panel/transmissions.js
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
Labels: ui/web

#7158 Update The Things Stack binary help text
  pkg/config/shared.go
  pkg/identityserver/config.go
Labels: c/identity server, compat/config

#7187 Fix organizations view
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/organization-title-section/index.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization-data/index.js
  pkg/webui/console/views/organization-overview/index.js
  pkg/webui/console/views/organization-overview/organization-overview.styl
  pkg/webui/console/views/organization/index.js
  pkg/webui/console/views/organization/organization-header.js
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/containers/collaborator-select/util.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7190 Exit early when no MAC version is set
  CHANGELOG.md
  config/messages.json
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
  pkg/webui/locales/ja.json
Labels: c/network server, ui/web

#7194 Fix application map panel
  pkg/webui/console/components/application-map-panel/index.js
Labels: bug, ui/web

#7193 Fix latest decoded payload panel
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
Labels: bug, ui/web

#7197 Fix unhandled video stream in QR code scanner
  CHANGELOG.md
  pkg/webui/components/qr/input/video/index.js
Labels: ui/web

#7192 Fix table styling
  pkg/webui/components/delete-modal-button/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/cell/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/row/index.js
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/index.js
  pkg/webui/components/tabs/tab/index.js
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-panel/recent-devices.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/top-entities-dashboard-panel/item.js
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-gateways/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/generic.styl
Labels: ui/web

#7198 Backport of GCS refactoring
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/deviceclaimingserver.proto
  cmd/ttn-lw-cli/commands/gateways_claim.go
  config/messages.json
  pkg/deviceclaimingserver/config.go
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/gateways_test.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/deviceclaimingserver/grpc_end_devices_test.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/observability/observability.go
  pkg/deviceclaimingserver/registry/gateways/gateways.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/deviceclaimingserver_grpc.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: ui/cli, ui/web, compat/config

#7199 Move schedule downlink tab to first position
  cypress/e2e/console/devices/import.spec.js
  cypress/e2e/console/devices/messaging/edit.spec.js
  cypress/e2e/console/shared/skip-payload-crypto/edit.spec.js
  cypress/e2e/smoke/devices/index.js
  pkg/webui/console/components/downlink-form/index.js
  pkg/webui/console/components/uplink-form/index.js
  pkg/webui/console/views/device-messaging/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: c/console, ui/web

#7191 Add various fixes to the console redesign branch
  pkg/webui/components/modal/index.js
  pkg/webui/components/sidebar/side-footer/index.js
  pkg/webui/components/sidebar/side-footer/side-footer.styl
  pkg/webui/console/components/application-general-settings-form/index.js
  pkg/webui/console/containers/application-general-settings/index.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
  pkg/webui/console/containers/device-info-panel/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/console/views/organization/organization-header.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web
