Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-01, with the labels that each got.

#6807 Fix collaborator validation
  pkg/webui/containers/collaborator-form/index.js
Labels: ui/web

#6785 Fix various issues via sentry
  pkg/webui/components/form/index.js
  pkg/webui/console/containers/device-importer/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Labels: bug, c/console, ui/web

#6823 Add relay configuration commands
  CHANGELOG.md
  api/ttn/lorawan/v3/end_device.proto
  cmd/ttn-lw-cli/commands/relays.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device_flags.pb.go
Labels: ui/cli

#6825 Prevent state changes on unmounted components
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/hooks/use-request.js
Labels: bug, c/console, performance, ui/web

#6773 Organization `fanout_notifications` option
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/organization.proto
  pkg/identityserver/bunstore/organization_store.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/notification_registry_test.go
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.down.sql
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.up.sql
  pkg/identityserver/storetest/organization_store.go
  pkg/ttnpb/organization.pb.go
  pkg/ttnpb/organization.pb.paths.fm.go
  pkg/ttnpb/organization.pb.setters.fm.go
  pkg/ttnpb/organization.pb.validate.go
  pkg/ttnpb/organization_flags.pb.go
  pkg/ttnpb/organization_json.pb.go
  pkg/webui/console/containers/organization-form/form.js
  pkg/webui/console/views/organization/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/identity server, compat/db, ui/web

#6836 Remove `contact_info` from validation process
  api/buf.yaml
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/email_validation.proto
  cmd/ttn-lw-cli/commands/contact_info.go
  cmd/ttn-lw-cli/commands/users_email_validation.go
  config/messages.json
  pkg/identityserver/bunstore/email_validations.go
  pkg/identityserver/bunstore/registry.go
  pkg/identityserver/bunstore/store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/email_validation_registry.go
  pkg/identityserver/email_validation_registry_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/migrations/20231206000000_email_validations.down.sql
  pkg/identityserver/store/migrations/20231206000000_email_validations.up.sql
  pkg/identityserver/store/store_interfaces.go
  pkg/identityserver/storetest/contact_info_store.go
  pkg/identityserver/storetest/email_validations.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/email_validation.pb.go
  pkg/ttnpb/email_validation.pb.gw.go
  pkg/ttnpb/email_validation.pb.paths.fm.go
  pkg/ttnpb/email_validation.pb.setters.fm.go
  pkg/ttnpb/email_validation.pb.validate.go
  pkg/ttnpb/email_validation_grpc.pb.go
  pkg/webui/account/views/validate/index.js
  pkg/webui/console/store/middleware/logics/users.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/src/index.js
  sdk/js/src/service/email-validation.js
Labels: c/identity server, ui/cli, compat/db, bump/minor, ui/web

#6838 Add utility classes
  config/storybook/preview.js
  pkg/webui/lib/components/init.js
  pkg/webui/styles/main.styl
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/utilities/spacing.styl
Labels: c/console, ui/web
