Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2024-10, with the labels that each got.

#7302 Fix console redesign issues
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/components/blurry-noc-metrics-panel/blurry-noc-metrics-panel.styl
  pkg/webui/console/components/blurry-noc-metrics-panel/index.js
  pkg/webui/console/components/total-end-devices-upseller-panel/index.js
  pkg/webui/console/components/total-end-devices-upseller-panel/total-end-devices-upseller-panel.styl
  pkg/webui/styles/variables/tokens.styl
Labels: ui/web

#7321 Fix device ID check for top devices in the app overview
  CHANGELOG.md
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
Labels: bug, c/console, ui/web

#7330 Update DESIGN.md
  DESIGN.md
Labels: documentation

#7322 Fix console redesign issues
  pkg/webui/components/link/link.styl
  pkg/webui/components/map/index.js
  pkg/webui/components/scroll-fader/index.js
  pkg/webui/components/table/tabular.styl
  pkg/webui/console/containers/sidebar/sidebar.styl
Labels: ui/web

#7332 gs: Fix mutated event data causing panics (evtGatewayConnectionStats)
  pkg/gatewayserver/gatewayserver.go
Labels: c/gateway server

#7331 Add mage target for serve dev webui tool
  DEVELOPMENT.md
  tools/js/serve-dev-webui.js
  tools/mage/dev.go
Labels: tooling

#7337 Fix reversed Join Server dev nonce metrics
  CHANGELOG.md
  pkg/joinserver/observability.go
Labels: c/join server

#7354 IS migration improvement
  CHANGELOG.md
  cmd/ttn-lw-stack/commands/is_db.go
  pkg/identityserver/store/migrations/20220726092000_account_views.tx.down.sql
  pkg/identityserver/store/migrations/20220726092000_account_views.tx.up.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.tx.down.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.tx.up.sql
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.tx.down.sql
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.tx.up.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.tx.down.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.tx.up.sql
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.tx.down.sql
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.tx.up.sql
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.tx.down.sql
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.tx.up.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.tx.down.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.tx.up.sql
  pkg/identityserver/store/migrations/20231206000000_email_validations.tx.down.sql
  pkg/identityserver/store/migrations/20231206000000_email_validations.tx.up.sql
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.tx.down.sql
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.tx.up.sql
  pkg/identityserver/store/migrations/20240100200000_contact_info_removal.tx.up.sql
  pkg/identityserver/store/migrations/20240103000001_console_preferences.tx.down.sql
  pkg/identityserver/store/migrations/20240103000001_console_preferences.tx.up.sql
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.tx.down.sql
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.tx.up.sql
  pkg/identityserver/store/migrations/20240806000000_user_rights.tx.down.sql
  pkg/identityserver/store/migrations/20240806000000_user_rights.tx.up.sql
Labels: c/identity server

#7345 Add default limit to IS List RPCs
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/config.go
  pkg/identityserver/store.go
  pkg/identityserver/store/pagination.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Labels: c/identity server, compat/db, compat/config

#7355 Support migration to uint32 RSSI for TTIGW protocol
  go.mod
  go.sum
  pkg/gatewayserver/io/ttigw/mapping.go
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
  tools/go.mod
  tools/go.sum
Labels: c/gateway server, dependencies, tooling

#7356 Unclaim gateway on delete
  cypress/e2e/console/gateways/managed/delete.spec.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-general-settings/messages.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: bug, ui/web

#7357 Backport light mode
  pkg/webui/components/button/button.styl
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/header/header.styl
  pkg/webui/components/pagination/pagination.styl
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/components/search-panel/search-panel.styl
  pkg/webui/components/sidebar/search-button/search-button.styl
  pkg/webui/components/sidebar/side-menu/item/item.styl
  pkg/webui/components/sidebar/side-menu/side.styl
  pkg/webui/components/sidebar/switcher/switcher.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/documentation-dashboard-panel/documentation-dashboard-panel.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/search-panel/search-panel.styl
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-entities-panel.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/styles/variables/colors.styl
  pkg/webui/styles/variables/css-variables.styl
  pkg/webui/styles/variables/tokens.styl
Labels: ui/web
