Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2025-02, with the labels that each got.

#7499 Set default page limit to 100 on AS and NS List RPCs
  CHANGELOG.md
  cmd/internal/shared/applicationserver/config.go
  pkg/networkserver/config.go
Labels: c/network server, compat/config

#7500 Password manager to detect password field on the login page
  CHANGELOG.md
  pkg/webui/account/views/login/index.js
Labels: bug, ui/web

#7502 Change attributes for no_encoder string
  pkg/devicerepository/store/remote/remote.go
Labels: bug

#7508 Update errWebhookDisabled attributes
  config/messages.json
  pkg/applicationserver/io/web/sink/health.go
Labels: c/application server

#7506 Fixes related to the console redesign
  pkg/webui/components/status/status.styl
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
  pkg/webui/console/containers/devices-panel/devices-panel.styl
  pkg/webui/console/containers/devices-panel/index.js
  pkg/webui/console/containers/devices-panel/recent-devices.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
Labels: bug, ui/web

#7512 Add default values to static ADR in MAC settings
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  sdk/js/src/service/devices/index.js
Labels: bug, ui/web

#7514 Reserve values in application, client, device, gateway and rights
  api/ttn/lorawan/v3/application.proto
  api/ttn/lorawan/v3/client.proto
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/gateway.proto
  api/ttn/lorawan/v3/rights.proto
  pkg/ttnpb/application.pb.go
  pkg/ttnpb/client.pb.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/rights.pb.go
Labels: compat/api

#7516 Update CHANGELOG
  CHANGELOG.md
Labels: blocking
