Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2025-03, with the labels that each got.

#7521 Add limit and page fields to PubSub and Webhooks List RPC
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/applicationserver_pubsub.proto
  api/ttn/lorawan/v3/applicationserver_web.proto
  pkg/applicationserver/io/pubsub/grpc_pubsub.go
  pkg/applicationserver/io/web/grpc_webhooks.go
  pkg/ttnpb/applicationserver_pubsub.pb.go
  pkg/ttnpb/applicationserver_pubsub.pb.paths.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.setters.fm.go
  pkg/ttnpb/applicationserver_pubsub.pb.validate.go
  pkg/ttnpb/applicationserver_pubsub_flags.pb.go
  pkg/ttnpb/applicationserver_pubsub_json.pb.go
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/applicationserver_web_json.pb.go
  sdk/js/generated/api.json
Labels: c/application server

#7524 as: Append device attributes to service data uplink
  pkg/applicationserver/applicationserver.go
Labels: c/application server

#7530 as: Append device attributes to service data uplink (backport)
  pkg/applicationserver/applicationserver.go
Labels: c/application server

#7533 Support wildcards in ACME hosts
  CHANGELOG.md
  config/messages.json
  pkg/config/tlsconfig/config.go
  pkg/config/tlsconfig/config_test.go
  pkg/webui/locales/ja.json
Labels: ui/web, compat/config

#7551 Increase downlink scheduling capacity and avoid collisions
  CHANGELOG.md
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_test.go
  pkg/gatewayserver/scheduling/sub_band.go
Labels: c/gateway server

#7515 Associate MAC settings profile
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  pkg/networkserver/downlink.go
  pkg/networkserver/grpc.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_deviceregistry_validate.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/mac/relay.go
  pkg/networkserver/mac/reset.go
  pkg/networkserver/mac/reset_test.go
  pkg/networkserver/mac/utils.go
  pkg/networkserver/mac/utils_internal_test.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/utils.go
  pkg/networkserver/utils_internal_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/identifiers.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server

#7557 Fix go.mod dependencies in tools
  tools/go.mod
  tools/go.sum
Labels: tooling

#7554 Add container padding if live data button is mounted
  CHANGELOG.md
  pkg/webui/console/views/app/index.js
Labels: bug, ui/web

#7568 Fix overflow device info
  CHANGELOG.md
  pkg/webui/components/data-sheet/data-sheet.styl
Labels: bug, ui/web

#7555 Backport enterprise code changes
  cypress/e2e/smoke/applications/subpages.js
  pkg/webui/components/horizontal-scroll-fader/horizontal-scroll-fader.styl
  pkg/webui/components/horizontal-scroll-fader/index.js
  pkg/webui/components/search-panel/index.js
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/cell/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/table/index.js
  pkg/webui/components/tooltip/index.js
  pkg/webui/components/vertical-scroll-fader/index.js
  pkg/webui/components/vertical-scroll-fader/vertical-scroll-fader.styl
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-downlink.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/downlink-message.js
  pkg/webui/console/components/events/previews/gateway-uplink-message.js
  pkg/webui/console/containers/devices-panel/recent-devices.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/containers/fetch-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/tokens.styl
  sdk/js/src/api/http.js
  sdk/js/src/api/stream/subscribeToHttpStream.js
Labels: ui/web

#7544 Disassociate MAC settings profile
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  config/messages.json
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_mac_settings_profile.go
  pkg/networkserver/grpc_mac_settings_profile_test.go
  pkg/networkserver/redis/mac_settings_profile_test.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/networkserver_mac_settings_profile.pb.paths.fm.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, compat/db, ui/web
