Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2025-04, with the labels that each got.

#7576 Add pagination to webhooks and pubsubs
  pkg/webui/components/pagination/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/actions/webhooks.js
  pkg/webui/console/store/middleware/logics/pubsubs.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/console/store/reducers/index.js
  sdk/js/src/service/pubsubs.js
  sdk/js/src/service/webhooks.js
Labels: ui/web

#7584 Fix dark mode
  pkg/webui/assets/img/placeholder/missing-profile-picture-white.svg
  pkg/webui/components/header/index.js
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-picture/index.js
  pkg/webui/components/select/select.styl
  pkg/webui/console/containers/logo/index.js
Labels: ui/web

#7581 Fix dark mode switch back to light
  pkg/webui/console/store/reducers/user-preferences.js
Labels: ui/web

#7585 Fix profile picture rerender
  pkg/webui/components/profile-picture/index.js
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
Labels: ui/web

#7573 Set, unset MAC settings profile to batch of end devices
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/networkserver.proto
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/grpc_deviceregistry_validate.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/networkserver_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server, compat/db, ui/web

#7587 Backport heatmap chart changes
  pkg/webui/console/components/heatmap-chart/chart-utils.js
  pkg/webui/console/components/heatmap-chart/heatmap-chart.styl
  pkg/webui/console/components/heatmap-chart/index.js
Labels: ui/web

#7593 Fix sentry error where interval is not finite
  pkg/webui/console/components/webhook-form/index.js
Labels: bug, ui/web

#7602 Add showing normalized payload in the Console
  CHANGELOG.md
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/normalized-payload.js
  pkg/webui/console/containers/latest-decoded-payload-panel/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Labels: ui/web

#7601 Remove MAC settings profile reference on end device delete
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Labels: c/network server, compat/db
