Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2025-06, with the labels that each got.

#7620 Fix flaky e2e test
  cypress/e2e/console/devices/device-on-othercluster.spec.js
  cypress/e2e/console/devices/device-overview.spec.js
  cypress/e2e/console/devices/edit.spec.js
  cypress/e2e/console/devices/unclaim.spec.js
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  cypress/e2e/smoke/devices/index.js
  cypress/support/commands.js
Labels: bug

#7644 Allow importing more than 100 devices using the CLI tool
  CHANGELOG.md
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/api/grpc.go
Labels: ui/cli

#7621 Fix invalid workflow in CLI telemetry
  CHANGELOG.md
  Dockerfile
  pkg/telemetry/exporter/cli/cli.go
Labels: bug

#7635 Fix race condition caused by location update and marshalling normalized uplink
  pkg/applicationserver/applicationserver.go
Labels: c/application server
