Repository TheThingsNetwork/lorawan-stack, pull requests merged in 2025-01, with the labels that each got.

#7448 Fix error handling in user magament in the Console
  pkg/webui/console/containers/user-data-form/add.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/lib/feature-checks.js
Labels: ui/web

#7473 Fix cannot remove all attributes in general settings
  CHANGELOG.md
  pkg/webui/console/lib/attributes.js
Labels: bug, ui/web

#7476 Fix filter of end devices with `startsWith`
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/store/selectors/top-entities.js
Labels: c/console, ui/web

#7474 Add recvTime to uplink decoder input
  CHANGELOG.md
  pkg/messageprocessors/javascript/javascript.go
  pkg/messageprocessors/javascript/javascript_test.go
Labels: c/application server, dependencies

#7449 Add Network layer BatteryPercentage to ApplicationUplink
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/messages.proto
  pkg/networkserver/grpc_gsns.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_flags.pb.go
  pkg/ttnpb/messages_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Labels: c/network server

#7425 Add live data split view tutorial
  CHANGELOG.md
  api/ttn/lorawan/v3/user.proto
  cypress/support/commands.js
  pkg/identityserver/bunstore/user_store.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user_flags.pb.go
  pkg/webui/assets/misc/split-view-illustration.png
  pkg/webui/console/components/live-data-tutorial/index.js
  pkg/webui/console/components/live-data-tutorial/live-data-tutorial.styl
  pkg/webui/console/containers/event-split-frame/event-split-frame.styl
  pkg/webui/console/containers/event-split-frame/index.js
  pkg/webui/console/store/reducers/user-preferences.js
  pkg/webui/console/views/gateway-api-key-edit/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/tokens.styl
Labels: c/identity server, compat/db, ui/web

#7442 Update e2e instructions
  DEVELOPMENT.md
  cypress/plugins/tasks.js
  tools/js/serve-dev-webui.js
  tools/mage/dev.go
Labels: tooling

#7451 feat: Add device attributes to ApplicationUp messages
  .golangci.yml
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/messages.proto
  cmd/internal/shared/applicationserver/config.go
  cmd/ttn-lw-stack/commands/start.go
  config/messages.json
  pkg/applicationserver/applicationserver.go
  pkg/applicationserver/applicationserver_test.go
  pkg/applicationserver/config.go
  pkg/applicationserver/metadata/cluster.go
  pkg/applicationserver/metadata/end_device_registry.go
  pkg/applicationserver/metadata/end_device_registry_test.go
  pkg/applicationserver/metadata/location_cache.go
  pkg/applicationserver/metadata/location_registry.go
  pkg/applicationserver/metadata/location_registry_test.go
  pkg/applicationserver/metadata/metadata.go
  pkg/applicationserver/metadata/metadata_util_test.go
  pkg/applicationserver/metadata/observability.go
  pkg/applicationserver/metadata/redis/location_cache.go
  pkg/applicationserver/metadata/redis/location_cache_test.go
  pkg/networkserver/grpc_deviceregistry.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/messages.go
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  pkg/ttnpb/messages.pb.setters.fm.go
  pkg/ttnpb/messages.pb.validate.go
  pkg/ttnpb/messages_flags.pb.go
  pkg/ttnpb/messages_json.pb.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
  sdk/js/generated/device-entity-map.json
Labels: c/network server, c/application server, compat/db, ui/web, compat/config

#7489 Impose support user rights limitation on GetAccessToken operation
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/storetest/oauth_store.go
Labels: c/identity server, c/gateway server, security, compat/db, c/gateway conf server, ui/web, compat/config

#7493 Add permission checks to every add action
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/shortcut-panel/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/all-top-entities/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-gateways/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/lib/feature-checks.js
Labels: ui/web

#7494 Fix `LastBatteryPercentage` in the Application Uplink message
  pkg/networkserver/grpc_gsns.go
Labels: c/network server
