Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

gcs: Remove lint warning
  pkg/gatewayconfigurationserver/managed/client/client.go
Owners: @TheThingsNetwork/stack-reviewers-12

gcs: Return gateway capabilities
  pkg/gatewayconfigurationserver/managed/mapping.go
Owners: @TheThingsNetwork/stack-reviewers-12

console: Conditionally show WiFi and ethernet config and connections
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

util: Update The Things Industries CA
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

console: Toggle console theme
  pkg/webui/console/views/app/index.js
  pkg/webui/styles/variables/css-variables.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Switch logos on theme change
  pkg/webui/assets/static/logo-tts-horizontal-white.svg
  pkg/webui/assets/static/tts-logo-icon-white.svg
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/console/containers/logo/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix button hover
  pkg/webui/components/button/button.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix pagination hover
  pkg/webui/components/pagination/pagination.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix select component style
  pkg/webui/components/select/select.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Change code editor theme when console theme changes
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/components/payload-formatters-form/test-form/index.js
  pkg/webui/console/containers/application-payload-formatters/downlink.js
  pkg/webui/console/containers/device-importer/processor.js
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix LoRA cloud logo
  pkg/webui/assets/misc/logo-LoRa-cloud-default.svg
  pkg/webui/assets/misc/logo-LoRa-cloud-white.svg
  pkg/webui/assets/misc/lora-cloud.png
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

Merge pull request #7503 from TheThingsNetwork/release/v3.33.1
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

Merge pull request #7508 from TheThingsNetwork/backport/update-webhook-disabled-error
  config/messages.json
  pkg/applicationserver/io/web/sink/health.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Remove v3.34 changelog notes
  CHANGELOG.md
Owners: none

all: Add sentinel password to redis failover configuration
  pkg/redis/redis.go
Owners: none

fix: fix the wrong error return value
  pkg/gatewayconfigurationserver/managed/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-12

util: Issue client certificate with TTGC domain
  pkg/ttgc/ttgc.go
Owners: none

chore: fix function name
  pkg/networkserver/networkserver.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update tools/go.mod
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Add pagination to webhooks and pubsubs
  pkg/webui/components/pagination/index.js
  pkg/webui/console/containers/pubsubs-table/index.js
  pkg/webui/console/containers/webhooks-table/index.js
  pkg/webui/console/store/actions/pubsubs.js
  pkg/webui/console/store/actions/webhooks.js
  pkg/webui/console/store/middleware/logics/pubsubs.js
  pkg/webui/console/store/middleware/logics/webhooks.js
  pkg/webui/console/store/reducers/index.js
  sdk/js/src/service/pubsubs.js
  sdk/js/src/service/webhooks.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix user preferences
  pkg/webui/console/store/reducers/user-preferences.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix dark mode profile pic and select
  pkg/webui/assets/img/placeholder/missing-profile-picture-white.svg
  pkg/webui/components/header/index.js
  pkg/webui/components/profile-dropdown/index.js
  pkg/webui/components/profile-picture/index.js
  pkg/webui/components/select/select.styl
  pkg/webui/console/containers/logo/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix profile picture rerender
  pkg/webui/components/profile-picture/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix live data dark theme
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/gateway-events/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add SetMACSettingsProfile for batch of end devices
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/networkserver.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/networkserver.pb.go
  pkg/ttnpb/networkserver.pb.gw.go
  pkg/ttnpb/networkserver_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Set, unset MAC settings profile for batch of end devices
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_validate.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Handle MAC settings profile switch
  pkg/networkserver/grpc_deviceregistry.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Add unit test for SetMACSettingsProfile
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Add unit test for BatchSetByID
  pkg/networkserver/internal/test/shared/device_registry.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Filter by paths
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Handle profile change in single device
  pkg/networkserver/grpc_deviceregistry.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

all: Update to Go 1.24
  .github/actions/install-go-and-deps/action.yml
  go.mod
  tools/go.mod
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Update dependencies
  .github/workflows/go.yml
  tools/go.mod
  tools/go.sum
  tools/mage/go.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Fix errors
  pkg/rpcmiddleware/validator/validator.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Backport heatmap chart changes
  pkg/webui/console/components/heatmap-chart/chart-utils.js
  pkg/webui/console/components/heatmap-chart/heatmap-chart.styl
  pkg/webui/console/components/heatmap-chart/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix sentry error where interval is not finite
  pkg/webui/console/components/webhook-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Create normalized payload component
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/normalized-payload.js
  pkg/webui/console/containers/latest-decoded-payload-panel/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add normalized payload to latest payload panel
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none
