Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

all: Enter release date of version 3.36.1 into the changelog
  CHANGELOG.md
Owners: none

dev: Add lint instruction for diff
  AGENTS.md
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Add AGENTS.md file (#7934)
  AGENTS.md
Owners: @TheThingsNetwork/stack-reviewers-1

ci: Use a different build space maximizing action
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

all: Enter release date of version v3.36.1 into the changelog
  CHANGELOG.md
Owners: none

all: Fix changelog
  CHANGELOG.md
Owners: none

ns: Add missing MAC settings profile ID path fields
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_gsns.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

ns: Add factory reset test for ABP devices with MAC settings profile
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Add flow test for OTAA device with MAC settings profile
  pkg/networkserver/networkserver_flow_test.go
  pkg/networkserver/networkserver_util_internal_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix flaky e2e test
  cypress/e2e/console/user-settings/profile.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix failing e2e tests
  config/webpack.config.babel.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix failing e2e tests
  config/webpack.config.babel.js
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Revert mjml from 5.4.0 to 4.18.0
  package.json
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Adopt mjml 5 for email template generation
  pkg/email/templates/DEVELOPMENT.md
  pkg/email/templates/base.html.tmpl
  pkg/email/templates/generate.sh
  pkg/email/templates/testdata/api_key_changed.body.golden.html
  pkg/email/templates/testdata/api_key_created.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/client_requested.body.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/collaborator_changed.body.golden.html
  pkg/email/templates/testdata/entity_state_changed.body.golden.html
  pkg/email/templates/testdata/invitation.body.golden.html
  pkg/email/templates/testdata/login_token.body.golden.html
  pkg/email/templates/testdata/password_changed.body.golden.html
  pkg/email/templates/testdata/temporary_password.body.golden.html
  pkg/email/templates/testdata/user_requested.body.golden.html
  pkg/email/templates/testdata/validate.body.golden.html
Owners: @TheThingsNetwork/stack-reviewers-10

all: Cut off changelog version 3.36.2
  CHANGELOG.md
Owners: none

all: Bump to version 3.36.2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Remove duplicate import statement
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Send PUSH_ACK and PULL_ACK after connect and parsing
  pkg/gatewayserver/io/udp/udp.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Update changelog
  CHANGELOG.md
Owners: none

gs: Add counter for gateway disconnects and reduce logs
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/semtechws/ws.go
  pkg/gatewayserver/io/semtechws/ws_internal_test.go
  pkg/gatewayserver/observability.go
  pkg/task/task_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Enter release date of version 3.36.2 into the changelog
  CHANGELOG.md
Owners: none

console: Fix mac settings profiles
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix storybook
  package.json
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix end to end tests
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix mac settings profile
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Fix rctx field name in LBS LNS upstream messages
  CHANGELOG.md
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

console: Update translations
  pkg/webui/locales/ja.json
Owners: none

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

gs: Fix rctx field name in LBS LNS upstream messages (#8004)
  CHANGELOG.md
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

Reduce noise in GS logs caused by gateway disconnections (#7993)
  CHANGELOG.md
  config/messages.json
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/semtechws/ws.go
  pkg/gatewayserver/io/semtechws/ws_internal_test.go
  pkg/gatewayserver/observability.go
  pkg/task/task_test.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-11

dcs,gcs: Port TTGC LBS CUPS claiming improvements
  CHANGELOG.md
  cmd/internal/shared/config.go
  config/messages.json
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/gateways_test.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/registry/gateways/gateways.go
  pkg/deviceclaimingserver/retry/task.go
  pkg/deviceclaimingserver/retry/task_test.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
  pkg/gatewayconfigurationserver/managed/grpc.go
  pkg/gatewayconfigurationserver/managed/managed.go
  pkg/ttgc/config.go
  pkg/types/eui.go
  pkg/types/eui_test.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-2

dev: Regenerate translations
  pkg/webui/locales/ja.json
Owners: none

dev: Add CLAUDE.md importing AGENTS.md
  AGENTS.md
  CLAUDE.md
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Support downlink scheduling on all gateway antennas
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Send per-board antenna gain to LoRa Basics Station gateways
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/version.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Owners: @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12

dev: Update Go to 1.27 and update dependencies
  .github/workflows/go.yml
  cmd/ttn-lw-stack/commands/root.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-1

util: Fix flaky timeout case in rpcretry unary interceptor test
  pkg/rpcmiddleware/rpcretry/client_interceptors_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Send per-board antenna gain to LoRa Basics Station gateways
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/version.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Owners: @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12

gs: Run antenna gain connection test in parallel
  pkg/gatewayserver/io/io_test.go
Owners: @TheThingsNetwork/stack-reviewers-11
