Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: Add lora cloud banner
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dcs: Update test certs
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientcert-1.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientcert-2.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientkey-1.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/clientkey-2.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/servercert.pem
  pkg/deviceclaimingserver/enddevices/ttjsv2/testdata/serverkey.pem
Owners: @TheThingsNetwork/stack-reviewers-13

console: Fix support message
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix locales
  pkg/webui/locales/en.json
Owners: none

console: Fix e2e test
  cypress/e2e/smoke/applications/subpages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix e2e tests
  cypress/e2e/smoke/applications/subpages.js
Owners: @TheThingsNetwork/stack-reviewers-3

ns: Remove MAC settings profile reference on end device delete
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Remove MAC settings profile reference on batch end device delete
  pkg/networkserver/grpc_deviceregistry.go
  pkg/networkserver/grpc_deviceregistry_test.go
  pkg/networkserver/internal/test/shared/device_registry.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/registry.go
  pkg/networkserver/registry.go
Owners: @TheThingsNetwork/stack-reviewers-1

ci: Add github action for automatic OS merge PR
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Run it on every branch
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Run it on PR
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Run it on any PR
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Use https access
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Fix token name
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Fix repo url
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Try to fetch
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Fetch directly
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Use bot secret
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Continue on error
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Fix shell script
  .github/workflows/merge-os.yml
Owners: @TheThingsNetwork/stack-reviewers-7

console: Improve error messages when claiming a managed gateway
  CHANGELOG.md
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Extract claim gateway error function in utils
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Include docs link on claiming managed gateway errors
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/lib/errors/utils.js
  pkg/webui/lib/prop-types.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement create gateway api key modal
  pkg/webui/components/radio-button/group/index.js
  pkg/webui/components/radio-button/radio.js
  pkg/webui/components/rights-group-modal/index.js
  pkg/webui/components/rights-group-modal/rights-group-modal.styl
  pkg/webui/components/submit-button/index.js
  pkg/webui/console/components/api-key-modal/index.js
  pkg/webui/console/containers/api-key-modal-form/create.js
  pkg/webui/console/containers/create-api-key-modal/index.js
  pkg/webui/lib/prop-types.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Create e2e tests for api key create modal
  cypress/e2e/console/gateways/api-key-modal.spec.js
  pkg/webui/console/containers/api-key-modal-form/create.js
  pkg/webui/console/containers/create-api-key-modal/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Set up initial create gateway api key modal
  pkg/webui/components/form/field/index.js
  pkg/webui/components/modal/index.js
  pkg/webui/components/modal/modal.styl
  pkg/webui/components/submit-button/index.js
  pkg/webui/console/containers/api-key-modal-form/create.js
  pkg/webui/console/containers/api-key-modal-form/form.js
  pkg/webui/console/containers/api-key-modal-form/index.js
  pkg/webui/console/containers/api-key-modal-form/utils.js
  pkg/webui/console/containers/api-key-modal-form/validation-schema.js
  pkg/webui/console/containers/create-api-key-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Download gateway api key as file
  pkg/webui/console/containers/create-api-key-modal/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Reset api key on modal close
  pkg/webui/console/containers/create-api-key-modal/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Extract rights in parent component
  pkg/webui/console/containers/create-api-key-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.34.2
  CHANGELOG.md
Owners: none

console: Fix disabling of generate button
  pkg/webui/console/containers/dev-eui-component/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

ci: Trigger OS merge action in TTI repo
  .github/workflows/trigger-os-merge.yml
Owners: @TheThingsNetwork/stack-reviewers-7

console: Fix links in documentation panel
  pkg/webui/console/containers/documentation-dashboard-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Apply code review suggestions
  CHANGELOG.md
  pkg/webui/components/rights-group-modal/index.js
  pkg/webui/console/constants/entities.js
  pkg/webui/console/containers/api-key-form/create.js
  pkg/webui/console/containers/api-key-form/edit.js
  pkg/webui/console/containers/api-key-form/hooks.js
  pkg/webui/console/containers/api-key-modal-form/create.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Improve panic recover to detect gs race condition
  pkg/events/events.go
Owners: @TheThingsNetwork/stack-reviewers-7

console: Fix user management fetch table
  CHANGELOG.md
  pkg/webui/console/containers/users-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix flaky e2e test
  cypress/e2e/console/devices/device-on-othercluster.spec.js
  cypress/e2e/console/devices/device-overview.spec.js
  cypress/e2e/console/devices/edit.spec.js
  cypress/e2e/console/devices/unclaim.spec.js
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  cypress/e2e/smoke/devices/index.js
  cypress/support/commands.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add white logos to login page
  pkg/webui/account/containers/logo/index.js
  pkg/webui/account/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

ci: Add TTN PR number to merge-os-to-enterprise event
  .github/workflows/trigger-os-merge.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Fix client payload syntax in os merge action
  .github/workflows/trigger-os-merge.yml
Owners: @TheThingsNetwork/stack-reviewers-7
