Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

as: Generate go messages
  config/messages.json
Owners: none

as: Add locales for new events
  pkg/webui/locales/ja.json
Owners: none

console: Backport top entities crush fix
  cypress/e2e/console/user-settings/profile.spec.js
  pkg/webui/console/containers/top-entities-dashboard-panel/all-top-entities/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-gateways/index.js
  pkg/webui/console/store/selectors/top-entities.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  go.mod
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Fix e2e test
  cypress/e2e/console/applications/edit.spec.js
  cypress/e2e/console/devices/edit.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix test
  cypress/e2e/console/applications/edit.spec.js
  cypress/e2e/console/devices/edit.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

Merge pull request #4388 from TheThingsIndustries/fix/top-entity-type-crash
  pkg/webui/console/store/middleware/logics/user-preferences.js
  pkg/webui/console/store/selectors/top-entities.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add MAC v1.2.0
  pkg/webui/console/components/lorawan-version-input/index.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/lib/device-utils_test.js
Owners: @TheThingsNetwork/stack-reviewers-3

util: Move `Gateways` field to `FrequencyPlanDescription`
  pkg/frequencyplans/frequencyplans.go
  pkg/frequencyplans/frequencyplans_test.go
  pkg/frequencyplans/rpc.go
  pkg/frequencyplans/rpc_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

api: Rewrite the comment of `gateways_only` field
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/configuration_services.proto
  pkg/ttnpb/configuration_services.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

api: Add paused field to application webhook message
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/applicationserver_web.proto
  pkg/ttnpb/applicationserver_web.pb.go
  pkg/ttnpb/applicationserver_web.pb.paths.fm.go
  pkg/ttnpb/applicationserver_web.pb.setters.fm.go
  pkg/ttnpb/applicationserver_web.pb.validate.go
  pkg/ttnpb/applicationserver_web_flags.pb.go
  pkg/ttnpb/applicationserver_web_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

as: Skip processing paused webhooks
  pkg/applicationserver/io/web/webhooks.go
Owners: @TheThingsNetwork/stack-reviewers-11

as: Change paused webhook response to not acceptable
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

as: Add test for pausing webhooks, update api definition
  CHANGELOG.md
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/applicationserver_web.proto
  pkg/applicationserver/io/web/webhooks.go
  pkg/applicationserver/io/web/webhooks_test.go
  pkg/ttnpb/applicationserver_web.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11

qrg: Register gateway qr service grpc handler
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/qrcodegenerator/grpc_gateways.go
  pkg/qrcodegenerator/grpc_gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
Owners: @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-12

qrg: Update error messages, api and translations
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/qrcodegenerator.proto
  config/messages.json
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

api: Add gateway qr code service
  api/ttn/lorawan/v3/qrcodegenerator.proto
Owners: @TheThingsNetwork/stack-reviewers-1

qrg: Implement gateway server for qrcodegenerator
  api/ttn/lorawan/v3/qrcodegenerator.proto
  pkg/qrcodegenerator/grpc_gateways.go
  pkg/qrcodegenerator/grpc_gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/ttnpb/qrcodegenerator_grpc.pb.go
  pkg/ttnpb/qrcodegenerator_json.pb.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

api: Generate gateway qr code parser service
  api/ttn/lorawan/v3/qrcodegenerator.proto
Owners: @TheThingsNetwork/stack-reviewers-1

api: Update api definition
  sdk/js/generated/api-definition.json
Owners: none

qrg: Register gateway qr service
  pkg/qrcodegenerator/qrcodegenerator.go
Owners: @TheThingsNetwork/stack-reviewers-12

qrg: Update js api and translations
  sdk/js/generated/api-definition.json
Owners: none

api: Fix proto file
  api/ttn/lorawan/v3/qrcodegenerator.proto
Owners: @TheThingsNetwork/stack-reviewers-1

qrg: Register gateway qr service grpc handler
  pkg/qrcodegenerator/qrcodegenerator.go
Owners: @TheThingsNetwork/stack-reviewers-12

console: Add scran qr code section to gateway registration
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/console/views/gateway-add/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add gateway qr code generator sdk
  pkg/webui/console/store/actions/qr-code-generator.js
  pkg/webui/console/store/middleware/logics/qr-code-generator.js
  sdk/js/src/service/qr-code-generator.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use qr code data in gateway form
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/components/qr/require-permission.js
  pkg/webui/console/containers/device-onboarding-form/messages.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

dev: Add console redesign to the changelog
  CHANGELOG.md
Owners: none

all: Enter release date of version 3.32.0 into the changelog
  CHANGELOG.md
Owners: none

dev: Fix package.json, dependencies and linting
  package.json
  pkg/webui/console/containers/shortcut-panel/shortcut-item/shortcut-item.styl
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Suppress errcheck warnings
  cmd/internal/commands/config.go
  cmd/ttn-lw-cli/internal/util/flags.go
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/metrics/grpc.go
  pkg/ratelimit/grpc.go
  pkg/rpcmiddleware/discover/discover.go
  pkg/rpcmiddleware/warning/warning.go
  pkg/ttnpb/public.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-1

dev: Fix prettier
  package.json
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Support custom TX channels in The Things Industries gateway protocol
  config/messages.json
  go.mod
  go.sum
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/ttigw/mapping.go
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
  pkg/webui/locales/ja.json
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-7

dev: Update changelog
  CHANGELOG.md
Owners: none

dev: Update go modules
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7
