Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

is: Fix email_notification_preferences migration and store
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/user_registry.go
  pkg/webui/console/store/middleware/logics/init.js
  sdk/js/generated/api-definition.json
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-3

console: Add fe validation schema
  pkg/webui/console/containers/profile-settings-form/validation-schema.js
Owners: @TheThingsNetwork/stack-reviewers-3

is, console: Fix sending emails and seeing notifications
  pkg/identityserver/notification_registry.go
  pkg/webui/console/components/notifications/constants.js
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-3

is: Make only one request to get the users
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add test case for emailNotificationPreferences
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Fix email_notification_preferences type and migration
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Remove email preferences check for admins
  api/buf.yaml
  api/ttn/lorawan/v3/notification_service.proto
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/notification_service.pb.go
  pkg/ttnpb/notification_service_json.pb.go
  pkg/ttnpb/user.pb.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Add email notification preferences flow test
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add test for sending emails if admin
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/email.go
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Fix store path
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/email_notification_preferences_test.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Fix tests
  pkg/identityserver/email_notification_preferences_test.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add user preferences
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/store/migrations/20241001000000_email_notification_preferences.tx.down.sql
  pkg/identityserver/store/migrations/20241001000000_email_notification_preferences.tx.up.sql
Owners: @TheThingsNetwork/stack-reviewers-9

is: Address comments
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Improve readability of email preference logic
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add comment
  pkg/ttnpb/notification_service.go
Owners: @TheThingsNetwork/stack-reviewers-1

is: Fix linitng
  pkg/ttnpb/notification_service.go
Owners: @TheThingsNetwork/stack-reviewers-1

is: Fix comment
  pkg/ttnpb/notification_service.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Revert constants
  pkg/webui/console/components/notifications/constants.js
Owners: @TheThingsNetwork/stack-reviewers-3

cli: Add connection timeout and fix context usage
  cmd/ttn-lw-stack/commands/as_db.go
  cmd/ttn-lw-stack/commands/is_db.go
  cmd/ttn-lw-stack/commands/is_db_create_admin_user.go
  cmd/ttn-lw-stack/commands/is_db_create_api_key.go
  cmd/ttn-lw-stack/commands/is_db_create_oauth_client.go
  cmd/ttn-lw-stack/commands/root.go
Owners: @TheThingsNetwork/stack-reviewers-7

is: Add issue in comment
  api/ttn/lorawan/v3/notification_service.proto
  pkg/ttnpb/notification_service.pb.go
Owners: @TheThingsNetwork/stack-reviewers-1

is: Merge two functions into one and add panic
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/notification_registry.go
  pkg/ttnpb/user.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Add missing comment
  pkg/ttnpb/notification_service.go
Owners: @TheThingsNetwork/stack-reviewers-1

is: Remove panic
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Fix panic
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

console: Add correct fetch and fix styling
  pkg/webui/console/containers/email-notifications-form/email-notifications-form.styl
  pkg/webui/console/containers/email-notifications-form/index.js
  pkg/webui/console/views/user-settings-email-notifications/index.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add email notifications form
  pkg/webui/console/containers/email-notifications-form/email-notifications-form.styl
  pkg/webui/console/containers/email-notifications-form/index.js
  pkg/webui/console/containers/profile-settings-form/validation-schema.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/views/user-settings-email-notifications/index.js
  pkg/webui/console/views/user-settings/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages and unsusbcribe all
  pkg/webui/console/containers/email-notifications-form/index.js
  pkg/webui/console/views/user-settings-email-notifications/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix width
  pkg/webui/console/containers/email-notifications-form/email-notifications-form.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update checkbox to handle descriptions better
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/console/containers/email-notifications-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.32.3
  CHANGELOG.md
Owners: none

all: Bump to version 3.32.2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Enter release date of version 3.32.2 into the changelog
  CHANGELOG.md
Owners: none

all: Cut off changelog version 3.32.3
  CHANGELOG.md
Owners: none

all: Bump to version 3.32.3
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

is: Fix console_preferences update
  pkg/identityserver/bunstore/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

all: Enter release date of version 3.32.3 into the changelog
  CHANGELOG.md
Owners: none

all: Fix squash usage
  pkg/config/tlsconfig/config.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Remove version
  docker-compose.yml
Owners: @TheThingsNetwork/stack-reviewers-1

api: Add managed gateway capabilities
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway.proto
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_configuration.pb.paths.fm.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/gateway_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Force IPv4 to connect to Postgres
  cypress/plugins/tasks.js
Owners: @TheThingsNetwork/stack-reviewers-3

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
