Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

dcs: Add registry package
  pkg/deviceclaimingserver/registry/gateways/gateways.go
Owners: @TheThingsNetwork/stack-reviewers-13

dev: Update messages related to DCS
  config/messages.json
Owners: none

dev: Add js translations
  pkg/webui/locales/ja.json
Owners: none

dcs: Update gateways grpc and grpc_tests
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Update configuration
  pkg/deviceclaimingserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Add types package
  pkg/deviceclaimingserver/types/types.go
Owners: @TheThingsNetwork/stack-reviewers-13

cli: Deprecate gateway claims commands
  cmd/ttn-lw-cli/commands/gateways_claim.go
Owners: @TheThingsNetwork/stack-reviewers-7

dcs: Add gateways and ttgc packages
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/gateways_test.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Add observability package
  pkg/deviceclaimingserver/observability/observability.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Update end devices grpc and grpc_tests
  pkg/deviceclaimingserver/grpc_end_devices.go
  pkg/deviceclaimingserver/grpc_end_devices_test.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

console: Refactor delete modal
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

all: Implement events subscription multiplexer
  pkg/events/mux/matchers.go
  pkg/events/mux/mux.go
  pkg/events/mux/mux_store_test.go
  pkg/events/mux/mux_test.go
  pkg/events/store.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Add IEEE mappings groundwork
  pkg/ieee/ieee.go
  pkg/ieee/oui.go
Owners: none

is: Authenticate gateway tokens
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/entity_access.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-9

all: Respect context cancellation in stream partition iteration
  pkg/events/redis/store.go
Owners: @TheThingsNetwork/stack-reviewers-7

gs: Add The Things Industries gateway frontend
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/config.go
  pkg/gatewayserver/gatewayserver.go
  pkg/gatewayserver/io/ttigw/config.go
  pkg/gatewayserver/io/ttigw/mapping.go
  pkg/gatewayserver/io/ttigw/testdata/aaee000000000000-key.pem
  pkg/gatewayserver/io/ttigw/testdata/aaee000000000000.pem
  pkg/gatewayserver/io/ttigw/testdata/bbff000000000000-key.pem
  pkg/gatewayserver/io/ttigw/testdata/bbff000000000000.pem
  pkg/gatewayserver/io/ttigw/testdata/clientcakey.pem
  pkg/gatewayserver/io/ttigw/testdata/mtls/common/clientcacert.pem
  pkg/gatewayserver/io/ttigw/testdata/mtls/index.yml
  pkg/gatewayserver/io/ttigw/testdata/serverca.pem
  pkg/gatewayserver/io/ttigw/testdata/servercert.pem
  pkg/gatewayserver/io/ttigw/testdata/serverkey.pem
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-11

gcs: Rename package for The Things Kickstarter Gateway
  cmd/internal/shared/gatewayconfigurationserver/config.go
  pkg/gatewayconfigurationserver/config.go
  pkg/gatewayconfigurationserver/server.go
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayconfigurationserver/ttkg/config.go
  pkg/gatewayconfigurationserver/ttkg/http_frequency_plan.go
  pkg/gatewayconfigurationserver/ttkg/http_gateway.go
  pkg/gatewayconfigurationserver/ttkg/middleware.go
  pkg/gatewayconfigurationserver/ttkg/server.go
  pkg/gatewayconfigurationserver/ttkg/server_test.go
  pkg/gatewayconfigurationserver/ttkg/utils_test.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-12

gs: Fix setting absolute time in gateway status to server time
  pkg/gatewayserver/io/semtechws/lbslns/version.go
  pkg/gatewayserver/io/semtechws/ws_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Return client certificate from peer
  pkg/auth/mtls/context.go
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Resolve lint warnings
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/iotest/util.go
Owners: @TheThingsNetwork/stack-reviewers-11

api: Define services to manage WiFi and Ethernet profiles
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway.proto
  api/ttn/lorawan/v3/gateway_configuration.proto
  pkg/ttnpb/field_mask_validation.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_configuration.pb.go
  pkg/ttnpb/gateway_configuration.pb.gw.go
  pkg/ttnpb/gateway_configuration.pb.paths.fm.go
  pkg/ttnpb/gateway_configuration.pb.setters.fm.go
  pkg/ttnpb/gateway_configuration.pb.validate.go
  pkg/ttnpb/gateway_configuration_flags.pb.go
  pkg/ttnpb/gateway_configuration_grpc.pb.go
  pkg/ttnpb/gateway_configuration_json.pb.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/gateway_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

gcs: Add managed gateway event subscriber client
  pkg/gatewayconfigurationserver/managed/client/client.go
  pkg/gatewayconfigurationserver/managed/client/observability.go
Owners: @TheThingsNetwork/stack-reviewers-12

gs: Simplify Semtech web socket listeners
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Remove obsolete setting
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/semtechws/lbslns/lbslns_test.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

api: Define managed gateway
  api/buf.yaml
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway.proto
  api/ttn/lorawan/v3/gateway_configuration.proto
  api/ttn/lorawan/v3/gateway_services.proto
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_configuration.pb.go
  pkg/ttnpb/gateway_configuration.pb.gw.go
  pkg/ttnpb/gateway_configuration_grpc.pb.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/gateway_json.pb.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services_grpc.pb.go
  pkg/types/types.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2

all: Regenerate messages
  config/messages.json
  pkg/webui/locales/ja.json
Owners: none

is,gcs: Support gateway tokens in mock IS
  pkg/gatewayconfigurationserver/server_test.go
  pkg/gatewayserver/gatewayserver_test.go
  pkg/identityserver/mock/gateway_registry.go
  pkg/identityserver/mock/mock.go
Owners: @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-9

all: Add TLS auth info to peer if available
  pkg/webmiddleware/peer.go
  pkg/webmiddleware/peer_test.go
Owners: @TheThingsNetwork/stack-reviewers-8

gs: Improve logging
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

gcs: Add gateway managed via Gateway Controller
  pkg/component/component.go
  pkg/gatewayconfigurationserver/config.go
  pkg/gatewayconfigurationserver/managed/grpc.go
  pkg/gatewayconfigurationserver/managed/grpc_ethernet_profiles.go
  pkg/gatewayconfigurationserver/managed/grpc_util.go
  pkg/gatewayconfigurationserver/managed/grpc_wifi_profiles.go
  pkg/gatewayconfigurationserver/managed/managed.go
  pkg/gatewayconfigurationserver/managed/mapping.go
  pkg/gatewayconfigurationserver/server.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

gcs: Skip first managed gateway update
  pkg/gatewayconfigurationserver/managed/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-12

gs: Fix potential panic
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Support customizing the component config
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/semtechws/lbslns/lbslns_test.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Provide HTTP client
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/semtechws/lbslns/discover_util_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Improve test logging
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Treat dropping CRC and invalid LoRaWAN frames differently
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/semtechws/lbslns/lbslns_test.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Harmonize config description
  pkg/gatewayserver/io/semtechws/config.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Test Tx acknowledgment error
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Expose encoding gateway tokens to string
  pkg/gatewaytokens/gatewaytokens.go
Owners: none

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
