Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

all: Enter release date of version 3.36.0 into the changelog
  CHANGELOG.md
Owners: none

gs: Cancel the context when downlink path expired
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Regenerate expired interop test TLS certificates
  pkg/interop/testdata/clientcert.pem
  pkg/interop/testdata/clientkey.pem
  pkg/interop/testdata/servercert.pem
  pkg/interop/testdata/serverkey.pem
Owners: @TheThingsNetwork/stack-reviewers-1

is: Add session expiry configuration
  CHANGELOG.md
  pkg/account/server.go
  pkg/account/server_test.go
  pkg/account/session/session.go
  pkg/account/user.go
  pkg/identityserver/config.go
  pkg/identityserver/identityserver.go
  pkg/oauth/config.go
  pkg/oauth/server.go
Owners: @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-9

dev: Fix quality issues
  pkg/account/server_test.go
  pkg/oauth/config.go
Owners: @TheThingsNetwork/stack-reviewers-10

is: Reject access tokens and refreshes past session expiry
  CHANGELOG.md
  pkg/identityserver/entity_access.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10

util: Simplify changelog message
  CHANGELOG.md
Owners: none

dev: Create new GetAccessTokenWithSession to minimize calls
  config/messages.json
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/store_interfaces.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Fix tests and linter issues
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/entity_access_test.go
  pkg/oauth/server_test.go
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10

is: Configure user session expiry (#7899)
  CHANGELOG.md
  config/messages.json
  pkg/account/server.go
  pkg/account/server_test.go
  pkg/account/session/session.go
  pkg/account/user.go
  pkg/identityserver/bunstore/oauth_store.go
  pkg/identityserver/config.go
  pkg/identityserver/entity_access.go
  pkg/identityserver/entity_access_test.go
  pkg/identityserver/identityserver.go
  pkg/identityserver/store/store_interfaces.go
  pkg/oauth/config.go
  pkg/oauth/server.go
  pkg/oauth/server_test.go
  pkg/oauth/storage.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-9

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Downgrade bun
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Downgrade bun
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Improve gateway error messages
  pkg/webui/lib/errors/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Downgrade Redis
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

is: Add Count RPC to EndDevice registry
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/end_device_services.proto
  pkg/identityserver/end_device_registry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/end_device_services_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Add filter support to Count RPC for EndDeviceRegistry
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/end_device.proto
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/end_device_registry.go
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Add tests for EndDeviceRegistry Count RPC
  pkg/identityserver/end_device_registry_test.go
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

dcs: Update claimer interface to accept all the gateway ids
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/gateways/ttgc/ttiv1.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Update claimer interface to accept all the gateway ids (#7916)
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/gateways/ttgc/ttiv1.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

all: Cut off changelog version 3.36.1
  CHANGELOG.md
Owners: none

dev: Update dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

all: Bump to version 3.36.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Downgrade Redis client
  go.mod
  go.sum
Owners: @TheThingsNetwork/stack-reviewers-1

console: Update qr code suffix for opening status page
  pkg/webui/lib/errors/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update translations
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Add link to gateway status
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/lib/errors/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove fleets from stack
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix translations
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

ci: Add workflow summaries to release actions
  .github/workflows/release-rc.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Add AGENTS.md file
  AGENTS.md
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Limit `goreleaser` parallelism
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

ci: Use a different build space maximizing action
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7
