Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

dev: Fix changelog
  CHANGELOG.md
Owners: none

dev: Fix notifications in e2e tests
  cypress/e2e/console/admin-panel/packet-broker/default-gateway-visibility.spec.js
  cypress/e2e/console/admin-panel/packet-broker/routing-policies.spec.js
  cypress/e2e/console/applications/edit.spec.js
  cypress/e2e/console/devices/device-overview.spec.js
  cypress/e2e/console/devices/edit.spec.js
  cypress/e2e/console/devices/messaging/edit.spec.js
  cypress/e2e/console/devices/onboarding/claiming.spec.js
  cypress/e2e/console/devices/onboarding/manual-registration.spec.js
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  cypress/e2e/console/gateways/location/create.spec.js
  cypress/e2e/console/gateways/location/edit.spec.js
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
  cypress/e2e/console/gateways/managed/wifi-profiles.spec.js
  cypress/e2e/console/integrations/pub-subs/edit.spec.js
  cypress/e2e/console/integrations/webhooks/edit.spec.js
  cypress/e2e/console/organizations/edit.spec.js
  cypress/e2e/console/shared/api-keys/edit.spec.js
  cypress/e2e/console/shared/collaborators/edit.spec.js
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  cypress/e2e/console/user-settings/change-password.spec.js
  cypress/e2e/console/user-settings/oauth-clients/edit.spec.js
  cypress/e2e/console/user-settings/profile.spec.js
  cypress/e2e/console/user-settings/session-management.spec.js
  cypress/e2e/smoke/profile-settings/index.js
  cypress/e2e/smoke/user-settings/index.js
  pkg/webui/components/toast/toast.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  cypress/e2e/console/organizations/edit.spec.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix settings toast test
  cypress/e2e/console/devices/device-overview.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

qrg: Implement gateway server for qrcodegenerator
  api/ttn/lorawan/v3/qrcodegenerator.proto
  pkg/qrcodegenerator/grpc_gateways.go
  pkg/qrcodegenerator/grpc_gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.gw.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/ttnpb/qrcodegenerator_grpc.pb.go
  pkg/ttnpb/qrcodegenerator_json.pb.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

api: Add gateway qr code service
  api/ttn/lorawan/v3/qrcodegenerator.proto
Owners: @TheThingsNetwork/stack-reviewers-1

qrg: Update error messages, api and translations
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/qrcodegenerator.proto
  config/messages.json
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

qrg: Update parse gateway qr response
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/qrcodegenerator.proto
  pkg/qrcodegenerator/grpc_gateways.go
  pkg/qrcodegenerator/grpc_gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcodegenerator.go
  pkg/ttnpb/qrcodegenerator.pb.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/ttnpb/qrcodegenerator.pb.setters.fm.go
  pkg/ttnpb/qrcodegenerator.pb.validate.go
  pkg/ttnpb/qrcodegenerator_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

qrg: Register gateway qr service grpc handler
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/qrcodegenerator/grpc_gateways.go
  pkg/qrcodegenerator/grpc_gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/gateways_test.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1_test.go
  pkg/qrcodegenerator/qrcodegenerator.go
Owners: @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-12

qrg: Update CHANGELOG.md
  CHANGELOG.md
Owners: none

dr: Update tests to include new test vendor
  pkg/devicerepository/store/remote/remote_test.go
Owners: @TheThingsNetwork/stack-reviewers-12

dr: Drop parameter in GetTemplates
  pkg/devicerepository/grpc.go
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/interface.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
Owners: @TheThingsNetwork/stack-reviewers-12

dr: Update get template to fetch profiles from vendor index
  config/messages.json
  pkg/devicerepository/grpc_test.go
  pkg/devicerepository/store/bleve/bleve.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/init.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/interface.go
  pkg/devicerepository/store/profiles.go
  pkg/devicerepository/store/remote/remote.go
  pkg/devicerepository/store/remote/remote_test.go
  pkg/devicerepository/store/remote/schema.go
  pkg/devicerepository/store/remote/testdata/vendor/windsensor-vendor/index.yaml
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-12

dr: Add new vendor in testdata
  pkg/devicerepository/store/remote/testdata/vendor/index.yaml
  pkg/devicerepository/store/remote/testdata/vendor/windsensor-vendor/index.yaml
  pkg/devicerepository/store/remote/testdata/vendor/windsensor-vendor/windsensor-profile.yaml
  pkg/devicerepository/store/remote/testdata/vendor/windsensor-vendor/windsensor.yaml
Owners: @TheThingsNetwork/stack-reviewers-12

console: Fix infinite refresh
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dr: Update api definition and translations
  CHANGELOG.md
  config/messages.json
  pkg/devicerepository/store/bleve/bleve.go
  pkg/devicerepository/store/bleve/bleve_test.go
  pkg/devicerepository/store/bleve/store.go
  pkg/devicerepository/store/remote/remote.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-12

console: Add scran qr code section to gateway registration
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/console/views/gateway-add/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add gateway qr code generator sdk
  pkg/webui/console/store/actions/qr-code-generator.js
  pkg/webui/console/store/middleware/logics/qr-code-generator.js
  sdk/js/src/service/qr-code-generator.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use qr code data in gateway form
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/components/qr/require-permission.js
  pkg/webui/console/containers/device-onboarding-form/messages.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

console: Fix gateway values
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fix modal styling
  pkg/webui/components/modal/modal.styl
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/components/qr/input/video/index.js
  pkg/webui/components/qr/qr.styl
  pkg/webui/components/qr/require-permission.js
Owners: @TheThingsNetwork/stack-reviewers-3

qrg: Fix length check for TTIGPRO1
  pkg/qrcodegenerator/qrcode/gateways/gateways.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1.go
  pkg/qrcodegenerator/qrcode/gateways/ttigpro1_test.go
Owners: @TheThingsNetwork/stack-reviewers-12

console: Fix locales
  pkg/webui/locales/ja.json
Owners: none

dev: Support multi-line input in codec
  pkg/redis/codec/main.go
Owners: none

all: Use Downlink MIC A computation
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/lorawan.proto
  pkg/crypto/data_messages.go
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/networkserver/downlink.go
  pkg/specification/macspec/specification.go
  pkg/ttnpb/gatewayserver.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/messages.pb.paths.fm.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11

all: Cut off changelog version 3.32.1
  CHANGELOG.md
Owners: none

all: Bump to version 3.32.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix update application lastSeen
  pkg/webui/console/store/reducers/applications.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update oauth-client-form grant type labels
  pkg/webui/console/components/oauth-client-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix qr code authentication code encoding
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix field name
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix e2e tests
  cypress/e2e/console/gateways/create.spec.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/lib/field-description-messages.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add fallback deviceId when videoTracks getSetting fails
  pkg/webui/components/qr/input/video/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add additional bindings to filter end devices and gateways
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device_services.proto
  api/ttn/lorawan/v3/gateway_services.proto
  pkg/ttnpb/end_device_services.pb.go
  pkg/ttnpb/end_device_services.pb.gw.go
  pkg/ttnpb/gateway_services.pb.go
  pkg/ttnpb/gateway_services.pb.gw.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
