Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

console: Add fleet options to gateway claiming form
  pkg/webui/components/form/field/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add fleets to qr code modal
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/components/tabs/index.js
  pkg/webui/components/tabs/tab/index.js
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fix styles
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix toggle
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: FIx authentication identifiers encoding
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix fleet token logic
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error message
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix e2e tests
  cypress/e2e/console/gateways/create.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add correct messages
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Separate tti only parts and gateway fleet only parts
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.tti.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix header
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.tti.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove unnecessary message
  pkg/webui/lib/errors/utils.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Rename file and merge tti parts
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix URL
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fix copilot review
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix condition
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: FIx resetting gateway stats
  pkg/webui/console/store/reducers/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

Merge pull request #7779 from TheThingsNetwork/fix/gateway-stats
  pkg/webui/console/store/reducers/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add slot link
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix mac settings icon
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add correct links
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix link
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix link
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/fleets-scan.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/locales/en.json
Owners: none

refactor: use b.Loop() to simplify the code and improve performance
  pkg/random/random_test.go
Owners: none

all: Enter release date of version 3.35.1 into the changelog
  CHANGELOG.md
Owners: none

chore: execute goimports to format the code
  pkg/rpcmiddleware/fillcontext/fillcontext.go
Owners: @TheThingsNetwork/stack-reviewers-1

all: Cut off changelog version 3.35.2
  CHANGELOG.md
Owners: none

all: Bump to version 3.35.2
  CHANGELOG.md
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

as: Rate limit downlink queue operations on application level
  pkg/ttnpb/application_interfaces.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

as: Use read-only client for webhook List without pagination
  CHANGELOG.md
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/redis/registry_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Fix CHANGELOG entry order
  CHANGELOG.md
Owners: none

Merge pull request #7809 from TheThingsNetwork/fix/downlink-queue-redis-exhaustion
  CHANGELOG.md
  pkg/ttnpb/application_interfaces.go
Owners: @TheThingsNetwork/stack-reviewers-1

Merge pull request #7810 from TheThingsNetwork/feat/as-redis-list-watch-update
  CHANGELOG.md
  pkg/applicationserver/io/web/redis/registry.go
  pkg/applicationserver/io/web/redis/registry_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Enter release date of version 3.35.2 into the changelog
  CHANGELOG.md
Owners: none

dev: Fix tools
  tools/mage/translations.js
Owners: @TheThingsNetwork/stack-reviewers-7

console: Update axios
  package.json
  sdk/js/package.json
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
