Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

console,account: Fix button styles
  pkg/webui/components/button/button.styl
  pkg/webui/components/sidebar/dedicated-entity/dedicated-entity.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Add missing color tokens
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Forward ref of Link component
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add live data overlay
  pkg/webui/console.js
  pkg/webui/console/components/events/details/details.styl
  pkg/webui/console/components/events/details/index.js
  pkg/webui/console/components/events/details/raw.js
  pkg/webui/console/components/events/details/synthetic.js
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/index.js
  pkg/webui/console/components/events/list.js
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/previews.styl
  pkg/webui/console/components/events/previews/shared/description-list/description-list.styl
  pkg/webui/console/containers/application-events/index.js
  pkg/webui/console/containers/device-events/index.js
  pkg/webui/console/containers/event-split-frame/context.js
  pkg/webui/console/containers/event-split-frame/event-split-frame.styl
  pkg/webui/console/containers/event-split-frame/index.js
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/application-data/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/gateway-data/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Add dark theme to code editor
  pkg/webui/components/code-editor/index.js
  pkg/webui/components/code-editor/ttn-theme.js
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Fix safe inspector hover behavior and styling
  pkg/webui/components/safe-inspector/safe-inspector.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix event panel color tokens
  pkg/webui/console/components/events/events.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update upgradeUrl in upseller panel
  pkg/webui/console/components/blurry-network-activity-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix sidebar app item disappear on register end device
  pkg/webui/components/button/modal-button/index.js
  pkg/webui/console/containers/sidebar/navigation/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix end device title
  pkg/webui/console/views/device-add/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add no selected notification state and fixes
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
  pkg/webui/console/containers/notifications/notification-list/index.js
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix issues with notifications
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/console/containers/notifications/notification-list/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
  pkg/webui/console/store/reducers/notifications.js
  pkg/webui/console/views/notifications/index.js
  pkg/webui/console/views/overview/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve notifications
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/console/containers/notifications/notification-list/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
  pkg/webui/console/containers/notifications/notification-status.js
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/store/actions/notifications.js
  pkg/webui/console/store/middleware/logics/notifications.js
  pkg/webui/console/store/reducers/notifications.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix gateway basic settings
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update notifications e2e tests and fixes
  cypress/e2e/console/notifications/notifications.spec.js
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/console/containers/gateway-general-information-panel/index.js
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
  pkg/webui/console/containers/notifications/notification-list/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Apply various styling fixes
  pkg/webui/components/button/button.styl
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/header/header.styl
  pkg/webui/components/mobile-menu/index.js
  pkg/webui/components/mobile-menu/mobile-menu.styl
  pkg/webui/components/news-panel/news-item/index.js
  pkg/webui/components/news-panel/news-item/news-item.styl
  pkg/webui/components/news-panel/news-item/story.js
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/search-panel/item.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-entities-panel.styl
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/styles/utilities/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use smaller tooltip styling
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/form/field/field.styl
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/tooltip.js
  pkg/webui/components/tooltip/tooltip.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add prop to allow word wraps in links
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Streamline empty states of panels
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/map/widget/widget.styl
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/containers/top-entities-dashboard-panel/all-top-entities/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table margins
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Various styling fixes and tweaks
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/link/index.js
  pkg/webui/components/panel/story.js
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/submit-bar/submit-bar.styl
  pkg/webui/console/components/tag-list/index.js
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
  pkg/webui/console/containers/documentation-dashboard-panel/documentation-dashboard-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update notification messages
  pkg/webui/console/containers/notifications/index.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve notification dropdown
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Resolve conflicts
  cypress/e2e/console/notifications/notifications.spec.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Skip account related tests
  cypress/e2e/console/auth/login.spec.js
  cypress/e2e/smoke/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Intercept device model request
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix datasheet responsiveness
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
  pkg/webui/components/modal/modal.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor datasheet to use flexbox and add responsive
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: End device header responsiveness
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/console/containers/device-general-information-panel/device-general-information-panel.styl
  pkg/webui/console/containers/device-general-information-panel/index.js
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/device-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update responsiveness of map panel
  pkg/webui/console/components/device-map-panel/device-map-panel.styl
  pkg/webui/console/components/gateway-map-panel/gateway-map-panel.styl
  pkg/webui/console/components/map-panel/map-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix button height
  pkg/webui/console/components/device-map-panel/device-map-panel.styl
  pkg/webui/console/components/gateway-map-panel/gateway-map-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Other device responsiveness adjustments
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/components/device-map-panel/device-map-panel.styl
  pkg/webui/console/components/device-map-panel/index.js
  pkg/webui/console/components/gateway-map-panel/gateway-map-panel.styl
  pkg/webui/console/components/gateway-map-panel/index.js
  pkg/webui/console/components/map-panel/index.js
  pkg/webui/console/components/tag-list/index.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
  pkg/webui/console/containers/device-info-panel/index.js
  pkg/webui/console/containers/gateway-general-information-panel/gateway-general-information-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix merge
  pkg/webui/console/containers/device-info-panel/device-info-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add embeded `Filter` to `ListEndDevices` and `ListGateways`
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  api/ttn/lorawan/v3/gateway.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_flags.pb.go
  pkg/ttnpb/gateway_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

is: Add filtering to list end devices and gateways
  pkg/identityserver/bunstore/end_device_store.go
  pkg/identityserver/bunstore/gateway_store.go
  pkg/identityserver/bunstore/util.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/end_device_registry_test.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/gateway_registry_test.go
  pkg/identityserver/store/filter.go
Owners: @TheThingsNetwork/stack-reviewers-9

cli: Add filtering to list end devices and gateways
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/commands/flags.go
  cmd/ttn-lw-cli/commands/gateways.go
  config/messages.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update CHANGELOG.md
  CHANGELOG.md
Owners: none

console: Update spacings
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
  pkg/webui/console/containers/device-general-information-panel/device-general-information-panel.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/gateway-general-information-panel/gateway-general-information-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix scrolling to top on page change
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
