Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

console: Setup routing for managed gateway
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/gateway-the-things-station/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Modify register gateway form
  pkg/webui/lib/constants/tooltip-ids.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement claiming logic for managed gateway
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/views/gateway-add/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor network interface settings and add connection status
  pkg/webui/components/select/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/connection-profiles-form-fields.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/form.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/messages.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/overview.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/validation-schema.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/connection-settings-form-fields.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-the-things-station/show-profiles-select.js
  pkg/webui/console/containers/gateway-the-things-station/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Restructure folders in managed gateway
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/network-interface-addresses-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/index.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update connection settings e2e tests
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Replace pkg/web by simple mux router
  pkg/gatewayserver/io/ttigw/ttigw.go
Owners: @TheThingsNetwork/stack-reviewers-11

console: Check if gateway is managed
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway/index.js
  sdk/js/src/service/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

gcs: Publish managed gateway down events when Controller goes down
  pkg/gatewayconfigurationserver/managed/client/client.go
Owners: @TheThingsNetwork/stack-reviewers-12

console: Create ethernet CRUD operations
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/console/store/selectors/connection-profiles.js
  sdk/js/src/service/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update e2e test
  cypress/e2e/console/gateways/create.spec.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Setup connection settings logic and fixes
  pkg/webui/components/navigation/side/item/index.js
  pkg/webui/console/containers/access-point-list/access-point-list.styl
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/use-connections-data.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement pr remarks
  pkg/webui/console/containers/gateway-events/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update ethernet in connection settings and refactor
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor connection profiles store
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/store/actions/connection-profiles.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/connection-profiles.js
  pkg/webui/console/store/selectors/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor managed gateway by new UI
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/connection-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connection-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/network-interface-addresses-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/index.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/wifi-profiles-form-fields.js
  pkg/webui/console/views/gateway-managed-gateway/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add e2e tests for gateway create
  cypress/e2e/console/gateways/create.spec.js
  pkg/webui/console/views/gateway-add/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add e2e tests for managed gateway wifi profiles
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
  cypress/e2e/console/gateways/managed/wifi-profiles.spec.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Handle fetch profile errors and fixes
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove unused imports
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor show profiles select logic
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/lib/store/reducers/collaborators.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update locales
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Make access points list working and other actions
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/store/actions/connection-profiles.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/console/store/selectors/connection-profiles.js
  pkg/webui/lib/store/selectors/fetching.js
  sdk/js/src/index.js
  sdk/js/src/service/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix create ethernet profile
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update connectionsData function
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/use-connections-data.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update connection settings with wifi profile
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateways.js
  sdk/js/src/service/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Setup add/edit connection profiles form
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/form.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/messages.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/overview.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/utils.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/validation-schema.js
  pkg/webui/console/views/gateway-the-things-station/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add subnet mask validation
  pkg/webui/console/containers/gateway-managed-gateway/shared/network-interface-addresses-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/lib/regexp.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Clarify GS TLS root cert lookup error messages
  config/messages.json
  pkg/deviceclaimingserver/gateways/ttgc/root_ca.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-13

console: Add e2e tests for managed gateway connection settings
  cypress/e2e/console/gateways/create.spec.js
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement access point list component
  pkg/webui/components/qr-modal-button/index.js
  pkg/webui/console/containers/access-point-list/access-point-list.styl
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/form.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/messages.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/validation-schema.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/views/gateway-the-things-station/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use real data in connections panel
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/use-connections-data.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/selectors/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Override wifi profile logic
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/use-connections-data.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Create wifi profile in connection settings
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update wifi profile form
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Setup connection settings screen
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/connection-profiles-form-fields.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/form.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/messages.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/overview.js
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles/validation-schema.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/connection-settings-form-fields.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/index.js
  pkg/webui/console/containers/gateway-the-things-station/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-the-things-station/utils.js
  pkg/webui/console/views/gateway-the-things-station/index.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix non-shared profile issues in connection settings
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Delete wifi profiles
  pkg/webui/components/button/modal-button/index.js
  pkg/webui/components/delete-modal-button/index.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/store/actions/connection-profiles.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/reducers/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update connections panel design
  pkg/webui/assets/misc/managed-gateway.png
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/connections.styl
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dcs: Fix getting the root CA
  pkg/deviceclaimingserver/gateways/ttgc/root_ca.go
Owners: @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
