Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: Add height 100%
  pkg/webui/console/containers/device-general-information-panel/device-general-information-panel.styl
  pkg/webui/console/containers/device-info-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

is: Update user store to include universal_rights column
  pkg/identityserver/bunstore/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add universal_rights column to user table
  pkg/identityserver/store/migrations/20240806000000_user_rights.down.sql
  pkg/identityserver/store/migrations/20240806000000_user_rights.up.sql
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

dev: Fix e2e test
  cypress/e2e/console/shared/overview/overview.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add back data test id
  pkg/webui/console/containers/device-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix app status badge when status url is present
  pkg/webui/console/containers/app-status-badge/index.js
  pkg/webui/console/store/middleware/logics/init.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Backport LoRa Cloud integration naming change
  cypress/e2e/smoke/applications/subpages.js
  pkg/webui/console/views/application-integrations-lora-cloud/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Increase timeout for offline badge to disappear
  cypress/e2e/console/shared/connection-losses.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Increase timeout for offline badge to disappear
  cypress/e2e/console/shared/connection-losses.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

is: Update user store with universal_rights
  pkg/identityserver/bunstore/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

console: Fix gateway list view non admin
  pkg/webui/console/containers/gateways-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove connecting the events to the connection loss logic
  pkg/webui/console/store/middleware/logics/events.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix scrollbar vertical scroll behavior
  pkg/webui/components/sidebar/side-menu/index.js
  pkg/webui/components/sidebar/side-menu/side.styl
  pkg/webui/console/containers/sidebar/navigation/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix packet broker view crash when disabled
  pkg/webui/console/views/admin-packet-broker/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move user settings to Console
  pkg/webui/console/containers/change-password-form/index.js
  pkg/webui/console/containers/profile-settings-form/index.js
  pkg/webui/console/containers/profile-settings-form/messages.js
  pkg/webui/console/containers/profile-settings-form/profile-settings-form.styl
  pkg/webui/console/containers/profile-settings-form/validation-schema.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/selectors/identity-server.js
  pkg/webui/console/views/overview/index.js
  pkg/webui/console/views/user-api-key-add/index.js
  pkg/webui/console/views/user-api-key-edit/index.js
  pkg/webui/console/views/user-api-keys-list/index.js
  pkg/webui/console/views/user-api-keys/index.js
  pkg/webui/console/views/user-settings-password/index.js
  pkg/webui/console/views/user-settings-profile/index.js
  pkg/webui/console/views/user-settings/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Separate logout and user store logic
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/console/containers/application-general-settings/index.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/applications-form/index.js
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
  pkg/webui/console/containers/organization-form/form.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/owners-select/index.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/actions/logout.js
  pkg/webui/console/store/actions/user.js
  pkg/webui/console/store/index.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/logout.js
  pkg/webui/console/store/middleware/logics/notifications.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/top-entities.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/recency-frequency-items.js
  pkg/webui/console/store/reducers/user-preferences.js
  pkg/webui/console/store/reducers/user.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/views/app/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/user-api-key-add/index.js
  pkg/webui/console/views/user-api-key-edit/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move user session management to Console
  pkg/webui/console/containers/sessions-table/index.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/store/actions/sessions.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/sessions.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/sessions.js
  pkg/webui/console/store/selectors/sessions.js
  pkg/webui/console/views/user-settings-sessions/index.js
  pkg/webui/console/views/user-settings/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move oauth client settings to Console
  pkg/webui/console/components/oauth-client-form/index.js
  pkg/webui/console/components/oauth-client-form/messages.js
  pkg/webui/console/components/oauth-client-form/utils.js
  pkg/webui/console/components/oauth-client-form/validation-schema.js
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/containers/oauth-client-add/index.js
  pkg/webui/console/containers/oauth-client-edit/index.js
  pkg/webui/console/containers/oauth-clients-table/index.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/user.js
  pkg/webui/console/store/selectors/user.js
  pkg/webui/console/views/user-settings-oauth-client-add/index.js
  pkg/webui/console/views/user-settings-oauth-client-collaborator-add/index.js
  pkg/webui/console/views/user-settings-oauth-client-collaborators-list/index.js
  pkg/webui/console/views/user-settings-oauth-client-general-settings/index.js
  pkg/webui/console/views/user-settings-oauth-client-overview/index.js
  pkg/webui/console/views/user-settings-oauth-client-overview/user-settings-oauth-client-overview.styl
  pkg/webui/console/views/user-settings-oauth-client/index.js
  pkg/webui/console/views/user-settings-oauth-client/user-settings-oauth-client.styl
  pkg/webui/console/views/user-settings-oauth-clients-list/index.js
  pkg/webui/console/views/user-settings-oauth-clients/index.js
  pkg/webui/console/views/user-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move oauth client authorization settings to Console
  pkg/webui/console/containers/authorizations-table/index.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/tokens-table/index.js
  pkg/webui/console/store/actions/authorizations.js
  pkg/webui/console/store/actions/clients.js
  pkg/webui/console/store/middleware/logics/authorizations.js
  pkg/webui/console/store/middleware/logics/clients.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/reducers/authorizations.js
  pkg/webui/console/store/reducers/clients.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/selectors/authorizations.js
  pkg/webui/console/store/selectors/clients.js
  pkg/webui/console/views/user-settings-oauth-auth-list/index.js
  pkg/webui/console/views/user-settings-oauth-auth-settings/index.js
  pkg/webui/console/views/user-settings-oauth-auths/authorization.styl
  pkg/webui/console/views/user-settings-oauth-auths/index.js
  pkg/webui/console/views/user-settings-oauth-client-authorizations/index.js
  pkg/webui/console/views/user-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix portalled modal crashes
  pkg/webui/components/modal/portalled/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move admin panel navigation to sidebar
  pkg/webui/console/containers/deployment-component-status/index.js
  pkg/webui/console/containers/network-information-container/registry-totals.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/views/admin-panel-network-information/index.js
  pkg/webui/console/views/admin-panel/index.js
  pkg/webui/console/views/admin-user-management/admin-user-management.js
  pkg/webui/console/views/admin-user-management/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix faulty account app imports in console subtree
  pkg/webui/console/containers/device-onboarding-form/index.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/manual-form-section/advanced-settings-section.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/views/application-general-settings/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application-payload-formatters/index.js
  pkg/webui/console/views/organization-general-settings/index.js
  pkg/webui/containers/collaborator-form/hooks.js
  pkg/webui/lib/hooks/use-bookmark.js
Owners: @TheThingsNetwork/stack-reviewers-3

account: Fix authorization screen
  pkg/webui/account/views/authorize/authorize.styl
  pkg/webui/account/views/authorize/index.js
  pkg/webui/components/modal/modal.styl
Owners: @TheThingsNetwork/stack-reviewers-3

account: Add miscellaneous fixes
  pkg/webui/account/store/index.js
  pkg/webui/account/views/authorize/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error screens
  pkg/webui/components/header/index.js
  pkg/webui/console.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/views/app/index.js
  pkg/webui/lib/components/full-view-error/error.js
  pkg/webui/lib/components/full-view-error/error.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix right checking logic for oauth client views
  pkg/webui/console/components/oauth-client-form/index.js
  pkg/webui/console/containers/oauth-client-edit/index.js
  pkg/webui/console/containers/oauth-clients-table/index.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/views/user-settings-oauth-client-collaborator-add/index.js
  pkg/webui/console/views/user-settings-oauth-client-collaborators-list/index.js
  pkg/webui/console/views/user-settings-oauth-client-general-settings/index.js
  pkg/webui/console/views/user-settings-oauth-client-overview/index.js
  pkg/webui/console/views/user-settings-oauth-client/index.js
  pkg/webui/console/views/user-settings-oauth-clients-list/index.js
  pkg/webui/console/views/user-settings-oauth-clients/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Amend serve tool config for e2e
  tools/js/serve-dev-stack.js
Owners: @TheThingsNetwork/stack-reviewers-7

console: Fix right checking logic for user settings views
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/user-settings-oauth-client-authorizations/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add various styling fixes
  pkg/webui/components/form/field/error.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

dev: Fix and adjust end-to-end tests after refactor
  cypress/e2e/account/authorization.spec.js
  cypress/e2e/account/code.spec.js
  cypress/e2e/account/overview.spec.js
  cypress/e2e/account/user-registration.spec.js
  cypress/e2e/console/admin-panel/admin-panel.spec.js
  cypress/e2e/console/shared/api-keys/add.spec.js
  cypress/e2e/console/shared/api-keys/edit.spec.js
  cypress/e2e/console/user-settings/authorization-management.spec.js
  cypress/e2e/console/user-settings/change-password.spec.js
  cypress/e2e/console/user-settings/oauth-clients/create.spec.js
  cypress/e2e/console/user-settings/oauth-clients/edit.spec.js
  cypress/e2e/console/user-settings/oauth-clients/list.spec.js
  cypress/e2e/console/user-settings/profile.spec.js
  cypress/e2e/console/user-settings/session-management.spec.js
  cypress/e2e/smoke/index.js
  cypress/e2e/smoke/user-settings/index.js
  cypress/support/commands.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.32.0
  CHANGELOG.md
Owners: none

all: Bump to version 3.32.0
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix profile dropdown path
  pkg/webui/console/containers/header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error views
  pkg/webui/account.js
  pkg/webui/account/views/app/index.js
  pkg/webui/components/header/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Reactiovate account app tests
  config/cypress.config.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error page headers
  pkg/webui/account.js
  pkg/webui/account/containers/header/index.js
  pkg/webui/account/views/app/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Remove duplicate test
  cypress/e2e/account/change-password.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Setup connection profiles wireframe
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles.js
  pkg/webui/lib/constants/tooltip-ids.js
  pkg/webui/lib/field-description-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3
