Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

ns: Handle `ResetInd` MAC command with cipher
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
  pkg/networkserver/mac/reset.go
  pkg/networkserver/mac/reset_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

api: Extend `RekeyInd` and `RekeyConf` messages with cipher
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/lorawan.proto
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Fix reconnects for unauthenticated gateways
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

ns: Handle `RekeyInd` MAC command with cipher
  pkg/encoding/lorawan/mac.go
  pkg/encoding/lorawan/mac_test.go
  pkg/networkserver/mac/rekey.go
  pkg/networkserver/mac/rekey_test.go
  pkg/specification/macspec/specification.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Number of notifications in dropdown
  pkg/webui/console/containers/header/notifications-dropdown.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Prevent device panel from growing too much
  pkg/webui/console/containers/devices-panel/devices-panel.styl
  pkg/webui/console/containers/devices-panel/recent-devices.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix external links and in sidebar and fix layout
  pkg/webui/components/sidebar/side-menu/item/index.js
  pkg/webui/components/sidebar/side-menu/item/link.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix gateway status panel charts
  pkg/webui/console/containers/gateway-status-panel/duty-cycle-utilization.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fusther adjust chart
  pkg/webui/console/containers/gateway-status-panel/duty-cycle-utilization.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Rever hight change
  pkg/webui/console/containers/gateway-status-panel/duty-cycle-utilization.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix duty cycle values
  pkg/webui/console/containers/gateway-status-panel/duty-cycle-utilization.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table control not clickable
  pkg/webui/components/pagination/index.js
  pkg/webui/console/containers/applications-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove pagination margins
  pkg/webui/components/pagination/index.js
  pkg/webui/components/pagination/pagination.styl
  pkg/webui/components/table/tabular.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table and pagination layout
  pkg/webui/components/pagination/index.js
  pkg/webui/components/table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix sidebar resize behavior
  pkg/webui/components/scroll-fader/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix toast not disappearing
  pkg/webui/components/toast/react-toastify.styl
  pkg/webui/components/toast/toast.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix horizontal centering in user selects
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/containers/collaborator-select/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix event split open button placement
  pkg/webui/console/containers/event-split-frame/event-split-frame.styl
  pkg/webui/console/containers/event-split-frame/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/app/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove application id part of top end devices in app context
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix js lint issue
  pkg/webui/console/containers/devices-panel/recent-devices.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add fallback messages
  pkg/webui/console/components/notifications/templates/client-requested.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Change notification component name
  pkg/webui/console/components/notifications/index.js
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use device response data to update app last seen
  pkg/webui/console/store/reducers/applications.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Resolve console warnings
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/gateway-status-panel/transmissions.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  go.mod
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

dev: Switch to github.com/coder/websocket
  go.mod
  go.sum
  pkg/console/internal/events/events.go
  pkg/console/internal/events/tasks.go
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-7

dev: Fix merge
  pkg/webui/components/sidebar/side-menu/item/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix e2e test
  cypress/e2e/console/devices/device-on-othercluster.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Fix reconnects for unauthenticated gateways
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

dcs: Set last known location on claim
  go.mod
  go.sum
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

gs: Fix log namespace and increase log level for failed connects
  pkg/gatewayserver/io/ttigw/ttigw.go
Owners: @TheThingsNetwork/stack-reviewers-11

api: Cap max frmpaylod size in ApplicationDownlink
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Make header logo clickable
  pkg/webui/components/header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve search panel responsiveness
  pkg/webui/components/search-panel/search-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix wrong tooltip message for hiding sidebar
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix sidebar transitions
  pkg/webui/console/containers/sidebar/sidebar.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Apply various fixes for the redesign
  config/storybook/preview.js
  config/storybook/store.js
  package.json
  pkg/webui/components/dropdown/index.js
  pkg/webui/console/containers/app-status-badge/app-status-badge.styl
  pkg/webui/console/containers/top-entities-dashboard-panel/all-top-entities/index.js
  pkg/webui/console/views/overview/index.js
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

console: Make links in header context-safe
  pkg/webui/components/header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix serve dev stack tool cypress setup
  tools/js/serve-dev-stack.js
Owners: @TheThingsNetwork/stack-reviewers-7
