Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

gs: Relax TTIGW protocol ping settings
  CHANGELOG.md
  pkg/gatewayserver/io/ttigw/config.go
  pkg/gatewayserver/io/ttigw/ttigw.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Enter release date of version 3.34.3 into the changelog
  CHANGELOG.md
Owners: none

console: Fix Reset used DevNonces button
  CHANGELOG.md
  pkg/webui/console/store/middleware/logics/devices.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Migrate to `buf-action`
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

api: Increase payload codec size limit to comply with TS013-1.0.0
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

api: Update CHANGELOG.md
  CHANGELOG.md
Owners: none

as: Change formatter size to 64KB in default config
  cmd/internal/shared/applicationserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-7

console: Update formatter size validation to 64KB
  pkg/webui/console/components/payload-formatters-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Fix changelog
  CHANGELOG.md
Owners: none

dev: Update CLI telemetry models
  pkg/telemetry/exporter/models/cli_usage.go
Owners: none

dev: Add internal store package for CLI telemtry
  pkg/telemetry/exporter/cli/internal/store/cli_usage.go
  pkg/telemetry/exporter/cli/internal/store/state.go
  pkg/telemetry/exporter/cli/internal/store/store.go
  pkg/telemetry/exporter/cli/internal/store/utils.go
Owners: none

dev: Update CLI telemetry task definition
  pkg/telemetry/exporter/cli/cli.go
  pkg/telemetry/exporter/cli/task.go
Owners: none

dev: Update CLI telemetry initialization
  cmd/ttn-lw-cli/commands/root.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

all: Cut off changelog version 3.35.0
  CHANGELOG.md
Owners: none

dev: Fix CLI telemetry task when disabled
  cmd/ttn-lw-cli/commands/root.go
Owners: @TheThingsNetwork/stack-reviewers-7

console: Add disabled state to Tabs component
  pkg/webui/components/tabs/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Disable FetchTable data requests when fetching
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move setTab to after request completes
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/oauth-clients-table/index.js
  pkg/webui/console/containers/organizations-table/index.js
  pkg/webui/console/containers/users-table/index.js
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Bump to version 3.35.0
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Enter release date of version 3.35.0 into the changelog
  CHANGELOG.md
Owners: none

is: Rate limit entity creation by method and token
  pkg/ttnpb/application_interfaces.go
  pkg/ttnpb/application_ratelimit_test.go
  pkg/ttnpb/client_interfaces.go
  pkg/ttnpb/client_ratelimit_test.go
  pkg/ttnpb/end_device.go
  pkg/ttnpb/end_device_ratelimit_test.go
  pkg/ttnpb/gateway_interfaces.go
  pkg/ttnpb/gateway_ratelimit_test.go
  pkg/ttnpb/organization_interfaces.go
  pkg/ttnpb/organization_ratelimit_test.go
  pkg/ttnpb/user_interfaces.go
  pkg/ttnpb/user_ratelimit_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix gateway status panel
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add oauth client collaborator edit page
  pkg/webui/console/views/user-settings-oauth-client-collaborator-edit/index.js
  pkg/webui/console/views/user-settings-oauth-client/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: FIx linting
  pkg/webui/console/views/user-settings-oauth-client-collaborator-edit/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix gateway status
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix green dot
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Gateway status panel
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/views/gateway/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Implement HSTS headers
  pkg/web/web.go
  pkg/webmiddleware/hsts_headers.go
  pkg/webmiddleware/hsts_headers_test.go
Owners: @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-8

dev: Update changelog
  CHANGELOG.md
Owners: none

dev: Linting issue
  pkg/webmiddleware/hsts_headers_test.go
Owners: @TheThingsNetwork/stack-reviewers-8

all: Cut off changelog version 3.35.1
  CHANGELOG.md
Owners: none

all: Bump to version 3.35.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

Add HSTS headers to the web server (#7770)
  CHANGELOG.md
  pkg/web/web.go
  pkg/webmiddleware/hsts_headers.go
  pkg/webmiddleware/hsts_headers_test.go
Owners: @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-8

dev: Add UZ_923_DRAFT band
  pkg/band/all.go
  pkg/band/band_test.go
  pkg/band/rpc_test.go
  pkg/band/shared_test.go
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_1.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_2_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_2_REV_B.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_3_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_1_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_1_REV_B.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_0.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_1.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_2.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_3.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_4.json
  pkg/band/uz_923_draft.go
  pkg/band/uz_923_draft_universal.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

Add HSTS headers to the web server (#7770)
  CHANGELOG.md
  pkg/web/web.go
  pkg/webmiddleware/hsts_headers.go
  pkg/webmiddleware/hsts_headers_test.go
Owners: @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-8

Merge pull request #7771 from TheThingsNetwork/feature/uz923-band
  CHANGELOG.md
  pkg/band/all.go
  pkg/band/band_test.go
  pkg/band/rpc_test.go
  pkg/band/shared_test.go
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_1.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_2_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_2_REV_B.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_0_3_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_1_REV_A.json
  pkg/band/testdata/UZ_923_DRAFT_PHY_V1_1_REV_B.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_0.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_1.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_2.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_3.json
  pkg/band/testdata/UZ_923_DRAFT_RP002_V1_0_4.json
  pkg/band/uz_923_draft.go
  pkg/band/uz_923_draft_universal.go
Owners: @TheThingsNetwork/stack-reviewers-7

Merge pull request #7762 from TheThingsNetwork/fix/gateway-status-panel
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/views/gateway/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

chore: fix incorrect comment
  pkg/messageprocessors/javascript/javascript.go
  pkg/networkserver/cleanup.go
Owners: @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-1
