Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: Initiate the dark mode
  pkg/webui/components/button/button.styl
  pkg/webui/components/pagination/pagination.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/containers/documentation-dashboard-panel/documentation-dashboard-panel.styl
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/styles/variables/css-variables.styl
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: First version of the dark mode
  pkg/webui/components/header/header.styl
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/components/sidebar/search-button/search-button.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-entities-panel.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/styles/variables/colors.styl
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Streamline upgrade button
  pkg/webui/console/components/blurry-network-activity-panel/blurry-network-activity-panel.styl
  pkg/webui/console/components/blurry-network-activity-panel/index.js
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Link right side of overview header
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-connection/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add tolltips to ambiguos icons
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix CI
  pkg/webui/console/components/blurry-network-activity-panel/blurry-network-activity-panel.styl
  pkg/webui/styles/utilities/spacing.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use different icons for each notifications
  pkg/webui/console/containers/header/notifications-dropdown.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add !importanto to all utilities
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/utilities/spacing.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix merge
  pkg/webui/console/containers/device-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix lists in mobile
  pkg/webui/components/table/table/table.styl
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix smoke tests
  cypress/e2e/smoke/devices/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Adjust breakpoints
  pkg/webui/console/containers/device-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix icon props
  pkg/webui/components/dropdown/index.js
  pkg/webui/console/components/entity-title-section/entity-title-section.js
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/containers/collaborator-select/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix entity names overflow
  pkg/webui/components/sidebar/dedicated-entity/dedicated-entity.styl
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Other layout fixes
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/views/admin-packet-broker/routing-configuration.js
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/locales/en.json
Owners: none

console: Reduce enterprise diff
  pkg/webui/components/header/index.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add MAC version 1.2.0
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/lorawan.proto
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix heights and panel order for responsiveness
  pkg/webui/console/components/blurry-network-activity-panel/index.js
  pkg/webui/console/components/gateway-map-panel/index.js
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Change order
  cypress/e2e/console/shared/overview/overview.spec.js
  pkg/webui/console/views/gateway-overview/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix CI
  cypress/e2e/console/shared/overview/overview.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

util: Add v1.2.0 to MAC specification
  pkg/specification/macspec/specification.go
  pkg/specification/macspec/specification_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix merge
  pkg/webui/console/components/device-map-panel/index.js
  pkg/webui/console/views/device-overview/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add tooltip to button
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/dedicated-entity/dedicated-entity.styl
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/console/containers/notifications/notification-content/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table filters height on mobile
  pkg/webui/components/table/table/table.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table layout and margins
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/console/views/application-api-keys-list/index.js
  pkg/webui/console/views/application-collaborators-list/index.js
  pkg/webui/console/views/application-integrations-pubsubs-list/index.js
  pkg/webui/console/views/application-integrations-webhooks-list/index.js
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/device-list/index.js
  pkg/webui/console/views/gateway-api-keys-list/index.js
  pkg/webui/console/views/gateway-collaborators-list/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/console/views/organization-api-keys-list/index.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/organizations-list/index.js
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve tag styling and logic
  pkg/webui/components/tag/group/index.js
  pkg/webui/components/tag/tag.styl
  pkg/webui/components/tooltip/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add bookmark button tooltip for devices
  pkg/webui/console/containers/device-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

account: Fix mobile login screen
  pkg/webui/account/views/app/index.js
  pkg/webui/account/views/front/front.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add dropdown animation
  pkg/webui/components/dropdown/dropdown.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix dropdown logic
  pkg/webui/components/dropdown/portal/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add missing tooltips
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Disable password manager popups
  pkg/webui/components/input/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Further improve responsiveness
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/profile-dropdown/profile-dropdown.styl
  pkg/webui/console/components/blurry-network-activity-panel/blurry-network-activity-panel.styl
  pkg/webui/console/components/map-panel/map-panel.styl
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/shortcut-panel/shortcut-item/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/console/views/device/device.styl
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/overview/overview.js
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve data sheet component
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/components/data-sheet/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Use shortened noc link
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/console/components/blurry-network-activity-panel/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fill up top entities with recently created entities
  pkg/webui/console/store/middleware/logics/top-entities.js
  pkg/webui/console/store/selectors/top-entities.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor empty state logic for top entities panels
  pkg/webui/console/containers/top-entities-dashboard-panel/all-top-entities/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-gateways/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix wrong variable naming
  pkg/webui/console/containers/organizations-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3
