Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

console: Use Option+K as main hotkey for the search panel
  pkg/webui/components/sidebar/search-button/index.js
  pkg/webui/components/sidebar/search-button/search-button.styl
  pkg/webui/console/containers/search-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update changelog
  CHANGELOG.md
Owners: none

dcs: Implement claiming with Gateway Controller
  config/messages.json
  go.mod
  go.sum
  pkg/deviceclaimingserver/deviceclaimingserver.go
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/gateways_test.go
  pkg/deviceclaimingserver/gateways/testdata/client-key.pem
  pkg/deviceclaimingserver/gateways/testdata/client.pem
  pkg/deviceclaimingserver/gateways/ttgc/root_ca.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/util_test.go
  pkg/webui/locales/ja.json
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

dcs,api: Return whether the gateway is a managed gateway
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/deviceclaimingserver.proto
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/util_test.go
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.paths.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.setters.fm.go
  pkg/ttnpb/deviceclaimingserver.pb.validate.go
  pkg/ttnpb/deviceclaimingserver_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-13

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Change font sizes values
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/input/input.styl
  pkg/webui/components/modal/story.styl
  pkg/webui/components/notification/details/details.styl
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/components/search-panel/search-panel.styl
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/console/components/blurry-network-activity-panel/blurry-network-activity-panel.styl
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/previews/previews.styl
  pkg/webui/console/components/events/previews/shared/description-list/description-list.styl
  pkg/webui/console/components/events/previews/shared/json-payload/json-payload.styl
  pkg/webui/console/components/routing-policy/routing-policy-matrix.styl
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/deployment-component-status/component-status.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/styles/main.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Use per-gateway downlink tokens for LoRa Basics Station
  pkg/gatewayserver/io/semtechws/format.go
  pkg/gatewayserver/io/semtechws/lbslns/downstream.go
  pkg/gatewayserver/io/semtechws/lbslns/downstream_test.go
  pkg/gatewayserver/io/semtechws/lbslns/format.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream_test.go
  pkg/gatewayserver/io/semtechws/ws.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Add tests
  pkg/gatewayserver/io/semtechws/lbslns/downstream_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/ws.go
Owners: @TheThingsNetwork/stack-reviewers-11

util: Remove `role-session-name` for `release-tag` action
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

console: Unclaim gateway on delete
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway-general-settings/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/src/service/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Allow map zoom only on cmd/ctrl + scroll
  pkg/webui/components/map/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Bump to version 3.31.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

util: Remove `role-session-name` for `release-tag` action
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

all: Enter release date of version 3.31.1 into the changelog
  CHANGELOG.md
Owners: none

console: Fix overview header styling
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/gateway-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Don't show application overview header on device routes
  pkg/webui/console/views/application/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix wrong icon
  pkg/webui/console/containers/documentation-dashboard-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix styling of latest decoded payload header
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

all: Enter release date of version 3.31.1 into the changelog
  CHANGELOG.md
Owners: none

all: Bump to version 3.31.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Enter release date of version 3.31.1 into the changelog
  CHANGELOG.md
Owners: none

util: Remove `role-session-name` for `release-tag` action
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Fix smoke tests
  cypress/e2e/smoke/applications/create.js
  cypress/e2e/smoke/applications/index.js
  cypress/e2e/smoke/applications/subpages.js
  cypress/e2e/smoke/devices/index.js
  cypress/e2e/smoke/feature-toggles/index.js
  cypress/e2e/smoke/gateways/create.js
  cypress/e2e/smoke/gateways/delete.js
  cypress/e2e/smoke/gateways/index.js
  cypress/e2e/smoke/gateways/subpages.js
  cypress/e2e/smoke/organizations/create.js
  cypress/e2e/smoke/organizations/delete.js
  cypress/e2e/smoke/organizations/index.js
  cypress/e2e/smoke/organizations/subpages.js
  cypress/e2e/smoke/profile-settings/index.js
  cypress/support/commands.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix e2e tests
  cypress/e2e/console/admin-panel/packet-broker/networks.spec.js
  cypress/e2e/console/admin-panel/packet-broker/routing-policies.spec.js
  cypress/e2e/console/applications/list.spec.js
  cypress/e2e/console/devices/device-overview.spec.js
  cypress/e2e/console/devices/list.spec.js
  cypress/e2e/console/devices/onboarding/claiming.spec.js
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
  cypress/e2e/console/gateways/create.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  cypress/e2e/console/shared/collaborators/add.spec.js
  cypress/e2e/console/shared/collaborators/edit.spec.js
  cypress/e2e/console/shared/connection-losses.spec.js
  cypress/e2e/console/shared/header.spec.js
  cypress/e2e/console/shared/overview/overview.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Apply related fixes
  pkg/webui/components/dropdown/index.js
  pkg/webui/components/form/field/error.js
  pkg/webui/components/panel/index.js
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/console/containers/device-general-information-panel/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateway-general-information-panel/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/device-add/index.js
  pkg/webui/console/views/device-payload-formatters/device-payload-formatters.styl
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/organization/organization-header.js
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/containers/collaborator-select/util.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix scrollBehavior
  config/cypress.config.js
  cypress/e2e/smoke/applications/subpages.js
  cypress/e2e/smoke/devices/index.js
  cypress/e2e/smoke/gateways/subpages.js
  cypress/e2e/smoke/organizations/subpages.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/views/app/app.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

dev: Fix console auth tests
  cypress/e2e/console/auth/access-token.spec.js
  cypress/e2e/console/auth/login.spec.js
  cypress/support/commands.js
  pkg/webui/components/form/field/error.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Disable account app tests for the time being
  config/cypress.config.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix notifications tests
  cypress/e2e/console/notifications/notifications.spec.js
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/console/containers/notifications/notification-list/list-item.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Scrolling things into view
  config/cypress.config.js
  cypress/e2e/console/applications/edit.spec.js
  cypress/e2e/console/devices/onboarding/claiming.spec.js
  cypress/e2e/console/devices/onboarding/manual-registration.spec.js
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  cypress/e2e/console/integrations/pub-subs/create.spec.js
  cypress/e2e/console/integrations/webhooks/create-without-template.spec.js
  cypress/e2e/console/shared/overview/overview.spec.js
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  cypress/e2e/smoke/gateways/subpages.js
  cypress/support/commands.js
  pkg/webui/components/checkbox/checkbox.js
  pkg/webui/components/checkbox/checkbox.styl
  pkg/webui/console/components/pubsub-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix offline badge
  cypress/e2e/console/shared/connection-losses.spec.js
  pkg/webui/console/containers/app-status-badge/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Fix and remove obsolete tests
  config/messages.json
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/webui/console/store/reducers/tests/gateways_test.js
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-3

console: Fix two more tests
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
  cypress/e2e/console/integrations/webhooks/edit.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Account for the fact that there may not be a url
  pkg/webui/console/containers/app-status-badge/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Fix font sizes
  pkg/webui/components/breadcrumbs/breadcrumbs.styl
  pkg/webui/components/input/input.styl
  pkg/webui/components/modal/story.styl
  pkg/webui/components/notification/details/details.styl
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/components/search-panel/search-panel.styl
  pkg/webui/components/stepper/step/step.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/console/components/blurry-network-activity-panel/blurry-network-activity-panel.styl
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/previews/previews.styl
  pkg/webui/console/components/events/previews/shared/description-list/description-list.styl
  pkg/webui/console/components/events/previews/shared/json-payload/json-payload.styl
  pkg/webui/console/components/routing-policy/routing-policy-matrix.styl
  pkg/webui/console/containers/deployment-component-status/component-status.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/lib/components/full-view-error/error.styl
  pkg/webui/styles/main.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Make utilities !important
  pkg/webui/styles/utilities/general.styl
  pkg/webui/styles/utilities/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Fix scrollbar style
  pkg/webui/styles/main.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console,account: Add tooltip option to button component
  pkg/webui/components/button/index.js
  pkg/webui/components/tooltip/index.js
  pkg/webui/components/tooltip/tooltip.styl
Owners: @TheThingsNetwork/stack-reviewers-3

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
