Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: Apply various fixes for the redesign
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/console/containers/header/bookmarks-dropdown.js
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/shortcut-panel/index.js
  pkg/webui/console/containers/shortcut-panel/shortcut-item/index.js
  pkg/webui/console/containers/shortcut-panel/shortcut-item/shortcut-item.styl
Owners: @TheThingsNetwork/stack-reviewers-3

js: Add v1.2.0 to the supported MAC versions
  pkg/joinserver/joinserver.go
  pkg/joinserver/joinserver_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Align collaborator select option
  pkg/webui/components/select/suggested-select.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add back verbose stream switch
  pkg/webui/components/switch/index.js
  pkg/webui/console/components/events/events.styl
  pkg/webui/console/components/events/index.js
  pkg/webui/constants/colors.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove cookie state and use persisted state for pageSize
  pkg/webui/components/pagination/index.js
  pkg/webui/components/sidebar/switcher/index.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-side-navigation.js
  pkg/webui/console/store/actions/user-preferences.js
  pkg/webui/console/store/index.js
  pkg/webui/console/store/reducers/user-preferences.js
  pkg/webui/console/store/selectors/user-preferences.js
  pkg/webui/console/views/applications-list/index.js
  pkg/webui/console/views/gateways-list/index.js
  pkg/webui/console/views/gateways/index.js
  pkg/webui/console/views/organizations-list/index.js
  pkg/webui/console/views/organizations/index.js
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add visual indication of language
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/dropdown/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix map height
  pkg/webui/components/map/map.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix routing policy style
  pkg/webui/console/components/routing-policy/matrix.js
  pkg/webui/console/components/routing-policy/routing-policy-matrix.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix map
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/console/components/map-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add fixes
  pkg/webui/components/map/index.js
  pkg/webui/components/map/map.styl
  pkg/webui/components/switch/index.js
  pkg/webui/console/components/events/index.js
  pkg/webui/constants/colors.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add cipher id to the MAC state
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/end_device.proto
  pkg/ttnpb/end_device.pb.go
  pkg/ttnpb/end_device.pb.paths.fm.go
  pkg/ttnpb/end_device.pb.setters.fm.go
  pkg/ttnpb/end_device.pb.validate.go
  pkg/ttnpb/end_device_flags.pb.go
  pkg/ttnpb/end_device_json.pb.go
  pkg/ttnpb/qrcodegenerator.pb.paths.fm.go
  pkg/util/test/constructors_generated.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix notification link for oauth client pages
  pkg/webui/console/components/notifications/templates/client-requested.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Fix MAC state tests
  pkg/ttnpb/end_device.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Store the `RekeyInd` cipher id to MAC state
  pkg/networkserver/mac/rekey.go
  pkg/networkserver/mac/rekey_test.go
  pkg/specification/macspec/specification.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Store `ResetInd` cipher id in MAC state
  pkg/networkserver/mac/reset.go
  pkg/networkserver/mac/reset_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Add blurred noc metrics panels in the overview
  pkg/webui/assets/misc/blurry-noc-metrics-big.png
  pkg/webui/assets/misc/blurry-noc-metrics-small.png
  pkg/webui/console/components/blurry-noc-metrics-panel/blurry-noc-metrics-panel.styl
  pkg/webui/console/components/blurry-noc-metrics-panel/index.js
  pkg/webui/console/views/overview/overview.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix search panel responsiveness
  pkg/webui/components/search-panel/search-panel.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add dropdown table on device overview mobile
  pkg/webui/components/button/button.styl
  pkg/webui/components/modal/index.js
  pkg/webui/components/modal/modal.styl
  pkg/webui/components/select/index.js
  pkg/webui/console/components/events/index.js
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/device/device.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix quick add items on mobile
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/components/sidebar/section-label/section-label.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Persist global pagesize
  pkg/webui/console/store/index.js
  pkg/webui/console/store/reducers/user-preferences.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Other layout fixes
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/event-split-frame/event-split-frame.styl
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix modal styling
  pkg/webui/components/modal/modal.styl
Owners: @TheThingsNetwork/stack-reviewers-3

as: Add new event types
  pkg/applicationserver/observability.go
Owners: @TheThingsNetwork/stack-reviewers-11

as: Fix names for downlink events
  pkg/applicationserver/observability.go
Owners: @TheThingsNetwork/stack-reviewers-11

console: Fix modal
  pkg/webui/components/modal/modal.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix modal margin
  pkg/webui/components/modal/modal.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix lint
  pkg/webui/console/views/device/device.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add total end devices upseller panel
  pkg/webui/console/components/total-end-devices-upseller-panel/index.js
  pkg/webui/console/components/total-end-devices-upseller-panel/total-end-devices-upseller-panel.styl
  pkg/webui/console/views/overview/overview.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix event frame height
  pkg/webui/console/containers/event-split-frame/event-split-frame.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Revert end device tabs into dropdown
  pkg/webui/console/views/device/device.js
  pkg/webui/console/views/device/device.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update header variable
  pkg/webui/components/header/header.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

util: Add `Gateways` field to the `FrequencyPlan`
  pkg/frequencyplans/frequencyplans.go
  pkg/frequencyplans/frequencyplans_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

util: Use `*bool` for `Gateways` field
  pkg/frequencyplans/frequencyplans.go
  pkg/frequencyplans/frequencyplans_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

api: Add optional field to filter out non-gateway related freq plans
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/configuration_services.proto
  pkg/ttnpb/configuration_services.pb.go
  pkg/ttnpb/configuration_services.pb.paths.fm.go
  pkg/ttnpb/configuration_services.pb.setters.fm.go
  pkg/ttnpb/configuration_services.pb.validate.go
  pkg/ttnpb/configuration_services_flags.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

util: Filter out non-gateway related freq plans
  pkg/frequencyplans/frequencyplans.go
  pkg/frequencyplans/rpc.go
  pkg/frequencyplans/rpc_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

cli: Add option to filter the frequency plans
  cmd/ttn-lw-cli/commands/gateways.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

console: Add notifications dropdown fixes
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove locale
  pkg/webui/console/containers/network-information-container/registry-totals.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3
