Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

all: Cut off changelog version 3.31.1
  CHANGELOG.md
Owners: none

all: Fix changelog
  CHANGELOG.md
Owners: none

all: Bump to version 3.31.1
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix orgnization breadcrumbs
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-api-key-add/index.js
  pkg/webui/console/views/organization-api-key-edit/index.js
  pkg/webui/console/views/organization-api-keys/index.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization-general-settings/index.js
  pkg/webui/console/views/organization/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix autosuggest icons
  pkg/webui/account/containers/collaborators-table/index.js
  pkg/webui/console/containers/account-select/index.js
  pkg/webui/containers/collaborator-select/index.js
  pkg/webui/containers/collaborator-select/util.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix organization view and rename collaborators to members
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/views/organization-collaborators-list/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization/index.js
  pkg/webui/console/views/organization/organization-header.js
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages and remove unnecessary nodes
  pkg/webui/console/containers/organization-title-section/index.js
  pkg/webui/console/views/organization-overview/index.js
  pkg/webui/console/views/organization-overview/organization-overview.styl
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix routes and breadcrumbs
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove event start
  pkg/webui/console/views/organization/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messsages to member
  pkg/webui/console/containers/collaborators-table/index.js
  pkg/webui/console/views/organization-add/index.js
  pkg/webui/console/views/organization-collaborator-add/index.js
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-data/index.js
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add member message to validation schema
  pkg/webui/containers/collaborator-form/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix tabs layout
  pkg/webui/console/views/organization/index.js
  pkg/webui/containers/collaborator-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix organization breadcrumbs
  pkg/webui/console/views/organization-collaborator-edit/index.js
  pkg/webui/console/views/organization-collaborators/index.js
  pkg/webui/console/views/organization/index.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

ns: Exit early when no MAC version is set
  CHANGELOG.md
  config/messages.json
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Resolve lint warnings
  pkg/networkserver/errors.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Add mac settings download dropdown
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/views/device-overview/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor getway delete modal to be generic and use
  pkg/webui/console/components/application-general-settings-form/index.js
  pkg/webui/console/containers/application-general-settings/index.js
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/views/application-overview/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add delete device modal
  pkg/webui/components/modal/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/views/device-general-settings/identity-server-form/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add links to org header
  pkg/webui/console/views/organization/organization-header.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix side footer
  pkg/webui/components/sidebar/side-footer/index.js
  pkg/webui/components/sidebar/side-footer/side-footer.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix device info panel
  pkg/webui/console/containers/device-info-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move gateway header
  pkg/webui/console/views/gateway-overview/index.js
  pkg/webui/console/views/gateway/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix merge
  pkg/webui/console/views/device-overview/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add new tables styles - toggle style and panel style
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/cell/index.js
  pkg/webui/components/table/index.js
  pkg/webui/components/table/row/index.js
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/index.js
  pkg/webui/components/tabs/tab/index.js
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update existing tables with new styles
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-panel/recent-devices.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/index.js
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/top-entities-dashboard-panel/item.js
  pkg/webui/console/containers/top-entities-dashboard-panel/list.js
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update messages
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/views/device-overview/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix latest decoded payload
  pkg/webui/console/containers/latest-decoded-payload-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix application map panel
  pkg/webui/console/components/application-map-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

ns: Exit early when no MAC version is set
  CHANGELOG.md
  config/messages.json
  pkg/networkserver/errors.go
  pkg/networkserver/grpc_gsns.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Resolve lint warnings
  pkg/networkserver/errors.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix device top entities panel
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: More table styling fixes
  pkg/webui/components/delete-modal-button/index.js
  pkg/webui/components/safe-inspector/index.js
  pkg/webui/components/safe-inspector/safe-inspector.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/console/containers/applications-table/index.js
  pkg/webui/console/containers/devices-table/index.js
  pkg/webui/console/containers/gateways-table/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-applications/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-gateways/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix unhandled video stream in QR code scanner
  CHANGELOG.md
  pkg/webui/components/qr/input/video/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix table style
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/index.js
  pkg/webui/components/table/table/table.styl
  pkg/webui/containers/fetch-table/fetch-table.styl
Owners: @TheThingsNetwork/stack-reviewers-3

api: Update deviceclaimingserver proto definitions
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/deviceclaimingserver.proto
  pkg/ttnpb/deviceclaimingserver.pb.go
  pkg/ttnpb/deviceclaimingserver.pb.gw.go
  pkg/ttnpb/deviceclaimingserver_grpc.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Move schedule downlink tab to first position
  cypress/e2e/console/devices/import.spec.js
  cypress/e2e/console/devices/messaging/edit.spec.js
  cypress/e2e/console/shared/skip-payload-crypto/edit.spec.js
  cypress/e2e/smoke/devices/index.js
  pkg/webui/console/components/downlink-form/index.js
  pkg/webui/console/components/uplink-form/index.js
  pkg/webui/console/views/device-messaging/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

dcs: Update server initialization
  pkg/deviceclaimingserver/deviceclaimingserver.go
Owners: @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
