Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: Initial remove wifi profile implementation
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

gcs: Unset profile ID
  pkg/gatewayconfigurationserver/managed/mapping.go
Owners: @TheThingsNetwork/stack-reviewers-12

console: Add validation for enable wifi connection
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update e2e tests
  cypress/e2e/console/gateways/managed/connection-settings.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Exclude enable_wifi_connection from request body
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Modify shouldUpdateProfile condition
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove attempt message when wifi connection is disabled
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove previous selection when changing wifi enabled
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
Owners: @TheThingsNetwork/stack-reviewers-3

ns: Fix downlink tests
  pkg/networkserver/downlink_test.go
  pkg/util/test/test.go
Owners: @TheThingsNetwork/stack-reviewers-1

is: Add notification preferences migration and user field
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.down.sql
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/user_registry.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Deprecate email in Notification and createNotification messages
  api/ttn/lorawan/v3/notification_service.proto
  pkg/email/templates/templates_test.go
  pkg/identityserver/application_access.go
  pkg/identityserver/bunstore/notification_store.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/storetest/notification_store.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/notification_service.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-9

dev: Add js:fmt diff
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/components/table/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

is: Fix email_notification_preferences migration and store
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/user_registry.go
  pkg/webui/console/store/middleware/logics/init.js
  sdk/js/generated/api-definition.json
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-3

console: Fix console redesign issues
  pkg/webui/components/button/button.styl
  pkg/webui/components/button/index.js
  pkg/webui/components/link/index.js
  pkg/webui/components/link/link.styl
  pkg/webui/components/map/widget/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/components/panel/panel.styl
  pkg/webui/console/components/blurry-noc-metrics-panel/blurry-noc-metrics-panel.styl
  pkg/webui/console/components/blurry-noc-metrics-panel/index.js
  pkg/webui/console/components/total-end-devices-upseller-panel/index.js
  pkg/webui/console/components/total-end-devices-upseller-panel/total-end-devices-upseller-panel.styl
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix device ID check for top devices in the app overview
  CHANGELOG.md
  pkg/webui/console/containers/top-entities-dashboard-panel/top-devices/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

is, console: Fix sending emails and seeing notifications
  pkg/identityserver/notification_registry.go
  pkg/webui/console/components/notifications/constants.js
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-3

console: Fix weird sidebar resizing
  pkg/webui/components/scroll-fader/index.js
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/console/containers/sidebar/sidebar.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Include additional console redesign fixes
  pkg/webui/components/link/link.styl
  pkg/webui/components/map/index.js
  pkg/webui/components/scroll-fader/index.js
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/components/table/tabular.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add fe validation schema
  pkg/webui/console/containers/profile-settings-form/validation-schema.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add feature checks to shortcut panel
  pkg/webui/console/containers/shortcut-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

is: Fix email_notification_preferences type and migration
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Make only one request to get the users
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

console: Fix PR remarks
  pkg/webui/components/map/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
Owners: @TheThingsNetwork/stack-reviewers-3

Update DESIGN.md
  DESIGN.md
Owners: @TheThingsNetwork/stack-reviewers-1

cli: Use gRPC NewClient
  cmd/ttn-lw-cli/internal/api/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-7

util: Use gRPC NewClient
  pkg/telemetry/tracing/exporter.go
Owners: none

pba: Use gRPC NewClient
  pkg/packetbrokeragent/agent.go
Owners: @TheThingsNetwork/stack-reviewers-1

cli: Remove obsolete function
  cmd/ttn-lw-cli/commands/root.go
  cmd/ttn-lw-cli/internal/api/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-7

util: Test resolver directly
  pkg/rpcmiddleware/discover/discover_test.go
  pkg/rpcmiddleware/discover/testdata/.editorconfig
  pkg/rpcmiddleware/discover/testdata/serverca.pem
  pkg/rpcmiddleware/discover/testdata/servercert.pem
  pkg/rpcmiddleware/discover/testdata/serverkey.pem
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

console: Change device feature check
  pkg/webui/console/containers/shortcut-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

is: Add test case for emailNotificationPreferences
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

console: Fix featurecheck
  pkg/webui/console/containers/shortcut-panel/index.js
  pkg/webui/console/lib/feature-checks.js
Owners: @TheThingsNetwork/stack-reviewers-3

js: Fix reuse and tooSmall functions
  pkg/joinserver/observability.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

gs: Fix mutated event data causing panics (evtGatewayConnectionStats)
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Add mage target for serve dev webui tool
  DEVELOPMENT.md
  tools/js/serve-dev-webui.js
  tools/mage/dev.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

is: Add pagination limit default
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-9

is: Use default if page limit is zero
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/config.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9
