Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

cli: Fix invalid workflow in CLI telemetry
  pkg/telemetry/exporter/cli/cli.go
Owners: none

dev: Update Dockerfile
  Dockerfile
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

console: Fix webhook retry interval regex value
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/locales/en.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Add info logs to GRPC retry
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/api/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Add retry logic to CLI `end_devices` `create`
  cmd/ttn-lw-cli/commands/end_devices.go
  cmd/ttn-lw-cli/internal/api/grpc.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Add `CHANGELOG` entry
  CHANGELOG.md
Owners: none

gs: Fix nil pointer exception on FSK for ttigw
  config/messages.json
  pkg/gatewayserver/io/ttigw/mapping.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Fix test when TEST_REDIS=0
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

as: Fix race condition caused by loc update and publishing norm uplink
  pkg/applicationserver/applicationserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Cut off changelog version 3.34.2
  CHANGELOG.md
Owners: none

all: Bump to version 3.34.2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

is: Update dependencies
  pkg/identityserver/store/migrations/20220520000000_v3_20.go
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update dependencies
  pkg/identityserver/store/migrations/20220520000000_v3_20.go
  tools/go.mod
  tools/go.sum
  yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-3

console: Fix password type
  pkg/webui/components/input/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Cange input type
  pkg/webui/account/views/login/index.js
  pkg/webui/components/input/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

as: Update NormalisedUplink parsers
  CHANGELOG.md
  config/messages.json
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_internal_test.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-11

as: Add `water.temperature` for `normalizedpayload`
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

as: Add rain to normalized uplink
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Update changelog
  CHANGELOG.md
Owners: none

as: Add metering to normalized uplink
  pkg/messageprocessors/normalizedpayload/uplink.go
  pkg/messageprocessors/normalizedpayload/uplink_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Update dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

all: Downgrade gRPC to v1.71.0
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

all: Enter release date of version 3.34.2 into the changelog
  CHANGELOG.md
Owners: none

all: Remove code used to catch panics triggered by data marshalling
  pkg/events/events.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update s3blob openbucket
  go.mod
  go.sum
  pkg/blob/bucket.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Fix tablewriter version in tools
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Run golangci-lint migrate
  .golangci.yml
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update golangci version in GH workflow
  .github/workflows/go.yml
Owners: @TheThingsNetwork/stack-reviewers-7

refactor: use slices.Equal to simplify code
  pkg/band/channel_mask.go
  pkg/networkserver/mac/link_adr.go
  pkg/redis/redis.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-1

gs: Clone downlink message before registering attempt event
  config/messages.json
  pkg/gatewayserver/grpc_nsgs.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-11

console: Handle non-critical data request errors gracefully
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add timeout checks
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/lib/errors/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: FIx unavailable var
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Update dependencies
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

all: Cut off changelog version 3.34.3
  CHANGELOG.md
Owners: none

all: Bump to version 3.34.3
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Handle non-critical data request errors gracefully
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add timeout checks
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/lib/errors/utils.js
Owners: @TheThingsNetwork/stack-reviewers-3
