Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

console: Update icons in managed gateway
  pkg/webui/assets/fonts/materialicons.svg
  pkg/webui/assets/fonts/materialicons.ttf
  pkg/webui/assets/fonts/materialicons.woff
  pkg/webui/assets/fonts/materialicons.woff2
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix wifi profiles form
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement PR suggestions
  cypress/e2e/console/gateways/managed/wifi-profiles.spec.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/ethernet-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/lib/components/validate-route-param.js
  pkg/webui/lib/diff.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Implement managed gateway connections panel
  pkg/webui/components/notification/details/index.js
  pkg/webui/console/components/events/messages.js
  pkg/webui/console/components/events/previews/application-uplink.js
  pkg/webui/console/components/events/previews/gateway-uplink-message.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/connections.styl
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/network-interface-addresses-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix updating profiles
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/store/selectors/connection-profiles.js
  sdk/js/src/service/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Rename managed gateway
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/connection-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/overview.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-profiles/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connection-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/utils.js
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/gateway-managed-gateway/index.js
  pkg/webui/console/views/gateway/index.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add store actions for connection profiles
  pkg/webui/console/containers/gateway-the-things-station/connection-profiles.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/selectors/gateways.js
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add various styling fixes
  pkg/webui/components/form/field/index.js
  pkg/webui/components/form/field/tooltip.js
  pkg/webui/components/spinner/spinner.styl
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/connections.styl
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/messages.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.styl
  pkg/webui/console/containers/gateway-managed-gateway/shared/show-profiles-select.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  pkg/webui/styles/utilities/general.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: List wifi profiles
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/store/actions/connection-profiles.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/console/store/selectors/connection-profiles.js
  pkg/webui/lib/shared-messages.js
  sdk/js/src/service/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Create/edit wifi profiles
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/index.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/validation-schema.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/form.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/store/actions/connection-profiles.js
  pkg/webui/console/store/middleware/logics/connection-profiles.js
  pkg/webui/console/store/reducers/connection-profiles.js
  pkg/webui/console/store/selectors/connection-profiles.js
  sdk/js/src/service/connection-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Use The Things Industries CAs for TTGC
  go.mod
  go.sum
  pkg/ttgc/ttgc.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

console: Add missing fields in connections panel
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/connections/utils.js
  pkg/webui/console/containers/gateway-managed-gateway/connection-settings/wifi-settings-form-fields.js
  pkg/webui/lib/shared-messages.js
Owners: @TheThingsNetwork/stack-reviewers-3

account: Fix notification after revoking access
  pkg/webui/account/views/update-password/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Remove duplicate test
  cypress/e2e/account/change-password.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error views
  pkg/webui/account.js
  pkg/webui/account/views/app/index.js
  pkg/webui/components/header/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix error page headers
  pkg/webui/account.js
  pkg/webui/account/containers/header/index.js
  pkg/webui/account/views/app/index.js
  pkg/webui/console.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Reactiovate account app tests
  config/cypress.config.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update wifi profiles e2e tests
  cypress/e2e/console/gateways/managed/wifi-profiles.spec.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix access point list useEffect dependencies
  cypress/e2e/console/gateways/managed/wifi-profiles.spec.js
  pkg/webui/components/form/field/index.js
  pkg/webui/console/containers/access-point-list/index.js
  pkg/webui/console/containers/gateway-managed-gateway/shared/wifi-profiles-form-fields.js
Owners: @TheThingsNetwork/stack-reviewers-3

util: Add ComputeDownlinkMICA function
  pkg/crypto/data_messages.go
  pkg/crypto/data_messages_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Streamline cypress tests with enterprise
  cypress/e2e/account/change-password.spec.js
  cypress/e2e/console/admin-panel/admin-panel.spec.js
  cypress/e2e/console/admin-panel/network-information/network-information.spec.js
  cypress/e2e/console/auth/access-token.spec.js
  cypress/e2e/console/auth/login.spec.js
  cypress/e2e/console/devices/onboarding/repository-registration.spec.js
  cypress/e2e/console/gateways/edit.spec.js
  cypress/e2e/console/shared/connection-losses.spec.js
  cypress/e2e/console/shared/header.spec.js
  cypress/e2e/console/shared/overview/overview.spec.js
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  cypress/e2e/console/user-settings/session-management.spec.js
  cypress/e2e/smoke/devices/index.js
  cypress/e2e/smoke/gateways/subpages.js
  cypress/e2e/smoke/organizations/subpages.js
  cypress/support/e2e.js
  pkg/webui/components/button/index.js
  pkg/webui/components/form/field/error.js
  pkg/webui/components/link/index.js
  pkg/webui/components/panel/index.js
  pkg/webui/console/containers/device-general-information-panel/index.js
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/store/middleware/logics/init.js
  pkg/webui/console/store/middleware/logics/user.js
  pkg/webui/console/views/app/app.styl
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/lib/components/full-view-error/error.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Add cypress option to serve dev stack tool
  tools/js/serve-dev-stack.js
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Output console error in CI environments
  config/webpack.config.babel.js
  pkg/webui/lib/dev.js
  pkg/webui/lib/log.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Enable end device creation quick action
  pkg/webui/components/search-panel/index.js
  pkg/webui/components/sidebar/section-label/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/search-panel/index.js
  pkg/webui/console/containers/shortcut-panel/index.js
  pkg/webui/console/containers/shortcut-panel/shortcut-item/index.js
  pkg/webui/console/containers/shortcut-panel/shortcut-item/shortcut-item.styl
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/store/actions/search.js
  pkg/webui/console/store/reducers/search.js
  pkg/webui/console/store/selectors/search.js
  pkg/webui/console/views/device-add/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Add tooltip message
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fix merge
  pkg/webui/components/header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve sidebar behavior
  pkg/webui/components/header/header.styl
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/views/app/index.js
  pkg/webui/styles/mixins.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Works on second hover
  pkg/webui/components/dropdown/attached.js
  pkg/webui/components/dropdown/portal/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Adjust sidebar logic
  pkg/webui/components/button/index.js
  pkg/webui/components/header/index.js
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Change minimized sidebar
  pkg/webui/components/header/header.styl
  pkg/webui/components/header/index.js
  pkg/webui/components/sidebar/search-button/index.js
  pkg/webui/components/sidebar/search-button/search-button.styl
  pkg/webui/components/sidebar/side-footer/index.js
  pkg/webui/components/sidebar/side-footer/side-footer.styl
  pkg/webui/components/sidebar/side-header/index.js
  pkg/webui/components/sidebar/side-header/side-header.styl
  pkg/webui/components/sidebar/side-menu/index.js
  pkg/webui/components/sidebar/side-menu/item/collapsible.js
  pkg/webui/components/sidebar/side-menu/item/item.styl
  pkg/webui/components/sidebar/side-menu/item/link.js
  pkg/webui/components/sidebar/side-menu/side.styl
  pkg/webui/components/sidebar/switcher/index.js
  pkg/webui/components/sidebar/switcher/switcher.styl
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/navigation/app-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/general-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-list-side-navigation.js
  pkg/webui/console/containers/sidebar/navigation/gtw-side-navigation.js
  pkg/webui/console/containers/sidebar/sidebar.styl
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor sidebar context for better encapsulation
  pkg/webui/console/containers/header/index.js
  pkg/webui/console/containers/sidebar/context.js
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/views/app/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix tooltip arrow placement
  pkg/webui/components/tooltip/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Cap max frmpaylod size in ApplicationDownlink
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/messages.proto
  pkg/ttnpb/messages.pb.go
  pkg/ttnpb/messages.pb.validate.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Restore lost changes to data sheet and overview headers
  pkg/webui/components/data-sheet/data-sheet.styl
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/device-general-information-panel/index.js
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/device-overview-header/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Adjust application overview tests
  cypress/e2e/console/shared/overview/overview.spec.js
Owners: @TheThingsNetwork/stack-reviewers-3

api: Add CipherEnum
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/lorawan.proto
  pkg/ttnpb/lorawan.pb.go
  pkg/ttnpb/lorawan.pb.paths.fm.go
  pkg/ttnpb/lorawan.pb.setters.fm.go
  pkg/ttnpb/lorawan.pb.validate.go
  pkg/ttnpb/lorawan_json.pb.go
  pkg/ttnpb/testdata/ttnpb_encoding_golden.md
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

console: Fix map panel
  pkg/webui/console/components/device-map-panel/device-map-panel.styl
  pkg/webui/console/components/device-map-panel/index.js
  pkg/webui/console/components/gateway-map-panel/gateway-map-panel.styl
  pkg/webui/console/components/gateway-map-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix breakpoint
  pkg/webui/components/panel/toggle/toggle.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Change grey color scale
  pkg/webui/styles/variables/colors.styl
Owners: @TheThingsNetwork/stack-reviewers-3

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
