Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

dev: Update deps
  sdk/js/yarn.lock
Owners: @TheThingsNetwork/stack-reviewers-3

as: Implement backoff for cooldown period of disabled webhooks
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/applicationserver.proto
  pkg/applicationserver/config.go
  pkg/applicationserver/io/web/sink/health.go
  pkg/applicationserver/io/web/sink/health_test.go
  pkg/ttnpb/applicationserver.pb.go
  pkg/ttnpb/applicationserver.pb.paths.fm.go
  pkg/ttnpb/applicationserver.pb.setters.fm.go
  pkg/ttnpb/applicationserver.pb.validate.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11

gs: Use the concentrator time to calculate the server and wait time
  pkg/gatewayserver/io/udp/udp.go
  pkg/ttnpb/udp/translation.go
  pkg/ttnpb/udp/translation_test.go
Owners: @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

console: Remove disabling
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Use separate ctx for Redis mutex unlock
  pkg/redis/redis.go
Owners: none

console: Add a readOnly
  pkg/webui/containers/fetch-table/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.36.0
  CHANGELOG.md
Owners: none

all: Bump to version 3.36.0
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Sanitize HTML in error responses to prevent reflected XSS
  pkg/rpcserver/rpcserver.go
  pkg/rpcserver/rpcserver_test.go
  pkg/ttnpb/errors.go
  pkg/ttnpb/errors_test.go
  pkg/webhandlers/error_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

ci: Read Go version from go.mod instead of hardcoding
  .github/actions/install-go-and-deps/action.yml
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update golangci-lint version
  .github/workflows/go.yml
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update go version
  go.mod
  tools/go.mod
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

gs: Fix LNS-initiated time transfers for Basic Station
  CHANGELOG.md
  pkg/gatewayserver/io/semtechws/lbslns/downstream_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/state.go
  pkg/gatewayserver/io/semtechws/state_test.go
  pkg/gatewayserver/io/semtechws/ws.go
Owners: @TheThingsNetwork/stack-reviewers-11

util: Fix mutex lock when fetching rights on cache miss
  pkg/auth/rights/cache.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update changelog
  CHANGELOG.md
Owners: none

all: Replace deprecated noop tracer provider function
  pkg/telemetry/tracing/tracing.go
Owners: none

gs: Add tracing spans for semtechws handlers
  pkg/gatewayserver/io/semtechws/ws.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Add tracing spans for ttigw handlers
  pkg/gatewayserver/io/ttigw/ttigw.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Update changelog
  CHANGELOG.md
Owners: none

Improve GS io tracing for TTIGW & LBS LNS protocols (#7859)
  CHANGELOG.md
  pkg/gatewayserver/io/semtechws/ws.go
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/telemetry/tracing/tracing.go
Owners: @TheThingsNetwork/stack-reviewers-11

dcs: Implement the Update method in GatewayRegistry
  pkg/deviceclaimingserver/registry/gateways/gateways.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Create gateway at the start of the Claim to attach keys to gateway
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Implement TTGC LBS CUPS claimer
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/lbscups/lbscups.go
  pkg/deviceclaimingserver/gateways/lbscups/root_ca.go
  pkg/ttgc/config.go
Owners: @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

util: Update the changelog
  CHANGELOG.md
Owners: none

dcs: Add LBS CUPS unit tests
  pkg/deviceclaimingserver/gateways/lbscups/lbscups_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Fix code quality errors
  pkg/deviceclaimingserver/gateways/lbscups/lbscups.go
  pkg/deviceclaimingserver/gateways/lbscups/root_ca.go
Owners: @TheThingsNetwork/stack-reviewers-13

dcs: Drop the separate lbs claimer, update the ttgc claimer
  CHANGELOG.md
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/lbscups/lbscups_test.go
  pkg/deviceclaimingserver/gateways/lbscups/root_ca.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/gateways/ttgc/ttiv1.go
  pkg/ttgc/config.go
Owners: @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

dcs: Prioritise the claiming option for ttgc managed gateways
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
Owners: @TheThingsNetwork/stack-reviewers-13

dev: Update gateway controller API & dependencies
  config/messages.json
  go.mod
  go.sum
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/webui/locales/ja.json
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

dev: Fix lint errors
  pkg/deviceclaimingserver/grpc_gateways_test.go
Owners: @TheThingsNetwork/stack-reviewers-13

TTGC LBS CUPS Claimer (#7813)
  CHANGELOG.md
  config/messages.json
  go.mod
  go.sum
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/gateways/ttgc/ttiv1.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/registry/gateways/gateways.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
  pkg/webui/locales/ja.json
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-7

gs: Do not schedule too far ahead
  config/messages.json
  pkg/gatewayserver/scheduling/scheduler.go
  pkg/gatewayserver/scheduling/scheduler_internal_test.go
  pkg/gatewayserver/scheduling/sub_band.go
  pkg/gatewayserver/scheduling/sub_band_test.go
  pkg/gatewayserver/scheduling/util_test.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Stop the timer if context is cancelled
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/udp/udp.go
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

ci: Switch to `justinthelaw/maximize-github-runner-space`
  .github/workflows/release-tag.yml
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Bump bun/dialect/pgdialect to match v1.2.15
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-7

all: Validate root CA certificates are CA certs
  pkg/config/tlsconfig/config.go
  pkg/config/tlsconfig/config_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Update changelog for root CA validation
  CHANGELOG.md
Owners: none

dev: Update error messages
  config/messages.json
  pkg/webui/locales/ja.json
Owners: none
