Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

console: FIx unavailable var
  pkg/webui/console/containers/gateway-status-panel/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add mac settings profiles list and create form
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/gateway-managed-gateway/wifi-profiles/overview.js
  pkg/webui/console/containers/mac-settings-profile-form/form-validation.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/mac-settings-profiles-table/index.js
  pkg/webui/console/containers/sidebar/navigation/app-side-navigation.js
  pkg/webui/console/store/actions/mac-settings-profiles.js
  pkg/webui/console/store/middleware/logics/index.js
  pkg/webui/console/store/middleware/logics/mac-settings-profiles.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/store/reducers/mac-settings-profiles.js
  pkg/webui/console/store/selectors/mac-settings-profiles.js
  pkg/webui/console/views/application-mac-settings-profile-add/index.js
  pkg/webui/console/views/application-mac-settings-profiles-list/index.js
  pkg/webui/console/views/application-mac-settings-profiles/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/selectors/id.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/src/index.js
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add delete and update mac settings profiles
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/mac-settings-profiles-table/index.js
  pkg/webui/console/store/actions/mac-settings-profiles.js
  pkg/webui/console/store/middleware/logics/mac-settings-profiles.js
  pkg/webui/console/store/reducers/index.js
  pkg/webui/console/views/application-mac-settings-profiles-list/index.js
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

ns: Keep the ADR data rate index value between min and max values
  pkg/networkserver/mac/adr.go
  pkg/networkserver/mac/adr_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

ns: Use the built-in min and max functions
  pkg/networkserver/mac/adr.go
Owners: @TheThingsNetwork/stack-reviewers-1

console: Edit mac settings profile and create mac settings profile field
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/lib/regexp.js
  pkg/webui/console/store/actions/mac-settings-profiles.js
  pkg/webui/console/store/middleware/logics/mac-settings-profiles.js
  pkg/webui/console/store/reducers/mac-settings-profiles.js
  pkg/webui/console/store/selectors/mac-settings-profiles.js
  pkg/webui/console/views/application-mac-settings-profile-edit/index.js
  pkg/webui/console/views/application-mac-settings-profiles/index.js
  pkg/webui/console/views/device-general-settings/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/generated/api-definition.json
  sdk/js/src/service/network-server-mac-settings-profiles.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Handle error in stats
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add action to create a new mac settings profile
  pkg/webui/components/form/section/section.styl
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/views/application-mac-settings-profile-add/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/mac-settings-profiles-table/index.js
  pkg/webui/console/views/application-mac-settings-profile-add/index.js
  pkg/webui/console/views/application-mac-settings-profile-edit/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Styling fixes
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/mac-settings-profiles-table/index.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix messages
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/mac-settings-profiles-table/index.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Refactor repetitions
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/lib/device-utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add go back to device after creation
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Add e2e tests
  cypress/e2e/console/devices/mac-settings-profiles/assign.spec.js
  cypress/e2e/console/devices/mac-settings-profiles/create.spec.js
  cypress/e2e/console/devices/mac-settings-profiles/edit.spec.js
  cypress/e2e/console/devices/mac-settings-profiles/list.spec.js
  cypress/support/commands.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Move withauth component
  pkg/webui/console/views/app/index.js
  pkg/webui/lib/store/actions/status.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix DR formatters display
  pkg/webui/console/components/payload-formatters-form/index.js
  pkg/webui/console/containers/device-payload-formatters/downlink.js
  pkg/webui/console/containers/device-payload-formatters/uplink.js
  pkg/webui/console/store/middleware/logics/device-repository.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix e2e test
  cypress/e2e/console/shared/payload-formatters/edit.spec.js
  pkg/webui/console/components/payload-formatters-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove options from device utils
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/lib/device-utils.js
  pkg/webui/console/lib/mac-settings-utils.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix smoke tests
  cypress/e2e/smoke/devices/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix api-definition
  sdk/js/generated/api-definition.json
Owners: none

console: Fix comments
  pkg/webui/console/components/mac-settings-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/form-validation.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix validation schema
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix validation
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
  pkg/webui/console/views/device-general-settings/network-server-form/validation-schema.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove console.log
  pkg/webui/console/views/device-general-settings/network-server-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

ns: Remove max retransmission delay
  pkg/networkserver/grpc_gsns.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Make maxConfNbTrans configurable
  pkg/networkserver/config.go
  pkg/networkserver/grpc_gsns.go
  pkg/networkserver/networkserver.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

console: Fix gateway status in the overview
  pkg/webui/console/containers/gateway-connection/index.js
  pkg/webui/console/containers/gateway-status-panel/index.js
  pkg/webui/console/store/middleware/logics/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Update firefox version
  .github/workflows/console-e2e.yml
Owners: @TheThingsNetwork/stack-reviewers-7

console: Update firefox version
  .github/workflows/console-e2e.yml
  cypress/e2e/console/devices/import.spec.js
  cypress/support/e2e.js
  cypress/support/utils.js
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-3

ns: Retry confirmed class C downlink on timeout
  cmd/ttn-lw-stack/commands/start.go
  pkg/networkserver/config.go
  pkg/networkserver/downlink.go
  pkg/networkserver/internal/test/shared/redis.go
  pkg/networkserver/networkserver.go
  pkg/networkserver/networkserver_util_internal_test.go
  pkg/networkserver/redis/downlink_task_queue.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-1

dev: Fix generated email templates
  pkg/email/templates/base.html.tmpl
  pkg/email/templates/testdata/api_key_changed.body.golden.html
  pkg/email/templates/testdata/api_key_created.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/client_requested.body.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/client_requested.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/collaborator_changed.body.golden.html
  pkg/email/templates/testdata/entity_state_changed.body.golden.html
  pkg/email/templates/testdata/invitation.body.golden.html
  pkg/email/templates/testdata/login_token.body.golden.html
  pkg/email/templates/testdata/password_changed.body.golden.html
  pkg/email/templates/testdata/temporary_password.body.golden.html
  pkg/email/templates/testdata/user_requested.body.golden.html
  pkg/email/templates/testdata/validate.body.golden.html
Owners: @TheThingsNetwork/stack-reviewers-10

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

ns: Fix field paths
  pkg/networkserver/downlink.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Let the AS handle the pending downlink retry
  pkg/networkserver/downlink.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Remove unnecessary update of downlink task
  pkg/networkserver/downlink.go
Owners: @TheThingsNetwork/stack-reviewers-1

ns: Fix formatting
  pkg/networkserver/downlink.go
Owners: @TheThingsNetwork/stack-reviewers-1

dev: Fix name of The Things Stack Sandbox
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Address lint warnings
  pkg/gatewayserver/io/ttigw/ttigw.go
Owners: @TheThingsNetwork/stack-reviewers-11
