Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

is: Create and use withLimit function
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/store/pagination.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add comment to pagination type
  pkg/identityserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

is: Remove email preferences check for admins
  pkg/identityserver/notification_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Fix types
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/config.go
  pkg/identityserver/store/pagination.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-9

is: Remove email preferences check for admins
  api/buf.yaml
  api/ttn/lorawan/v3/notification_service.proto
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/notification_service.pb.go
  pkg/ttnpb/notification_service_json.pb.go
  pkg/ttnpb/user.pb.go
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9

is: Rename migrations to contain .tx suffix
  pkg/identityserver/store/migrations/20220726092000_account_views.tx.down.sql
  pkg/identityserver/store/migrations/20220726092000_account_views.tx.up.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.tx.down.sql
  pkg/identityserver/store/migrations/20220726093000_membership_views.tx.up.sql
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.tx.down.sql
  pkg/identityserver/store/migrations/20220802000000_enddevice-cac.tx.up.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.tx.down.sql
  pkg/identityserver/store/migrations/20220808000000_optimize_membership_views.tx.up.sql
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.tx.down.sql
  pkg/identityserver/store/migrations/20220913000000_update_gtw_eui_index.tx.up.sql
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.tx.down.sql
  pkg/identityserver/store/migrations/20221207000000_serial_number_field.tx.up.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.tx.down.sql
  pkg/identityserver/store/migrations/20221208000000_lora_alliance_profile_ids.tx.up.sql
  pkg/identityserver/store/migrations/20231206000000_email_validations.tx.down.sql
  pkg/identityserver/store/migrations/20231206000000_email_validations.tx.up.sql
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.tx.down.sql
  pkg/identityserver/store/migrations/20231211000000_organization_notification_fanout.tx.up.sql
  pkg/identityserver/store/migrations/20240100200000_contact_info_removal.tx.up.sql
  pkg/identityserver/store/migrations/20240103000001_console_preferences.tx.down.sql
  pkg/identityserver/store/migrations/20240103000001_console_preferences.tx.up.sql
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.tx.down.sql
  pkg/identityserver/store/migrations/20240103000002_user_bookmarks.tx.up.sql
  pkg/identityserver/store/migrations/20240806000000_user_rights.tx.down.sql
  pkg/identityserver/store/migrations/20240806000000_user_rights.tx.up.sql
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update IS store to use MarkAppliedOnSuccess on migrations
  cmd/ttn-lw-stack/commands/is_db.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Fix log on is-db migrate command
  cmd/ttn-lw-stack/commands/is_db.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Add status subcommand to is-db
  cmd/ttn-lw-stack/commands/is_db.go
Owners: @TheThingsNetwork/stack-reviewers-7

dev: Rename test templates
  pkg/email/templates/testdata/INVITATION_1.body.golden.html
  pkg/email/templates/testdata/INVITATION_1.body.golden.txt
  pkg/email/templates/testdata/INVITATION_1.subject.golden.txt
  pkg/email/templates/testdata/LOGIN_TOKEN_1.body.golden.html
  pkg/email/templates/testdata/LOGIN_TOKEN_1.body.golden.txt
  pkg/email/templates/testdata/LOGIN_TOKEN_1.subject.golden.txt
  pkg/email/templates/testdata/TEMPORARY_PASSWORD_1.body.golden.html
  pkg/email/templates/testdata/TEMPORARY_PASSWORD_1.subject.golden.txt
  pkg/email/templates/testdata/TEMPORARY_PASSWORD_2.body.golden.txt
  pkg/email/templates/testdata/VALIDATE_1.body.golden.html
  pkg/email/templates/testdata/VALIDATE_1.body.golden.txt
  pkg/email/templates/testdata/VALIDATE_1.subject.golden.txt
Owners: @TheThingsNetwork/stack-reviewers-10

dev: Actually rename template test files
  pkg/email/templates/testdata/INVITATION.body.golden.html
  pkg/email/templates/testdata/INVITATION.body.golden.txt
  pkg/email/templates/testdata/INVITATION.subject.golden.txt
  pkg/email/templates/testdata/LOGIN_TOKEN.body.golden.html
  pkg/email/templates/testdata/LOGIN_TOKEN.body.golden.txt
  pkg/email/templates/testdata/LOGIN_TOKEN.subject.golden.txt
  pkg/email/templates/testdata/TEMPORARY_PASSWORD.body.golden.html
  pkg/email/templates/testdata/TEMPORARY_PASSWORD.body.golden.txt
  pkg/email/templates/testdata/TEMPORARY_PASSWORD.subject.golden.txt
  pkg/email/templates/testdata/VALIDATE.body.golden.html
  pkg/email/templates/testdata/VALIDATE.body.golden.txt
  pkg/email/templates/testdata/VALIDATE.subject.golden.txt
Owners: @TheThingsNetwork/stack-reviewers-10

dev: Rename rest of template test files
  pkg/email/templates/testdata/API_KEY_CHANGED_!.subject.golden.txt
  pkg/email/templates/testdata/API_KEY_CHANGED_1.body.golden.html
  pkg/email/templates/testdata/API_KEY_CHANGED_1.body.golden.txt
  pkg/email/templates/testdata/API_KEY_CREATED_!.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/API_KEY_CREATED_1.body.with_sender_ids.golden.txt
  pkg/email/templates/testdata/API_KEY_CREATED_1.subject.with_sender_ids.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.with_api_key_id.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.body.with_api_key_name.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.subject.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.subject.with_api_key_id.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED_1.subject.with_api_key_name.golden.txt
  pkg/email/templates/testdata/COLLABORATOR_CHANGED_1.body.golden.html
  pkg/email/templates/testdata/COLLABORATOR_CHANGED_1.body.golden.txt
  pkg/email/templates/testdata/COLLABORATOR_CHANGED_1.subject.golden.txt
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED_1.body.golden.html
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED_1.body.golden.txt
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED_1.subject.golden.txt
  pkg/email/templates/testdata/PASSWORD_CHANGED_1.body.golden.html
  pkg/email/templates/testdata/PASSWORD_CHANGED_1.body.golden.txt
  pkg/email/templates/testdata/PASSWORD_CHANGED_1.subject.golden.txt
  pkg/email/templates/testdata/USER_REQUESTED_1.body.golden.html
  pkg/email/templates/testdata/USER_REQUESTED_1.body.golden.txt
  pkg/email/templates/testdata/USER_REQUESTED_1.subject.golden.txt
Owners: @TheThingsNetwork/stack-reviewers-10

dev: Actually rename test template files
  pkg/email/templates/testdata/API_KEY_CHANGED.body.golden.html
  pkg/email/templates/testdata/API_KEY_CHANGED.body.golden.txt
  pkg/email/templates/testdata/API_KEY_CHANGED.subject.golden.txt
  pkg/email/templates/testdata/API_KEY_CREATED.body.with_sender_ids.golden.html
  pkg/email/templates/testdata/API_KEY_CREATED.body.with_sender_ids.golden.txt
  pkg/email/templates/testdata/API_KEY_CREATED.subject.with_sender_ids.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.with_api_key_id.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.with_api_key_id.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.with_api_key_name.golden.html
  pkg/email/templates/testdata/CLIENT_REQUESTED.body.with_api_key_name.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.subject.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.subject.with_api_key_id.golden.txt
  pkg/email/templates/testdata/CLIENT_REQUESTED.subject.with_api_key_name.golden.txt
  pkg/email/templates/testdata/COLLABORATOR_CHANGED.body.golden.html
  pkg/email/templates/testdata/COLLABORATOR_CHANGED.body.golden.txt
  pkg/email/templates/testdata/COLLABORATOR_CHANGED.subject.golden.txt
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED.body.golden.html
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED.body.golden.txt
  pkg/email/templates/testdata/ENTITY_STATE_CHANGED.subject.golden.txt
  pkg/email/templates/testdata/PASSWORD_CHANGED.body.golden.html
  pkg/email/templates/testdata/PASSWORD_CHANGED.body.golden.txt
  pkg/email/templates/testdata/PASSWORD_CHANGED.subject.golden.txt
  pkg/email/templates/testdata/USER_REQUESTED.body.golden.html
  pkg/email/templates/testdata/USER_REQUESTED.body.golden.txt
  pkg/email/templates/testdata/USER_REQUESTED.subject.golden.txt
Owners: @TheThingsNetwork/stack-reviewers-10

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

gs: Support migration to uint32 RSSI values for ttigw
  go.mod
  go.sum
  pkg/gatewayserver/io/ttigw/mapping.go
  pkg/gatewayserver/io/ttigw/ttigw.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-7

is: Use default if page limit is zero
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/config.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add pagination limit default
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-9

is: Create and use withLimit function
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/store/pagination.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add comment to pagination type
  pkg/identityserver/config.go
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

is: Fix types
  CHANGELOG.md
  cmd/internal/shared/identityserver/config.go
  pkg/identityserver/config.go
  pkg/identityserver/store/pagination.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-9

is: Set default page limit in the store
  pkg/identityserver/application_access.go
  pkg/identityserver/application_registry.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/end_device_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/gateway_registry.go
  pkg/identityserver/invitation_registry.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/oauth_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/organization_registry.go
  pkg/identityserver/registry_search.go
  pkg/identityserver/store.go
  pkg/identityserver/store/pagination.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_bookmark_registry.go
  pkg/identityserver/user_registry.go
  pkg/identityserver/user_session_registry.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add comment
  pkg/identityserver/config.go
  pkg/identityserver/store/pagination.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add e2e tests for page limit
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Define default limit in tests and call new tests
  CHANGELOG.md
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Add page change test
  pkg/identityserver/bunstore/store_test.go
  pkg/identityserver/storetest/api_key_store.go
  pkg/identityserver/storetest/application_store.go
  pkg/identityserver/storetest/client_store.go
  pkg/identityserver/storetest/invitation_store.go
  pkg/identityserver/storetest/membership_store.go
  pkg/identityserver/storetest/oauth_store.go
  pkg/identityserver/storetest/organization_store.go
  pkg/identityserver/storetest/user_session_store.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

dev: Fix test references
  pkg/identityserver/bunstore/store_test.go
Owners: @TheThingsNetwork/stack-reviewers-9

console: Unclaim gateway on delete
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

is: Fix migration name
  pkg/identityserver/store/migrations/20241001000000_email_notification_preferences.down.sql
  pkg/identityserver/store/migrations/20241001000000_email_notification_preferences.up.sql
Owners: @TheThingsNetwork/stack-reviewers-9

Merge pull request #4378 from TheThingsIndustries/feature/dark-mode
  pkg/webui/components/button/button.styl
  pkg/webui/components/dropdown/dropdown.styl
  pkg/webui/components/header/header.styl
  pkg/webui/components/pagination/pagination.styl
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/scroll-fader/scroll-fader.styl
  pkg/webui/components/search-panel/search-panel.styl
  pkg/webui/components/sidebar/search-button/search-button.styl
  pkg/webui/components/sidebar/side-menu/item/item.styl
  pkg/webui/components/sidebar/side-menu/side.styl
  pkg/webui/components/sidebar/switcher/switcher.styl
  pkg/webui/components/table/row/row.styl
  pkg/webui/components/table/table/table.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/components/tabs/tabs.styl
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/documentation-dashboard-panel/documentation-dashboard-panel.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/header/header.styl
  pkg/webui/console/containers/header/notifications-dropdown.js
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/search-panel/search-panel.styl
  pkg/webui/console/containers/sidebar/index.js
  pkg/webui/console/containers/sidebar/navigation/top-entities-section.js
  pkg/webui/console/containers/top-entities-dashboard-panel/top-entities-panel.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/styles/variables/colors.styl
  pkg/webui/styles/variables/css-variables.styl
  pkg/webui/styles/variables/tokens.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Improve DeleteEntityHeaderModal component
  pkg/webui/console/containers/application-overview-header/index.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fetch claimable info in gtw details screen
  pkg/webui/console/views/gateway-general-settings/index.js
  pkg/webui/console/views/gateway/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Include e2e tests for unclaiming gateway
  cypress/e2e/console/gateways/managed/delete.spec.js
  pkg/webui/console/containers/delete-entity-header-modal/index.js
  pkg/webui/console/containers/gateway-overview-header/index.js
  pkg/webui/console/views/gateway-general-settings/basic-settings-form/index.js
  pkg/webui/console/views/gateway-general-settings/messages.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.32.2
  CHANGELOG.md
Owners: none

all: Enter release date of version 3.32.1 into the changelog
  CHANGELOG.md
Owners: none

all: Bump to version 3.32.2
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

is: Add email notification preferences flow test
  pkg/identityserver/email_notification_preferences_test.go
  pkg/identityserver/storetest/user_store.go
Owners: @TheThingsNetwork/stack-reviewers-9

is: Deprecate email in Notification and createNotification messages
  api/ttn/lorawan/v3/notification_service.proto
  pkg/email/templates/templates_test.go
  pkg/identityserver/application_access.go
  pkg/identityserver/bunstore/notification_store.go
  pkg/identityserver/client_access.go
  pkg/identityserver/client_registry.go
  pkg/identityserver/gateway_access.go
  pkg/identityserver/notification_registry.go
  pkg/identityserver/organization_access.go
  pkg/identityserver/storetest/notification_store.go
  pkg/identityserver/user_access.go
  pkg/identityserver/user_registry.go
  pkg/ttnpb/notification_service.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-9

is: Add notification preferences migration and user field
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/user.proto
  pkg/identityserver/bunstore/user_store.go
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.down.sql
  pkg/identityserver/store/migrations/20241001000000_email_notitification_preferences.up.sql
  pkg/identityserver/user_registry.go
  pkg/ttnpb/user.pb.go
  pkg/ttnpb/user.pb.paths.fm.go
  pkg/ttnpb/user.pb.setters.fm.go
  pkg/ttnpb/user.pb.validate.go
  pkg/ttnpb/user_flags.pb.go
  pkg/ttnpb/user_json.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-9
