Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

gcs: Handle unmanaged gateways gracefully
  pkg/gatewayconfigurationserver/managed/client/client.go
Owners: @TheThingsNetwork/stack-reviewers-12

all: Add Gateway Controller config and client
  cmd/internal/shared/config.go
  pkg/component/component.go
  pkg/config/shared.go
  pkg/ttgc/config.go
  pkg/ttgc/ttgc.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-1

console: Make gateway event filter more explicit
  pkg/webui/console/constants/event-filters.js
Owners: @TheThingsNetwork/stack-reviewers-3

gs: Support gateway tokens in frontend test
  pkg/gatewayserver/io/grpc/grpc_test.go
  pkg/gatewayserver/io/iotest/iotest.go
  pkg/gatewayserver/io/mock/server.go
  pkg/gatewayserver/io/mqtt/mqtt_test.go
  pkg/gatewayserver/io/semtechws/ws_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Fix frequencies based on frequency plan
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Add go.thethings.industries/pkg dependency
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

gs: Resolve lint warnings
  pkg/gatewayserver/io/semtechws/lbslns/discover_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Return authenticated context
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Set signal RSSI for LoRa data rates
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

cli: Configure TTGC as event stream
  cmd/internal/shared/events.go
Owners: @TheThingsNetwork/stack-reviewers-7

gs: Fix event data of Tx failure
  pkg/gatewayserver/observability.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Use port 1889
  cmd/internal/shared/gatewayserver/config.go
  pkg/gatewayserver/io/ttigw/ttigw_test.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-11

gs: Fix connecting unregistered gateways
  pkg/gatewayserver/gatewayserver.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Allow passing additional root CAs via context
  pkg/auth/mtls/context.go
  pkg/auth/mtls/mtls.go
  pkg/auth/mtls/mtls_test.go
  pkg/auth/mtls/testdata/3333333333333333.pem
  pkg/auth/mtls/testdata/rootCA.pem
Owners: @TheThingsNetwork/stack-reviewers-1

gcs: Shorten event descriptions
  config/messages.json
  pkg/gatewayconfigurationserver/managed/client/observability.go
Owners: @TheThingsNetwork/stack-reviewers-12

dev: Regenerate messages
  config/messages.json
  pkg/webui/locales/ja.json
Owners: none

dev: Update changelog
  CHANGELOG.md
Owners: none

gs: Enable customizing comparing Rx metadata
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Suppress NotFound non-retryable stream errors
  pkg/events/mux/mux.go
Owners: @TheThingsNetwork/stack-reviewers-7

gcs,api: Expose shared setting for managed gateway WiFi and ethernet profiles
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway.proto
  pkg/gatewayconfigurationserver/managed/mapping.go
  pkg/ttnpb/gateway.pb.go
  pkg/ttnpb/gateway.pb.paths.fm.go
  pkg/ttnpb/gateway.pb.setters.fm.go
  pkg/ttnpb/gateway.pb.validate.go
  pkg/ttnpb/gateway_configuration.pb.paths.fm.go
  pkg/ttnpb/gateway_flags.pb.go
  sdk/js/generated/api-definition.json
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-12

gs: Move bandwidth to Tx channel
  pkg/gatewayserver/io/ttigw/mapping.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Skip .pb.go files for headers checks
  tools/mage/header.yml
Owners: @TheThingsNetwork/stack-reviewers-7

gs: Return authenticated context
  pkg/gatewayserver/is.go
Owners: @TheThingsNetwork/stack-reviewers-11

api: Format files
  api/ttn/lorawan/v3/gateway.proto
Owners: @TheThingsNetwork/stack-reviewers-1

all: Set namespaces to avoid race conditions with parallel tests
  pkg/events/mux/mux_store_test.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Swallow mux stream non-retryable errors and retry others
  pkg/events/mux/mux.go
  pkg/gatewayconfigurationserver/managed/client/client.go
Owners: @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-12

gcs: Implement managing ethernet profiles
  pkg/gatewayconfigurationserver/managed/grpc_ethernet_profiles.go
  pkg/gatewayconfigurationserver/managed/mapping.go
Owners: @TheThingsNetwork/stack-reviewers-12

gs: Clear signal RSSI as UDP protocol V1 does not support it
  pkg/gatewayserver/io/udp/udp_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Tidy dependencies
  go.mod
  go.sum
Owners: @TheThingsNetwork/stack-reviewers-1

all: Trust The Things Industries Root CA for Gateway Controller connections
  go.mod
  go.sum
  pkg/ttgc/ttgc.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7

gs: Clear signal RSSI and skip non-successful Tx acknowledgment test
  pkg/gatewayserver/io/semtechws/lbslns/lbslns_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
Owners: @TheThingsNetwork/stack-reviewers-11

all: Fix panic
  pkg/gatewayconfigurationserver/managed/client/client.go
Owners: @TheThingsNetwork/stack-reviewers-12

api: Fix typo
  api/ttn/lorawan/v3/api.md
  api/ttn/lorawan/v3/api.swagger.json
  api/ttn/lorawan/v3/gateway.proto
  pkg/ttnpb/gateway.pb.go
  sdk/js/generated/api.json
Owners: @TheThingsNetwork/stack-reviewers-1

gs: Trust The Things Industries Root CA
  go.mod
  go.sum
  pkg/gatewayserver/io/ttigw/ttigw.go
  tools/go.mod
  tools/go.sum
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-7

gs: Enable skipping Tx acknowledgment test when it's not successful
  pkg/gatewayserver/io/iotest/iotest.go
Owners: @TheThingsNetwork/stack-reviewers-11

dcs: Resolve lint warning
  pkg/deviceclaimingserver/gateways/gateways.go
Owners: @TheThingsNetwork/stack-reviewers-13

console: Fix font and weight values
  pkg/webui/components/news-panel/news-item/news-item.styl
  pkg/webui/components/panel/panel.styl
  pkg/webui/components/panel/toggle/toggle.styl
  pkg/webui/components/search-panel/search-panel.styl
  pkg/webui/components/sidebar/side-footer/side-footer.styl
  pkg/webui/components/table/cell/cell.styl
  pkg/webui/components/tabs/tab/tab.styl
  pkg/webui/console/containers/application-overview-header/application-overview-header.styl
  pkg/webui/console/containers/device-overview-header/device-overview-header.styl
  pkg/webui/console/containers/gateway-overview-header/gateway-overview-header.styl
  pkg/webui/console/containers/gateway-status-panel/gateway-status-panel.styl
  pkg/webui/console/containers/latest-decoded-payload-panel/latest-decoded-payload-panel.styl
  pkg/webui/console/containers/notifications-dashboard-panel/notifications-dashboard-panel.styl
  pkg/webui/console/containers/notifications/notifications.styl
  pkg/webui/console/containers/shortcut-panel/shortcut-item/shortcut-item.styl
  pkg/webui/console/views/organization/organization-header.styl
  pkg/webui/containers/fetch-table/fetch-table.styl
  pkg/webui/styles/variables/generic.styl
Owners: @TheThingsNetwork/stack-reviewers-3

console: Backport gateway claiming
  cypress/e2e/console/gateways/create.spec.js
  cypress/e2e/smoke/gateways/create.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-registration-form-section/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/validation-schema.js
  pkg/webui/console/containers/gateway-onboarding-form/index.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/lib/shared-messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
  sdk/js/src/service/gateways.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix interference of entity prefetching data with store state
  pkg/webui/console/store/actions/applications.js
  pkg/webui/console/store/actions/devices.js
  pkg/webui/console/store/actions/gateways.js
  pkg/webui/console/store/middleware/logics/applications.js
  pkg/webui/console/store/middleware/logics/devices.js
  pkg/webui/console/store/middleware/logics/gateways.js
  pkg/webui/console/store/middleware/logics/organizations.js
  pkg/webui/console/store/middleware/logics/top-entities.js
  pkg/webui/console/store/reducers/applications.js
  pkg/webui/console/store/reducers/devices.js
  pkg/webui/console/store/reducers/gateways.js
  pkg/webui/lib/store/actions/attach-promise.js
  pkg/webui/lib/store/logics/create-request-logic.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove setting deprecated CUPS redirect URI
  cypress/e2e/console/gateways/create.spec.js
  pkg/webui/console/containers/gateway-onboarding-form/gateway-provisioning-form/gateway-claim-form-section/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
