Repository TheThingsNetwork/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-2, @TheThingsNetwork/stack-reviewers-3, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-5, @TheThingsNetwork/stack-reviewers-8, @TheThingsNetwork/stack-reviewers-9, @TheThingsNetwork/stack-reviewers-10, @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-13

CODEOWNERS:

# Root
/** @TheThingsNetwork/stack-reviewers-1
/CODEOWNERS @TheThingsNetwork/stack-reviewers-2
/LICENSE @TheThingsNetwork/stack-reviewers-2
/CHANGELOG.md

# Clear common folders
/pkg

# Clear package files
/package.json
/sdk/js/package.json

# Dependencies
/go.mod @TheThingsNetwork/stack-reviewers-1
/go.sum @TheThingsNetwork/stack-reviewers-1
/yarn.lock @TheThingsNetwork/stack-reviewers-3
/sdk/js/yarn.lock @TheThingsNetwork/stack-reviewers-3

# Build pipeline and tooling
/Makefile @TheThingsNetwork/stack-reviewers-7
/tools @TheThingsNetwork/stack-reviewers-7
/.github/workflows @TheThingsNetwork/stack-reviewers-7
/config @TheThingsNetwork/stack-reviewers-3
/config/stack @TheThingsNetwork/stack-reviewers-5
/cypress @TheThingsNetwork/stack-reviewers-3

# API, configuration, CLI and storage compatibility
/api/*.proto @TheThingsNetwork/stack-reviewers-1
/cmd @TheThingsNetwork/stack-reviewers-7
/pkg/**/config.go @TheThingsNetwork/stack-reviewers-7
/pkg/**/registry.go @TheThingsNetwork/stack-reviewers-7
/pkg/config/shared.go @TheThingsNetwork/stack-reviewers-7
/pkg/goproto @TheThingsNetwork/stack-reviewers-1
/pkg/identityserver/store @TheThingsNetwork/stack-reviewers-1
/pkg/jsonpb @TheThingsNetwork/stack-reviewers-1
/pkg/ttnpb @TheThingsNetwork/stack-reviewers-1

# Security
/pkg/auth @TheThingsNetwork/stack-reviewers-1
/pkg/crypto @TheThingsNetwork/stack-reviewers-1

# Shared components
/pkg/band @TheThingsNetwork/stack-reviewers-7
/pkg/cluster @TheThingsNetwork/stack-reviewers-1
/pkg/component @TheThingsNetwork/stack-reviewers-1
/pkg/errors @TheThingsNetwork/stack-reviewers-1
/pkg/events @TheThingsNetwork/stack-reviewers-7
/pkg/frequencyplans @TheThingsNetwork/stack-reviewers-7
/pkg/interop @TheThingsNetwork/stack-reviewers-1
/pkg/rpcmiddleware @TheThingsNetwork/stack-reviewers-1
/pkg/rpcserver @TheThingsNetwork/stack-reviewers-1
/pkg/types @TheThingsNetwork/stack-reviewers-2
/pkg/web @TheThingsNetwork/stack-reviewers-3
/pkg/webmiddleware @TheThingsNetwork/stack-reviewers-8
/pkg/webui @TheThingsNetwork/stack-reviewers-3
/pkg/ratelimit @TheThingsNetwork/stack-reviewers-7

# Subsystems

/pkg/identityserver @TheThingsNetwork/stack-reviewers-9
/pkg/email @TheThingsNetwork/stack-reviewers-10
/pkg/oauth @TheThingsNetwork/stack-reviewers-10
/pkg/account @TheThingsNetwork/stack-reviewers-10
/pkg/web/oauthclient @TheThingsNetwork/stack-reviewers-10

/pkg/gatewayserver @TheThingsNetwork/stack-reviewers-11
/pkg/gatewayconfigurationserver @TheThingsNetwork/stack-reviewers-12
/pkg/pfconfig @TheThingsNetwork/stack-reviewers-12
/pkg/basicstation @TheThingsNetwork/stack-reviewers-12

/pkg/networkserver @TheThingsNetwork/stack-reviewers-1
/pkg/specification/macspec @TheThingsNetwork/stack-reviewers-1
/pkg/encoding/lorawan @TheThingsNetwork/stack-reviewers-1

/pkg/applicationserver @TheThingsNetwork/stack-reviewers-11
/pkg/messageprocessors @TheThingsNetwork/stack-reviewers-11
/pkg/scripting @TheThingsNetwork/stack-reviewers-11

/pkg/joinserver @TheThingsNetwork/stack-reviewers-1

/pkg/console @TheThingsNetwork/stack-reviewers-3

/pkg/packetbrokeragent @TheThingsNetwork/stack-reviewers-1

/pkg/devicetemplateconverter  @TheThingsNetwork/stack-reviewers-12
/pkg/devicetemplates  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcode  @TheThingsNetwork/stack-reviewers-12
/pkg/qrcodegenerator  @TheThingsNetwork/stack-reviewers-12

/pkg/deviceclaimingserver @TheThingsNetwork/stack-reviewers-13

/pkg/devicerepository  @TheThingsNetwork/stack-reviewers-12

# SDKs
/sdk/js @TheThingsNetwork/stack-reviewers-3

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated

util: Fix flaky timeout case in rpcretry unary interceptor test (#8021)
  pkg/rpcmiddleware/rpcretry/client_interceptors_test.go
Owners: @TheThingsNetwork/stack-reviewers-1

Port TTGC LBS CUPS claiming improvements (#8016)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  cmd/internal/shared/config.go
  config/messages.json
  pkg/deviceclaimingserver/gateways/gateways.go
  pkg/deviceclaimingserver/gateways/gateways_test.go
  pkg/deviceclaimingserver/gateways/ttgc/lbscups.go
  pkg/deviceclaimingserver/gateways/ttgc/ttgc.go
  pkg/deviceclaimingserver/grpc_gateways.go
  pkg/deviceclaimingserver/grpc_gateways_test.go
  pkg/deviceclaimingserver/registry/gateways/gateways.go
  pkg/deviceclaimingserver/retry/task.go
  pkg/deviceclaimingserver/retry/task_test.go
  pkg/deviceclaimingserver/types/types.go
  pkg/deviceclaimingserver/util_test.go
  pkg/gatewayconfigurationserver/managed/grpc.go
  pkg/gatewayconfigurationserver/managed/managed.go
  pkg/ttgc/config.go
  pkg/types/eui.go
  pkg/types/eui_test.go
  pkg/webui/locales/ja.json
Owners: @TheThingsNetwork/stack-reviewers-1, @TheThingsNetwork/stack-reviewers-7, @TheThingsNetwork/stack-reviewers-13, @TheThingsNetwork/stack-reviewers-12, @TheThingsNetwork/stack-reviewers-2

gs: Support downlink scheduling on all gateway antennas
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
Owners: @TheThingsNetwork/stack-reviewers-11

gs: Send per-board antenna gain to LoRa Basics Station gateways
  CHANGELOG.md
  pkg/gatewayserver/io/io.go
  pkg/gatewayserver/io/io_test.go
  pkg/gatewayserver/io/semtechws/lbslns/upstream.go
  pkg/gatewayserver/io/semtechws/lbslns/version.go
  pkg/pfconfig/lbslns/lbslbs_test.go
  pkg/pfconfig/lbslns/lbslns.go
Owners: @TheThingsNetwork/stack-reviewers-11, @TheThingsNetwork/stack-reviewers-12

gs: Run antenna gain connection test in parallel
  pkg/gatewayserver/io/io_test.go
Owners: @TheThingsNetwork/stack-reviewers-11

dev: Fix node version in CI
  .github/actions/install-node-and-deps/action.yml
Owners: @TheThingsNetwork/stack-reviewers-1

all: Rate-limit PEXPIRE on entity event streams
  CHANGELOG.md
  pkg/events/redis/expire_limiter.go
  pkg/events/redis/expire_limiter_test.go
  pkg/events/redis/redis.go
  pkg/events/redis/store.go
Owners: @TheThingsNetwork/stack-reviewers-7

all: Make the PEXPIRE limiter size configurable
  CHANGELOG.md
  cmd/internal/shared/config.go
  pkg/config/shared.go
  pkg/events/redis/expire_limiter.go
  pkg/events/redis/redis.go
Owners: @TheThingsNetwork/stack-reviewers-7

console: Fix blank links
  pkg/webui/components/link/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix links in footer
  pkg/webui/components/footer/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Remove rel attribute from footer link
  pkg/webui/components/footer/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix linting
  pkg/webui/components/footer/index.js
Owners: @TheThingsNetwork/stack-reviewers-3

all: Cut off changelog version 3.37.0
  CHANGELOG.md
Owners: none

all: Bump to version 3.37.0
  package.json
  pkg/version/ttn.go
  sdk/js/package.json
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix storybook
  CHANGELOG.md
  config/storybook/preview-head.html
  config/storybook/preview.js
  pkg/webui/components/dropdown/story.js
  pkg/webui/components/header/story.js
  pkg/webui/components/icon/story.js
  pkg/webui/components/profile-dropdown/story.js
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/prompt/story.js
  pkg/webui/components/stepper/step/index.js
  pkg/webui/components/submit-bar/story.js
  pkg/webui/components/tabs/story.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/sidebar/story.js
  pkg/webui/lib/components/date-time/story.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Select same frequency plan multiple times
  CHANGELOG.md
  cypress/e2e/console/gateways/edit.spec.js
  pkg/webui/components/key-value-map/entry.js
  pkg/webui/console/containers/freq-plans-select/gs-frequency-plan-select.js
  pkg/webui/jsconfig.json
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix cypress ci issues
  config/cypress.config.js
  cypress/support/e2e.js
Owners: @TheThingsNetwork/stack-reviewers-3

dev: Fix CHANGELOG entry
  CHANGELOG.md
Owners: none

console: Fix code editor comment color in dark mode
  CHANGELOG.md
  pkg/webui/components/code-editor/ttn-theme.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Fix storybook
  CHANGELOG.md
  config/storybook/preview-head.html
  config/storybook/preview.js
  pkg/webui/components/dropdown/story.js
  pkg/webui/components/header/story.js
  pkg/webui/components/icon/story.js
  pkg/webui/components/profile-dropdown/story.js
  pkg/webui/components/progress-bar/index.js
  pkg/webui/components/prompt/story.js
  pkg/webui/components/stepper/step/index.js
  pkg/webui/components/submit-bar/story.js
  pkg/webui/components/tabs/story.js
  pkg/webui/console/components/webhook-form/index.js
  pkg/webui/console/containers/gateway-onboarding-form/qr-scan-section/index.js
  pkg/webui/console/containers/mac-settings-profile-form/index.js
  pkg/webui/console/containers/sidebar/story.js
  pkg/webui/lib/components/date-time/story.js
Owners: @TheThingsNetwork/stack-reviewers-3

console: Prefill profile IDs
  CHANGELOG.md
  cypress/e2e/console/devices/onboarding/qr-scan.spec.js
  cypress/e2e/console/devices/onboarding/utils.js
  pkg/webui/console/containers/device-onboarding-form/qr-scan-form-section/index.js
  pkg/webui/console/containers/device-onboarding-form/type-form-section/repository-form-section/index.js
  pkg/webui/console/containers/device-profile-section/device-selection/band-select/index.js
  pkg/webui/console/store/actions/device-repository.js
  pkg/webui/console/store/middleware/logics/device-repository.js
  sdk/js/src/service/devices/repository.js
Owners: @TheThingsNetwork/stack-reviewers-3
